
<div class="app-content-body fade-in-up register-page "  data-ng-controller="companyAddCtrl">
    <!--    <div class="bg-light clearfix">
            <h1 class="wrapper-sm font-thin h3 ">Company Registration</h1>
        </div>-->
    <div class="wrapper-md clearfix  ">
        <div class="advertis" >
            <img src="../img/czn-logo.jpg" />
            <h2>CZN</h2>
            <p ><i>Mr. Arora</i></p><br/>
            <p style="font-style: italic;">
                "For every liability you have, you are somebody else's asset. If a home loan is a liability for you, it is an asset for your bank. Learn to control your cash flow."
            </p>
        </div>
        <div class="  clearfix add-form form-wrapper">
            <form name="create_company_form" angular-validator-submit="companySave()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="form-group full_w " style="margin-bottom: 5px;">
                    <h3>Basic Info</h3>
                </div>
                <div class="form-group">
                    <label>Owner Name*</label>
                    <input  type = "text"
                            class="form-control"
                            name = "name1"
                            ng-model = "companyAddModel.fname"
                            placeholder="Enter Name"
                            maxlength="35"
                            required/>
                </div>
                <div class="form-group">
                    <label>Company Name*</label>
                    <input  type = "text"
                            class="form-control"
                            name = "name1"
                            ng-model = "companyAddModel.name"
                            placeholder="Enter User Name"
                            maxlength="35"
                            required/>
                </div>
                <div class="form-group">
                    <label>Business Type*</label>
                    <input  type = "text"
                            class="form-control"
                            name = "BusinessType"
                            ng-model = "companyAddModel.businessType"
                            validator = "validationFactory.isAlbhaNumeric(companyAddModel.businessType) === true"
                            placeholder="BusinessType"
                            maxlength="35"
                            required/>
                </div>
                <div class="form-group">
                    <label>Mobile*</label>
                    <input  type = "text"
                            class="form-control"
                            name = "usermobile"
                            ng-model = "companyAddModel.mobile"
                            placeholder="Enter the Mobile no"
                            validator = "validationFactory.phoneNumberValidator(companyAddModel.mobile) === true"
                            maxlength="20"
                            required/>
                </div>
                <div class="form-group">
                    <label>Email*</label>
                    <input  type = "text"
                            class="form-control"
                            name = "useremail"
                            ng-model = "companyAddModel.email"
                            placeholder="Enter the Email"
                            validator = "validationFactory.emailValidator(companyAddModel.email) === true"
                            required/>
                </div>
                <div class="form-group full_w " style="margin-bottom: 5px;">
                    <h3>Contact Info</h3>
                </div>
                <div class="form-group">
                    <label>Address*</label>
                    <input  type = "text"
                            class="form-control"
                            name = "useraddress"
                            ng-model = "companyAddModel.address"
                            placeholder="Enter the Address"
                            required />
                </div>
                <div class="form-group">
                    <label>City*</label>
                    <input  type = "text"
                            class="form-control"
                            name = "City"
                            ng-model = "companyAddModel.city"
                            placeholder="City"
                            validator = "validationFactory.isAlbhaNumeric(companyAddModel.city) === true"
                            maxlength="20"
                            required/>
                </div>
                <div class="form-group ">
                    <div class="form-group">
                        <label>State*</label>
                        <input  type = "text"
                                class="form-control"
                                name = "state"
                                ng-model = "companyAddModel.state"
                                placeholder="Enter the state"
                                validator = "validationFactory.isAlbhaNumeric(companyAddModel.state) === true"
                                maxlength="20"
                                required/>
                    </div>
                    <div class="form-group">
                        <label>Postcode*</label>
                        <input  type = "text"
                                class="form-control"
                                name = "postcode"
                                ng-model = "companyAddModel.postcode"
                                placeholder="postcode"
                                validator = "validationFactory.isAlbhaNumeric(companyAddModel.postcode) === true"
                                maxlength="20"
                                required/>
                    </div>
                </div>
                <div class="form-group">
                    <label>Country*</label>
                    <input  type = "text"
                            class="form-control"
                            name = "Country"
                            ng-model = "companyAddModel.country"
                            placeholder="Country"
                            validator = "validationFactory.isAlbhaNumeric(companyAddModel.country) === true"
                            maxlength="20"
                            required />
                </div>
                <div class="form-group full_w " style="margin-bottom: 5px;">
                    <h3>Login Info</h3>
                </div>
                <div class="form-group">
                    <label>User Name*</label>
                    <input  type = "text"
                            class="form-control"
                            name = "username"
                            ng-model = "companyAddModel.userName"
                            placeholder="Enter User Name"
                            validator = "validationFactory.isAlbhaNumeric(companyAddModel.userName) === true"
                            maxlength="35"
                            required/>
                </div>
                <div class="form-group pass-field ">
                    <label>Password*</label>
                    <input  type = "{{ companyAddModel.showPassword ? 'text':'password' }}"
                            class="form-control"
                            name = "userpassword"
                            ng-model = "companyAddModel.password"
                            placeholder="password"
                            validator = "validationFactory.passwordValidator(companyAddModel.password) === true"
                            invalid-message = "validationFactory.passwordValidator(companyAddModel.password)"
                            required/>
                    <input  type = "checkbox"
                            class=" "
                            id="showPasswordchk"
                            ng-model = "companyAddModel.showPassword"
                            />
                    <label for="showPasswordchk">Show Password </label>
                </div>
                <div class="form-group full_w btn_group">
                    <button type="submit" class="btn btn-sm btn-primary btn_orng"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Register</button>
                    <br/>
                    <br/>
                    <a class="hav-acc " href="{{CONTEXT_ROOT}}/admin/#/">
                        Click If Already have Account
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
