@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/myriadam/../fonts/sourcesanspro/sourcesanspro-light.woff') format('woff');
}

@font-face {
    font-family: 'myriad_applemedium';
    src: url('../fonts/myriadam/myriadam-webfont.eot');
    src: url('../fonts/myriadam/myriadam-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadam/myriadam-webfont.woff2') format('woff2'),
         url('../fonts/myriadam/myriadam-webfont.woff') format('woff'),
         url('../fonts/myriadam/myriadam-webfont.ttf') format('truetype'),
         url('../fonts/myriadam/myriadam-webfont.svg#myriad_applemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriad_appletext';
    src: url('../fonts/myriadam/myriadat-webfont.eot');
    src: url('../fonts/myriadam/myriadat-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadam/myriadat-webfont.woff2') format('woff2'),
         url('../fonts/myriadam/myriadat-webfont.woff') format('woff'),
         url('../fonts/myriadam/myriadat-webfont.ttf') format('truetype'),
         url('../fonts/myriadam/myriadat-webfont.svg#myriad_appletext') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'omnes_mediumroman';
    src: url('../fonts/myriadam/omnesmedium-roman-webfont.eot');
    src: url('../fonts/myriadam/omnesmedium-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadam/omnesmedium-roman-webfont.woff2') format('woff2'),
         url('../fonts/myriadam/omnesmedium-roman-webfont.woff') format('woff'),
         url('../fonts/myriadam/omnesmedium-roman-webfont.ttf') format('truetype'),
         url('../fonts/myriadam/omnesmedium-roman-webfont.svg#omnes_mediumroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'omnes_semiboldroman';
    src: url('../fonts/myriadam/omnessemibold-roman-webfont.eot');
    src: url('../fonts/myriadam/omnessemibold-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadam/omnessemibold-roman-webfont.woff2') format('woff2'),
         url('../fonts/myriadam/omnessemibold-roman-webfont.woff') format('woff'),
         url('../fonts/myriadam/omnessemibold-roman-webfont.ttf') format('truetype'),
         url('../fonts/myriadam/omnessemibold-roman-webfont.svg#omnes_semiboldroman') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'Wingdings-Regular';
  src: url('../fonts/myriadam/Wingdings-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/myriadam/Wingdings-Regular.woff') format('woff'), url('../fonts/myriadam/Wingdings-Regular.ttf')  format('truetype'), url('../fonts/myriadam/Wingdings-Regular.svg#Wingdings-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/myriadam/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/myriadam/MyriadPro-Regular.otf')  format('opentype'),
	     url('../fonts/myriadam/MyriadPro-Regular.woff') format('woff'), url('../fonts/myriadam/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/myriadam/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/myriadam/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/myriadam/MyriadPro-Bold.otf')  format('opentype'),
	     url('../fonts/myriadam/MyriadPro-Bold.woff') format('woff'), url('../fonts/myriadam/MyriadPro-Bold.ttf')  format('truetype'), url('../fonts/myriadam/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


