

@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,300,600,700);
body {
    min-width: 0;   font-family: 'Poppins', sans-serif;
}
html,
#login {
    background-color: #ededed;
}
input, button {font-family: 'Poppins', sans-serif;}
input:focus, button:focus {outline: 0;background: transparent;}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {background-color: transparent;}
ul, li {list-style: none; margin:0; padding: 0;}
.background-image {  position: fixed;
                     left: 0;
                     right: 0;
                     z-index: 1;

                     display: block;
                     background-image: url('../img/cznlogin-bg.JPG');
                     background-size: cover;
                     width: 100%;height: 100%;
                     -webkit-filter: blur(5px);
                     -moz-filter: blur(5px);
                     -o-filter: blur(5px);
                     -ms-filter: blur(5px);
                     filter: blur(5px);}

#av-content {background: #FFF; padding: 0 20px 20px;    border-radius: 4px;}

#login-box {position: relative; z-index: 2;}

#login #outer-content,
body#login #footer,
#login #header #logotype,
body#login #header #login-mascot,
body#login #header,
#login-form-wrap fieldset {
    background: transparent;
    border: 0;
}
#login input.has-error {border-bottom: 1px solid #ff0000;}
#login legend {
    display: block;
    position: relative;
    top: 0;
    border: 0;
    background: 0;
    margin: 0;
    padding: 20px 0 5px 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-transform: capitalize;
}
#login-form fieldset legend {
    display: none;
}
#login-roadblock {
    padding: 25px 0 20px 0;
    background-color: #FFF6BF;
}
#login-roadblock-inner {
    margin: 0 auto;
    width: 960px;
}
#login-roadblock p {
    color: #575757;
    margin-bottom: 5px;
    line-height: 1.2em;
}
#login-roadblock h4 {
    font-size: 16px;
    line-height: 1em;
}
#login #av-flash-block {
    margin-top: 10px;
}
#login-form-wrap #av-flash-errors {
    padding: 10px;
    text-align: left;
}
#login-attempts-note {
    margin-top: 15px;
}
#login fieldset {
    margin: 0;
    padding: 0;
}
#login-box {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#login #outer-content {
    width: 100%;
    padding: 0;
}
#login #content {
    width: 29%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 0;
    min-height: 430px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#login-image {
    display: block;
    background: url(/release/7.9.30/css/../images/default_freddie.png) top left no-repeat;
    position: absolute;
    top: 0;
    left: 10px;
    width: 700px;
    height: 420px;
    -webkit-transition: right .3s ease-in-out;
    -moz-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    -ms-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out;
}
#login-form-wrap {
    position: absolute;
    top: 0;
    right: 30px;
    width: 460px;
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    -ms-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
}
#login a:link,
#login a:visited {
    text-decoration: none;
}
#login a:hover,
#login a:active {
    text-decoration: none;
}
#login-form-wrap h1 {
    background: url(/release/7.9.30/css/../images/logo-login-dark.png) 0 0 no-repeat;
    width: 180px;
    height: 45px;
    margin: 0;
    text-indent: -9999px;
}
#login-form-wrap h1.oauth {
    background: url(/release/7.9.30/css/../images/logo-login-dark-oauth.png) 50% 0 no-repeat !important;
    height: 40px;
    margin: 0;
    text-indent: -9999px;
}
#login-form-wrap h1 a {
    height: 50px;
    outline: none;
}

#login input[type=submit],
#login button[type=submit],
.sign-up {
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 49%;
    height: 45px; float: left;
    font-weight: normal;
    margin: 15px 0 20px 0;
    font-size: 16px;
    line-height: 16px;
    background: #03a9f3; cursor: pointer;
    border: 0;
    border-bottom: 1px solid #03a9f3;
    color: #fff !important;
}
#login input[type=submit],
#login button[type=submit] {margin-right: 1%;}
.sign-up {background: #717b86;margin-left: 1%;margin-right: 0%;height: 44px; text-align: center; line-height: 44px; text-decoration: none;}
.forget-pass {display: block; text-align: center; margin: 0 0 0px 0; clear: both; text-decoration: underline; }

#login .dijitCheckBox {
    overflow: visible;
}
#login .form-link {
    display: block;
    font-weight: normal;
    margin: 0;
    font-size: 1em;
}
#login .checkbox-group {
    clear: none;
    width: auto;
    margin-right: 20px;
}
#login p.or-block {
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
}
#login p.or-block a {
    margin-left: 15px;
}
#login .stay-signed-in {
    margin: 8px 0 0 20px;
}
#login .error,
#login .success,
#login .warning {
    width: 323px;
}
.show-pass-wrap,
.login-field {
    margin-bottom: 10px;    position: relative;
}
.show-pass-wrap>.login-field {
    display: inline-block;
}
.login-field input,
#login.login-oauth .login-field #password {
    padding: 15px 0% 13px ;
    margin: 0;
    background-color: transparent; border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 14px;
    position: relative;
    z-index: 2;
}
.login-field input:focus {
    border-color: #888;
}
.login-field label.placeholder {
    position: absolute;
    top: 3px;
    left: 16px;
    color: #ccc;
    background: #fbfbfb;
    z-index: 5;
    width: 70px;
    text-align: right;
}
.login-field label.placeholder.active {
    color: #888;
}
.login-field a.login-forgot-toggle,
.show-pass-wrap a.show-forgot-pass {
    display: block;
    position: absolute;
    top: 0;
    left: 390px;
    line-height: 42px;
    text-align: left;
    white-space: nowrap;
}
.login-field a.login-forgot-toggle span {
    display: none;
}
#login span.invalid-error {
    margin-top: -2px;
    background: #eb9a9a !important;
    border: none;
    padding: 8px 3px 8px 25px;
    z-index: 3;
    position: relative;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.login-field input.invalid {
    border-color: #ec9a99;
}
.show-pass-wrap a.show-forgot-pass {
    top: 16px;
}
#show-password-group {
    background: #ddd;
    font-size: 12px;
    padding: 11px 0 11px 11px;
    z-index: 3;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 60px;
    height: 20px;
    border-radius: 0 4px 4px 0;
}
#show-password-group span.verbose {
    display: none;
}
#show-password-group .inline-label {
    margin-left: 3px;
    line-height: 14px;
    color: #333;
    font-size: 11px;
    text-transform: capitalize;
    font-weight: bold;
}
#show-password-group .dijitCheckBoxInput {
    opacity: 1;
    position: relative;
    padding: 0;
}
#login input[type=password].caps {
    background: #fbfbfb url(/release/7.9.30/css/../images/icons/icons24-compressed.png) no-repeat 345px -4258px;
}
input#alterego-authentication {
    background-image: url(/release/7.9.30/css/../images/login/alter-ego-icon.png);
    background-position: 98% 7px;
    background-repeat: no-repeat;
}
.button-small.oauth {
    padding: 4px 10px 4px 45px !important;
    position: relative;
    text-transform: none;
    font-size: 9.5pt;
    text-align: left;
}
.button-small.oauth.twitter {
    background-color: #32b0db;
    border-color: #188aaf;
}
.button-small.oauth.facebook {
    background-color: #4d6db3;
    border-color: #2f4a83;
}
.button-small.oauth span.ic {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 32px;
    background: url(/release/7.9.30/css/../images/icons/icons16-white-compressed.png) no-repeat;
}
.img1{border-radius: 50%;
      height: 45px;
      margin: 0;
      overflow: hidden;
      width: 45px;
      float: left;}
.img2{webkit-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      -webkit-transform: translateZ(0);
      width: 150px;
      height: 150px;
      position: relative;
      left: 142px;
      top: 77px}
.choose1{background-color: #fff;
         -webkit-border-radius: 2px;
         border-radius: 2px;
         -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
         box-shadow: 0 2px 2px rgba(0,0,0,0.3);
         margin: -87px auto 31px;
         padding: 57px 50px;
         width: 89%;}
.choose2{font-weight: 500;
         font-size: 25px;
         text-align: center;}
.line1{margin-top: 0px;
       margin-bottom: 20px;
       border: 0;
       border-top: 1px solid rgb(225, 225, 225);}
.text1{font-size: 18px;
       font-weight: 500;
       line-height: 0.25;
       display: inline-block;
       margin-bottom: 0px;
       color: #2196F3;
       padding: 10px;}
.f3GIQ{margin-left: 300px;
       padding: 0;}
.btn1{display: inline-block;
      padding: 10px 16px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      /* background-image: none; */
      border: 1px solid transparent;
      /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); */
      background-color: #03a9f3;
      color: #fff;
      border-radius: 3px;margin-top: 5px;
      float: right;}
.marg40{margin-top: 40px;}
.icon1{float: right;
       margin-top: -32px; }
.imground{border: 2px solid #faf9f9;
    width: 146px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin-left: 139px;
    border-color: #e2e2e2;}
.topmargin {margin-top: 20px;}
.bottompadding
{
    padding-bottom: 20px;

}
.bottommargin {margin-bottom: 20px;}
.topmargin {
    margin-top: 20px;
}   
.sub{padding-top: 20px;
     margin-bottom: 15px;}
.button-small.oauth.twitter span.ic {
    background-position: 8px -90px;
    border-right: 1px solid #188aaf;
}
.button-small.oauth.facebook span.ic {
    background-position: 8px -140px;
    border-right: 1px solid #2f4a83;
}
#login.login-oauth #login-form-wrap {
    left: 50%;
}
.login-sso{  background-color: #f7f7f7;
             -webkit-border-radius: 2px;
             border-radius: 2px;
             -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
             box-shadow: 0 2px 2px rgba(0,0,0,0.3);
             margin: 0 auto 25px;
             padding: 40px 40px;
}
#login.login-oauth #login-image {
    display: none;
}
#login.login-oauth #login-form-wrap h1 {
    margin: 0 auto;
}
#login.login-oauth p.connection-desc {
    padding: 0 10%;
}
#login .connection-block {
    background: url(/release/7.9.30/images/oauth-arrows.png) no-repeat center 10px;
    position: relative;
    width: 200px;
    margin: 0 auto 10px auto;
    padding-top: 50px;
}
#login img.applogo {
    position: absolute;
    top: 4px;
    left: 0;
}
#login img.freddie {
    position: absolute;
    top: 0px;
    right: 0;
}
@media screen and (max-width: 960px) {
    #login #login-box {
        width: 100%;
        max-width: 960px;
    }
}
@media screen and (max-width: 960px) {
    #login-form-wrap {
        left: 50%;
    }
}
@media screen and (max-width: 960px) {
    #login #login-image {
        right: 1000px;
    }
}
@media screen and (max-width: 610px) {
    #login-form-wrap {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none -ms-transition: none;
        transition: none;
    }
}
@media screen and (max-width: 610px) {
    .show-pass-wrap>.login-field {
        display: block;
    }
}
@media screen and (max-width: 610px) {
    .login-field {
        margin-bottom: 40px !important;
    }
}
@media screen and (max-width: 610px) {
    .login-field a.login-forgot-toggle,
    .show-forgot-pass {
        left: 25px;
        bottom: 0;
        top: auto;
        margin-bottom: -38px;
    }
}
@media screen and (max-width: 610px) {
    #show-password-group {
        width: auto;
        left: auto;
        right: 80px;
        top: auto;
        bottom: 0;
        margin-bottom: -38px;
        background: none;
        text-align: right;
    }
}
@media screen and (max-width: 610px) {
    #show-password-group span.verbose {
        display: inline;
    }
}
@media screen and (max-width: 610px) {
    #login input[type=password].caps {
        background-position: right 10px top -4258px;
    }
}
@media screen and (max-width: 610px) {
    #login #login-box {
        overflow: visible;
    }
}
@media screen and (max-width: 610px) {
    .login-field {
        padding-right: 0;
    }
}
@media screen and (max-width: 610px) {
    .login-field #password {
        padding-right: 15px;
        width: 257px;
    }
}
@media screen and (max-width: 525px) {
    #login.login-oauth #login-form-wrap {
        left: 0;
    }
}
@media screen and (max-width: 525px) {
    #login-form-wrap {
        width: 94%;
        left: 0;
        margin: 0px 3% 0 3%;
    }
}
@media screen and (max-width: 525px) {
    .login-field input,
    .login-field #password {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}
@media screen and (max-width: 525px) {
    #login.login-oauth .login-field #password {
        width: 100%;
    }
}
@media screen and (max-width: 525px) {
    #show-password-group {
        right: 0;
    }
}
@media screen and (max-width: 525px) {
    span.verbose {
        display: none;
    }
}
@media screen and (max-width: 390px) {
    #login-form-wrap {
        margin-top: 5px;
    }
}
@media screen and (max-width: 390px) {
    #login-form-wrap h1 {
        height: 45px;
    }
}
@media screen and (max-width: 390px) {
    .button-small.oauth {
        display: inline-block;
        margin: 0 5px 0 0;
    }
}
@media screen and (max-width: 390px) {
    #login #content {
        margin: 0;
    }
}
@media screen and (max-width: 390px) {
    .login-field {
        margin-bottom: 30px!important;
    }
}
@media screen and (max-width: 390px) {
    #login p.or-block {
        margin: 0;
        clear: left;
    }
}
@media screen and (max-width: 390px) {
    #login .stay-signed-in label {
        font-size: 11px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #login-form-wrap h1 {
        background: url(/release/7.9.30/css/../images/logo-login-dark@2x.png) 0 0 no-repeat;
        -webkit-background-size: 180px 45px;
    }
}

.msg-handling {position: absolute;top: 10px;}

