<div>

    <div class="profile_gallery_container clearfix ">

        <ul class="profile_gallery-wrap clearfix " ng-style="listposition" >
            <li style="width:{{imageWidth}}px;"  data-ng-show="imageList.length == 0">
                <img alt="" ng-src="/img/PlaceHolder.png"  >
            </li>
            <li ng-repeat="image in imageList" style="width:{{imageWidth}}px;" >
<!--                <img alt="" ng-src="{{$root.APP_CONST.CLOUD.PREFIX_URL}}/{{image.imgUrl}}"  >-->
                <cloud-image-loader urlpath="image.path" preview="false"></cloud-image-loader>
            </li>
        </ul>
        <ul class="gallery_pagination_wrap gallery_pagination "  data-ng-show="imageList.length > 1">
            <li>
                <a href="javascript:void(0)" class="prev " ng-show="selectedIndex > 0" ng-click="callScrollPrev()">&#8249;</a>
                <a href="javascript:void(0)" class="next " ng-show="selectedIndex < imageList.length - 1" ng-click="callScrollNext()">&#8250;</a>
            </li>
        </ul>
    </div>
<!--    <ul class="profile_gallery clearfix ">
        <li ng-click="scrollTo(image, $index)" ng-repeat="image in imageList" >
            <img alt="" ng-src="{{$root.APP_CONST.CLOUD.PREFIX_URL}}/{{image.imgUrl}}">
        <cloud-image-loader urlpath="image.path" preview="false"></cloud-image-loader>
        </li>
    </ul>-->
<!--    <ul class="gallery_thumb_pagination  " >
        <li>
            <a href="javascript:void(0)" ng-click="callScrollPrev()" class="prev " >&#8249;</a>
            <a href="javascript:void(0)" ng-click="callScrollNext()" class="next " >&#8250;</a>
        </li>
    </ul>-->
</div>