<div>

    <div class="loader " ng-show="showloder" >
        <img alt="loader" src="/img/loading.gif" width="20px;"/>
    </div>


    <ul data-ng-repeat="clinic in staticBlockModel.jsonList">
        <li class="clearfix">
            <img data-ng-show="clinic.img == ''" alt = "" src="/img/F2F_PlaceHolder.png" />
            <img data-ng-show="clinic.img != ''" alt="" ng-src="{{clinic.img}}" />
            <div class="we_right">
                <p class="we_from">
                    Make changes to appointments online
                </p>
                <p>
                    Just made an Appointment at
                    <a href="app/detail/#/clinic/{{clinic.id}}">{{clinic.name}}</a>
                    in {{clinic.city}}
                </p>
            </div>
        </li>
    </ul>

</div>