<div class="">
    <label>{{dataModel.label}}{{dataModel.isRequired ? '*':''}}</label>
    <input
        type="text"        
        name="{{name}}"  data-ng-show="dataModel.input == 'inputbox'"
        class="autocomplete-input form-control"
        data-ng-model="dataModel.value"
        data-ng-change="initChangeHandler()"
        angular-validator-isolated-field
        validator="validateInput()"
        />
    <textarea rows="7" cols="150"  maxlength="150"
              class="autocomplete-input form-control "
              name = "{{name}}" data-ng-show="dataModel.input == 'textarea'"
              data-ng-model = "dataModel.value"
              data-ng-change="initChangeHandler()"
              angular-validator-isolated-field
              validator="validateInput()"
              ></textarea>
</div>

