<div class="" >
    <label> {{fieldValue.attribute_label}} </label>    
    <ui>
        <li  data-ng-repeat="data in dataModel.list">
            <input
                type="checkbox"        
                name="{{name}}_{{$index}}"
                id="{{name}}_{{$index}}"
                class="autocomplete-input form-control"
                data-ng-model="dataModel.values[$index]"
                data-ng-change="changeHandler($index)"                
                />
            <label for="{{name}}_{{$index}}">{{data}}</label>                        
        </li>    
    </ui>
</div>
