<!DOCTYPE html>
<html lang="en" data-ng-app="app">
    <head>
        <meta charset="utf-8" />
        <title>Accozen - Business Management System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!--<link rel="icon" href="img/favicon.png" type="image/x-icon">-->
        <!--<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
        <link rel="stylesheet" href="../css/app.css" type="text/css" />
        <link rel="stylesheet" href="../css/styles.css" type="text/css" />
        <link rel="stylesheet" href="../css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="../css/component.css" type="text/css" />
        <link rel="stylesheet" href="../css/glyphicon.css" type="text/css" />
        <link rel="stylesheet" href="../libs/assets/animate.css/animate.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/angular-sweetalert/sweetalert/dist/sweetalert.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/angular-sweetalert/sweetalert/themes/facebook/facebook.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../libs/angular/angular-ui-grid/ui-grid.min.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/loading-bar/loading-bar.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/angular-drag-and-drop-lists/multi.css" type="text/css" />
        <!-- select 2 style -->
        <link rel="stylesheet" href="../libs/angular/angular-ui-select/dist/select.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/angular-ui-select/dist/select2.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/angular-ui-select/dist/selectize.default.css" type="text/css" />

        <script src="../libs/angular/highchart/highcharts.js"></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyB-n6hREweTj6hYzxj9-nm7T7tapVBzMlc&libraries=placeses,visualization,drawing,geometry,places"></script>
        <!--<script type="text/javascript"  src="http://maps.google.com/maps/api/js?key=AIzaSyB-n6hREweTj6hYzxj9-nm7T7tapVBzMlc"></script>-->
        <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-n6hREweTj6hYzxj9-nm7T7tapVBzMlc&libraries=places&sensor=false" ></script>-->
        <base href="/public/admin/">


    </head>
    <body ng-controller="AppCtrl" class="home " 
          data-ng-class="getContainerClass(); {'menu-open ' : !appConfig.navMenuExpand}" >

        <div data-ng-include=" 'tpl/blocks/header.html'" ng-if="hideHeader == false" class="app-header ">
        </div>

        <div data-ng-class="{'app main-container' : hideHeader != true }" id="app" ui-view>
        </div>

        <!-- jQuery 
        -->            <script src="../libs/jquery/jquery/dist/jquery.js"></script><!--
        
        <!-- sparklines -->
        <!--        <script src="../libs/jquery/jquery_sparkline/jquery.min.js.gz.js"></script>
                <script src="../libs/jquery/jquery_sparkline/jquery.sparkline.js"></script>-->
        <script src="../libs/jquery/jquery_sparkline/jquery.sparkline.min.js"></script>

        <!-- Angular -->
        <script src="../libs/angular/angular/1.5.7/angular.js"></script>

        <script src="../libs/angular/angular-animate/angular-animate.js"></script>
        <script src="../libs/angular/ng-map/ng-map.js"></script>
        <!--<script src="../libs/angular/ng-map/ng-map.min.js"></script>-->
        <!--<script src=https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>-->

        <script src="../libs/angular/angular-cookies/angular-cookies.js"></script>
        <script src="../libs/angular/angular-sanitize/angular-sanitize.js"></script>
        <script src="../libs/angular/angular-touch/angular-touch.js"></script>
        <script src="../libs/angular/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../libs/angular/ngstorage/ngStorage.js"></script>
        <!-- bootstrap -->
        <script src="../libs/angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <!--UI Select -->
        <script src="../libs/angular/angular-ui-select/dist/select.js"></script>

        <!--Week picker -->

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
        <script src="../libs/angular/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>


        <!-- ngValidation -->
        <script src="../libs/angular/angular-validator/angular-validator.js"></script>

        <!-- lazyload -->
        <script src="../libs/angular/oclazyload/dist/ocLazyLoad.js"></script>
        <!-- application loading -->
        <script src="../libs/angular/loading-bar/loading-bar.js"></script>
        <!-- translate -->
        <script src="../libs/angular/angular-translate/angular-translate.js"></script>
        <script src="../libs/angular/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="../libs/angular/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="../libs/angular/angular-translate-storage-local/angular-translate-storage-local.js"></script>


        <script src="../libs/angular/angular-sweetalert/sweetalert/dist/sweetalert.min.js"></script>
        <script src="../libs/angular/angular-sweetalert/ngSweetAlert.js"></script>
        <script src="../libs/angular/highchart/highcharts-ng.js"></script>

        <!--Angular Text Editor -->
        <script src='../libs/angular/textAngular/dist/textAngular-rangy.min.js'></script>
        <script src='../libs/angular/textAngular/dist/textAngular-sanitize.min.js'></script>
        <script src='../libs/angular/textAngular/dist/textAngular.min.js'></script>

        <!--Drag & Drop-->
        <script src="../libs/angular/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
        <!--Angular Google Map
        
        <script src="../libs/angular/angular-google-maps/dist/angular-google-maps_dev_mapped.js"></script>
        -->  
        <script src="../libs/lodash/dist/lodash.js"></script>
        <script src="http://cdn.rawgit.com/nmccready/angular-simple-logger/0.0.1/dist/index.js"></script>
        <script src="../libs/angular/angular-google-maps/dist/angular-google-maps.js"></script>
        <script src="../libs/angular/autocomplete-location-dropdown/autocomplete-location-dropdownDir.js"></script>
        <script src="../libs/angular/angular-localstorage/angular-localstorage.js"></script>
        <script src="app.js"></script>
        <script src="config.js"></script>
        <script src="config.router.js"></script>
        <script src="main.js"></script>
        <script src="config.lazyload.js"></script>

        <!-- Common servies  include -->

        <script src="apiConstant.js"></script>

        <script src="service/adminService.js"></script>
        <script src="../js/services/httpService.js"></script>
        <script src="../js/services/localStorageService.js"></script>
        <script src="../js/services/commonService.js"></script>
        <script src="../js/services/googleMapService.js"></script>
        <script src="../js/services/utilityService.js"></script>
        <script src="../js/directives/formStorage.js"></script>

        <script src="../js/validationFactory.js"></script>
        <script src="../js/dealFactory.js"></script>
        <script src="../js/customerFactory.js"></script>
        <script src="../js/components/custom-add/custom-add.js"></script>
    </body>
</html>
