<div class="" >
    <label>{{dataModel.label}}{{dataModel.isRequired ? '*':''}}</label>
    <input name="date" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
           ng-model="dataModel.value"  is-open="$parent.fromDateOpen" placeholder='--Select Date--'
           show-weeks="false" show-button-bar="false"  data-ng-change="initChangeHandler()"
           close-text="Close" />
    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
        <i class="glyphicon glyphicon-calendar"></i>
    </button>
    <!--    name="{{dataModel.name}}"  -->
</div>

