<div class="" >
    <!--    <label>{{dataModel.label}}{{dataModel.isRequired ? '*':''}}</label>-->
    <input
        type="checkbox"        
        name="{{name}}"
        id="{{name}}"
        class="autocomplete-input form-control"
        data-ng-model="dataModel.value"
        data-ng-change="initChangeHandler()"
        validator="validateInput()"
        />
    <label for="{{name}}">{{dataModel.label}}</label>    
    <!--    name="{{dataModel.name}}"  -->
</div>



