<div class="app-content-body fade-in-up"  data-ng-controller="accountEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Account Edit</h2>
            <a ui-sref="app.account" class="add_button" ui-scroll-to="app">Back to Account  List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="accountModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="account_edit_form" angular-validator-submit="modifyAccount()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "account"
                                            ng-model = "accountModel.account"
                                            placeholder="Name"
                                            maxlength="35"
                                            data-ng-disabled="true"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Description</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "description"
                                            ng-model = "accountModel.description"
                                            placeholder="Description"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Account Number*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "account_number"
                                            ng-model = "accountModel.account_number"
                                            placeholder="Account No"
                                            maxlength="20"
                                            required/>
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Contact Person</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "contact_person"
                                            ng-model = "accountModel.contact_person"
                                            placeholder="Contact Person"
                                             />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Phone</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type="text"
                                            class="form-control"
                                            name="contact_phone"
                                            ng-model="accountModel.contact_phone"
                                            placeholder="Phone"
                                            validator = "validationFactory.hasRequired(accountModel.contact_phone) == false  || validationFactory.phoneNumberValidator(accountModel.contact_phone) == true"
                                            maxlength="20"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Internet Banking URL</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "website"
                                            ng-model = "accountModel.website"
                                            validator = "validationFactory.hasRequired(accountModel.website) == false || validationFactory.urlValidator(accountModel.website) == true"
                                            placeholder="Internet Banking URL"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                        <label>Acode</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <label>{{accountModel.acode}}</label>                                        
                                    </div>
                            </div>

                        </div>
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <a type="button" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
