<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
   <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<script type="text/ng-template" id="user_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="accountCtrl">
    <div class="panel panel-default hide-print">
        <div class="panel-heading clearfix ">
            <h2>Account List</h2>
            <custom-add redirect="app.accountAdd" screencode="account"></custom-add>
            <!--<a data-ui-sref="app.accountAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <form name="account_list_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator form-storage>
            <div class="panel panel-default wrapper-md notopmargin">
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea" style='width:197px;'>
                        <input type="text"
                               name="account_name"
                               placeholder="Account Name"
                               data-ng-model="searchFilter.account"
                               class="form-control " data-ng-change="getList()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                </div>
                <div class="table-responsive ">
                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 120px;"  rowspan="1" colspan="1" >
                                    ID
                                </th>
                                <th style="width: 250px;"  rowspan="1" colspan="1" >
                                    Account Name
                                </th>
                                <th style="width: 250px;"   rowspan="1" colspan="1">
                                    Description
                                </th>
                                <th style="width: 250px;"   rowspan="1" colspan="1">
                                    Account No
                                </th>
                                <!--                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                                                 Branch
                                                            </th>-->
                                <th style="width: 150px;"   rowspan="1" colspan="1">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="accountModel.isLoadingProgress">
                                <td colspan="5" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="accountModel.list.length == 0">
                                <td colspan="5" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="account in accountModel.list">
                                <td>
                                    <a data-ui-sref="account.accountedit({id: '{{account.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                        {{account.id}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.accountedit({id: '{{account.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                        {{account.account}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.accountedit({id: '{{account.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                        {{account.description}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.accountedit({id: '{{account.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                        {{account.account_number}}
                                    </a>
                                </td>
                                <!--                            <td>
                                                                <a data-ui-sref="app.accountedit({id: '{{account.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                                    {{account.branch}}
                                                                </a>
                                                            </td>-->
                                <!--                            <td>
                                                                <a data-ui-sref="app.accountedit({id: '{{account.id}}'})" ui-scroll-to="app" class="glyphicon glyphicon-edit " style="display:block; width:100% ;height: 100%">
                                                                </a>
                                                            </td>-->
                                <td>
                                    <a  data-ui-sref="app.accountedit({id: '{{account.id}}'})" data-ui-scroll-to="app">
                                        <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                    </a>
                                    <a  class="chel-edit-add add-dash" data-ng-click="showPopup(account.id)">
                                        <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot  data-ng-hide="accountModel.list.length == 0" >
                            <tr>
                                <td colspan="2" class="text-left" >
                                    <label>Show</label>
                                    <select name = "perpage"
                                            ng-model="accountModel.limit"
                                            ng-options="page for page in pagePerCount"
                                            class="form-control show_count"
                                            ng-change="getList()"
                                            ></select>
                                </td>
                                <td colspan="4" class="text-right">
                                    <ul uib-pagination total-items="accountModel.total" ng-model="accountModel.currentPage" ng-change="getList()" items-per-page="accountModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>  
        </form>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteAccountInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
</div>


