<script type="text/ng-template" id="acode_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.code | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="accountaddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Account Add</h2>
            <a ui-sref="app.account" class="add_button" ui-scroll-to="app">Back to Account  List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_account_form" angular-validator-submit="createAccount()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "account"
                                            ng-model = "accountModel.account"
                                            placeholder="Name"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Description</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "description"
                                            ng-model = "accountModel.description"
                                            placeholder="Description"
                                            maxlength="40"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Initial Balance*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "balance"
                                            ng-model = "accountModel.balance"
                                            placeholder="Initial Balance"
                                            validator = "validationFactory.isNumber(accountModel.balance) == true"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Account Number*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "account_number"
                                            ng-model = "accountModel.account_number"
                                            placeholder="Account Number"
                                            maxlength="20"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Contact Person</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "contact_person"
                                            ng-model = "accountModel.contact_person"
                                            placeholder="Contact Person"
                                            maxlength="20"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Phone</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "contact_phone"
                                            ng-model = "accountModel.contact_phone"
                                            placeholder="Phone"
                                            validator = "validationFactory.hasRequired(accountModel.contact_phone) == false || validationFactory.phoneNumberValidator(accountModel.contact_phone) == true"
                                            maxlength="20"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Internet Banking URL</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "website"
                                            ng-model = "accountModel.website"
                                            validator = "validationFactory.hasRequired(accountModel.website) == false || validationFactory.urlValidator(accountModel.website) == true"
                                            placeholder="Internet Banking URL"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                        <label>Acode</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text"
                                               class="form-control"
                                               name="acode_dropdown_{{$index}}"
                                               ng-model="accountModel.acode"
                                               placeholder="Acode Details..."
                                               uib-typeahead="acode for acode in getAcodeList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-no-results="noResults"
                                               typeahead-min-length="0"
                                               typeahead-editable="true"
                                               typeahead-template-url="acode_dropdown__tpl.html"
                                               typeahead-input-formatter="formatAcodeModel($model)"
                                               autocomplete="off"   angular-validator-field
                                               />
                                        <span class="glyphicon glyphicon-search box-search "></span>
                                    </div>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh loading-icon"></i>
                                    <div ng-show="noResults" class="result-dis">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                            </div>
                        </div>

                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                        </div>

                    </div>
                </form>
                <div style="clear: both;"></div>
                <div class="wrapper-md ">
                </div>
            </div>
        </div>
    </div>
</div>
