
<div class="app-content-body fade-in-up req-stock " data-ng-controller="accountbalanceCtrl">
          <div class="panel panel-default ">
                    <div class="panel-heading clearfix ">
                              <h2>Accounts - Financial Balance</h2>
                              <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
                    </div>
          </div>
          <div class="container animated fadeInUp clearfix topmarginsm  ">
                    <div class="wrapper-md bg-white topmargin invoice-add ">
                              <div class="  clearfix add-form form-wrapper">
                                        <div class="head_right table-search wrapper-sm  clearfix ">
                                                  <div class="sea" style='width:197px;'>
                                                            <input type="text"
                                                                   placeholder="Account Name"
                                                                   data-ng-model="searchFilter.account"
                                                                   class="form-control " data-ng-change="getList()" />
                                                            <span class="glyphicon glyphicon-search head-right-search "></span>
                                                  </div>
                                        </div>
                                        <div class="table-responsive ">

                                                  <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                                            <thead>
                                                                      <tr role="row">
                                                                                <th style="width: 200px;"  rowspan="1" colspan="1" >
                                                                                          Account
                                                                                </th>
                                                                                <th style="width: 200px;" class="right" rowspan="1" colspan="1" >
                                                                                          Balance
                                                                                </th>

                                                                      </tr>
                                                            </thead>
                                                            <tbody>
                                                                      <tr data-ng-show="accountbalanceModel.isLoadingProgress">
                                                                                <td colspan="5" class="text-left" style="padding: 0;" >
                                                                                          <p class="loader-icon" >
                                                                                                    <img alt="loader" src="../img/loading.gif" />
                                                                                          </p>
                                                                                </td>
                                                                      </tr>
                                                                      <tr data-ng-if="accountbalanceModel.list.length == 0">
                                                                                <td colspan="5" class="text-center" >
                                                                                          -No Data Found-
                                                                                </td>
                                                                      </tr>
                                                                      <tr data-ng-repeat="accountbalance in accountbalanceModel.list">
                                                                                <td>
                                                                                          {{accountbalance.account}}
                                                                                </td>
                                                                                <td  class="right">
                                                                                          {{accountbalance.balance}}
                                                                                </td>

                                                                      </tr>
                                                            </tbody>
                                                            <tfoot  data-ng-hide="accountbalanceModel.list.length === 0" >
                                                                      <tr>
                                                                                <td colspan="1" class="text-left left" >
                                                                                          Total
                                                                                </td>
                                                                                <td colspan="1" class="right">
                                                                                          {{accountbalanceModel.balance.toFixed(2)}}
                                                                                </td>
                                                                      </tr>
                                                            </tfoot>
                                                  </table>
                                        </div>
                              </div>
                    </div>
          </div>
</div>