<a>
    <span style="text-transform: capitalize;" ng-bind-html="match.model.name  | uibTypeaheadHighlight:query" > </span> <br/>
<!--    <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>-->
    <div style="margin-top: -4px;"> 
        <p id="demo">   <span style="font-size: 11px;" ng-bind-html="match.model.code  | uibTypeaheadHighlight:query" ></p></span> 
    </div>
</a>
<div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>