<div class="app-content-body fade-in-up"  data-ng-controller="acodeAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>  Add Acode</h2>
            <a data-ui-sref="app.acodesettings" class="add_button add-dash" ui-scroll-to="app">Back to List</a>
        </div>
    </div>

    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">

                <form name="add_acode_form" angular-validator-submit="createacode()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <label>Code*</label>
                                <input type="text"
                                       class="form-control"
                                       name = "acode"
                                       ng-model = "acodeModel.code"
                                       placeholder="Code"
                                       required

                                       />
                            </div> 
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group clearfix col-sm-6">
                                <label>Name*</label>
                                <input type="text"
                                       class="form-control"
                                       name = "acodename"
                                       ng-model = "acodeModel.name"
                                       placeholder="Name"
                                       required
                                       />
                            </div>

                        </div>

                      </div>

                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Cancel</button>
                        </div>

                   
                </form>

            </div>
        </div>
    </div>
</div>

