
<div class="app-content-body fade-in-up req-stock " data-ng-controller="acodeStatementCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Account Statement</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <a href="{{APP_CONST.API.ACODE_STATEMENT_DOWN}}?from_Date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_Date={{searchFilter.todate|date:'yyyy-MM-dd'}}&acode={{searchFilter.acode.code}}&start=0&limit=0"
                ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="partysales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" readonly is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" readonly is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                                class="form-control"
                                name="acode_dropdown"
                                ng-model="searchFilter.acode"
                                placeholder="Acode "
                                uib-typeahead="acode for acode in getAcodeList($viewValue)"
                                typeahead-loading="loadingLocations"
                                typeahead-no-results="noResults"
                                typeahead-min-length="0"
                                typeahead-editable="false"
                                typeahead-template-url="/public/admin/tpl/acode_dropdown__tpl.html"
                                typeahead-input-formatter="formatAcodeModel($model)"
                                autocomplete="off"  
                                required
                                />
                         <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                       
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="accountStatementModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":accountStatementModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">Acode:{{searchFilter.acode == '' ? '-' : searchFilter.acode.code}}</li>
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table no-link table-striped b-t  dataTable no-footer " style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 150px; text-align: center;"  rowspan="1" colspan="1" >
                                Transaction Date
                            </th>
                            <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                                Narration
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Debit
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Credit
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Balance
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="accountStatementModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-show="accountStatementModel.openingBalance == null">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-show="accountStatementModel.openingBalance != null">
                            <td  colspan="1">
                            </td>
                            <td colspan="1">
                                <b>Opening Balance</b>
                            </td>
                            <td style="text-align: right;"> 
                            </td>
                            <td style="text-align: right;"> 
                            </td>
                            <td style="text-align: right;">
                                {{accountStatementModel.openingAmount}}
                            </td>
                        </tr>
                        <tr data-ng-repeat="account in accountStatementModel.list">
                            <td style="width:150px;">
                                {{account.transaction_date}}
                            </td>
                            <td style="width:200px;">
                                {{account.particulars}}
                            </td>
                            <td style="width:100px; text-align: right;" class="credit-col" >
                                {{account.debit_amt != 0 ? account.debit : ''}}
                            </td>
                            <td style="width:100px; text-align: right;" class="debit-col" >
                                {{account.credit_amt != 0 ? account.credit : ''}}
                            </td>
                            <td style=" width:100px;text-align: right;">
                                {{account.balance}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr data-ng-show="accountStatementModel.openingBalance != null">
                            <td colspan="1"></td>
                            <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{accountStatementModel.totaldebit}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{accountStatementModel.totalcredit}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{accountStatementModel.totalbalance}}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


