<div class="app-content-body fade-in-up req-stock " data-ng-controller="activityLogCtrl" >
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Activities</h2>
<!--            <a data-ui-sref="app.dashboard" ui-scroll-to="app" class="add_button add-dash" >Back To Dashboard</a>
                        <a href="javascript:void(0)" data-ng-click="initTableFilter()"  class="add_button add-dash">Refresh</a>-->
        </div>
    </div>
    <div class="row toppadding">
    <div class="col-sm-12">
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <!--<div class="head_right table-search wrapper-sm clearfix ">-->
            </div>
            <ul data-ng-show="activityModel.list.length == 0">
                <li>--No Activities Found--</li>
            </ul>
            <ul data-ng-repeat="activity in activityModel.list"  data-ng-show="activityModel.list.length > 0">
                 <div class="mainDiv">
                                   
                <li  data-ng-if='$index == 0'class=" xx qqq act-pure "><span  class="act-date">{{activity.date}}</span></li>
                <li data-ng-if='$index != 0' class="xx qqq "><span  class="act-date">{{activity.date != $parent.activityModel.list[$index-1].date ? activity.date : ''}}</span></li>
                <li>
                     <div class="derLeft">
                    <ul class="disc toppaddingxs bottommarginxs">
                         <li class="listsize"><span  class="act-blue">{{activity.description}}</span>
                                                    <p class="act-space">
                                                        <span class="act-red">Created By {{activity.created_by_name}} 
                                                        </span>
                                                        <span class="act-time"> {{activity.newdate| date:'HH:mm:ss a'}}</span>
                                                    </p>
                                                    <hr class="line">
                                                </li>
                <!--<li><b>{{activity.type}}:</b>{{activity.description}}</li>
                <li><b>Created By </b>{{activity.created_by_name}} at {{activity.newdate| date:'HH:mm:ss a'}}</li>-->
                 </ul></li>
                                    </div></div>
            </ul>
        </div>
    </div>
    </div>
    </div>
</div>

