<script type="text/ng-template" id="employee_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.f_name + '(' + match.model.team_name + ',' + match.model.emp_code + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="advanceListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Advance List</h2>
            <custom-add redirect="app.advanceAdd" screencode="advance"></custom-add>
            <!--<a data-ui-sref="app.advanceAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>             
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="panel panel-default ">
                <div class="head_right table-search wrapper-sm clearfix ">
                    <div class="sea ">
                        <input name="advanceDate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.date" is-open="advanceDateOpen" placeholder='Advance date'
                               show-weeks="false"   data-ng-change="initTableFilter()"
                               close-text="Close"  />
                        <button type="button" class="btn btn-default btn-choose advan-btn" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                         <input type="text"
                               name="customer_dropdown"
                               ng-model="searchFilter.employeeInfo"
                               placeholder ="Employee Details"
                               uib-typeahead="employee for employee in getEmployeList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="true"
                               typeahead-template-url="employee_dropdown__tpl.html"
                               typeahead-input-formatter="formatEmployeModel($model)"
                               autocomplete="off"
                               />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                     <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                    </div>
                    <div class="sea">
                        <input type="text"
                               placeholder="Employee Code"
                               data-ng-model="searchFilter.emp_code"
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>                    
                </div>
                <div class="table-responsive ">
                    <table class="table  no-link  table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 50px;" rowspan="1" colspan="1" >
                                    #
                                </th>                                
                                <th style="width: 80px;" rowspan="1" colspan="1">
                                    Advance Date
                                </th>
                                <th style="width: 150px;" rowspan="1" colspan="1" >
                                    Employee Name
                                </th>
                                <th style="width: 150px;" rowspan="1" colspan="1" >
                                    Employee Code
                                </th>
                                <th style="width: 150px;" rowspan="1" colspan="1">
                                    Advance Amount
                                </th>
                                <th style="width: 150px;" rowspan="1" colspan="1">
                                    Deducted Amount
                                </th>
                                <th style="width: 150px;" rowspan="1" colspan="1">
                                    Balance Amount
                                </th>
                                <th style="width: 80px;" rowspan="1" colspan="1">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="advanceModel.isLoadingProgress">
                                <td colspan="8" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>

                            <tr data-ng-if="advanceModel.list.length == 0">
                                <td colspan="8" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="advance in advanceModel.list">
                                <td>
                                    <a data-ui-sref="app.advanceEdit({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{advance.id}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.advanceEdit({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{advance.date}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.advanceEdit({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{advance.f_name}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.advanceEdit({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{advance.emp_code}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.advanceEdit({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="right">
                                        {{advance.adv_amount}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.advanceEdit({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="right">
                                        {{advance.deduction_amt}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.advanceEdit({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%" class="right">
                                        {{advance.balance_amt}}
                                    </a>
                                </td>                                                               
                                <td class="print-amt" style="display: flex;">
                                    <a  data-ui-sref="app.advanceEdit({id: '{{advance.id}}'})" ui-scroll-to="app" >
                                        <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                    </a>
                                    <a class="chel-edit-add add-dash" data-ng-click="showPopup(advance.id)">
                                        <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                    </a>
                                    <a href="{{APP_CONST.ADVANCE_PRINT}}?emp_adv_no={{advance.id}}" target="_blank">
                                        <img class="icon icons8-Print" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAqElEQVQ4T82TWw2DQBBFD06oAuqg1AGSkICESsAB1AEoaJ1ALtkhQNnlkX4wyXztnbPzjJjbF5CHLAbkg0ULZQ7IQzbTXAOQAYnLOQXqjRKmmlYlNMB9I8j33AigH0U9YgXwAoqzAGWscZdnAZZtvQSonD1NtJJ/AEcXaRUQaqq92baOgGqy2j6Auq7GKbhz+ufaKgvw8Mz07UY+3svfb0Epfnac8800PaphLXHzj//KAAAAAElFTkSuQmCC" width="16" height="16">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot data-ng-hide="advanceModel.list.length == 0">
                            <tr>
                                <td colspan="3" class="text-left" >
                                    <label class="show_count_label ">Show</label>
                                    <select name = "perpage"
                                            ng-model="advanceModel.limit"
                                            data-ng-hide="advanceModel.list.length == 0"
                                            ng-options="page for page in pagePerCount"
                                            class="form-control show_count"
                                            ng-change="initTableFilter()"
                                            >
                                    </select>
                                </td>
                                <td colspan="5" class="text-right">
                        <ul uib-pagination  data-ng-hide="advanceModel.list.length == 0" total-items="advanceModel.total" ng-model="advanceModel.currentPage" ng-change="getList()" items-per-page="advanceModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                        </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteAdvanceInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
</div>

