<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="itemizedsalesCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Advance Report</h2>
<!--            <a href="{{APP_CONST.ADVANCE_REPORT}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&type=advance"
               target="_blank" ui-scroll-to="app" class="add_button add-dash" >Print</a>-->
            <!--            <a href="{{APP_CONST.API.ITEMIZEDREPORT_DOWN}}?from_date={{searchFilter.fromdate == '' ? searchFilter.todate : searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate == '' ? searchFilter.fromdate : searchFilter.todate|date:'yyyy-MM-dd'}}&start=0&limit=0"
                           ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="itemized_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" 
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="employee_dropdown_{{$index}}"
                               ng-model="searchFilter.employeeInfo"
                               placeholder="Employee Details..."
                               uib-typeahead="employee for employee in getEmployeelist($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="employee_dropdown_tpl.html"
                               typeahead-input-formatter="formatEmployeeModel($model)"
                               autocomplete="off"
                               />
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="advanceModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":advanceModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 100px;"  rowspan="1" colspan="1" >
                                Employee Code
                            </th>
                            <th style="width: 150px; "  rowspan="1" colspan="1" >
                                Employee Name
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Team Name
                            </th>
                            <th style="width: 145px;"  rowspan="1" colspan="1"  class="right">
                                Overall Advance Amount
                            </th>
                            <th style="width: 130px;"  rowspan="1" colspan="1"  class="right">
                                Deduction Amount
                            </th>
                            <th style="width: 130px;"  rowspan="1" colspan="1" class="right">
                                Balance Amount
                            </th>
                            <th style="width: 130px;"  rowspan="1" colspan="1" class="right">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="advanceModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="advanceModel.list.length === 0">
                            <td colspan="7" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr ng-repeat-start="advance in advanceModel.list" style="color:black;border-bottom: 1px solid #eaeff0;" data-ng-click="show($index,advance.emp_id)">

                            <td style="    padding: 5px 10px;">
                                {{advance.emp_code}}                   
                            </td>    
                            <td>
                                {{advance.employee_name}}
                            </td>
                            <td>
                                {{advance.team_name}}
                            </td>
                            <td class="right">
                                {{advance.advance_amount}}
                            </td>
                            <td class="right">
                                {{advance.deduction_amount}}
                            </td>
                            <td class="right">
                                {{advance.balance_amount}}
                            </td>
                            <td class="right">
<!--                                <a ng-click="getBalanceList(index,advance.emp_id)" ui-scroll-to="app" >-->
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                <!--</a>-->
                            </td>
                        </tr>
                        <tr class="d0" ng-repeat-end data-ng-show="showDetails[$index]" role="row" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="5" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 17%;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                           
                                            <th style="width: 150px; padding-left: 10px;"  rowspan="1" colspan="1" >
                                                Employee Code
                                            </th>
                                            <th style="width: 150px; padding-left: 10px;"  rowspan="1" colspan="1" >
                                                Date
                                            </th>
                                            <th class="right"  rowspan="1" colspan="1">
                                                Advance 
                                            </th>
                                            <th class="right"  rowspan="1" colspan="1">
                                                Deduction 
                                            </th>
                                            <th class="right"  rowspan="1" colspan="1">
                                                Balance
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  data-ng-show="advanceModel.list.bal_list.length == 0">
                                            <td colspan="4">
                                                --No Data--
                                            </td>
                                        </tr>
                                        <tr data-ng-show="advanceModel.list[$index].bal_list.openingBalance != null">
                                            <td >
                                            </td>
                                            <td colspan="1">
                                                <b>Opening Balance</b>
                                            </td>
                                          
                                            <td style="text-align: right;">
                                                {{advanceModel.list[$index].bal_list.openingAdvance}}
                                            </td>
                                            <td style="text-align: right;">
                                                {{advanceModel.list[$index].bal_list.openingDeduction}}
                                            </td>
                                            <td style="text-align: right;">
                                                {{advanceModel.list[$index].bal_list.openingAmount}}
                                            </td>
                                        </tr>
                                        <tr data-ng-repeat="detail in advanceModel.list[$index].bal_list" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            
                                            <td colspan="1" style=" padding-left: 10px;">
                                                {{detail.emp_code}}
                                            </td>
                                            <td colspan="1" class="right">
                                                {{detail.date}}
                                            </td>
                                            <td colspan="1" class="right">
                                                {{detail.advance_amount}}
                                            </td>
                                            <td colspan="1" class="right">
                                                {{detail.deduction_amount}}
                                            </td>
                                            <td colspan="1" class="right">
                                                {{detail.balance}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="advanceModel.list.length === 0" >
                        <tr style="font-weight: bold;">
                            <td colspan="3" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="text-right">
                                {{advanceModel.total_Advance}}
                            </td>
                            <td colspan="1" class="text-right">
                                {{advanceModel.total_Deduction}}
                            </td>
                            <td colspan="1" class="text-right">
                                {{advanceModel.total_Balance}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>



