<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="advanceEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Advance Edit</h2>
            <a ui-sref="app.advanceList" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="advanceModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="advance_edit_form" angular-validator-submit="editAdvance()" class="form-horizontal material-form clearfix " novalidate angular-validator >

                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Date*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input name="advancedate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                           ng-model="advanceModel.date" is-open="advanceDateOpen" placeholder='Advance date' 
                                           show-weeks="false" required readonly
                                           close-text="Close" max-date="currentDate"/>
                                    <button type="button" class="btn btn-default btn-choose btn-cal" ng-click="openDate(0)" style="margin-top: -99px;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>                                
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Advance Amount*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="advance_amount"
                                           class="form-control "
                                           placeholder="Advance Amunt"
                                           data-ng-model="advanceModel.adv_amount"
                                           validator = "validationFactory.isPositiveNumber(advanceModel.adv_amount) == true"
                                           maxlength="40"
                                           required
                                           />
                                </div>                                
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Deduced Amount</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="deduced_amount"
                                           class="form-control "
                                           placeholder="Deduced Amount"
                                           data-ng-model="advanceModel.total_deduction_amt"                                           
                                           maxlength="40"                                           
                                           data-ng-disabled="true"
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Account</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="account_name"
                                           class="form-control "
                                           placeholder="Account Name"
                                           data-ng-model="advanceModel.accountName"                                           
                                           maxlength="40"                                           
                                           data-ng-disabled="true"
                                           />
                                </div>                                  
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Employee*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="lead_dropdown"
                                           ng-model="advanceModel.employeeInfo"
                                           placeholder ="Select Employee"
                                           uib-typeahead="employee for employee in getEmployeelist($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-min-length="0"
                                           class="form-control"
                                           typeahead-editable="false"
                                           typeahead-template-url="employee_dropdown_tpl.html"
                                           typeahead-input-formatter="formatEmployeeModel($model)"
                                           autocomplete="off" 
                                           angular-validator-field                                           
                                           required
                                           />
                                     <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Deduction Amount*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="deduction_amount"
                                           class="form-control "
                                           placeholder="Deduction Amunt"
                                           data-ng-model="advanceModel.deduction_amt"
                                           validator = "validationFactory.isPositiveNumber(advanceModel.deduction_amt) == true"
                                           maxlength="40"
                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Balance Amount</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="balance_amount"
                                           class="form-control "
                                           placeholder="Balance Amunt"
                                           data-ng-model="advanceModel.balance_amt"                                           
                                           maxlength="40"
                                           data-ng-disabled="true"
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Comments</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea class="form-control"
                                              name = "Comments"
                                              min-rows ="4"
                                              ng-model = "advanceModel.remark"
                                              placeholder="Comments"
                                              >
                                    </textarea>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12 btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                    </div>

                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md "></div>
        </div>
    </div>
</div>
