<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock "  data-ng-controller="advancepaymentAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
            <h2>Sales Payment Add</h2>
            <a ui-sref="app.advancepayment" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form1 form-wrapper1 bg-white">
                <form name="save_payment_form" angular-validator-submit="createAdvancePayment()" class="form-horizontal clearfix col-sm-12" novalidate angular-validator>
                    <div class="col-sm-12">
                        <div class="row wrapper-md">
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Customer Name : </label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control"
                                               name="customer_dropdown"
                                               ng-model="paymentAddModel.customerInfo"
                                               typeahead-on-select="getsalesorderList()"
                                               placeholder="Customer Details..."
                                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-no-results="noResults"
                                               typeahead-min-length="0"
                                               typeahead-editable="false"
                                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                               typeahead-input-formatter="formatCustomerModel($model)"
                                               autocomplete="off"
                                               ng-blur="custDrop()"
                                               required
                                               />
                                         <span class="glyphicon glyphicon-search box-search "></span>
                                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                    </div>                  
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Payment Date*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input name="invoicedate" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                               ng-model="paymentAddModel.date" readonly is-open="paymentDateOpen"  
                                               show-weeks="false" datepicker-options="dateOptions"
                                               close-text="Close" required/>
                                        <button type="button" class="btn date-cal btn-choose btn-default btn_choose_1" ng-click="openDate(0)" >
                                            <i class="glyphicon glyphicon-calendar"></i>                
                                        </button>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Amount*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "Amount"
                                                ng-model = "paymentAddModel.amount"
                                                placeholder="Amount"
                                                validator = "validationFactory.isNumber(paymentAddModel.amount) === true && (paymentAddModel.amount>0?true:false)"
                                                maxlength="20"
                                                required/>
                                    </div>                    

                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Category</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select name="categorydropdown" ng-model="paymentAddModel.category"  class="form-control" >
                                            <option value="">Select Category </option>
                                            <option value="{{category.name}}" data-ng-repeat="category in paymentAddModel.categoryList">{{category.name}}</option>
                                        </select>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Accounts*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select name="accountsdropdown" ng-model="paymentAddModel.account_id"  class="form-control" required>
                                            <option value="">Select Accounts </option>
                                            <option value="{{accounts.id}}" data-ng-repeat="accounts in paymentAddModel.accountsList">{{accounts.account}}</option>
                                        </select>
                                    </div> 
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Mode*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select class="form-control "
                                                ng-model="paymentAddModel.payment_mode"                                        
                                                name="modedropdown" required
                                                >
                                            <option value="">Select Payment Mode </option>
                                            <option value="{{paymentterms.name}}" data-ng-repeat="paymentterms in paymentAddModel.paymentlist">{{paymentterms.name}}</option>                         
                                        </select>
                                    </div>
                                    <div data-ng-show="paymentAddModel.payment_mode == 'cheque'">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Cheque No*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text" class="form-control"
                                               ng-model="paymentAddModel.cheque_no"
                                               placeholder="Cheque No"
                                               ng-required="paymentAddModel.payment_mode == 'cheque'"
                                               />
                                    </div>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Comments</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea rows="4" cols="50"
                                                  class="form-control"
                                                  name = "comments"
                                                  ng-model = "paymentAddModel.comments"
                                                  placeholder="Comments"
                                                    style="height: 96px;"
                                                  ></textarea>  
                                    </div> 
                                </div>
                            </div>

                        </div>
                        <div class="row paddleftt">   
                            <div class="col-sm-6">
                                <strong><b style="font-size: 15px;">Pending Sales Order</b></strong>
                                <div class="table-responsive ">

                                    <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">                                                
                                                <th style="width: 150px;"   rowspan="1" colspan="1">
                                                    Sales Order Date
                                                </th>
                                                <th style="width: 150px;"   rowspan="1" colspan="1">
                                                    Code
                                                </th>
                                                <th style="width:150px;"   rowspan="1" colspan="1">
                                                    Amount
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-show="paymentAddModel.isSalesOrderLoading">
                                                <td colspan="3" class="text-left" style="padding: 0;" >
                                                    <p class="loader-icon" >
                                                        <img alt="loader" src="img/loading.gif" />
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr data-ng-if="paymentAddModel.salesorderList.length == 0">
                                                <td colspan="3" class="text-center" >
                                                    -No Data Found-
                                                </td>
                                            </tr>
                                            <tr data-ng-repeat="salesorder in paymentAddModel.salesorderList" >                                                
                                                <td>
                                                    <input class="" type="radio" name="radio_{{$index}}" value="{{salesorder.id}}" id="radio_{{$index}}" 
                                                           data-ng-change ="getInvoiceDetails($index)"
                                                           ng-model="paymentAddModel.salesorder_id" />
                                                    <label for="radio_{{$index}}">{{salesorder.date|date:appConfig.date_format}}</label>
                                                    <!--                                                    <input type="radio" name="radio_{{$index}}" id="radio_{{$index}}">
                                                                                                        <label for="radio_{{$index}}" >{{salesorder.date| date:'dd-MM-yyyy'}}</label>-->
                                                </td>  
                                                <td>
                                                    {{salesorder.sales_order_code}}
                                                </td>
                                                <td>
                                                    {{salesorder.total_amount}}
                                                </td>                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Order No : {{paymentAddModel.invoiceDetails.sales_order_no}}</label><br>
                                <label>Order Date : {{paymentAddModel.invoiceDetails.date| date:'dd-MM-yyyy'}}</label><br>
                                <label>Bill Amount : {{paymentAddModel.invoiceDetails.total_amount}}</label><br>

                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">


                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Save</button>
                                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " angular-validator-form-reset data-ng-click="formReset()">Cancel</a>
                            </div>

                        </div>
                    </div>
                </form>
            </div>           
        </div>
    </div>    

</div>

