<!--<script type="text/ng-template" id="incomecategory_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="app-content-body fade-in-up req-stock " data-ng-controller="albumlistCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Album List</h2>
            <a data-ui-sref="app.albumAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>  
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class="row bottompaddingsm1 toppadding1 " style="" >
        <div class="container">
            <div class="col-sm-8 right-border1">
                <div class="row  toppadding " >
                    <div class="col-sm-4 bottompaddingsm2" data-ng-repeat="album in albumlistModel.list">
                        <a data-ui-sref="app.albumEdit({id: '{{album.id}}'})" ui-scroll-to="app">
                            <div style="position: absolute;" class="shadow1">
                                <!--                                <div class="" style=" z-index: 1;">
                                                                    <img src="https://www.w3schools.com/w3images/newyork.jpg" class="gallery-img1" alt="">
                                                                </div>
                                                                <div class=" index1">
                                                                    <img src="https://www.w3schools.com/w3images/paris.jpg" class="gallery-img1" alt=""> 
                                                                </div>
                                                                <div class=" index2">
                                                                    <img src="https://www.w3schools.com/w3images/sanfran.jpg" class="gallery-img1" alt="">
                                                                    <h2 class="center album-h2"><i class="material-icons image-icon">&#xe3b6;</i>{{album.name}} </h2>
                                                                </div>-->

                                <!--                                <div class="" style=" z-index: 1;">
                                                                    <photo-gallery  image-list="album.asset[0]" image-width="250" height="85px" ></photo-gallery>
                                                                </div>
                                                                <div class=" index1">
                                                                    <photo-gallery  image-list="album.asset[1]" image-width="250" height="85px" ></photo-gallery>
                                                                </div>
                                                                <div class=" index2">
                                                                    <photo-gallery  image-list="album.asset[2]" image-width="250" height="85px" ></photo-gallery>
                                                                    <h2 class="center album-h2"><i class="material-icons image-icon">&#xe3b6;</i>{{album.name}} </h2>
                                                                </div>-->

                                <div class="" style=" z-index: 1;">
<!--                                    <img src="../{{album.asset[0].url}}" class="gallery-img1" alt="">-->
                                    <cloud-image-loader urlpath="album.asset[0].url" imgheight="120" imgwidth="120" preview="false"></cloud-image-loader>
                                </div>
                                <div class=" index1">
<!--                                    <img src="../{{album.asset[1].url}}" class="gallery-img1" alt="">   -->
                                    <cloud-image-loader urlpath="album.asset[1].url" imgheight="120" imgwidth="120" preview="false"></cloud-image-loader>
                                </div>
                                <div class=" index2">
<!--                                    <img src="../{{album.asset[2].url}}" class="gallery-img1" alt="">-->
                                    <cloud-image-loader urlpath="album.asset[2].url" imgheight="120" imgwidth="120" preview="false"></cloud-image-loader>
                                    <h2 class="center album-h2"><i class="material-icons image-icon">&#xe3b6;</i>{{album.name}} </h2>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 toppadding pad-left">
            <div class="row">
                <div class="col-sm-8 " id="search">
                    <div class="sea" >
                        <input type="name"
                               placeholder="Name "
                               data-ng-model="searchFilter.name"
                               class="form-control " data-ng-change="getList()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea">
                        <input type="code"
                               placeholder="Code "
                               data-ng-model="searchFilter.code"
                               class="form-control " data-ng-change="getList()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea" >
                        <select ng-model="searchFilter.type" name="typedropdown"  data-ng-change="getList()" class="form-control">
                            <option value="">-Select Type-</option>
                            <option value="public">Public</option>
                            <option value="private">Private</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteAlbumlistInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>

</div>   