<div class="app-content-body fade-in-up"  data-ng-controller="allowanceSettingsCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2> Allowance Settings</h2>
            <a ui-sref="app.allowanceList" class="add_button" ui-scroll-to="app" href="#/invoice">
                Back to List
            </a>
        </div>
    </div>
    
    <div class="wrapper-md animated fadeInUp clearfix ">
        <form name="allowance_form" angular-validator-submit="saveallowance()" class="form-horizontal clearfix " novalidate angular-validator>
        <div class ="row">
            <div class="table-responsive">                
                <table>                        
                    <thead>
                        <tr class="headings">
                            <th style="width: 15%;"><label>S.No</label></th>
                            <th style="width: 20%;"><label>Role</label></th>
                            <th style="width: 20%;"><label>Amount</label></th>
                            <th style="width: 30%;"><label>Period</label></th>
                        </tr>
                    </thead>
                    <tbody class="body-con">
                        <tr class="tax-map-wrap"  data-ng-repeat="allowance in allowanceModel.allowanceList">
                            <td class="center">{{$index + 1}}</td>
                            <td><label>{{allowance.role_name}}</label></td>
                            <td class="">
                                <input type="text"
                                       class="form-control right"                                                       
                                       name="allowanceAmount_{{$index}}"
                                       data-ng-model="allowanceModel.allowanceList[$index].amount"
                                       validator ="validationFactory.isNumber(allowanceModel.allowanceList[$index].amount)== true"
                                       angular-validator-field
                                       style="width: 95%;margin-bottom: 5px;margin-top: 2px;"
                                       />
                            </td>
                            <td class="">
                                <select ng-model="allowanceModel.allowanceList[$index].type" angular-validator-field name="type_{{$index}}"class="form-control f-right" style="width: 65%;" required>
                                    <option value="Daily">Daily</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Monthly">Monthly</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>                                               
            </div>
            <div class="row center topmarginssm">
                <div class="col-sm-12 center">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn">Submit</button>
                    <button type="reset" ng-click="formReset()" class="btn btn-sm btn-primary btn_orng">Reset</button>
                </div>
            </div>
        </div>
            </form>
    </div>
    
</div>
