






<div class="app-content-body fade-in-up"  data-ng-controller="allowanceEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Allowance Edit</h2>
            <a ui-sref="app.allowanceList" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="allowanceEditModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="category_form" angular-validator-submit="updateAllowanceCategory()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text" size="20"
                                           class="form-control"
                                           name = "name1"
                                           ng-model = "allowanceEditModel.name"
                                           placeholder="Name"
                                           maxlength="35"
                                           
                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Amount (per day)*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text" size="20"
                                               class="form-control"
                                               name = "amount"
                                               ng-model = "allowanceEditModel.amount"
                                               placeholder="Amount"
                                               maxlength="35"
                                               validator = "validationFactory.isNumber(allowanceEditModel.amount) === true"
                                               required
                                               />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                        <label>Comment</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                         <textarea rows="7" cols="70"  maxlength="150"
                                                  class="form-control"
                                                  name = "Comments"
                                                  ng-model = "allowanceEditModel.comments"
                                                  placeholder="Comments"
                                         ></textarea>
                                    </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                    <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
