<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.product_name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="amcAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>AMC Add</h2>
            <a ui-sref="app.amc" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_amc_form" angular-validator-submit="createAmc()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Date*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                           ng-model="amcAddModel.date" readonly is-open="dateOpen" placeholder="Date"
                                           min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                           required close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)"style="top:unset;right: 49.1%;margin-top: -38px;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                    </br>
                                </div> 
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Product*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           ng-model="amcAddModel.productname"
                                           placeholder="Product list.."
                                           uib-typeahead="itemList for itemList in getProductInfo($viewValue)"
                                           typeahead-loading="loadingProductLocations"
                                           typeahead-no-results="noProductResults"
                                           typeahead-template-url="product_dropdown__tpl.html"
                                           class="form-control"
                                           typeahead-editable="false"
                                           typeahead-show-hint="true"
                                           typeahead-input-formatter="formatProductModel($model)"
                                           typeahead-min-length="0"
                                           required
                                           >
                                    <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noProductResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div> 

                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Amc Years*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "number"
                                            class="form-control"
                                            name = "years"
                                            ng-model = "amcAddModel.duation"
                                            placeholder="Years"
                                            validator = "validationFactory.isNumber(amcAddModel.duation) && amcAddModel.duation > 0"
                                            required
                                            />
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Customer*</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="amcAddModel.customerInfo"
                                       placeholder="Customer Details..."
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingCustLocations"
                                       typeahead-on-select='getProductInfo()'
                                       typeahead-no-results="noCustResults"
                                       typeahead-min-length="0"
                                       typeahead-editable="false"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       required
                                       />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noCustResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div> 

                            </div>
                            <br>
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Serial No</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "serialno"
                                        ng-model = "amcAddModel.productname.serialno"
                                        placeholder="Serial No"

                                        />
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Amount*</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "amount"
                                        ng-model = "amcAddModel.amount"
                                        placeholder="Amount"
                                        validator = "validationFactory.isNumber(amcAddModel.amount)"

                                        required/>
                            </div>

                        </div>
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                        </div>
                    </div>
                </form>
                <div style="clear: both;"></div>
                <div class="wrapper-md ">
                </div>
            </div>
        </div>
    </div>

</div>