
<div class="app-content-body fade-in-up req-stock " data-ng-controller="amcListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>AMC List</h2>
            <custom-add redirect="app.amcAdd" screencode="amc"></custom-add>
            <!--<a data-ui-sref="app.amcAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>    

    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="amc_list_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm clearfix ">
                    <!--                    <div class="sea ">                                                      
                                            <input name="goodsDate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="searchFilter.goodsDate" is-open="dateOpen" placeholder='Date'
                                                   min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                                   close-text="Close" 
                                                   data-ng-change="initTableFilter()"/>
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>                    
                                        </div>-->
                    <div class="sea">
                        <input
                            name="amcId"
                            type="text"
                            class="form-control qty a-right "
                            placeholder="Amc Id"
                            data-ng-model="searchFilter.amcId"
                            data-ng-change="initTableFilter()"
                            angular-localstorage-field='true'
                            />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="amc_customer_dropdown"                      
                               ng-model="searchFilter.customerInfo"
                               placeholder="Customer"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off" 
                               angular-localstorage-field='true'/>
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>                  
                    </div>                     
                    <div class="sea">
                        <select class="form-control " ng-model="searchFilter.status" data-ng-change="initTableFilter()" name="amcstatus" angular-localstorage-field='true'>
                            <option value="">--AMC Status--</option>
                            <option value="New">New</option>
                            <option value="Invoiced">Invoiced</option>
                        </select>
                    </div>
                    <div class="sea">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From Date'
                               data-ng-change="initTableFilter()"
                               show-weeks="false"
                               close-text="Close" 
                               angular-localstorage-field='true'/>
                        <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To Date'
                               data-ng-change="initTableFilter()"
                               show-weeks="false"
                               close-text="Close" 
                               angular-localstorage-field='true'/>
                        <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                </div> 
            </form>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:50px;" rowspan="1" colspan="1" >
                                Id
                            </th>
                            <th style="width:110px;" rowspan="1" colspan="1" >
                                From Date
                            </th>
                            <th style="width:110px;" rowspan="1" colspan="1" >
                                To Date
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1" >
                                Customer Name 
                            </th>
                            <th  style="width:200px;" rowspan="1" colspan="1" >
                                Product Name 
                            </th>
                            <th  style="width:100px;" rowspan="1" colspan="1" >
                                Years 
                            </th>
                            <th style="width:100px;" class="right " rowspan="1" colspan="1">
                                Amount 
                            </th> 
                            <th style="width:100px;" rowspan="1" colspan="1">
                                Status 
                            </th> 
                            <th style="width:100px;" class="right " rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="amcListModel.isLoadingProgress">
                            <td colspan="9" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="amcListModel.list.length == 0">
                            <td colspan="9" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="amc in amcListModel.list">
                            <td>
                                <a ng-if="amc.status == 'Invoiced'" data-ui-sref="app.amcView({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.id}}
                                </a>
                                <a ng-if="amc.status != 'Invoiced'" data-ui-sref="app.amcEdit({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.id}}
                                </a>
                            </td>
                            <td>
                                <a ng-if="amc.status == 'Invoiced'" data-ui-sref="app.amcView({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.from_date}}
                                </a>
                                <a ng-if="amc.status != 'Invoiced'" data-ui-sref="app.amcEdit({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.from_date}}
                                </a>
                            </td>
                            <td>
                                <a ng-if="amc.status == 'Invoiced'" data-ui-sref="app.amcView({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.to_date}}
                                </a>
                                <a ng-if="amc.status != 'Invoiced'" data-ui-sref="app.amcEdit({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.to_date}}
                                </a>
                            </td>
                            <td>
                                <a ng-if="amc.status == 'Invoiced'" data-ui-sref="app.amcView({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.customer_name}}
                                </a>
                                <a ng-if="amc.status != 'Invoiced'" data-ui-sref="app.amcEdit({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.customer_name}}
                                </a>
                            </td>
                            <td>
                                <a ng-if="amc.status == 'Invoiced'" data-ui-sref="app.amcView({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.product_name}}
                                </a>
                                <a ng-if="amc.status != 'Invoiced'" data-ui-sref="app.amcEdit({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.product_name}}
                                </a>
                            </td>
                            <td>
                                <a ng-if="amc.status == 'Invoiced'" data-ui-sref="app.amcView({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.duration}}
                                </a>
                                <a ng-if="amc.status != 'Invoiced'" data-ui-sref="app.amcEdit({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.duration}}
                                </a>
                            </td>
                            <td>
                                <a ng-if="amc.status == 'Invoiced'" data-ui-sref="app.amcView({id: '{{amc.id}}'})" class="right" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.amount}}
                                </a>
                                <a ng-if="amc.status != 'Invoiced'" data-ui-sref="app.amcEdit({id: '{{amc.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.amount}}
                                </a>
                            </td>
                            <td>
                                <a ng-if="amc.status == 'Invoiced'" data-ui-sref="app.amcView({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.status}}
                                </a>
                                <a ng-if="amc.status != 'Invoiced'" data-ui-sref="app.amcEdit({id: '{{amc.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{amc.status}}
                                </a>
                            </td>
                            <td class="right ">
                                <a href="javascript:void(0)" ui-scroll-to="app" data-ui-sref="app.amcView({id: '{{amc.id}}'})">
                                    <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </a>
                                <a data-ng-show="amc.status != 'Invoiced'" data-ui-sref="app.amcEdit({id: '{{amc.id}}'})" ui-scroll-to="app"  >
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a class="chel-edit-add add-dash" data-ng-click="showPopup(amc.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>                                
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="amcListModel.list.length == 0">
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="amcListModel.limit"
                                        data-ng-hide="amcListModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="6" class="text-right">
                                <ul uib-pagination total-items="amcListModel.total" ng-model="amcListModel.currentPage" ng-change="getList()" items-per-page="amcListModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination> </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup  delet-popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>    
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteAmcInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>  
</div>


