<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.product_name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="amcEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>AMC View</h2>
            <a ui-sref="app.amc" class="add_button" ui-scroll-to="app">Back to List</a>
            <a class="newInvoice" ui-sref="app.amcInvoiceAdd({amc_id: '{{stateParamId}}'})" ui-scroll-to="app" href="#/" data-ng-hide="amcEditModel.list.status== 'Invoiced'" ng-if="screenAccessDetail.salesinvoice.is_create == true">
                Create Invoice
            </a>  
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="edit_amc_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs ">
                                    <label>Date</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    :&nbsp;{{amcEditModel.amcdate}}
                                </div> 
                                <div class="col-sm-5 topmarginxs ">
                                    <label>Product</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    :&nbsp;{{amcEditModel.productname.product_name}}
                                    <!--                                    <input type="text"
                                                                               ng-model="amcEditModel.productname"
                                                                               placeholder="Product list.."
                                                                               uib-typeahead="itemList for itemList in getProductInfo($viewValue)"
                                                                               typeahead-loading="loadingProductLocations"
                                                                               typeahead-no-results="noProductResults"
                                                                               typeahead-template-url="product_dropdown__tpl.html"
                                                                               class="form-control"
                                                                               typeahead-editable="true"
                                                                               typeahead-show-hint="true"
                                                                               typeahead-input-formatter="formatProductModel($model)"
                                                                               typeahead-min-length="0"
                                                                               required>
                                                                        <span class="glyphicon glyphicon-search box-search "></span>
                                                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                                        <div ng-show="noResults">
                                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                        </div> -->

                                </div>
                                <div class="col-sm-5 topmarginxs ">
                                    <label>Amc Years</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    :&nbsp;{{amcEditModel.duation}}
                                    <!--                                    <input  type = "text"
                                                                                class="form-control"
                                                                                name = "amount"
                                                                                ng-model = "amcEditModel.duation"
                                                                                placeholder="years"
                                                                                validator = "validationFactory.isNumber(amcEditModel.duation) && amcEditModel.duation > 0"
                                                                                requierd
                                                                                />-->
                                </div>

                            </div>

                            <div class="col-sm-5 topmarginxs ">
                                <label>Customer</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                :&nbsp;{{amcEditModel.customerInfo.fname}}
                                <!--                                    <input type="text"
                                                                           class="form-control"
                                                                           name="customer_dropdown_{{$index}}"
                                                                           ng-model="amcEditModel.customerInfo"
                                                                           placeholder="Customer Details..."
                                                                           uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                                                           typeahead-loading="loadingCustLocations"
                                                                           typeahead-on-select='getProductInfo()'
                                                                           typeahead-no-results="noCustResults"
                                                                           typeahead-min-length="0"
                                                                           typeahead-editable="true"
                                                                           typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                                                           typeahead-input-formatter="formatCustomerModel($model)"
                                                                           autocomplete="off"
                                                                           required
                                                                           />
                                                                    <span class="glyphicon glyphicon-search box-search "></span>
                                                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                                    <div ng-show="noResults">
                                                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                    </div> -->

                            </div>

                            <div class="col-sm-5 topmarginxs ">
                                <label>Serial No</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                :&nbsp;{{amcEditModel.productname.serialno}}
                                <!--                                    <input  type = "text"
                                                                            class="form-control"
                                                                            name = "serialno"
                                                                            ng-model = "amcEditModel.productname.serialno"
                                                                            placeholder="Serial No"
                                                                            
                                                                            requierd
                                                                            />-->
                            </div>
                            <div class="col-sm-5 topmarginxs ">
                                <label>Amount</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                :&nbsp;{{amcEditModel.amount}}
                                <!--                                    <input  type = "text"
                                                                            class="form-control"
                                                                            name = "amount"
                                                                            ng-model = "amcEditModel.amount"
                                                                            placeholder="Amount"
                                                                            validator = "validationFactory.isNumber(amcEditModel.amount)"
                                
                                                                            required/>-->
                            </div>

                        </div>
                        <!--                        <div class="form-group full_w btn_group">
                                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                                                </div>-->
                    </div>
                </form>
                <div style="clear: both;"></div>
                <div class="wrapper-md ">
                </div>
            </div>
        </div>
    </div>

</div>