
<div class="app-content-body fade-in-up req-stock " data-ng-controller="areawisesalesCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2>Areawise Sales Order Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <!--            <a href="{{APP_CONST.API.INVOICE_SALES_DOWN}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&customer_id={{searchFilter.customerInfo.id}}&is_active=1&mode=1&start=0&limit=0"
                           ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="sales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="sea country-selector">
                                <ui-select ng-model="searchFilter.country_id" theme="select2" data-ng-change="getstateList()"  style="min-width: 300px;" title="">
                                    <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="country.id as country in salesModel.countryList |filter: {name: $select.search} | orderBy:'sortOrder'">
                                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>  
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="sea country-selector">
                                <ui-select ng-model="searchFilter.state_id" theme="select2" data-ng-change="getcityList()" style="min-width: 300px;" title="">
                                    <ui-select-match placeholder="Select State">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="state.id as state in salesModel.stateList |filter: {name: $select.search} | orderBy:'sortOrder'">
                                        <div ng-bind-html="state.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="sea country-selector" >
                                <ui-select ng-model="searchFilter.city_id" theme="select2" style="min-width: 300px;" title="">
                                    <ui-select-match placeholder="Select City">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="city.id as city in salesModel.cityList |filter: {name: $select.search} | orderBy:'sortOrder'">
                                        <div ng-bind-html="city.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="sea country-top  select-width status">
                                <select class="form-control "
                                        ng-model="searchFilter.status"                                
                                        name="statusdropdown"
                                        >
                                    <option value="">All Status</option>
                                    <option value="new">New</option>                            
                                    <option value="pending">Pending</option>
                                    <option value="invoiced">Invoiced</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="country-top">
                                <div class="check-top">
                                    <input type = "checkbox"
                                           class=""
                                           id="showAll"
                                           name="showall"
                                           data-ng-model = "showDetail"
                                           data-ng-change ="initTableFilter()"
                                           />
                                    <label for="showAll" class="detailchk">Show Detail</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="country-top">
                                <div class="row ">
                                    <div class="col-sm-3 btn-top">
                                        <button type="submit" class="btn-sm btn-primary"
                                                data-ng-click="initTableFilter()"
                                                data-ng-disabled="salesModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":salesModel.isSearchLoadingProgress}'
                                                >
                                            Search
                                        </button>
                                    </div>
                                    <div class="col-sm-9 sea close-icon10 filtr-icon">
                                        <a href="javascript:void(0)" data-ng-click="clearFilters()" class="btn-sm btn-primary">Clear</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="select-whole search-filters clearfix">
                    <li class="select-sub">Created On : {{todaynewDate}}</li>
                    <li class="select-sub">Country : {{salesModel.country_name == '' ? '-' : salesModel.country_name}}</li>
                    <li class="select-sub">State : {{salesModel.state_name == '' ? '-' : salesModel.state_name}}</li>
                    <li class="select-sub">City : {{salesModel.city_name == '' ? '-' : salesModel.city_name}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:50px; text-align: right;"  rowspan="1" colspan="1" >
                                #
                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1" >
                                Date
                            </th>
                            <th style="width: 200px;"  rowspan="1" colspan="1" >
                                Country
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                State
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                City
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Status
                            </th> 
                            <th style="width: 200px; text-align: center"   rowspan="1" colspan="1">
                                Quantity
                            </th>
                            <th style="width: 250px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="salesModel.isLoadingProgress">
                            <td colspan="8" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="salesModel.list.length === 0">
                            <td colspan="8" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr ng-repeat-start="sales in salesModel.list">
                            <td style="width:50px; text-align: right;" >
                                {{$index + 1}}
                            </td>
                            <td>
                                {{sales.date}}
                            </td>
                            <td>                                
                                {{sales.billing_country}}
                            </td>
                            <td>
                                {{sales.billing_state}}
                            </td>
                            <td>
                                {{sales.billing_city}}                                
                            </td>
                            <td>
                                {{sales.status}}
                            </td>
                            <td style="text-align: center;">
                                {{sales.total_qty}}
                            </td>
                            <td style="text-align: right;">
                                {{sales.total_amount}}
                            </td>

                        </tr>
                        <tr class="d0" ng-repeat-end ng-show="showDetail" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="8" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Product Name
                                            </th>
                                            <th style="width: 175px;"  rowspan="1" colspan="1" >
                                                Qty
                                            </th>
                                            <th style="width: 320px;padding-right: 15px;"   rowspan="1" colspan="1" class="right">
                                                Unit Price
                                            </th>
                                            <th style="width: 265px;padding-right: 15px;"  rowspan="1" colspan="1"  class="right">
                                                Row Total
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in sales.item" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 10px;" >
                                                {{product.product_name}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{product.qty}}&nbsp;{{product.uom_name}}
                                            </td>
                                            <td colspan="1" class="right" >
                                                {{product.unit_price}}
                                            </td>
                                            <td colspan="1" class="right" >
                                                {{product.rowtotal.toFixed(2)}}
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="salesModel.list.length === 0" >
                        <tr>
                            <td colspan="6" class="text-left right" >
                                {{}}
                            </td>
                            <td colspan="1" class="text-left left" >
                                Total :&nbsp;&nbsp;&nbsp;&nbsp; {{salesModel.total_qty}}
                            </td>
                            <td colspan="1" class="text-left right" >
                                Total :&nbsp;&nbsp;&nbsp;&nbsp; {{salesModel.total_Amount}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

