<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="task_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="operation_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.operation | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="assignWorkOrderCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Assign Work Order</h2>
            <a data-ui-sref="app.manufacturingworkorder" ui-scroll-to="app" class="add_button add-dash" >Back To List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <div>
                    <form name="assign_work_order_search" angular-validator-submit="getWorkorderPendingList()" class="col-sm-12 form-horizontal clearfix " novalidate angular-validator >
                        <div class="row ">

                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Department*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="workModel.department" name="department" class="form-control">
                                            <option value="">-None-</option>
                                            <option value="{{department.id}}" data-ng-repeat="department in workModel.departmentList">{{department.name}}</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 ">
                                        <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' >Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form name="assign_work_order" angular-validator-submit="saveCustomer()" class="col-sm-12 form-horizontal clearfix " novalidate angular-validator >
                      
                        <div class="table-responsive ">

                            <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th style="width:50px;background: #03a9f3;color:#fff" rowspan="1" colspan="1" >
                                            S.No
                                        </th>
                                        <th style="width:300px;background: #03a9f3;color:#fff" rowspan="1" colspan="1" >
                                            Department
                                        </th>
                                        <th style="width:200px;background: #03a9f3;color:#fff" rowspan="1" colspan="1" >
                                            Operation
                                        </th>
                                        <th  style="width:280px;background: #03a9f3;color:#fff" rowspan="1" colspan="1" >
                                            Work Center 
                                        </th>
                                        <th  style="width:100px;background: #03a9f3;color:#fff" rowspan="1" colspan="1" >
                                            Type
                                        </th>
                                        <th style="width:150px;background: #03a9f3;color:#fff" class="right " rowspan="1" colspan="1">
                                            Status
                                        </th>  
                                        <th style="width:150px;background: #03a9f3;color:#fff" rowspan="1" colspan="1">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-show="workModel.isLoadingProgress">
                                        <td colspan="7" class="text-left" style="padding: 0;" >
                                            <p class="loader-icon" >
                                                <img alt="loader" src="../img/loading.gif" />
                                            </p>
                                        </td>
                                    </tr>

                                    <tr data-ng-if="workModel.taskGroupList.length == 0">
                                        <td colspan="7" class="text-center" >
                                            -No Data Found-
                                        </td>
                                    </tr>
                                    <tr data-ng-repeat="work in workModel.taskGroupList">
                                        <td>                                           
                                            {{work.id}}
                                        </td>
                                        <td>

                                            {{work.department_name}}
                                        </td>
                                        <td>

                                            {{work.operation}}
                                        </td>
                                        <td>

                                            {{work.work_center_name}}

                                        </td>
                                        <td>

                                            {{work.type}}

                                        </td>                                                                                                                      
                                        <td class="right ">

                                            {{work.status}}

                                        </td>                                                                                         
                                        <td>
                                            <img data-ng-click="deleteTaskGroup($index)" class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">                               
                                        </td>
                                    </tr>
                                </tbody>
                                <!--                                <tfoot data-ng-hide="workModel.taskGroupList.length == 0">
                                                                    <tr>
                                                                        <td colspan="3" class="text-left" >
                                                                            <label class="show_count_label ">Show</label>
                                                                            <select name = "perpage"
                                                                                    ng-model="workModel.limit"
                                                                                    data-ng-hide="workModel.taskGroupList.length == 0"
                                                                                    ng-options="page for page in pagePerCount"
                                                                                    class="form-control show_count"
                                                                                    ng-change="initTableFilter()"
                                                                                    >
                                                                            </select>
                                                                        </td>
                                                                        <td colspan="5" class="text-right">
                                                                            <ul uib-pagination  data-ng-hide="workModel.taskGroupList.length == 0" total-items="workModel.total" ng-model="workModel.currentPage" ng-change="getinvoiceListInfo()" items-per-page="workModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>-->
                            </table>
                        </div>
                        <div class ="row topmargin">
                            <div class="col-sm-6 topmargin">
                                <div class="col-sm-5 topmarginxs  ">
                                    <label>Customer name*</label>
                                </div>
                                <div class="col-sm-7 bottommarginxs">
                                    <input type="text"
                                           ng-model="workModel.customerInfo"
                                           placeholder="Customer list.."
                                           uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                           typeahead-loading="loadingCustomers"
                                           typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                           class="form-control"
                                           typeahead-editable="false"
                                           typeahead-no-results="noResults"
                                           typeahead-show-hint="true"
                                           typeahead-input-formatter="formatCustomerModel($model)"
                                           typeahead-min-length="0" 
                                           required 
                                           name="customer_dropdown"
                                           >
                                    <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingCustomers" class="glyphicon glyphicon-refresh"></i> 
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class ="row topmargin">
                            <div class="row center ">
                                <div class="form-group full_w btn_group topmargin">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{
                                            "btn-loader":isDataSavingProcess}' >Assign</button>
                                    <button type="button" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                                </div>
                            </div>

                        </div>
                        <div style="clear: both;"></div>
                        <div class="wrapper-md ">
                        </div>
                    </form>
                </div>
            </div>

        </div>
