
<div class="" data-ng-controller="attendanceListLocationCtrl">

      <ng-map id="vm1" center="{{actCenterLat}},{{actCenterLng}}" zoom="16" style="display: block;height: 100vh;">
            <marker ng-repeat="pos in vm1.positions" position="{{pos.lat}}, {{pos.lng}}"
                    ></marker>
      </ng-map>  
</div>      