<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="attendanceListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Attendance </h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="attendance_list_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" readonly is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" required
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" readonly is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" required
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="employee_dropdown_{{$index}}"
                               ng-model="searchFilter.employeeInfo"
                               placeholder="Employee Name"
                               uib-typeahead="employee for employee in getEmployeeList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="employee_dropdown_tpl.html"
                               typeahead-input-formatter="formatEmployeeModel($model)"
                               autocomplete="off"                                           
                               />
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="col-sm-3 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="attendanceModel.isLoadingProgress" data-ng-class='{
                                                    "btn-loader":attendanceModel.isLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button type="reset" class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()">
                                    Clear
                                </button>
                            </div>
                            <!--                                          <div class="col-sm-6 ">
                                                                            <input type = "checkbox"
                                                                                   class=""
                                                                                   id="showAll"
                                                                                   name="showall"
                                                                                   data-ng-model = "showDetail"
                                                                                   data-ng-change ="initTableFilter()"
                                                                                   />
                                                                            <label for="showAll" class="detailchk">Show Details</label>
                                                                      </div>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="selected-date bottommargin print-show">

            <ul class="search-filters clearfix">
                <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                <li class="col-sm-4 ">Employee Name:{{searchFilter.employeeInfo == '' ? '-' : searchFilter.employeeInfo.f_name}}</li>
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table no-link table-striped b-t  dataTable no-footer " style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 150px; text-align: left;"  rowspan="1" colspan="1" >
                            Emp Id
                        </th>
                        <th style="width: 150px; text-align: left;"  rowspan="1" colspan="1" >
                            Employee Name
                        </th>
                        <!--                                    <th style="width: 150px; text-align: left;"  rowspan="1" colspan="1" >
                                                                  Name
                                                            </th>-->
                        <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                            Punch In Time
                        </th>
                        <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                            Punch Out Time
                        </th>
                        <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                            Total Working Hours
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="attendanceModel.isLoadingProgress">
                        <td colspan="5" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-show="attendanceModel.list.length === 0">
                        <td colspan="5" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>
                    <tr ng-repeat-start="attendance in attendanceModel.list" data-ng-click="expand($index)">
                        <td style="width:150px;">
                            {{attendance.emp_id}}
                        </td>
                        <td style="width:150px;">
                            {{attendance.employee_name}}
                        </td>
                        <!--                                    <td style="width:150px;">
                                                                  {{attendance.f_name}}
                                                            </td>-->
                        <td style="width:150px;">
                            {{attendance.start_time}}
                        </td>
                        <td style="width:150px;">
                            {{attendance.end_time}}
                        </td>
                        <td style="width:150px;">
                            {{attendance.duration}}
                        </td>
                    </tr>
                    <tr class="d0" ng-repeat-end ng-show="attendance.showDetails" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                        <td   colspan="5" style="    border-bottom: 1px solid #eaeff0;">
                            <table style="margin-left: 0%;width: 60%;border: 1px solid transparent;">
                                <thead>
                                    <tr>
                                        <th style="width: 175px;padding-left: 5px;background: #fff;"  rowspan="1" colspan="2" >
                                            Punch-In 
                                        </th>
                                        <!--                                        <th class="center">
                                                                                    Punch In
                                                                                </th>-->
                                        <th style="width: 320px;padding-left: 32px;background: #fff;"   rowspan="1" colspan="2" class="">
                                            Punch-Out 
                                        </th>                                        
                                        <!--                                        <th class="center">
                                                                                    Punch Out
                                                                                </th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                        <td colspan="2" style=" padding-left: 5px;">{{attendance.start_location}}
                                            <div style="display: flex;">
                                                <div class="static punchInLoc" data-ng-hide="attendance.start_location == '' || attendance.start_location == 'undefined'" >
                                                    <a data-ui-sref="attendanceLocation({value: '{{attendance.start_location}}'})" target="_blank"><img src="https://maps.googleapis.com/maps/api/staticmap?size=380x240&key=AIzaSyB-n6hREweTj6hYzxj9-nm7T7tapVBzMlc&libraries=placeses,visualization,drawing,geometry,places&zoom=16&markers=color:green|size:small|{{attendance.start_lat}},{{attendance.start_lng}}&center={{attendance.start_lat}},{{attendance.start_lng}}" usemap="#Map" class="log-map"> </a>                                               
                                                </div>  
                                                <div class="punching">
                                                    <!--<div data-ng-if="attendance.start_img_url != '' && attendance.start_img_url != null && attendance.start_img_url != 'undefined'">-->
                                                    <cloud-image-loader urlpath="attendance.start_img_url" preview="false" data-ng-if="attendance.start_img_url != '' && attendance.start_img_url != null && attendance.start_img_url != 'undefined'"></cloud-image-loader>   
                                                    <!--</div>-->
                                                    <!--<img src="../img/white.jpg"/>-->
                                                </div>
                                            </div>
                                        </td>
                                        <!--                                        <td>
                                                                                    <cloud-image-loader urlpath="attendance.start_img_url" preview="false" class="task-img"></cloud-image-loader>
                                                                                    {{attendance.start_img_url}}
                                        
                                                                                </td>-->
                                        <td colspan="2" class="f-right" >{{attendance.end_location}}
                                            <div style="display: flex;">
                                                <div class="static punchOutLoc" data-ng-hide="attendance.end_location == '' || attendance.end_location == 'undefined'">
                                                    <a data-ui-sref="attendanceLocation({value: '{{attendance.end_location}}'})" target="_blank"><img src="https://maps.googleapis.com/maps/api/staticmap?size=380x240&key=AIzaSyB-n6hREweTj6hYzxj9-nm7T7tapVBzMlc&libraries=placeses,visualization,drawing,geometry,places&zoom=16&markers=color:green|size:small|{{attendance.end_lat}},{{attendance.end_lng}}&center={{attendance.end_lat}},{{attendance.end_lng}}" usemap="#Map" class="log-map"></a>
                                                </div> 
                                                <div class="punching">
                                                    <!--<div data-ng-if="attendance.end_img_url != '' && attendance.end_img_url != null && attendance.end_img_url != 'undefined'">-->
                                                    <cloud-image-loader data-ng-if="attendance.end_img_url != '' && attendance.end_img_url != null && attendance.end_img_url != 'undefined'" urlpath="attendance.end_img_url" preview="false"></cloud-image-loader>   
                                                    <!--</div>-->
                                                    <!--<img src="../img/white.jpg"/>-->
                                                </div>
                                            </div>
                                        </td>                                        
                                        <!--                                        <td>
                                                                                    <cloud-image-loader urlpath="attendance.end_img_url" preview="false" class="task-img"></cloud-image-loader>
                                        
                                                                                </td>-->
                                    </tr>                                        
                                </tbody>
                            </table> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>