<script type="text/ng-template" id="employee_dropdown_tpl.html">
      <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="attendanceReportCtrl">
      <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                  <h2>Attendance Report</h2>
                  <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            </div>
      </div>
      <div class="wrapper-md animated fadeInUp clearfix " >
            <div class="panel panel-default ">
                  <form name="attendance_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                        <div class="head_right table-search wrapper-sm  clearfix ">
                              <div class="sea ">
                                    <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                           ng-model="searchFilter.fromdate" readonly is-open="fromDateOpen" placeholder='From date'
                                           show-weeks="false"
                                           close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                              </div>
                              <div class="sea ">
                                    <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                           ng-model="searchFilter.todate" readonly is-open="toDateOpen" placeholder='To date'
                                           show-weeks="false"
                                           close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                              </div>
                              <div class="sea" >
                                    <input type="text"
                                           class="form-control"
                                           name="employee_dropdown_{{$index}}"
                                           ng-model="searchFilter.employeeInfo"
                                           placeholder="Employee Details..."
                                           uib-typeahead="employee for employee in getEmployeelist($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-min-length="0"
                                           typeahead-editable="false"
                                           typeahead-template-url="employee_dropdown_tpl.html"
                                           typeahead-input-formatter="formatEmployeeModel($model)"      
                                           />
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                              </div>
                            <div class="sea">
                                <select ng-model="searchFilter.teamid" name="teamdropdown" class="form-control"
                                            >
                                        <option value ="">-Select Employee Team-</option>
                                        <option value="{{team.id}}" data-ng-repeat="team in attendanceModel.teamList">{{team.name}}</option>
                                    </select>
                            </div>   
                              <div class="col-sm-2 ">
                                    <div class="row ">
                                          <div class="col-sm-6 ">
                                                <button type="submit" class="btn-sm btn-primary"
                                                        data-ng-disabled="attendanceModel.isLoadingProgress" data-ng-class='{"btn-loader":attendanceModel.isLoadingProgress}'
                                                        >
                                                      Search
                                                </button>
                                          </div>
                                          <div class="col-sm-6 ">
                                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()">
                                                      Clear
                                                </button>
                                          </div>
                                          <div class="col-sm-6 ">
                                                <input type = "checkbox"
                                                       class=""
                                                       id="showAll"
                                                       name="showall"
                                                       data-ng-model = "showDetail"
                                                       data-ng-change ="initTableFilter()"
                                                       />
                                                <label for="showAll" class="detailchk">Show Details</label>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </form>
            </div>
            <div class="selected-date bottommargin print-show">
                  <ul class="print-info">
                        <li data-ng-show="showDetail == true" style="font-size: 14px;">Detail Report</li>
                        <li data-ng-show="showDetail == false" style="font-size: 14px;">Summary Report</li>
                  </ul>
                  <ul class="search-filters clearfix">
                        <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                        <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                        <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                        <li class="col-sm-4 ">Account Name:{{attendanceModel.name == '' ? '-' : attendanceModel.name}}</li>
                  </ul>
            </div>
            <div class="table-responsive">
                  <table class="table no-link table-striped b-t  dataTable no-footer " style="width: 100%;">
                        <thead>
                              <tr role="row">
                                  <th style="width: 50px; text-align: left;"  rowspan="1" colspan="1" >
                                          S.No
                                    </th>
                                    <th style="width: 50px; text-align: left;"  rowspan="1" colspan="1" >
                                          Id
                                    </th>
                                    <th style="width: 150px; text-align: left;"  rowspan="1" colspan="1" >
                                          Name
                                    </th>
                                    <th style="width: 150px; text-align: left;"  rowspan="1" colspan="1" >
                                          Team Name
                                    </th>
                                    <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                                          Total Working Hours
                                    </th>

                              </tr>
                        </thead>
                        <tbody>
                              <tr data-ng-show="attendanceModel.isLoadingProgress">
                                    <td colspan="5" class="text-left" style="padding: 0;" >
                                          <p class="loader-icon" >
                                                <img alt="loader" src="../img/loading.gif" />
                                          </p>
                                    </td>
                              </tr>
                              <tr data-ng-show="attendanceModel.list.length === 0">
                                    <td colspan="5" class="text-center" >
                                          -No Data Found-
                                    </td>
                              </tr>
                              <tr ng-repeat-start="attendance in attendanceModel.list">
                                    <td style="width:50px;">
                                          {{$index+1}}
                                    </td>
                                    <td style="width:50px;">
                                          {{attendance.id}}
                                    </td>
                                    <td style="width:150px;">
                                          {{attendance.f_name}}
                                    </td>
                                    <td style="width:150px;">
                                          {{attendance.team_name}}
                                    </td>
                                    <td style="width:200px;">
                                          {{attendance.duration}}
                                    </td>

                              </tr>
                              <tr class="d0" ng-repeat-end ng-show="showDetail" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                                    <td   colspan="4" style="    border-bottom: 1px solid #eaeff0;">
                                          <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                                <thead>
                                                      <tr>
                                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                                  Date
                                                            </th>
                                                            <th style="width: 175px;"  rowspan="1" colspan="1" >
                                                                  Punch-In Time
                                                            </th>
                                                            <th style="width: 320px;padding-right: 15px;"   rowspan="1" colspan="1" class="right">
                                                                  Punch-Out time
                                                            </th>
                                                            <th style="width: 265px;padding-right: 15px;"  rowspan="1" colspan="1"  class="right">
                                                                  Working Hours
                                                            </th>

                                                      </tr>
                                                </thead>
                                                <tbody>
                                                      <tr ng-repeat="entry in attendance.data" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                                            <td colspan="1" style="padding-left: 10px;" >
                                                                  {{entry.punchDate|date:dateFormat}}
                                                            </td >
                                                            <td colspan="1" style=" padding-left: 0px;">
                                                                  {{entry.punchTime}}
                                                            </td>
                                                            <td colspan="1" class="right" >
                                                                  {{entry.punchOut}}
                                                            </td>
                                                            <td colspan="1" class="right" >
                                                                  {{entry.duration}}
                                                            </td>
                                                      </tr>                                        
                                                </tbody>
                                          </table> 
                                    </td>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </div>
</div>