
<div class="app-content-body fade-in-up"  data-ng-controller="attributeAddCtrl">


    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Attribute Add</h2>
            <a ui-sref="app.attribute" class="add_button" ui-scroll-to="app">Back to Attribute List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_attribute_form" angular-validator-submit="addAttributeDetails()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Attribute Code*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "attributeCode"
                                            ng-model = "attributeAddModel.attributeCode"
                                            placeholder="Attribute Code"
                                            maxlength="35"
                                            validator ="validateCodeInput(attributeAddModel.attributeCode)===true"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Attribute Type*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select type = "text"
                                            name ="attCode"
                                            ng-model="attributeAddModel.attributeTypeId"
                                            class="form-control"
                                            required>
                                        <option value="">-Select ID-</option>
                                        <option value="{{attType.id}}" data-ng-repeat="attType in attributeAddModel.attributeTypeList">{{attType.display_name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Attribute Label*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "attributeLabel"
                                            ng-model = "attributeAddModel.attributeLabel"
                                            placeholder="Attribute Label"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Sequence Number</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "sequenceNo"
                                            ng-model = "attributeAddModel.sequenceNo"
                                            placeholder="Sequence Number"
                                            />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Input Type</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select ng-model="attributeAddModel.inputType"  class="form-control"   >
                                        <option value ="">-Select Type-</option>
                                        <option value="inputbox">Input Box</option>
                                        <option value="textarea">Text Area</option>
                                        <option value="checkbox">Check Box</option>
                                        <option value="dropdown">Drop Down</option>
                                        <option value="multiselect">Multi Select</option>
                                        <option value="YesOrNo">Yes/No</option>
<!--                                        <option value="date">Date</option>-->
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Default Value</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "defaultValue"
                                            ng-model = "attributeAddModel.defaultValue"
                                            placeholder="Default Value"
                                            />
                                </div>
                                <div >
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Option Value</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea rows="7" cols="70"  maxlength="150"
                                                  class="form-control"
                                                  name = "optionValue"
                                                  ng-model = "attributeAddModel.optionValue"
                                                  placeholder="Option Value"
                                                  ></textarea>
                                    </div>
                                </div>
                                <div >
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Validation Type</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="attributeAddModel.validationType"  class="form-control"   >
                                            <option value ="">-Select Type-</option>
                                            <option value="number">Number Validation</option>
                                            <option value="email">Email Validation</option>
                                            <option value="phoneno">Phone No Validation</option>
                                            <option value="alphanumeric">Alpha Numeric Validation</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 topmargininv ">
                            &nbsp;
                        </div>
                        <div class="col-sm-5  ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    &nbsp;
                                </div>
                                <div class="col-sm-7 ">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="isRequired"
                                           id="isRequired"
                                           data-ng-model="attributeAddModel.isRequired"
                                           />
                                    <label for="isRequired">Is Required</label>
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="hasEditable"
                                           id="hasEditable"
                                           data-ng-model="attributeAddModel.hasEditable"
                                           />
                                    <label for="hasEditable">Has Editable</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5  ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    &nbsp;
                                </div>
                                <div class="col-sm-7 ">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="showinlist"
                                           id="showinlist"
                                           data-ng-model="attributeAddModel.showinlist"
                                           />
                                    <label for="showinlist">Show In List</label>
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="showininvoice"
                                           id="showininvoice"
                                           data-ng-model="attributeAddModel.showininvoice"
                                           />
                                    <label for="showininvoice">Show In Invoice Print</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 center ">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                        </div>

                    </div>
                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md ">
            </div>
        </div>
    </div>
</div>
