
<div class="app-content-body fade-in-up"  data-ng-controller="attributeEditCtrl">



    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Attribute Edit</h2>
            <a ui-sref="app.attribute" class="add_button" ui-scroll-to="app">Back to Attribute List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="attributeEditModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="update_attribute_form" angular-validator-submit="updateAttributeDetails()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Attribute Code*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "attributeCode"
                                            ng-model = "attributeEditModel.list.attribute_code"
                                            placeholder="Attribute Code"
                                            maxlength="35"
                                            ng-disabled="attributeEditModel.list.is_permission != 1"
                                            validator ="validateCodeInput(attributeEditModel.list.attribute_code)===true"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Attribute Type*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select type = "text"
                                            name ="attCode"
                                            ng-model="attributeEditModel.list.attributetype_id"
                                            class="form-control"
                                            ng-disabled="attributeEditModel.list.is_permission != 1"
                                            required>
                                        <option value="">-Select ID-</option>
                                        <option value="{{attType.id}}" data-ng-repeat="attType in attributeEditModel.attributeTypeList">{{attType.display_name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Attribute Label*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "attributeLabel"
                                            ng-model = "attributeEditModel.list.attribute_label"
                                            placeholder="Attribute Label"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Sequence Number</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "sequenceNo"
                                            ng-model = "attributeEditModel.list.sno"
                                            placeholder="Sequence Number"
                                            />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Input Type</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select ng-model="attributeEditModel.list.input_type"  class="form-control"   >
                                        <option value ="">-Select Type-</option>
                                        <option value="inputbox">Input Box</option>
                                        <option value="textarea">Text Area</option>
                                        <option value="checkbox">Check Box</option>
                                        <option value="dropdown">Drop Down</option>
                                        <option value="multiselect">Multi Select</option>
                                        <option value="YesOrNo">Yes/No</option>
<!--                                        <option value="date">Date</option>-->
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Default Value</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "defaultValue"
                                            ng-model = "attributeEditModel.list.default_value"
                                            placeholder="Default Value"
                                            />
                                </div>
                                <div >
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Option Value</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "optionValue"
                                                ng-model = "attributeEditModel.list.option_value"
                                                placeholder="Option Value"
                                                />
                                    </div>
                                </div>
                                <div >
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Validation Type</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="attributeEditModel.list.validation_type"  class="form-control"   >
                                            <option value ="">-Select Type-</option>
                                            <option value="number">Number Validation</option>
                                            <option value="email">Email Validation</option>
                                            <option value="phoneno">Phone No Validation</option>
                                            <option value="alphanumeric">Alpha Numeric Validation</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 topmargininv ">
                            &nbsp;
                        </div>
                        <div class="col-sm-5  ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    &nbsp;
                                </div>
                                <div class="col-sm-7 ">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           name ="isrequired"
                                           class=" "
                                           id="isRequired"
                                           value="attributeEditModel.list.is_required"
                                           data-ng-model="attributeEditModel.list.is_required"
                                           />
                                    <label for="isRequired">Is Required</label>
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           name ="haseditable"
                                           class=" "
                                           id="hasEditable"
                                           value ="attributeEditModel.list.has_editable"
                                           data-ng-model="attributeEditModel.list.has_editable"
                                           />
                                    <label for="hasEditable">Has Editable </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5  ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    &nbsp;
                                </div>
                                <div class="col-sm-7 ">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="showinlist"
                                           id="showinlist"
                                           data-ng-model="attributeEditModel.list.is_show_in_list"
                                           />
                                    <label for="showinlist">Show In List</label>
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="showininvoice"
                                           id="showininvoice"
                                           data-ng-model="attributeEditModel.list.is_show_in_invoice"
                                           />
                                    <label for="showininvoice">Show In Invoice Print</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 center ">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                        </div>

                    </div>




                </form>
            </div>

        </div>
    </div>

</div>
