<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="balanceAdvanceReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Balance Advance Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
<!--            <a href="{{APP_CONST.API.ACCOUNTSTATEMENT_DOWN}}?from_Date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_Date={{searchFilter.todate|date:'yyyy-MM-dd'}}&account_id={{searchFilter.account}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="partysales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                                        <input type="text"
                                            class="form-control"
                                            name="employee_dropdown_{{$index}}"
                                            ng-model="searchFilter.employeeInfo"
                                            placeholder="Employee Details..."
                                            uib-typeahead="employee for employee in getEmployeelist($viewValue)"
                                            typeahead-loading="loadingLocations"
                                            typeahead-no-results="noResults"
                                            typeahead-min-length="0"
                                            typeahead-editable="false"
                                            typeahead-template-url="employee_dropdown_tpl.html"
                                            typeahead-input-formatter="formatEmployeeModel($model)"
                                            autocomplete="off"
                                            required
                                            />
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="balanceAdvanceReport.isSearchLoadingProgress" data-ng-class='{"btn-loader":balanceAdvanceReport.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <!--<li class="col-sm-4 ">Account Name:{{balanceAdvanceReport.accountName == '' ? '-' : balanceAdvanceReport.accountName}}</li>-->
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table no-link table-striped b-t  dataTable no-footer " style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 150px; text-align: center;"  rowspan="1" colspan="1" >
                                Employee Code
                            </th>
                            <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                                Employee Name
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Date
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Advance
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Deduction
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Balance
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="balanceAdvanceReport.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-show="balanceAdvanceReport.openingBalance == null">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-show="balanceAdvanceReport.openingBalance != null">
                            <td  colspan="1">
                            </td>
                            <td colspan="1">
                                <b>Opening Balance</b>
                            </td>
                            <td >
                                
                            </td>
                            <td style="text-align: right;">
                                {{balanceAdvanceReport.openingAdvance}}
                            </td>
                            <td style="text-align: right;">
                                {{balanceAdvanceReport.openingDeduction}}
                            </td>
                            <td style="text-align: right;">
                                {{balanceAdvanceReport.openingAmount}}
                            </td>
                        </tr>
                        <tr data-ng-repeat="report in balanceAdvanceReport.list">
                            <td style="width:150px;">
                                {{report.emp_code}}
                            </td>
                            <td style="width:200px;">
                                {{report.emp_name}}
                            </td>
                            <td style="width:100px; text-align: right;" >
                                {{report.date}}
                            </td>
                            <td style="width:100px; text-align: right;" class="credit-col" >
                                {{report.advance_amount}}
                            </td>
                            <td style="width:100px; text-align: right;" class="credit-col" >
                                {{report.deduction_amount}}
                            </td>
                            <td style=" width:100px;text-align: right;" class="debit-col">
                                {{report.balance}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr data-ng-show="balanceAdvanceReport.openingBalance != null">
                            <td colspan="2"></td>
                            <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{balanceAdvanceReport.totaladvance}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{balanceAdvanceReport.totaldeduction}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{balanceAdvanceReport.totalbalance}}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


