<div class="clearfix input-border">
<div class="col-sm-12">  
    <div class="row bottommarginsm" data-ng-show="productionTaskModel.inputProducts.length > 0">
        <div class="col-sm-1 tier">
            S.No
        </div>
        <div class="col-sm-7 tier">
            Product Name
        </div>
        <div class="col-sm-3 tier">
            Qty
        </div>
<!--        <div class="col-sm-3 tier">
            Consumed in Operation
        </div>-->
        <div class="col-sm-1 tier">
            <a class="glyphicon glyphicon-plus add-icon add-new" style="float: right;" data-ng-click="addNewRow('byProduct')">
            </a>
        </div>
    </div>
    <div class="tax-map-wrap clearfix "  data-ng-repeat="byProductiontask in productionTaskModel.byProducts">
        <div class="row">
            <div class="col-sm-1">
                <div class="form-group texts">
                    {{$index + 1}}
                </div>
            </div>
            <div class="col-sm-7">
                <div class=" texts">
                    <input type="text"
                           id="byproduct_{{$index}}"
                           next-focus-id="byproduct_qty_{{$index}}" 
                           ng-model="byProductiontask"
                           placeholder="Product list.."
                           uib-typeahead="item for item in getProductList($viewValue)"
                           typeahead-loading="loadingPLISTLocations"
                           typeahead-template-url="product_dropdown__tpl.html"
                           class="form-control"
                           typeahead-editable="false"
                           typeahead-no-results="noPLISTResults"
                           typeahead-show-hint="true"
                           typeahead-input-formatter="formatProductModel($model,$index,'byProduct')"
                           typeahead-min-length="0" required
                           name="byproducts_{{$index}}"  angular-validator-field
                           product-index="{{$index}}"
                           data-ng-keyup="keyupHandler($event,'byProduct')"
                           >
                    <span class="glyphicon glyphicon-search box-search "></span>
                    <i ng-show="loadingPLISTLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noPLISTResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
                <!--                                                    <div ng-show="noResults1">
                                                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                    </div>-->
            </div>
            <div class="col-sm-3">
                <div class="form-group texts">
                    <input
                        name="byproduct_qty_{{$index}}"
                        id="byproduct_qty_{{$index}}"
                        type="text"
                        class="form-control right "
                        data-ng-model="productionTaskModel.byProducts[$index].input_qty"
                        validator = "validationFactory.isNumber(productionTaskModel.byProducts[$index].input_qty)"
                        placeholder="Qty"
                        product-index="{{$index}}"
                        next-focus-id="byproduct_{{$index+1}}" 
                        ng-change="focusNextField('byproduct_{{$index+1}}')"
                        data-ng-keyup="keyupHandler($event,'byProduct')"
                        angular-validator-field required
                        />
                </div>
            </div>
<!--            <div class="col-sm-3">
                <div class=" texts">
                    <input type="text"                                                              
                           ng-model="productionTaskModel.inputProducts[$index].taskgroupdetail"
                           placeholder="Operation.."
                           uib-typeahead="operationname  as operationname.operation for operationname in productionTaskModel.operationList | filter:{operation:$viewValue}"
                           typeahead-loading="loadingoperationLocations"
                           typeahead-template-url="operation_dropdown__tpl.html"
                           class="form-control"
                           typeahead-editable="false"
                           typeahead-no-results="noResultsFound"
                           typeahead-show-hint="true"
                           typeahead-input-formatter="formatTaskGroupModel($model,$index)"
                           typeahead-min-length="0" 
                           name="output_products_{{$index}}" 
                           >
                    <span class="glyphicon glyphicon-search box-search "></span>
                    <i ng-show="loadingoperationLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResultsFound">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>

            </div>-->
            <div class="col-sm-1">
                <a href="javascript:void(0)" data-ng-click="deleteInputProduct($index,'byProduct')" ui-toggle-class="" style="padding: 0;">
                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                </a>
            </div>
        </div>
    </div>
    <div class="row" data-ng-show="productionTaskModel.inputProducts.length == 0">
        <p>-No Data Found-</p>
    </div>
</div>

</div>