
<div class="app-content-body fade-in-up req-stock " data-ng-controller="bonusReportListCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2>Bonus Report</h2>
            <custom-add redirect="app.bonusReportAdd" screencode="empBonus"></custom-add>
            <!--<a data-ui-sref="app.bonusReportAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
<!--            <a href="{{APP_CONST.API}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&team_id={{searchFilter.teamInfo.id}}&is_active=1&mode=1&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="bonus_form" angular-validator-submit="getList()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea" style='width:197px;'>
                    <input type="text"
                           placeholder="Employee Code"
                           data-ng-model="searchFilter.empCode"
                           class="form-control " data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='Date'
                               show-weeks="false" 
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <!--<div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" required
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                       
                         <select class="form-control "
                                ng-model="searchFilter.teamInfo"
                                required
                                name="teamdropdown"
                                >
                            <option value="">Select Team</option>
                            <option value= "{{team.id}}" data-ng-repeat="team in bonusReportListModel.TeamList">{{team.name}}</option>
                        </select>
                    </div>-->
                   
                    <div class="col-sm-2 " style="margin-top: 4px;">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn"
                                        data-ng-disabled="bonusReportListModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":bonusReportListModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Team Name:{{searchFilter.teamInfo == '' ? '-' : searchFilter.teamInfo.emp_name}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 60px; "  rowspan="1" colspan="1" >
                            ID
                        </th>
                        <th style="width: 100px; text-align: center;"  rowspan="1" colspan="1" >
                            From Date
                        </th>
                        <th style="width: 150px; text-align: center;"  rowspan="1" colspan="1" >
                            To Date
                        </th>
                        <th style="width: 150px;"  rowspan="1" colspan="1" >
                            Employee Code
                        </th>
                        <th style="width: 150px;"  rowspan="1" colspan="1" >
                            Employee Name
                        </th>                                                 
                        <th style="width: 100px; text-align: right;"  rowspan="1" colspan="1" >
                            Total Amount
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="bonusReportListModel.isLoadingProgress">
                        <td colspan="6" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-if="bonusReportListModel.list.length === 0">
                        <td colspan="6" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>
                    <tr data-ng-repeat="bonus in bonusReportListModel.list">
                        <td style="width: 60px; ">
                                {{bonus.id}}
                        </td>
                        <td style="width: 100px; text-align: center;">
                                {{bonus.from_date}}
                        </td>
                        <td style="width: 150px; text-align: center;">
                                {{bonus.to_date}}
                        </td>
                        <td style="width: 150px;">
                                {{bonus.emp_code}}
                        </td>
                        <td style="width: 150px;">
                                {{bonus.emp_name}}
                        </td>
                        <td style="width: 100px; text-align: right;">
                               {{bonus.salary_amount}}
                        </td>
                        
                    </tr>
                </tbody>
                <tfoot  data-ng-hide="bonusReportListModel.list.length == 0" >
                    <tr>
                        <td colspan="3" class="text-left" >
                            <label>Show</label>
                            <select firstName = "perpage"
                                    ng-model="bonusReportListModel.limit"
                                    ng-options="page for page in pagePerCount"
                                    class="form-control show_count"
                                    ng-change="initTableFilter()"
                                    >
                            </select>
                        </td>
                        <td colspan="3" class="text-right">
                <ul uib-pagination total-items="bonusReportListModel.total" ng-model="bonusReportListModel.currentPage" ng-change="getList()" items-per-page="bonusReportListModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                </td>
                </tr>
                </tfoot>                  
            </table>
            </div>
        </div>
    </div>

