
<div class="app-content-body fade-in-up req-stock " data-ng-controller="bonusReportAddCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2>Add Bonus</h2>
            <a ui-sref="app.bonusReportList" class="add_button" ui-scroll-to="app">Back to List</a>
            <!--            <a href="{{APP_CONST.API}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&team_id={{searchFilter.teamInfo.id}}&is_active=1&mode=1&start=0&limit=0"
                           ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="search_bonus_form" angular-validator-submit="getList()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" readonly is-open="fromDateOpen" placeholder='From date'
                               required
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                               ng-model="searchFilter.todate" readonly is-open="toDateOpen" placeholder='To date'
                               required
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >

                        <select class="form-control "
                                ng-model="searchFilter.teamInfo"
                                required
                                name="teamdropdown"
                                >
                            <option value=""><---- Select Team ----></option>
                            <option value= "{{team.id}}" data-ng-repeat="team in bonusReportAddModel.TeamList">{{team.name}}</option>
                        </select>
                    </div>

                    <div class="col-sm-4 " style="margin-top: 4px;">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn btn-sm btn-primary add_button" 
                                        data-ng-disabled="bonusReportAddModel.isSearchLoadingProgress || isDataSavingProcess"
                                        data-ng-class='{
                                                "btn-loader":bonusReportAddModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <div class=" right">
                                    <label class="amt-box1">{{currencyFormat}}.{{bonusReportAddModel.bonustotal.toFixed(2)}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form name="bonus_form" angular-validator-submit="showaccountPopup()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="col-sm-12 " style="text-align: right; margin-bottom: 5px; margin-top: 5px;">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess || bonusReportAddModel.isSearchLoadingProgress" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' >Submit</button>
                </div>                
                <div class="table-responsive ">
                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 50px;"  rowspan="1" colspan="1" >
                                    <input type="checkbox"
                                           class=" "
                                           name="all_check"
                                           id="chk_all"
                                           data-ng-model="selectAll"
                                           data-ng-change="checkAllData()"
                                           />
                                    <label for="chk_all">&nbsp;</label>
                                </th>                                
                                <th style="width: 50px; "  rowspan="1" colspan="1" >
                                    Emp ID
                                </th>
                                <th style="width: 120px; ;"  rowspan="1" colspan="1" >
                                    Emp Code
                                </th>
                                <th style="width: 120px; "  rowspan="1" colspan="1" >
                                    Employee Name
                                </th>                                                 
                                <th style="width: 125px; "  rowspan="1" colspan="1" >
                                    Bonus Percentage
                                </th>
                                <th style="width: 100px; "  rowspan="1" colspan="1" >
                                    Present Count
                                </th>
                                <th style="width: 100px; "  rowspan="1" colspan="1" >
                                    Absent Count
                                </th>
                                <th style="width: 100px; text-align: right;"  rowspan="1" colspan="1" >
                                    Bonus Amount
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="bonusReportAddModel.isLoadingProgress">
                                <td colspan="9" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="bonusReportAddModel.list.length === 0">
                                <td colspan="9" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="bonus in bonusReportAddModel.list">
                                <td>
                                    <input  type = "checkbox"
                                            class=" "
                                            id="isselected_{{$index}}"
                                            name="isselected_{{$index}}"
                                            data-ng-change="calculateTotal()"
                                            ng-model = "bonusReportAddModel.list[$index].isSelected"
                                            />
                                    <label for="isselected_{{$index}}">&nbsp;</label>
                                </td>                                
                                <td style="width: 50px; ">
                                    {{bonus.emp_id}}
                                </td>
                                <td style="width: 120px; ">
                                    {{bonus.emp_code}}
                                </td>
                                <td style="width: 120px; ">
                                    {{bonus.emp_name}}
                                </td>
                                <td style="width: 125px; ">
                                    {{bonus.bonus_percentage}}
                                </td>
                                <td style="width: 100px; ">
                                    {{bonus.present_count}}
                                </td>
                                <td style="width: 100px; ">
                                    {{bonus.absent_count}}
                                </td>
                                <td style="width: 100px; text-align: right;">
                                    {{bonus.bonus_amount}}
                                </td>                                

                            </tr>
                        </tbody>

                    </table>

                </div>
            </form>
        </div>
    </div>
    <div class="model_overlay" ng-show="showsalaryPopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-show="showsalaryPopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to post bonus?</h2>
        <br>
        <center><button type="OK" ng-click="saveBonus()" data-ng-class='{
                "btn-loader":bonusReportAddModel.isLoadingProgress}'class="btn btn-sm btn-primary btn_grn">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
    <div class="model_overlay" ng-show="showAccount" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-show="showAccount" style="width: 500px;">
        <form name="save_account_form" angular-validator-submit="showPopup()" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closeaccountPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2>Account Details</h2>
            <div class="row m-l-row">
                <div class="pop-shadow">
                    <div class="col-sm-12 center bottommargin col-pad">
                        <select name="account_dropdown" type="text" ng-change="checkbalance()" ng-model="bonusReportAddModel.account" class="form-control" required>
                            <option value="">Choose an Account</option>
                            <option value="{{accountlist.id}}" data-ng-repeat="accountlist in bonusReportAddModel.accountList">{{accountlist.account}}</option>
                        </select>
                    </div>
                    <br>
                    <center><button type="submit" data-ng-class='{
                            "btn-loader":bonusReportAddModel.isLoadingProgress}'class="btn btn-sm btn-primary btn_grn">OK</button>
                        <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closeaccountPopup()" >Cancel</button></center>
                </div>
            </div>
        </form>
    </div>
</div>

