<div class="app-content-body fade-in-up"  data-ng-controller="changePasswordCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>  Change Password</h2>
            <a data-ui-sref="app.userlist" class="add_button add-dash" ui-scroll-to="app">Back to User List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="uomAddModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">
                
                <form name="change_password_form" angular-validator-submit="changePassword()" class="form-horizontal category-form clearfix " novalidate angular-validator >

                    <div class="form-group clearfix ">
                        <label>Current Password*</label>
                        <input type="password"
                               class="form-control"
                               name = "currentpassword"
                               ng-model = "changePwdModel.password"
                               placeholder="Current password"
                               required

                               />
                    </div>
                    <div class="form-group clearfix ">
                        <label>New Password*</label>
                        <input type="password"
                               class="form-control"
                               name = "newpassword"
                               ng-model = "changePwdModel.newpassword"
                               placeholder="New password"
                               validator = "validationFactory.passwordValidator(changePwdModel.newpassword) === true"
                               required
                               />
                    </div>
                    <div class="form-group clearfix  ">
                        <label>Confirm Password*</label>
                        <input type="password"
                               class="form-control"
                               name = "confirmpassword"
                               ng-model = "changePwdModel.confirmpassword"
                               placeholder="Confirm password"
                               required
                               validator = "changePwdModel.newpassword === changePwdModel.confirmpassword"
                               />
                    </div>


                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <!--<button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Reset</button>-->
                    </div>


                </form>
                
            </div>
        </div>
    </div>
</div>
