<div class="app-content-body fade-in-up"  data-ng-controller="clientEditCtrl">
    <div class="bg-light clearfix">
        <div class="panel-heading clearfix "> 
            <h2>Client Edit</h2>
            <a ui-sref="app.clientlist" class="add_button" ui-scroll-to="app">Back to Client  List</a>
        </div>
        <div class="model_overlay" ng-show="clientAddModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form form-wrapper">
                <form name="client_edit_form" angular-validator-submit="modifyClient()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="form-group">
                        <label>Account No</label>
                        <input  type = "text"
                                class="form-control"
                                name = "accno"
                                ng-model = "clientAddModel.id"
                                placeholder="Account No"
                                data-ng-disabled="true"
                                />
                    </div>
                    <div class="form-group">
                        <label>Name*</label>
                        <input  type = "text"
                                class="form-control"
                                name = "clientname"
                                ng-model = "clientAddModel.name"
                                placeholder="Enter the Name"
                                maxlength="35"
                                required/>
                    </div>
                    <div class="form-group">
                        <label>Mobile*</label>
                        <input  type = "text"
                                class="form-control"
                                name = "mobile"
                                ng-model = "clientAddModel.phoneNumber"
                                placeholder="Enter the Mobile no"
                                maxlength="20"
                                required
                                validator = "validationFactory.phoneNumberValidator(clientAddModel.phoneNumber) == true" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input  type = "text"
                                class="form-control"
                                name = "email"
                                ng-model = "clientAddModel.email"
                                placeholder="Enter the Email"
                                validator = "validationFactory.hasRequired(clientAddModel.email) == false || validationFactory.emailValidator(clientAddModel.email) === true"/>
                    </div>
                    <div class="form-group">
                        <label>Category*</label>
                        <select class="form-control "
                                ng-model="clientAddModel.category"
                                ng-click ="getCategoryList()"
                                name="categorydropdown"
                                required>
                            <option value= "{{category.id + ''}}" ng-repeat="category in clientAddModel.categoryList">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input  type = "text"
                                class="form-control"
                                name = "Address"
                                ng-model = "clientAddModel.address"
                                placeholder="Address"
                                />
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input  type = "text"
                                class="form-control"
                                name = "City"
                                ng-model = "clientAddModel.city"
                                placeholder="City"
                                maxlength="20"
                                validator = "validationFactory.isAlbhaNumeric(clientAddModel.city) === true"
                                />
                    </div>
                    <div class="form-group">
                        <label>Postcode</label>
                        <input  type = "text"
                                class="form-control"
                                name = "postcode"
                                ng-model = "clientAddModel.postcode"
                                placeholder="postcode"
                                maxlength="20"
                                validator = "validationFactory.isAlbhaNumeric(clientAddModel.postcode) === true"
                                />
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input  type = "text"
                                class="form-control"
                                name = "state"
                                ng-model = "clientAddModel.state"
                                placeholder=state
                                maxlength="20"
                                validator = "validationFactory.isAlbhaNumeric(clientAddModel.state) === true"
                                />
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <input  type = "text"
                                class="form-control"
                                name = "Country"
                                ng-model = "clientAddModel.country"
                                placeholder="Country"
                                maxlength="20"
                                validator = "validationFactory.isAlbhaNumeric(clientAddModel.country) === true"
                                />
                    </div>
                    <div class="form-group">
                        <label>Balance amount</label>
                        <input  type = "text"
                                class="form-control"
                                name = "Balace Amount"
                                ng-model = "clientAddModel.balanceAmount"
                                placeholder="Balance Amount"
                                maxlength="20"
                                disabled
                                validator = "validationFactory.isNumber(clientAddModel.balanceAmount) === true"
                                />
                    </div>
                    <div class="form-group">
                        <label>Family Code</label>
                        <input  type = "text"
                                class="form-control"
                                name = "familycode"
                                ng-model = "clientAddModel.familycode"
                                placeholder="Family Code"
                                validator = "validationFactory.hasRequired(clientAddModel.familycode) == false || validationFactory.integerValidator(clientAddModel.familycode) === true"
                                />
                    </div>
                    <div class="form-group">
                        <label>Customer Of</label>
                        <select type = "text" ng-model="clientAddModel.belongto" class="form-control" >
                            <option value="">-Select-</option>
                            <option value="{{user.userid + ''}}" data-ng-repeat="user in clientAddModel.userList">{{user.username}}</option>
                        </select>
                    </div>
                     <div class="form-group">
                        <label>Commission in (%)</label>
                        <input  type = "text"
                                class="form-control"
                                name = "commission"
                                ng-model = "clientAddModel.commission"
                                placeholder="Commission"
                                validator = "validationFactory.hasRequired(clientAddModel.commission) == false || validationFactory.isNumber(clientAddModel.commission) === true"
                                />
                    </div>
                    <div class="form-group">
                        <label>Contact Person Name</label>
                        <input  type = "text"
                                class="form-control"
                                name = "cntactname"
                                ng-model = "clientAddModel.contactPersonName"
                                placeholder="Enter the Name"
                                maxlength="35"
                                validator = "validationFactory.isAlbhaNumeric(clientAddModel.contactPersonName) === true"
                                />
                    </div>
                    <div class="form-group">
                        <label>Contact Person Phone no</label>
                        <input  type = "text"
                                class="form-control"
                                name = "mobile"
                                ng-model = "clientAddModel.contactPersonPhno"
                                placeholder="Enter the Mobile no"
                                maxlength="20"
                                validator = "validationFactory.hasRequired(clientAddModel.contactPersonPhno) == false || validationFactory.phoneNumberValidator(clientAddModel.contactPersonPhno) === true" />
                    </div>
                    <div class="form-group">
                        <label>
                            Contact Person Role</label>
                        <input  type = "text"
                                class="form-control"
                                name = "userrole"
                                ng-model = "clientAddModel.contactPersonRole"
                                placeholder="Enter the Name"
                                maxlength="35"
                                validator = "validationFactory.isAlbhaNumeric(clientAddModel.contactPersonRole) === true"
                                />

                    </div>
                    <ul>
                        <li>
                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                <button type="button" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                            </div>
                        </li>
                    </ul>   
                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md ">
            </div>
        </div>
    </div>
</div>
