<div class="app-content-body fade-in-up"  data-ng-controller="clientDetailCtrl">
    <div class="bg-light clearfix">
        <div class="panel-heading clearfix"> 
            <h2>
                <span class="glyphicon glyphicon-user"></span>
                {{clientAddModel.name}}
            </h2>
            <a data-ui-sref="app.clientlist" class="add_button" data-ui-scroll-to="app">Back to Client List</a>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form form-wrapper order-edit">
                <ul class=" client-info clearfix ">
                    <li class="clearfix " >
                        <p style="float: left;">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            {{clientAddModel.address}}, {{clientAddModel.city}} - {{clientAddModel.postcode}}, {{clientAddModel.state}}, {{clientAddModel.country}}
                        </p>
                        <a data-ng-if="clientAddModel.id != ''" data-ui-sref="app.clientEdit({id:'{{clientAddModel.id}}'})" data-ui-scroll-to="app" class="add_button add-dash" style="float: right;">
                            Edit
                        </a>
<!--                        <a href="javascript:void(0)" data-ng-click="showDebitPopup()"  class="add_button add-dash">Debit</a>-->
                        <a href="javascript:void(0)" data-ng-click="showCreditPopup()"  class="add_button add-dash">Debit</a>
                    </li>
                    <li class="clearfix " style="width: 100%; clear: both;"></li>
                    <li class="clearfix  " >
                        <p >
                            <span class="glyphicon glyphicon-earphone"></span>
                            {{clientAddModel.phoneNumber}}
                        </p>
                    </li>
                    <li class="clearfix " style="width: 100%; clear: both;"></li>
                    <li class="clearfix ">
                        <p >
                            <span class="glyphicon glyphicon-envelope"></span>
                            {{clientAddModel.email}}
                        </p>
                    </li>
                    <li class="clearfix " style="width: 100%; clear: both;"></li>
                    <li class="clearfix ">
                        <p>
                            <span class="glyphicon glyphicon-list-alt"></span>
                            Rs. {{clientAddModel.balanceAmount.toFixed(2)}}
                        </p>
                    </li>
                    <li class="clearfix ">
                        <span class="tit "></span>
                        <span class="tit-desc " ng-if="clientAddModel.id!=''"></span>
                    </li>
                </ul>
                <div class="table-responsive ">
                    <div style="float: left; width: 49%; padding-right: 1%;">
                        <h3 style="float: left;">Settled Payment List</h3>
                        <p style="float: right; font-weight: bold;">Total Amount: {{settledPaymentModel.totSettledPayment}}</p>
                        <br/>
                        <br/>
                        <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" >
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;" >
                                        ID
                                    </th>
                                    <th style="width:100px;"  >
                                        Date
                                    </th>
                                    <th style="width: 150px;"  >
                                        Comments
                                    </th>
                                    <th style="width: 60px;"  >
                                        Amount
                                    </th>
                                    <th style="width: 50px;"  >
                                        Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="settledPaymentModel.isLoadingProgress">
                                    <td colspan="7" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="settledPaymentModel.list.total == 0">
                                    <td colspan="7" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="payment in settledPaymentModel.list">
                                    <td>
                                        <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                            {{payment.id}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                            {{payment.date| date:'dd/MM/yyyy  '}}
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                            {{payment.comments}}
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                            {{payment.amount}}
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" class="add_button add-dash" ><center>Edit</center>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot  data-ng-hide="settledPaymentModel.list.total == 0" >
                                <tr>
                                    <td colspan="2" class="text-left" >
                                        <label>Show</label>
                                        <select firstName = "perpage"
                                                ng-model="settledPaymentModel.limit"
                                                ng-options="page for page in pagePerCount"
                                                class="form-control show_count"
                                                ng-change="getSettledPaymentList()"
                                                >
                                        </select>
                                    </td>
                                    <td colspan="5" class="text-right">
                            <ul uib-pagination total-items="settledPaymentModel.total" ng-model="settledPaymentModel.currentPage" ng-change="getSettledPaymentList()" items-per-page="settledPaymentModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="float: left; width: 49%; padding-left: 1%;">
                        <h3 style="float: left; ">Unsettled Payment List</h3>
                        <p style="float: right; font-weight: bold;">Total Amount: {{unsettledPaymentModel.totUnsettledPayment}}</p>
                        <br/>
                        <br/>
                        <div class="table-responsive ">
                            <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" >
                                <thead>
                                    <tr role="row">
                                        <th style="width: 60px;" >
                                            ID
                                        </th>
                                        <th style="width:100px;"  >
                                            Date
                                        </th>
                                        <th style="width: 150px;"  >
                                            Comments
                                        </th>
                                        <th style="width: 60px;"  >
                                            Amount
                                        </th>
                                        <th style="width: 50px;"  >
                                            Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-show="unsettledPaymentModel.isLoadingProgress">
                                        <td colspan="7" class="text-left" style="padding: 0;" >
                                            <p class="loader-icon" >
                                                <img alt="loader" src="../img/loading.gif" />
                                            </p>
                                        </td>
                                    </tr>
                                    <tr data-ng-if="unsettledPaymentModel.list.total == 0">
                                        <td colspan="7" class="text-center" >
                                            -No Data Found-
                                        </td>
                                    </tr>
                                    <tr data-ng-repeat="payment in unsettledPaymentModel.list">
                                        <td>
                                            <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                                {{payment.id}}
                                            </a>
                                        </td>
                                        <td>
                                            <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                                {{payment.date| date:'dd/MM/yyyy  '}}
                                        </td>
                                        <td>
                                            <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                                {{payment.comments}}
                                        </td>
                                        <td>
                                            <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                                {{payment.amount}}
                                        </td>
                                        <td>
                                            <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" class="add_button add-dash" ><center>Edit</center>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot  data-ng-hide="unsettledPaymentModel.list.total == 0" >
                                    <tr>
                                        <td colspan="2" class="text-left" >
                                            <label>Show</label>
                                            <select firstName = "perpage"
                                                    ng-model="unsettledPaymentModel.limit"
                                                    ng-options="page for page in pagePerCount"
                                                    class="form-control show_count"
                                                    ng-change="getUnsettledPaymentList()"
                                                    >
                                            </select>
                                        </td>
                                        <td colspan="5" class="text-right">
                                <uib-pagination total-items="unsettledPaymentModel.total" ng-model="unsettledPaymentModel.currentPage" ng-change="getUnsettledPaymentList()" items-per-page="unsettledPaymentModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showcreditPopup" ></div>
    <div class="model_popup add_review_popup" ng-if="showcreditPopup">
        <form name="save_credit_form" angular-validator-submit="saveOpeningBalance(1)" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closeCreditPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2>Debit</h2>
            <div class="form-group">
                <label>Date*</label>
                <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                       ng-model="clientAddModel.creditdate" readonly is-open="$parent.fromDateOpen" placeholder='Select Date'
                       show-weeks="false" show-button-bar="false"
                       required close-text="Close" />
                <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </div>
            <div class="form-group">
                <label>Amount*</label>
                <input type="text" size="20"
                       class="form-control"
                       name = "amount"
                       ng-model = "clientAddModel.creditamount"
                       validator = "validationFactory.isNumber(clientAddModel.creditamount) === true"
                       required
                       />
            </div>
            <div class="form-group">
                <label>Comments*</label>
                <textarea rows="4" cols="50"
                          class="form-control"
                          name = "comments"
                          ng-model = "clientAddModel.creditcomments"
                          placeholder="Enter the comments"
                          required></textarea>
            </div>
            <li>
                <div class="form-group full_w btn_group">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn"   data-ng-class='{"btn-loader":isLoadingProgress}' >Save</button>
                    <button type="reset" class="btn btn-sm btn-primary btn_orng"    data-ng-click="save_credit_form.$setPristine()" >Reset</button>
                </div>
            </li>

        </form>
    </div>
    <div class="model_overlay" ng-if="showdebitPopup" ></div>
    <div class="model_popup add_review_popup" ng-if="showdebitPopup">
        <form name="save_debit_form" angular-validator-submit="saveOpeningBalance(2)" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closeDebitPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2>Debit</h2>
            <div class="form-group">
                <label>Date*</label>
                <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                       ng-model="clientAddModel.debitdate" readonly is-open="toDateOpen" placeholder='Select Date'
                       show-weeks="false" show-button-bar="false"  max-date="currentDate"
                       required close-text="Close" />
                <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </div>
            <div class="form-group">
                <label>Amount*</label>
                <input type="text" size="20"
                       class="form-control"
                       name = "amount"
                       ng-model = "clientAddModel.debitamount"
                       validator = "validationFactory.isNumber(clientAddModel.debitamount) === true"
                       required
                       />
            </div>
            <div class="form-group">
                <label>Comments*</label>
                <textarea rows="4" cols="50"
                          class="form-control"
                          name = "comments"
                          ng-model = "clientAddModel.debitcomments"
                          placeholder="Enter the comments"
                          required></textarea>
            </div>
            <li>
                <div class="form-group full_w btn_group">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn"   data-ng-class='{"btn-loader":isLoadingProgress}' >Save</button>
                    <button type="reset" class="btn btn-sm btn-primary btn_orng"    data-ng-click="save_debit_form.$setPristine()" >Reset</button>
                </div>
            </li>

        </form>
    </div>
</div>