
<div class="wrapper-md animated fadeInUp clearfix ">
    <div class="panel panel-default ">
        <div class="head_right wrapper-sm clearfix "> 
            <h2 class="coming">Coming Soon...</h2>   
        </div>
    </div>
</div>
