<div class="app-content-body fade-in-up req-stock " >
    <div class="panel panel-default paneltop ">
        <div class="panel-heading clearfix ">
            <h2>Commission Report</h2>
            <a href="javascript:void(0)" ui-scroll-to="app" data-ng-click="print()"  class="add_button add-dash" >Print</a>
        </div>
    </div>
    <div class="wrapper-md search-fixed-wrap animated fadeInUp clearfix " data-ng-controller="commissionReportCtrl">
        <div class="panel panel-default ">
            <div class="head_right wrapper-sm clearfix paneltopsec search-fixed">
                <div class="sea">
                    <select ng-model="searchFilter.belongto" class="form-control " data-ng-change="initTableFilter()">
                        <option value="">Customer Of</option>
                        <option value="{{user.userid}}" data-ng-repeat="user in commissionModel.userList">{{user.username}}</option>
                    </select>
                </div>
                <div class="sea ">
                    <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                           ng-model="searchFilter.fromdate" readonly is-open="fromDateOpen" placeholder='From date'
                           show-weeks="false" show-button-bar="false" data-ng-change="initTableFilter()"
                           required close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </div>
                <div class="sea ">
                    <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                           ng-model="searchFilter.todate" readonly is-open="toDateOpen" placeholder='To date'
                           show-weeks="false" show-button-bar="false" data-ng-change="initTableFilter()"
                           required close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </div>
                <div class="sea">
                    <select class="form-control "
                            ng-model="searchFilter.category"
                            data-ng-change="initTableFilter()"
                            name="categorydropdown"
                            >
                        <option value="">-Select Category-</option>
                        <option value= "{{category.id + ''}}" ng-repeat="category in commissionModel.categoryList">{{category.name}}</option>
                    </select>
                </div>
            </div>
            <div class="selected-date print-show">
                <h4>Commission Report {{commissionModel.reportDate != '' ? ' on ':''}}{{commissionModel.reportDate}}</h4>
                <h4 data-ng-show="commissionModel.agentName != ''">Agent Name : <b> {{commissionModel.agentName}} </b></h4>
            </div>
            <div class="table-responsive tabletop">
                <table class="table table-striped b-t  dataTable no-footer thead-fixed" style="width: 81%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 150px;"  rowspan="1" colspan="1" >
                                ID
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Date
                            </th>
                            <th style="width: 500px;"  rowspan="1" colspan="1" >
                                Client Name
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Category
                            </th>
                            <th style="width: 200px; text-align: right;"   rowspan="1" colspan="1">
                                Amount
                            </th>
                            <th style="width: 200px; text-align: right;"   rowspan="1" colspan="1">
                                Commission
                            </th>
                        </tr>
                    </thead>
                </table>
                <table class="table table-striped b-t  dataTable no-footer tab-bottom-commission" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <tbody>
                        <tr data-ng-show="commissionModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="commissionModel.list.length == 0">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="commission in commissionModel.list" >
                            <td style="width: 150px;">
                                {{commission.id}}
                            </td>
                            <td style="width: 250px;">
                                {{commission.date| date: 'dd-MM-yyyy'}}
                            </td>
                            <td style="width: 500px;">
                                {{commission.clientName}}
                            </td>
                            <td style="width: 250px;">
                                {{commission.categoryName}}
                            </td>
                            <td style="width: 200px; text-align: right;">
                                {{commission.amount.toFixed(2)}}
                            </td>
                            <td style="width: 200px; text-align: right;">
                                {{(commission.amount.toFixed(2) * commission.clientCommission / 100).toFixed(2)}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <td><b>Total</b></td>
                            <td style="width: 200px; text-align: right;"><b>{{commissionModel.totalamt.toFixed(2)}}</b></td>
                            <td style="width: 200px; text-align: right;"><b>{{commissionModel.commissionamt.toFixed(2)}}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

