<script type="text/ng-template" id="state_dropdown_tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="city_dropdown_tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="country_dropdown_tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="companyListCtrl">
    <div class="panel panel-default hide-print">
        <div class="panel-heading clearfix ">
            <h2>Company List</h2>
            <custom-add redirect="app.companyAdd" screencode="company"></custom-add>
            <!--<a data-ui-sref="app.companyAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin">
            <div class="head_right table-search wrapper-sm  clearfix ">
                <div class="sea" style='width:197px;'>
                    <input type="text"
                           placeholder="Company Name"
                           data-ng-model="searchFilter.name"
                           class="form-control " data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>
                <div class="sea" style='width:230px;'>
                    <ui-select ng-model="searchFilter.country_id" data-ng-change="CountryChange();" theme="select2"  style="min-width: 230px;" title="">
                                            <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="country.id as country in companyModel.countryList | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                      </ui-select> 
                </div>
                <div class="sea" style='width:230px;'>
                    <ui-select ng-model="searchFilter.state_id" data-ng-change="StateChange();" theme="select2"  style="min-width: 230px;" title="">
                                            <ui-select-match placeholder="Select State">{{$select.selected.name || $select.selected}}</ui-select-match>
                                            <ui-select-choices  repeat="state.id as state in companyModel.stateList | propsFilter: {name: $select.search} ">
                                                <div ng-bind-html="state.name | highlight: $select.search" ></div>
                                            </ui-select-choices>
                                     </ui-select> 
                </div>
                <div class="sea" style='width:197px;'>
                   <ui-select ng-model="searchFilter.city_id" theme="select2"  data-ng-change="initTableFilter()" style="min-width: 230px;" title="">
                                            <ui-select-match placeholder="Select City">{{$select.selected.name || $select.selected}}</ui-select-match>
                                            <ui-select-choices  repeat="city.id as city in companyModel.cityList | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="city.name | highlight: $select.search" ></div>
                                            </ui-select-choices>
                                     </ui-select>
                </div>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 120px;"  rowspan="1" colspan="1" >
                                S.No
                            </th>
                            <th style="width: 120px;"  rowspan="1" colspan="1" >
                                ID
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Company Name
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Website
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Country
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                State
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                City 
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="companyModel.isLoadingProgress">
                            <td colspan="8" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="companyModel.companyList.length == 0">
                            <td colspan="8" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="company in companyModel.companyList">
                            <td>
                                <a data-ui-sref="app.companyEdit({id: '{{company.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{company.index}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.companyEdit({id: '{{company.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{company.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.companyEdit({id: '{{company.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{company.name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.companyEdit({id: '{{company.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{company.website}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.companyEdit({id: '{{company.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{company.country_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.companyEdit({id: '{{company.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{company.state_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.companyEdit({id: '{{company.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{company.city_name}}
                                </a>
                            </td>
                            <td>
                                <a  data-ui-sref="app.companyEdit({id: '{{company.id}}'})" data-ui-scroll-to="app">
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a  class="chel-edit-add add-dash" data-ng-click="showPopup(company.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="companyModel.companyList.length == 0" >
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label>Show</label>
                                <select name = "perpage"
                                        ng-model="companyModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="getList()"
                                        ></select>
                            </td>
                            <td colspan="5" class="text-right">
                                <ul uib-pagination total-items="companyModel.total" ng-model="companyModel.currentPage" ng-change="getCompanyList()" items-per-page="companyModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>  
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteCompanyInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
</div>




