<div class="app-content-body fade-in-up"  data-ng-controller="companyEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>  Edit Company</h2>
            <a data-ui-sref="app.company" class="add_button add-dash" ui-scroll-to="app">Back to Company List</a>
        </div>
    </div>

    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">

                <form name="edit_company_form" angular-validator-submit="modifycompany()" class="form-horizontal  clearfix " novalidate angular-validator >
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Company Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "companyname"
                                           ng-model = "companyModel.name"
                                           placeholder="Company Name"
                                           required

                                           />
                                </div> 
                                <div class="col-sm-5 topmarginxs right">
                                 <label>Website</label>
                                </div>
                                 <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "web"
                                                   ng-model = "companyModel.website"
                                                   validator = "validationFactory.hasRequired(companyModel.website) == false || validationFactory.urlValidator(companyModel.website) == true"
                                                   placeholder="Website Details"
                                                   style="height: 85px;"
                                                   >
                                        </textarea>
                                    </div>
                                <div class="col-sm-5 topmarginxs right">
                                     <label>Address*</label>
                                </div>
                                 <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "address"
                                                   ng-model = "companyModel.address"
                                                   placeholder="Address Details"
                                                   style="height: 85px;"
                                                   required >
                                        </textarea>
                                    </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-5">
                                <div class="row">
                                <div class="col-sm-5 topmarginxs right">
                                     <label>Country</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                   <ui-select ng-model="companyModel.country_id" data-ng-change="CountryChange();" theme="select2"  style="min-width: 230px;" title="">
                                            <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="country.id as country in companyModel.countryList | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                      </ui-select> 
                                </div>
                               
                                <div class="col-sm-5 topmarginxs right">
                                    
                                        <label>State</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                          <ui-select ng-model="companyModel.state_id" data-ng-change="StateChange();" theme="select2"  style="min-width: 230px;" title="">
                                            <ui-select-match placeholder="Select State">{{$select.selected.name || $select.selected}}</ui-select-match>
                                            <ui-select-choices  repeat="state.id as state in companyModel.stateList | propsFilter: {name: $select.search} ">
                                                <div ng-bind-html="state.name | highlight: $select.search" ></div>
                                            </ui-select-choices>
                                     </ui-select> 
                               </div>
                                 <div class="col-sm-5 topmarginxs right">
                                    <label>City*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                     <ui-select ng-model="companyModel.city_id" theme="select2"  style="min-width: 230px;" title="" required>
                                            <ui-select-match placeholder="Select City">{{$select.selected.name || $select.selected}}</ui-select-match>
                                            <ui-select-choices  repeat="city.id as city in companyModel.cityList | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="city.name | highlight: $select.search" ></div>
                                            </ui-select-choices>
                                     </ui-select>
                                </div> 

                                <div class="col-sm-5 topmarginxs right">

                                    <label>District</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "district"
                                           ng-model = "companyModel.district"
                                           placeholder="District Name"
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Pin Code</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "pincode"
                                           ng-model = "companyModel.pin_code"
                                           placeholder="Pin Code"
                                           />
                                </div>
                                </div>
                                </div>
                            </div>

                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Reset</button>
                            </div>


                            </form>

                        </div>
                    </div>
            </div>
        </div>


