<script type="text/ng-template" id="company_dropdown__tpl.html">
      <a>
      <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
      </a>
</script>
<script type="text/ng-template" id="employee_dropdown__tpl.html">
      <a>
      <span ng-bind-html="match.model.f_name + '(' + match.model.id + ',' + match.model.emp_code + ')' | uibTypeaheadHighlight:query"></span>
      </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="contactEditCtrl">

      <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                  <h2>  Edit Leads</h2>
                  <a data-ui-sref="app.contact" class="add_button add-dash" ui-scroll-to="app">Back to Leads List</a>
            </div>
      </div>

      <div class="container animated fadeInUp clearfix topmarginsm  ">
            <div class="wrapper-md bg-white topmargin invoice-add ">
                  <div class="  clearfix form-wrapper">

                        <form name="edit_contact_form" angular-validator-submit="modifycontact()" class="form-horizontal  clearfix " novalidate angular-validator >
                              <div class="row">
                                    <div class="col-sm-5">
                                          <div class="row">
                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>First Name*</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <input type="text"
                                                             class="form-control"
                                                             name = "contactfname"
                                                             ng-model = "contactModel.fname"
                                                             placeholder="First Name"
                                                             required

                                                             />
                                                </div> 

                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Last Name</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <input type="text"
                                                             class="form-control"
                                                             name = "contactlname"
                                                             ng-model = "contactModel.lname"
                                                             placeholder="Last Name"

                                                             />
                                                </div> 

                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Email*</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <input type="text"
                                                             class="form-control"
                                                             name = "email"
                                                             ng-model = "contactModel.email"
                                                             placeholder="Email id"
                                                             validator = "validationFactory.hasRequired(contactModel.email) == false || validationFactory.emailValidator(contactModel.email) == true"
                                                             required
                                                             />
                                                </div>
                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Mobile*</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <textarea  type = "text"
                                                                 class="form-control"
                                                                 name = "mobile"
                                                                 ng-model = "contactModel.phone"
                                                                 placeholder="Enter the Mobile no"
                                                                 required
                                                                 >
                                                      </textarea>
                                                </div>
                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Pin Code</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <input type="text"
                                                             class="form-control"
                                                             name = "contactpincode"
                                                             ng-model = "contactModel.pin_code"
                                                             placeholder="Pin Code"
                                                             />
                                                </div> 
                                          </div>
                                    </div>
                                    <div class="col-sm-5">
                                          <div class="row">
                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Company</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <input type="text"
                                                             name="company_dropdown"
                                                             ng-model="contactModel.companyInfo"
                                                             placeholder ="Company"
                                                             uib-typeahead="company for company in getCompanyList($viewValue)"
                                                             typeahead-loading="loadingLocations"
                                                             typeahead-no-results="noResults"
                                                             typeahead-on-select="initTableFilter()"
                                                             typeahead-min-length="0"
                                                             class="form-control"
                                                             typeahead-editable="true"
                                                             typeahead-template-url="company_dropdown__tpl.html"
                                                             typeahead-input-formatter="formatCompanyModel($model)"
                                                             autocomplete="off"
                                                             />
                                                      <span class="glyphicon glyphicon-search box-search "></span>
                                                      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                      <div ng-show="noResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                      </div>
                                                      <a class="quick-a" data-ui-sref="app.contactCompanyAdd({id: '{{stateParamData}}'})">Quick Add</a>
                                                </div>

                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Notes</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <textarea  type = "text"
                                                                 class="form-control"
                                                                 name = "notes"
                                                                 ng-model = "contactModel.notes"
                                                                 placeholder="Notes"
                                                                 style="height: 95px;"
                                                                 >
                                                      </textarea>
                                                </div>
                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Source*</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <select class="form-control "
                                                              ng-model="contactModel.source"
                                                              name="sourcedropdown" required                                              
                                                              >
                                                            <option value="">-Source-</option>
                                                            <option value="{{source.id}}" data-ng-repeat="source in contactModel.sourceList">{{source.name}}</option>
                                                      </select>
                                                </div>
                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Segment Type*</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <select class="form-control" ng-model="contactModel.lead" name="lead_type" required>
                                                            <option value="">-Select-</option>
                                                            <option value="{{lead.id}}" data-ng-repeat="lead in contactModel.leadList">{{lead.name}}</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-sm-5 topmarginxs right">
                                                <label>Lead Owner*</label>
                                          </div>
                                          <div class="col-sm-7 bottommargin">        
                                                <input type="text"
                                                       name="employee_dropdown"
                                                       ng-model="contactModel.empInfo"
                                                       placeholder ="Lead Owner"
                                                       uib-typeahead="employee for employee in getEmployeeList($viewValue)"
                                                       typeahead-loading="loadingEmpLocations"
                                                       typeahead-no-results="noResultsFound"
                                                       typeahead-on-select="initTableFilter()"
                                                       typeahead-min-length="0"
                                                       class="form-control"
                                                       typeahead-editable="true"
                                                       typeahead-template-url="employee_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatEmployeeModel($model)"
                                                       required
                                                       />
                                                <span class="glyphicon glyphicon-search box-search "></span>
                                                <i ng-show="loadingEmpLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noResultsFound">
                                                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                          </div>
                                    </div>
                                    <div class="row">
                                          <div class="form-group" >
                                                <div class=" bg-white avt avt1" >                                 
                                                      <div class="col-sm-3 form-container prof profile-photo" data-ng-click="showPopup('photogalary')" data-ng-repeat="image in contactModel.attachments">
                                                            <cloud-image-loader urlpath="image.url" preview="false"></cloud-image-loader>                 
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group full_w btn_group">
                                          <a href="javascript:void(0)" class="upload-all-photo topmargin" data-ng-click="showPopup('fileupload')">Upload Photo</a>
                                          <button type="button" class="btn btn-sm btn-primary btn_grn" ng-click="showCustomerPopup()" ng-if="screenAccessDetail.customer.is_create == true">Create Me as Customer</button>
                                          <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                          <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Reset</button>
                                          <button type="button" class="btn btn-sm btn-primary btn_grn" ng-click="redirect()" ng-if="screenAccessDetail.deal.is_create == true">Add Deal</button>
                                          <!--<custom-add redirect="app.dealAdd" screencode="deal" ng-click="redirect()"></custom-add>-->
                                    </div>


                        </form>
                        <div class="table-responsive ">
                              <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                    <thead>
                                          <tr role="row">
                                                <th style="width:100px;" rowspan="1" colspan="1" >
                                                      Deal Stage Id
                                                </th>
                                                <th  style="width:200px;" rowspan="1" colspan="1" >
                                                      Subject
                                                </th>
                                                <th style="width:120px;" rowspan="1" colspan="1">
                                                      Stage
                                                </th>   
                                                <th style="width:200px;"  rowspan="1" colspan="1">
                                                      Next Follow-up date
                                                </th>
                                                <th style="width:120px;" class="right " rowspan="1" colspan="1">
                                                      Amount
                                                </th>
                                                <th style="width:180px;text-align: right"  rowspan="1" colspan="1">
                                                      Action
                                                </th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          <tr data-ng-show="contactModel.isLoadingProgress">
                                                <td colspan="6" class="text-left" style="padding: 0;" >
                                                      <p class="loader-icon" >
                                                            <img alt="loader" src="../img/loading.gif" />
                                                      </p>
                                                </td>
                                          </tr>

                                          <tr data-ng-if="contactModel.dealList.length == 0">
                                                <td colspan="6" class="text-center" >
                                                      -No Data Found-
                                                </td>
                                          </tr>
                                          <tr data-ng-repeat="deal in contactModel.dealList">
                                                <td>
                                                      {{deal.id}}
                                                </td>
                                                <td>
                                                      {{deal.name}}
                                                </td>
                                                <td>
                                                      {{deal.stage_name}}
                                                </td>
                                                <td>
                                                      {{deal.next_follow_up| date: appConfig.date_format}}
                                                </td>
                                                <td class="right " >
                                                      {{deal.amount}}
                                                </td>
                                                <td class="right " >
                                                      <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app"  >
                                                            <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                                      </a>
                                                </td>
                                          </tr>
                                    </tbody>
                                    <tfoot data-ng-hide="contactModel.dealList.length == 0">
                                          <tr>
                                                <td colspan="2" class="text-left" >
                                                      <label class="show_count_label ">Show</label>
                                                      <select name = "perpage"
                                                              ng-model="contactModel.limit"
                                                              data-ng-hide="contactModel.dealList.length == 0"
                                                              ng-options="page for page in pagePerCount"
                                                              class="form-control show_count"
                                                              ng-change="getDealList()"
                                                              >
                                                      </select>
                                                </td>
                                                <td colspan="4" class="text-right">
                                                      <ul uib-pagination  data-ng-hide="contactModel.dealList.length == 0" total-items="contactModel.total" ng-model="contactModel.currentPage" ng-change="getDealList()" items-per-page="contactModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                                </td>
                                          </tr>
                                    </tfoot>
                              </table>

                        </div>
                  </div>
            </div>
      </div>
      <div class="model_overlay" ng-if="showCusPopup" ></div>
      <div class="model_popup delet-popup add_review_popup" ng-if="showCusPopup">
            <form name="save_payment_form" angular-validator-submit="savePayment()" class="form-horizontal clearfix " novalidate angular-validator >
                  <a href="javascript:void(0)" ng-click="closeCustomerPopup()" class="glyphicon glyphicon-remove close " ></a>
                  <h2>List of customers with this contact</h2>
                  <div class="table-responsive ">
                        <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                              <thead>
                                    <tr role="row">
                                          <th style="width: 120px;"  rowspan="1" colspan="1" >
                                                Customer ID
                                          </th>
                                          <th style="width: 250px;"  rowspan="1" colspan="1" >
                                                Name
                                          </th>
                                          <th style="width: 250px;"   rowspan="1" colspan="1">
                                                Email
                                          </th>
                                          <th style="width: 250px;"   rowspan="1" colspan="1">
                                                Mobile
                                          </th>
                                          <th style="width: 250px;"   rowspan="1" colspan="1">
                                                Company
                                          </th>

                                    </tr>
                              </thead>
                              <tbody>
                                    <tr data-ng-show="contactModel.isLoadingProgress">
                                          <td colspan="5" class="text-left" style="padding: 0;" >
                                                <p class="loader-icon" >
                                                      <img alt="loader" src="../img/loading.gif" />
                                                </p>
                                          </td>
                                    </tr>
                                    <tr data-ng-if="contactModel.sourceList.length == 0">
                                          <td colspan="5" class="text-center" >
                                                -No Data Found-
                                          </td>
                                    </tr>
                                    <tr data-ng-repeat="contact in contactModel.sourceList">
                                          <td>                               
                                                {{contact.id}}                                
                                          </td>
                                          <td>                                
                                                {{contact.fname}}                             
                                          </td>
                                          <td>                                
                                                {{contact.email}}                                
                                          </td>                           
                                          <td>                                
                                                {{contact.phone}}                               
                                          </td>
                                          <td>                                
                                                {{contact.company}}                             
                                          </td>
                                    </tr>
                              </tbody>
                              <tfoot  data-ng-hide="contactModel.sourceList.length == 0" >
                                    <tr>
                                          <td colspan="2" class="text-left" >
                                                <label>Show</label>
                                                <select name = "perpage"
                                                        ng-model="contactModel.limit"
                                                        ng-options="page for page in pagePerCount"
                                                        class="form-control show_count"
                                                        ng-change="getcustomerList()"
                                                        ></select>
                                          </td>
                                          <td colspan="4" class="text-right">
                              <uib-pagination total-items="contactModel.total" ng-model="contactModel.currentPage" ng-change="getList()" items-per-page="contactModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                              </td>
                              </tr>
                              </tfoot>
                        </table>
                  </div>
                  <div class="row" style="margin-top: 20px;">
                        <div class="form-group full_w btn_group">
                              <h2>Do you want to add new customer?</h2>
                              <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-click="redirectToCustomer()" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >OK</button>
                              <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closeCustomerPopup()">Cancel</a>
                        </div>

                  </div>

            </form>
      </div> 
</div>
<div class="model_overlay" ng-show="showCompanyPopup" ng-click="closeCompanyPopup()" ></div>
<div class="popups" style="position: fixed;">
      <div class="model_popup" ng-show="showCompanyPopup" >
            <a href="javascript:void(0)" ng-click="closeCompanyPopup()" class="glyphicon glyphicon-remove close " ></a>
            <div data-ng-include=" 'tpl/newcompanyadd.html'" ng-if="true"  >
            </div>
      </div>
</div>
<div class="model_overlay ng-hide" ng-show="showUploadMoreFilePopup" ></div>
<div class="model_popup model-photo  add_review_popup ng-hide popup-fixed" ng-show="showUploadMoreFilePopup" style="position: fixed;">
      <a href="javascript:void(0)" ng-click="closePopup('fileupload')" class="glyphicon glyphicon-remove close close1 " ></a>
      <h3>File Upload</h3>
      <div class="form-container " ng-if="showUploadMoreFilePopup" >
            <fileupload cloud-upload-path="contact/{{contactModel.id}}" image-list="contactModel.attachments" has-limit="false"></fileupload>
            <ul class="form-editable">
                  <li class="a-right btn-wrapper ">
                        <button type="button" class="btn btn-sm btn-orng ripple ripple-light "
                                data-ng-disabled="isImageSavingProcess"
                                data-ng-class='{"btn-loader":isImageSavingProcess}'
                                data-ng-click="saveImagePath()"
                                >Save</button>
                  </li>
            </ul>
      </div>
</div>
<div class="model_overlay ng-hide" ng-show="showPhotoGalaryPopup" ></div>
<div class="model_popup model_popup_fixed add_review_popup ng-hide pgal popup-fixed" data-ng-show="showPhotoGalaryPopup" >
      <a href="javascript:void(0)" ng-click="closePopup('photogalary')" class="glyphicon glyphicon-remove close " ></a>
      <div class="form-container">
            <photo-gallery  image-list="contactModel.attachments" attachment-view="true" image-width="600" ></photo-gallery>
      </div>
</div> 
</div>


