<script type="text/ng-template" id="company_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="employee_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.f_name + '(' + match.model.id + ',' + match.model.emp_code + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="contactAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>  Add Leads</h2>
            <a data-ui-sref="app.contact" class="add_button add-dash" ui-scroll-to="app">Back to Leads List</a>
        </div>
    </div>

    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">

                <form name="add_lead_form" angular-validator-submit="createcontact()" class="form-horizontal  clearfix " novalidate angular-validator angular-localstorage>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-5 topmarginxs right">
                                    <label>First Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "contactfname"
                                           ng-model = "contactModel.fname"
                                           placeholder="First Name"
                                           required
                                           angular-localstorage-field='true'
                                           />
                                </div> 

                                <div class="col-sm-5 topmarginxs right">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "contactlname"
                                           ng-model = "contactModel.lname"
                                           placeholder="Last Name"
                                           angular-localstorage-field='true'/>
                                </div> 

                                <div class="col-sm-5 topmarginxs right">
                                    <label>Email*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "email"
                                           ng-model = "contactModel.email"
                                           placeholder="Email id"
                                           validator = "validationFactory.hasRequired(contactModel.email) == false || validationFactory.emailValidator(contactModel.email) == true"
                                           angular-localstorage-field='true'
                                           required
                                           />
                                </div>

                                <div class="col-sm-5 topmarginxs right">

                                    <label>Mobile*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea  type = "text"
                                                   class="form-control"
                                                   name = "mobile"
                                                   ng-model = "contactModel.phone"
                                                   placeholder="Enter the Mobile no"
                                                   required
                                                   angular-localstorage-field='true'>
                                        </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Pin Code</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "contactpincode"
                                           ng-model = "contactModel.pin_code"
                                           placeholder="Pin Code"
                                           angular-localstorage-field='true'/>
                                </div> 
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Company</label>
                                </div>
                                <div class="col-sm-7 bottommargin">        
                                    <input type="text"
                                           name="company_dropdown"
                                           ng-model="contactModel.companyInfo"
                                           placeholder ="Company"
                                           uib-typeahead="company for company in getCompanyList($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-on-select="initTableFilter()"
                                           typeahead-min-length="0"
                                           class="form-control"
                                           typeahead-editable="true"
                                           typeahead-template-url="company_dropdown__tpl.html"
                                           typeahead-input-formatter="formatCompanyModel($model)"
                                           autocomplete="off"
                                           angular-localstorage-field='true'/>
                                    <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                    <a class="quick-a" data-ng-click="companyAdd()">Quick Add</a>
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Notes</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea  type = "text"
                                               class="form-control"
                                               name = "notes"
                                               ng-model = "contactModel.notes"
                                               placeholder="Notes"
                                               style="height: 95px;"
                                               angular-localstorage-field='true'>
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Source*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select class="form-control "
                                            ng-model="contactModel.source"
                                            name="sourcedropdown" 
                                            required                                              
                                            angular-localstorage-field='true'>
                                        <option value="">-Source-</option>
                                        <option value="{{source.id}}" data-ng-repeat="source in contactModel.sourceList">{{source.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Segment Type*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select class="form-control" ng-model="contactModel.lead" name="lead_type" required angular-localstorage-field='true'>
                                        <option value="">-Select-</option>
                                        <option value="{{lead.id}}" data-ng-repeat="lead in contactModel.leadList">{{lead.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Lead Owner*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">        
                                    <input type="text"
                                           name="employee_dropdown"
                                           ng-model="contactModel.empInfo"
                                           placeholder ="Lead Owner"
                                           uib-typeahead="employee for employee in getEmployeeList($viewValue)"
                                           typeahead-loading="loadingEmpLocations"
                                           typeahead-no-results="noResultsFound"
                                           typeahead-on-select="initTableFilter()"
                                           typeahead-min-length="0"
                                           class="form-control"
                                           typeahead-editable="true"
                                           typeahead-template-url="employee_dropdown__tpl.html"
                                           typeahead-input-formatter="formatEmployeeModel($model)"
                                           required
                                           angular-localstorage-field='true'
                                           />
                                    <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingEmpLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResultsFound">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="model_overlay" ng-show="showCompanyPopup" ng-click="closeCompanyPopup()" ></div>
    <div class="popups">
        <div class="model_popup" ng-show="showCompanyPopup" >
            <a href="javascript:void(0)" ng-click="closeCompanyPopup()" class="glyphicon glyphicon-remove close " ></a>
            <div data-ng-include=" 'tpl/newcompanyadd.html'" ng-if="true"  >
            </div>
        </div>
    </div>
</div>
