<script type="text/ng-template" id="company_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="contactListCtrl">
    <div class="panel panel-default hide-print">
        <div class="panel-heading clearfix ">
            <h2>Leads List</h2>
            <custom-add redirect="app.contactAdd" screencode="contact"></custom-add>
            <!--            <a data-ui-sref="app.contactAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin">
            <form name="contact_list_form" class="form-horizontal clearfix " angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="row">  
                        <div class="sea" style='width:197px;'>
                            <input type="text"
                                   placeholder="Id"
                                   name="leadId"
                                   data-ng-model="searchFilter.leadId"
                                   angular-localstorage-field='true'
                                   class="form-control " data-ng-change="initTableFilter()" />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                        </div>
                        <div class="sea" style='width:197px;'>
                            <input type="text"
                                   placeholder="Leads Name"
                                   name="leadname"
                                   data-ng-model="searchFilter.leadname"
                                   angular-localstorage-field='true'
                                   class="form-control " data-ng-change="initTableFilter()" />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                        </div>
                        <div class="sea" style='width:197px;'>
                            <input type="text"
                                   placeholder="Email"
                                   name="email"
                                   data-ng-model="searchFilter.email"
                                   angular-localstorage-field='true'
                                   class="form-control " data-ng-change="initTableFilter()" />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                        </div>
                        <div class="sea" style='width:197px;'>
                            <input type="text"
                                   placeholder="Phone Number"
                                   name="phone"
                                   data-ng-model="searchFilter.phone"
                                   angular-localstorage-field='true'
                                   class="form-control " data-ng-change="initTableFilter()" />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                        </div>
                        <div class="sea" style='width:197px;'>
                            <select class="form-control" ng-model="searchFilter.lead" data-ng-change="initTableFilter()" name="lead_type" angular-localstorage-field='true' required>
                                <option value="">-Segment Type-</option>
                                <option value="{{lead.id}}" data-ng-repeat="lead in contactModel.leadList">{{lead.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="sea topmarginsm clear_b">
                            <input type="text"
                                   name="contact_company_dropdown"
                                   ng-model="searchFilter.companyInfo"
                                   placeholder ="Company"
                                   uib-typeahead="company for company in getCompanyList($viewValue)"
                                   typeahead-loading="loadingLocations"
                                   typeahead-no-results="noResults"
                                   typeahead-on-select="initTableFilter()"
                                   typeahead-min-length="0"
                                   class="form-control"
                                   typeahead-editable="true"
                                   typeahead-template-url="company_dropdown__tpl.html"
                                   typeahead-input-formatter="formatCompanyModel($model)"
                                   autocomplete="off"
                                   angular-localstorage-field='true'/>
                            <span class="glyphicon glyphicon-search box-search "></span>
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                        <div class="sea topmarginsm">
                            <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From Date'
                                   data-ng-change="initTableFilter()"
                                   show-weeks="false"
                                   close-text="Close" 
                                   angular-localstorage-field='true'/>
                            <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(0)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="sea topmarginsm">
                            <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To Date'
                                   data-ng-change="initTableFilter()"
                                   show-weeks="false"
                                   close-text="Close" 
                                   angular-localstorage-field='true'/>
                            <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(1)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="sea topmarginsm">
                            <select type="text" name="isactivedropdown" class="form-control" ng-model="searchFilter.isactive" data-ng-change="initTableFilter()" angular-localstorage-field='true'>
                                <option value="1">Active</option>
                                <option value="0">DeActive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 120px;"  rowspan="1" colspan="1" >
                                S.No
                            </th>
                            <th style="width: 120px;"  rowspan="1" colspan="1" >
                                ID
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Leads Name
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Email
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Mobile
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Segment Type
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Company
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="contactModel.isLoadingProgress">
                            <td colspan="8" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="contactModel.list.length == 0">
                            <td colspan="8" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="contact in contactModel.list">
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.index}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.fname}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.email}}
                                </a>
                            </td>

                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.phone}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.lead_type_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.company_name}}
                                </a>
                            </td>
                            <td>
                                <a  data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" data-ui-scroll-to="app">
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a  class="chel-edit-add add-dash" data-ng-click="showPopup(contact.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="contactModel.list.length == 0" >
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label>Show</label>
                                <select name = "perpage"
                                        ng-model="contactModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="getList()"
                                        ></select>
                            </td>
                            <td colspan="5" class="text-right">
                                <ul uib-pagination total-items="contactModel.total" ng-model="contactModel.currentPage" ng-change="getList()" items-per-page="contactModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>  
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteContactInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
</div>




