<div class="app-content-body fade-in-up"  data-ng-controller="countryEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>  Edit Country</h2>
            <a data-ui-sref="app.country" class="add_button add-dash" ui-scroll-to="app">Back to Country List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="countryModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">

                <form name="add_country_form" angular-validator-submit="modifycountry()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                    <div class="row">
                        <div class=" col-sm-6">
                            <div class="form-group clearfix">
                                <label>Name*</label>
                                <input type="text"
                                       class="form-control"
                                       name = "countryname"
                                       ng-model = "countryModel.name"
                                       placeholder="Country Name"
                                       required

                                       />
                            </div> 
                        </div>
                        <div class=" col-sm-6">
                            <div class="form-group clearfix col-sm-6">
                                <label>Code*</label>
                                <input type="text"
                                       class="form-control"
                                       name = "countrycode"
                                       ng-model = "countryModel.code"
                                       placeholder="Country Code"
                                       required
                                       />
                            </div>
                        </div>

                    </div>
                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Reset</button>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>
