
<div class="app-content-body fade-in-up"  data-ng-controller="appSettingsEditCtrl">


    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Customer Settings</h2>
        </div>
    </div>
    <div class="model_overlay" ng-show="appSettingsEditModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
            <img alt="loader" src="../img/loading.gif" />
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class=" bg-white topmargin ">
            <form name="app_settings_form" angular-validator-submit="updateAppSettings()" class="form-horizontal clearfix " novalidate angular-validator >


                <div class="row wrapper-md">
                    <div class="col-sm-12">
                        <h2> Customer Special Date Settings</h2>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6 left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="date1"
                                       name="date1"
                                       data-ng-model="appSettingsEditModel.customer_special_date1"                                       
                                       />
                                <label for="date1">Special Date 1</label>
                            </div>
                            <div class="col-sm-6 topmarginsm  ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "date1_label"
                                       ng-model = "appSettingsEditModel.special_date1_label"
                                       placeholder="special_date1_label"                                     
                                       >
                            </div>
                            <div class="col-sm-6   left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="date2"
                                       name="date2"
                                       data-ng-model="appSettingsEditModel.customer_special_date2"
                                       />
                                <label for="date2">Special Date 2</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "date2_label"
                                       ng-model = "appSettingsEditModel.special_date2_label"
                                       placeholder="special_date2_label"
                                       >
                            </div>
                            <div class="col-sm-6   left toppadding ">
                                <input type="checkbox"
                                       class=" "
                                       id="date3"
                                       name="date3"
                                       data-ng-model="appSettingsEditModel.customer_special_date3"
                                       />
                                <label for="date3">Special Date 3</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "date3_label"
                                       ng-model = "appSettingsEditModel.special_date3_label"
                                       placeholder="special_date3_label"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6  left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="date4"
                                       name="date4"
                                       data-ng-model="appSettingsEditModel.customer_special_date4"
                                       />
                                <label for="date4">Special Date 4</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "date4_label"
                                       ng-model = "appSettingsEditModel.special_date4_label"
                                       placeholder="special_date4_label"
                                       >
                            </div>
                            <div class="col-sm-6  left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="date5"
                                       name="date5"
                                       data-ng-model="appSettingsEditModel.customer_special_date5"
                                       />
                                <label for="date5">Special Date 5</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "date5_label"
                                       ng-model = "appSettingsEditModel.special_date5_label"
                                       placeholder="special_date5_label"
                                       >
                            </div>
                            <div class="col-sm-12 topmargin toppadding center ">
                                <div class="form-group full_w btn_group">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()">Reset</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>



