
<script type="text/ng-template" id="category_dropdown_tpl.html">
    <a>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="customerTimelineCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default hide-print ">
            <div class="panel-heading clearfix ">
                <h2>Customer Timeline</h2>
                <a ui-sref="app.customers" class="add_button" ui-scroll-to="app">Back to customer List</a>
            </div>
        </div>


        <div class="model_overlay" ng-show="customerModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
        <div class="wrapper-md ">
            <div class="  add-form form-wrapper clearfix ">
                <form name="modify_customer_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="bg-white ">
                        <div class="row wrapper-md ">
                            <div class="col-sm-3">
                                <div class="prof-gallery gallery clearfix " style="width: auto;" >
                                    <div class="prof-img " data-ng-if="customerModel.customerInfo.img == '' || customerModel.customerInfo.img == null">
                                        <img src="../img/nobody_m.original.jpg" style="width:200px;height:200px" />
                                    </div>
                                    <div class="prof-img" data-ng-if="customerModel.customerInfo.img != '' && customerModel.customerInfo.img != null">
                                        <cloud-image-loader urlpath="customerModel.customerInfo.img" style="width:200px;height:200px; display: inline-block;"></cloud-image-loader>
                                    </div>
                                    <!--                                    <div class="prof-img " data-ng-if="customerModel.img.length != 0">
                                                                            <cloud-image-loader urlpath="customerModel.img[0].urlpath" style="width:200px;height:200px; display: inline-block;"></cloud-image-loader>
                                                                                                                        <img src="../{{customerModel.img[0].filepath}}" style="width:150px;height:150px"/>
                                                                        </div>-->

                                </div>
                            </div>    
                            <div class="col-sm-9 customer-timeline-box">
                                <div class="row " style="padding-left: 15px;padding-top: 15px;">
                                    <div class="row bottommargin customer-timeline-caption">
                                        Basic Information
                                    </div>  
                                    <div class="col-sm-6">                                          
                                        <div class="row bottommargin">
                                            <div class="col-sm-5  ">
                                                <label>Customer Code</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.customer_code}}
                                            </div>
                                        </div>
                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>Customer No</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.customer_no}}
                                            </div>
                                        </div>
                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>Customer Prefix</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.prefix}}
                                            </div>
                                        </div>
                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>Name*</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.fname}}
                                            </div>
                                        </div>
                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>Company Name</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.company}}
                                            </div>
                                        </div>
                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>Mobile Number</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.phone}}
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-sm-6">
<!--                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>DOB</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.dob | date:dateFormat }}
                                            </div>
                                        </div>-->
                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>Billing Address</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.billing_address}}
                                            </div>
                                        </div>
                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>Billing Address</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.billing_country}}
                                            </div>
                                        </div>
                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>Billing State</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.billing_state}}
                                            </div>
                                        </div>
                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>Billing City</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.billing_city}}
                                            </div>
                                        </div>
                                        <div class="row bottommargin">
                                            <div class="col-sm-5   ">
                                                <label>Postcode</label>
                                            </div>
                                            <div class="col-sm-7 ">
                                                {{customerModel.customerInfo.billing_pincode}}
                                            </div>
                                        </div>
                                        <div class="row bottommargin">
                                            <div class="col-sm-3">
                                                <label style="width: 100%;"></label>
                                                <input type="checkbox"
                                                       class=" "
                                                       id="isSale"
                                                       name="is_sale"
                                                       data-ng-model="customerModel.customerInfo.is_sale"
                                                       data-ng-disabled="true"
                                                       />
                                                <label for="isSale">Sales</label>
                                            </div>
                                            <div class="col-sm-6 bottommargin">
                                                <label style="width: 100%;"></label>
                                                <input type="checkbox"
                                                       class=" "
                                                       id="isPurchase"
                                                       name="is_purchase"
                                                       data-ng-model="customerModel.customerInfo.is_purchase"
                                                       data-ng-disabled="true"
                                                       />
                                                <label for="isPurchase">Purchase</label>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="row bottommargin clear_b right">
                                        <a data-ui-sref="app.customerEdit({id: '{{stateParamData}}'})" data-ui-scroll-to="app" class="timeline-edit">Edit</a>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="wrapper-md ">
                                <div class="  clearfix add-form form-wrapper tab-form">
                                    <form name="customer_timeline" angular-validator-submit="" class="form-horizontal clearfix top-form" novalidate angular-validator >
                                        <uib-tabset class="dash-tabs  new-steps clinic-edit-wrap " justified="true">
                                            <uib-tab class="today-appoin-tab clearfix" select="tabChange(0)" >
                                                <uib-tab-heading style="margin-left: 15px;">
                                                    <span class="tab-title" style="margin-left: 15px;">Sales</span>
                                                </uib-tab-heading>
                                            </uib-tab>
                                            <uib-tab class="today-appoin-tab clearfix" select="tabChange(1)" >
                                                <uib-tab-heading>
                                                    <span class="tab-title" style="margin-left: 46px;">Purchase</span>
                                                </uib-tab-heading>
                                            </uib-tab>
                                        </uib-tabset>
                                        <div class="invoice-add2" static-include="tpl/customerSales.html" data-ng-show="currentStep == 0"></div>
                                        <div class="invoice-add2" static-include="tpl/customerPurchase.html" data-ng-show="currentStep == 1"></div>
                                    </form>
                                </div>
                            </div>   
                        </div>   

                    </div>


                </form>
            </div>

        </div>
    </div>

    <div class="model_overlay ng-hide" ng-show="showUploadFilePopup"></div>
    <div class="model_popup model_popup_fixed add add_review_popup ng-hide" ng-show="showUploadFilePopup">
        <a href="javascript:void(0)" ng-click="closePopup('fileupload')" class="glyphicon glyphicon-remove close " ></a>
        <h3>File Upload</h3>
        <div class="form-container " ng-if="showUploadFilePopup">
            <fileupload cloud-upload-path="img/customer/{{customerModel.customerInfo.id}}/" image-list="" show-comment="false"  has-limit="true" limit="1"></fileupload>
            <ul class="form-editable">
                <li class="center ">
                    <button type="button" class="btn btn-sm btn-orng ripple ripple-light"
                            data-ng-disabled="isImageSavingProcess || !isImageUploadComplete"
                            data-ng-click="saveImagePath()"
                            >Save</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="model_overlay ng-hide" ng-show="showPhotoGalaryPopup" ></div>
    <div class="model_popup model_popup_fixed add_review_popup ng-hide" data-ng-show="showPhotoGalaryPopup" >
        <a href="javascript:void(0)" ng-click="closePopup('photogalary')" class="glyphicon glyphicon-remove close " ></a>
        <h3>Photo Gallery</h3>
        <div class="form-container" data-ng-if="customerModel.customerInfo != null">
            <photo-gallery  image-list="humanResourceAddModel.imgs" image-width="600" ></photo-gallery>
        </div>
    </div>
</div>
