<div class="tab-form">
    <div class="container animated fadeInUp clearfix topmarginsm  bottommarginsm">
        <div class="bg-white">
            <div class="  clearfix add-form form-wrapper">
                <form name="sales_form" angular-validator-submit="" class="form-horizontal material-form clearfix " novalidate angular-validator >
                    <h4>Sales Estimate</h4>
                    <div class="table-responsive tab-tr">
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;"  rowspan="1" colspan="1" >
                                        Id
                                    </th>
                                    <th style="width: 150px;"  rowspan="1" colspan="1" >
                                        Leads
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Total Amount
                                    </th>

                                    <th style="width: 150px;  "   rowspan="1" colspan="1">
                                        Estimation Date
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Due Date
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Created By
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Status
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="customerModel.isLoadingProgress">
                                    <td colspan="7" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="customerModel.quoteList.length == 0">
                                    <td colspan="7" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="customer in customerModel.quoteList | limitTo : 10">
                                    <td>
                                        <a data-ui-sref="app.quoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.id}}
                                        </a>
                                    </td>

                                    <td>
                                        <a data-ui-sref="app.quoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.customer_fname}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.quoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.total_amount}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.quoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.date}}

                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.quoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.validuntil}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.quoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.created_by_name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.quoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.status}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="view-moretext right" data-ng-show="viewquoteFlag">
                            <a data-ng-click="viewMore('quote')">View More...</a>
                        </div>
                    </div>
                    <div class="table-responsive tab-tr" style="margin-top: 50px;">
                        <h4>Sales Order</h4>
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;"  rowspan="1" colspan="1" >
                                        Id
                                    </th>
                                    <th style="width: 150px;"  rowspan="1" colspan="1" >
                                        Customer
                                    </th>
                                    <th style="width: 100px;"   rowspan="1" colspan="1">
                                        City
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Total Amount
                                    </th>

                                    <th style="width: 150px;  "   rowspan="1" colspan="1">
                                        Advance Amount
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Order Date
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Due Date
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Created By
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Status
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="customerModel.isLoadingProgress">
                                    <td colspan="9" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="customerModel.orderList.length == 0">
                                    <td colspan="9" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="customer in customerModel.orderList | limitTo : 10">


                                    <td>
                                        <a data-ui-sref="app.salesorderView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.id}}
                                        </a>

                                    </td>

                                    <td>
                                        <a data-ui-sref="app.salesorderView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.customer_fname}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.salesorderView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.billing_city}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.salesorderView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.total_amount}}
                                        </a>

                                    </td>

                                    <td >
                                        <a data-ui-sref="app.salesorderView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.advance_amount}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.salesorderView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.date}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.salesorderView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.validuntil}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.salesorderView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.created_by_name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.salesorderView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.status}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="view-moretext right" data-ng-show="viewOrderFlag">
                            <a data-ng-click="viewMore('salesorder')">View More...</a>
                        </div>
                    </div>
                    <div class="table-responsive tab-tr" style="margin-top: 50px;">
                        <h4>Sales Invoice</h4>
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;"  rowspan="1" colspan="1" >
                                        Id
                                    </th>
                                    <th style="width: 150px;"  rowspan="1" colspan="1" >
                                        Customer
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Total Amount
                                    </th>

                                    <th style="width: 150px;  "   rowspan="1" colspan="1">
                                        Paid
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Order Date
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Due Date
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Created By
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Status
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="customerModel.isLoadingProgress">
                                    <td colspan="9" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="customerModel.invoiceList.length == 0">
                                    <td colspan="9" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="customer in customerModel.invoiceList | limitTo : 10">


                                    <td>
                                        <a data-ui-sref="app.invoiceView1({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">

                                            {{customer.id}}
                                        </a>

                                    </td>

                                    <td>
                                        <a data-ui-sref="app.invoiceView1({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.customer_fname}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.invoiceView1({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">

                                            {{customer.total_amount}}
                                        </a>

                                    </td>
                                    <td >
                                        <a data-ui-sref="app.invoiceView1({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">

                                            {{customer.paid_amount}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.invoiceView1({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.date}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.invoiceView1({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.duedate}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.invoiceView1({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.created_by_name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.invoiceView1({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.status}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="view-moretext right" >
                            <a data-ng-click="viewMore('invoice')">View More...</a>
                        </div>
                    </div>
                    <div class="table-responsive tab-tr" style="margin-top: 50px;">
                        <h4>AMC</h4>
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;"  rowspan="1" colspan="1" >
                                        Id
                                    </th>
                                    <th style="width: 150px;"  rowspan="1" colspan="1" >
                                        Date
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Customer
                                    </th>

                                    <th style="width: 150px;  "   rowspan="1" colspan="1">
                                        Product
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Years
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Amount
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="customerModel.isLoadingProgress">
                                    <td colspan="8" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="customerModel.amcList.length == 0">
                                    <td colspan="8" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="customer in customerModel.amcList | limitTo : 10">


                                    <td>
                                        <a data-ui-sref="app.amcView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.id}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.amcView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.from_date}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.amcView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.customer_name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.amcView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.product_name}}
                                        </a>
                                    </td>

                                    <td >
                                        <a data-ui-sref="app.amcView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.duration}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.amcView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.amount}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.amcView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.status}}
                                        </a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="view-moretext right" data-ng-show="viewamcFlag">
                            <a data-ng-click="viewMore('amc')">View More...</a>
                        </div>
                    </div>
                    <div class="table-responsive tab-tr" style="margin-top: 50px;">
                        <h4>Sales Payment</h4>
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;"  rowspan="1" colspan="1" >
                                        Id
                                    </th>
                                    <th style="width: 150px;"  rowspan="1" colspan="1" >
                                        Customer
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Total Amount
                                    </th>

                                    <th style="width: 150px;  "   rowspan="1" colspan="1">
                                        Balance Amount
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Date
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Account
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Payment Mode
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Voucher Type
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Created By
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="customerModel.isLoadingProgress">
                                    <td colspan="9" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="customerModel.paymentList.length == 0">
                                    <td colspan="9" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="customer in customerModel.paymentList | limitTo : 10">
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_sales_payment'" data-ng-click="viewDirect(customer.ref_id)" ui-scroll-to="app" target="_blank">
                                            {{customer.id}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_invoice'" data-ui-sref="app.advancepaymentView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.id}}
                                        </a>
                                    </td>

                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_sales_payment'" data-ng-click="viewDirect(customer.ref_id)" ui-scroll-to="app" target="_blank">
                                            {{customer.fname}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_invoice'" data-ui-sref="app.advancepaymentView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.fname}}
                                        </a>

                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_sales_payment'" data-ng-click="viewDirect(customer.ref_id)" ui-scroll-to="app" target="_blank">
                                            {{customer.amount}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_invoice'" data-ui-sref="app.advancepaymentView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.amount}}
                                        </a>

                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_sales_payment'" data-ng-click="viewDirect(customer.ref_id)" ui-scroll-to="app" target="_blank">
                                            {{customer.balance_amount}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_invoice'" data-ui-sref="app.advancepaymentView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.balance_amount}}
                                        </a>    
                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_sales_payment'" data-ng-click="viewDirect(customer.ref_id)" ui-scroll-to="app" target="_blank">

                                            {{customer.date}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_invoice'" data-ui-sref="app.advancepaymentView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.date}}
                                        </a>

                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_sales_payment'" data-ng-click="viewDirect(customer.ref_id)" ui-scroll-to="app" target="_blank">
                                            {{customer.account}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_invoice'" data-ui-sref="app.advancepaymentView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.account}}
                                        </a>
                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_sales_payment'" data-ng-click="viewDirect(customer.ref_id)" ui-scroll-to="app" target="_blank">
                                            {{customer.payment_mode}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_invoice'" data-ui-sref="app.advancepaymentView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.payment_mode}}
                                        </a>
                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_sales_payment'" data-ng-click="viewDirect(customer.ref_id)" ui-scroll-to="app" target="_blank">
                                            {{customer.voucher_type}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_invoice'" data-ui-sref="app.advancepaymentView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.voucher_type}}
                                        </a>
                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_sales_payment'" data-ng-click="viewDirect(customer.ref_id)" ui-scroll-to="app" target="_blank">
                                            {{customer.created_by_user}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_invoice'" data-ui-sref="app.advancepaymentView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.created_by_user}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="view-moretext right" data-ng-show="viewpaymentFlag">
                            <a data-ng-click="viewMore('salespayment')">View More...</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>