<script type="text/ng-template" id="acode_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.code | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="category_dropdown_tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="customerAddCtrl">


    <div class="bg-light clearfix">
        <div class="panel panel-default hide-print ">
            <div class="panel-heading clearfix ">
                <h2>Customer Add</h2>
                <!--                <a data-ng-show ="customerAddModel.contact_id == '' || customerAddModel.contact_id == 'undefined' || customerAddModel.contact_id == null" ui-sref="app.customers" class="add_button" ui-scroll-to="app">Back to customer List</a>
                                <a data-ng-show ="customerAddModel.contact_id != '' && customerAddModel.contact_id != 'undefined' && customerAddModel.contact_id != null" ng-click="redirectToContact()" class="add_button" >Back to contact</a>-->
                <a data-ng-hide ="contactView" ui-sref="app.customers" class="add_button" ui-scroll-to="app">Back to customer List</a>
                <a data-ng-show ="contactView == true && fromDeal == false" data-ui-sref="app.contactEdit({id: '{{$stateParams.id}}'})" ui-scroll-to="app" class="add_button" >Back to Contact</a>
                <a data-ng-show ="fromDeal == true" data-ui-sref="app.dealedit({id: '{{$stateParams.deal_id}}'})" ui-scroll-to="app" class="add_button" >Back to Deal</a>
            </div>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_customer_form" angular-validator-submit="createcustomer()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="bg-white  ">
                        <div class="row wrapper-md">

                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Customer No</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "customerno"
                                                ng-model = "customerAddModel.customerno"
                                                placeholder="Customer No"
                                                maxlength="20"
                                                validator = "validationFactory.hasRequired(customerAddModel.customerno) == false ||validationFactory.isPositiveNumber(customerAddModel.customerno) === true"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Customer Prefix</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "customerprefix"
                                                ng-model = "customerAddModel.customerprefix"
                                                placeholder="Customer Prefix"
                                                maxlength="20"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "customername"
                                                ng-model = "customerAddModel.name"
                                                placeholder="Full Name"
                                                maxlength="35"
                                                required/>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Company Name</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "companyname"
                                                ng-model = "customerAddModel.companyName"
                                                placeholder="Company Name"
                                                maxlength="35"
                                                />
                                    </div>
                                    <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                            <label>DOB</label>
                                                                        </div>
                                                                        <div class="col-sm-7 bottommargin dob ">
                                                                            <input name="dob" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                                                                   ng-model="customerAddModel.dob" readonly is-open="dobDateOpen"
                                                                                   max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                                                                   close-text="Close"  />
                                                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                                            </button>
                                                                        </div>-->
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "email"
                                                ng-model = "customerAddModel.email"
                                                placeholder="Enter the Email"
                                                validator = "validationFactory.hasRequired(customerAddModel.email) == false || validationFactory.emailValidator(customerAddModel.email) == true"
                                                />
                                    </div>
                                    <!--     required/>-->
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Phone*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "mobile"
                                                   ng-model = "customerAddModel.mobile"
                                                   placeholder="Enter the Mobile no"
                                                   required
                                                   >
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Acode</label>
                                    </div>
                                    <div class="col-sm-7 bottommarginsm">
                                        <input type="text"
                                               class="form-control"
                                               name="acode_dropdown_{{$index}}"
                                               ng-model="customerAddModel.acode"
                                               placeholder="Acode Details..."
                                               uib-typeahead="acode for acode in getAcodeList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-no-results="noResults"
                                               typeahead-min-length="0"
                                               typeahead-editable="true"
                                               typeahead-template-url="acode_dropdown__tpl.html"
                                               typeahead-input-formatter="formatAcodeModel($model)"
                                               autocomplete="off"   angular-validator-field
                                               />
                                        <span class="glyphicon glyphicon-search box-search "></span>
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div>    
                                    </div>

                                    <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                            <label>Password*</label>
                                                                        </div>
                                                                        <div class="col-sm-7 bottommargin">
                                                                            <input type="{{customerAddModel.showPassword ? 'text':'password' }}"
                                                                                   class="form-control bottommarginxs"
                                                                                   name = "password"
                                                                                   ng-model = "customerAddModel.password"
                                                                                   validator = "validationFactory.passwordValidator(customerAddModel.password) === true"
                                                                                   placeholder="Password"
                                                                                   required
                                                                                   />
                                                                            <input  type = "checkbox"
                                                                                    class=" "
                                                                                    ng-model = "customerAddModel.showPassword"
                                                                                    id="showPasswordchk"
                                                                                    />
                                                                            <label for="showPasswordchk">Show Password </label>
                                                                        </div>-->
                                </div>
                                <div class="row " ng-hide="!appConfig.dual_language_support">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Name</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "customerdualname"
                                                ng-model="customerDualAddModel.name"
                                                placeholder="Full Name"
                                                maxlength="35"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Company Name</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualcompanyname"
                                                ng-model = "customerDualAddModel.companyName"
                                                placeholder="Company Name"
                                                maxlength="35"
                                                />
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right" data-ng-show="appConfig.customer_special_date1 == true">
                                    <label>{{appConfig.customer_special_date1_label}}</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob" ng-show="appConfig.customer_special_date1 == true">
                                    <input name="dob2" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="customerAddModel.special_date1" readonly is-open="specialDate1"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>    
                                </div>
                                <div class="col-sm-5 topmarginxs right " data-ng-show="appConfig.customer_special_date2 == true">
                                    <label>{{appConfig.customer_special_date2_label}}</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob" ng-show="appConfig.customer_special_date2 == true">
                                    <input name="dob3" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="customerAddModel.special_date2" readonly is-open="specialDate2"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(2)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 topmarginxs right " data-ng-show="appConfig.customer_special_date3 == true">
                                    <label>{{appConfig.customer_special_date3_label}}</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob" ng-show="appConfig.customer_special_date3 == true">
                                    <input name="dob4" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="customerAddModel.special_date3" readonly is-open="specialDate3"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(3)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 topmarginxs right " data-ng-show="appConfig.customer_special_date4 == true">
                                    <label>{{appConfig.customer_special_date4_label}}</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob" ng-show="appConfig.customer_special_date4 == true">
                                    <input name="dob5" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="customerAddModel.special_date4" readonly is-open="specialDate4"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(4)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>

                                <div class="col-sm-5 topmarginxs right " data-ng-show="appConfig.customer_special_date5 == true">
                                    <label>{{appConfig.customer_special_date5_label}}</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob" ng-show="appConfig.customer_special_date5 == true">
                                    <input name="dob6" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="customerAddModel.special_date5" readonly is-open="specialDate5"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(5)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>

                            </div>       
                        </div>
                        <hr class="topmargin bottommargin hr-set">
                        <div class="row wrapper-md">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Billing Address</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "billingaddr"
                                                   ng-model = "customerAddModel.billingaddr"
                                                   placeholder="Billing Address"
                                                   ng-blur="updateShoppingAddr()"
                                                   >
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Billing Country</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select ng-model="customerAddModel.billingcountry" data-ng-change="billingAddressCountryChange();" theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices   repeat="country.id as country in customerAddModel.billingCountryList | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Billing State</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select ng-model="customerAddModel.billingstate" data-ng-change="billingAddressStateChange();" theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="Select State">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  refresh="initBillingAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.id as state in customerAddModel.billingStateList ">
                                                <div ng-bind-html="state.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Billing City</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select  ng-model="customerAddModel.billingcity" data-ng-change="updateShoppingAddr()"  theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="Select City">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  refresh="initBillingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.id as city in customerAddModel.billingCityList">
                                                <div ng-bind-html="city.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Billing Postcode</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "billingpostcode"
                                                ng-model = "customerAddModel.billingpostcode"
                                                placeholder="Billing Postcode"
                                                maxlength="20"
                                                validator = "validationFactory.isAlbhaNumeric(customerAddModel.billingpostcode) === true"
                                                ng-blur="updateShoppingAddr()"
                                                />
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "checkbox"
                                                class=" "
                                                ng-model = "customerAddModel.isSameAddr"
                                                data-ng-change="updateShoppingAddr()"
                                                id="isSameAddr"
                                                />
                                        <label for="isSameAddr">Is Shipping Address Same As Billing Address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Shipping Address</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea  type = "text"
                                               class="form-control"
                                               name = "shoppingaddr"
                                               ng-model = "customerAddModel.shoppingaddr"
                                               placeholder="Shopping Address"
                                               data-ng-disabled="customerAddModel.isSameAddr"

                                               >
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Shipping Country</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select ng-model="customerAddModel.shoppingcountry" 
                                               data-ng-disabled="customerAddModel.isSameAddr"
                                               data-ng-change="shippingAddressCountryChange()"
                                               theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices   repeat="country.id as country in customerAddModel.shoppingCountryList | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Shipping State</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select ng-model="customerAddModel.shoppingstate" 
                                               data-ng-change="shippingAddressStateChange()"
                                               data-ng-disabled="customerAddModel.isSameAddr" theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="Select State">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  refresh="initShippingAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.id as state in customerAddModel.shoppingStateList">
                                            <div ng-bind-html="state.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Shipping City</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select  ng-model="customerAddModel.shoppingcity" data-ng-disabled="customerAddModel.isSameAddr" theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="Select City">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  refresh="initShippingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.id as city in customerAddModel.shoppingCityList">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Shipping Postcode</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingpostcode"
                                            ng-model = "customerAddModel.shoppingpostcode"
                                            placeholder="Shopping Postcode"
                                            maxlength="20"  data-ng-disabled="customerAddModel.isSameAddr"
                                            validator = "validationFactory.isAlbhaNumeric(customerAddModel.shoppingpostcode) === true"
                                            />
                                </div>

                            </div>
                        </div>
                        <div class="row wrapper-md"  ng-hide="!appConfig.dual_language_support">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Billing Address</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "dualbillingaddr"
                                                   ng-model = "customerDualAddModel.billingaddr"
                                                   placeholder="Billing Address"
                                                   ng-change="updateShoppingAddr()"
                                                   >
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Billing Country</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualbillingcountry"
                                                ng-model = "customerDualAddModel.billingcountry"
                                                placeholder="Billing Country"
                                                maxlength="20"
                                                ng-change="updateShoppingAddr()"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Billing State</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualbillingstate"
                                                ng-model = "customerDualAddModel.billingstate"
                                                placeholder="Billing State"
                                                ng-change="updateShoppingAddr()"
                                                maxlength="20"

                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Billing City</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualbillingcity"
                                                ng-model = "customerDualAddModel.billingcity"
                                                placeholder="Billing City"
                                                maxlength="20"
                                                ng-change="updateShoppingAddr()"
                                                />
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Billing Postcode</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualbillingpostcode"
                                                ng-model = "customerDualAddModel.billingpostcode"
                                                placeholder="Billing Postcode"
                                                maxlength="20"
                                                ng-change="updateShoppingAddr()"
                                                />
                                    </div>

                                </div>
                            </div> 
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}}_Shipping Address</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea  type = "text"
                                               class="form-control"
                                               name = "dualshoppingaddr"
                                               ng-model = "customerDualAddModel.shoppingaddr"
                                               placeholder="Shopping Address"
                                               data-ng-disabled="customerAddModel.isSameAddr"

                                               >
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}}_Shipping Country</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingcountry"
                                            ng-model = "customerDualAddModel.shoppingcountry"
                                            placeholder="Shopping Country"
                                            maxlength="20"  data-ng-disabled="customerAddModel.isSameAddr"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}}_Shipping State</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingstate"
                                            ng-model = "customerDualAddModel.shoppingstate"
                                            placeholder="Shopping State"
                                            maxlength="20"  data-ng-disabled="customerAddModel.isSameAddr"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}}_Shipping City</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingcity"
                                            ng-model = "customerDualAddModel.shoppingcity"
                                            placeholder="Shopping City"
                                            maxlength="20"
                                            data-ng-disabled="customerAddModel.isSameAddr"
                                            />
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}}_Shipping Postcode</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingpostcode"
                                            ng-model = "customerDualAddModel.shoppingpostcode"
                                            placeholder="Shopping Postcode"
                                            maxlength="20"  data-ng-disabled="customerAddModel.isSameAddr"
                                            />
                                </div>

                            </div>
                        </div>  


                        <div class="row">
                            <div class="col-sm-12">

                                <div class="col-sm-3">

                                    <div class="form-group clearfix left" style="padding-left: 55%;">
                                        <label style="width: 100%;"></label>
                                        <input type="checkbox"
                                               class=" "
                                               id="isSale"
                                               name="isSale"
                                               data-ng-model="customerAddModel.isSale"
                                               validator="validationFactory.hasRequired(customerAddModel.isSale) || validationFactory.hasRequired(customerAddModel.isPurchase)"
                                               angular-validator-field
                                               />
                                        <label for="isSale">Sales</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group clearfix ">
                                        <label style="width: 100%;"></label>
                                        <input type="checkbox"
                                               class=" "
                                               id="isPurchase"
                                               name="isPurchase"
                                               data-ng-model="customerAddModel.isPurchase"
                                               validator="validationFactory.hasRequired(customerAddModel.isSale) || validationFactory.hasRequired(customerAddModel.isPurchase)"
                                               angular-validator-field
                                               />
                                        <label for="isPurchase">Purchase</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr class="topmargin bottommargin hr-set">
                        <div class="sample-row">
                            <div class="row">
                                <div class="col-sm-3 " data-ng-repeat="attribute in customAttributeBaseList">
                                    <div class="row">
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'checkbox'">
                                            <custom-checkbox name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-checkbox>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'dropdown'">
                                            <custom-selectoption name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-selectoption>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'multiselect'">
                                            <custom-multiselect name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-multiselect>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'YesOrNo'">
                                            <custom-yes-or-no name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-yes-or-no>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                            <custom-textinput name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-textinput>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sample-row">
                            <div class="row">
                                <div class="col-sm-3 "  ng-if="customAttributeDualSupportList.length > 0" > 
                                    <div class="row ">
                                        <span>{{appConfig.dual_language_label}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 " data-ng-repeat="attribute in customAttributeDualSupportList">
                                    <div class="row ">
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'checkbox'">
                                            <custom-checkbox name="custom_field_grp2{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-checkbox>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'dropdown'">
                                            <custom-selectoption name="custom_field_grp2{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-selectoption>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'multiselect'">
                                            <custom-multiselect name="custom_field_grp2{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-multiselect>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'YesOrNo'">
                                            <custom-yes-or-no name="custom_field_grp2{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-yes-or-no>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                            <custom-textinput name="custom_field_grp2{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-textinput>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row wrapper-md ">
                            <!--                            <div class="col-sm-4 wrapper-md">
                                                            <div class="row  " data-ng-repeat="attribute in customAttributeList">
                                                                <div class ="sea col-sm-12" data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                                                    <custom-textinput name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-textinput>
                                                                </div> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 wrapper-md">
                                                            <div class="row  " data-ng-repeat="attribute in customAttributeList">
                                                                <div class ="sea col-sm-12" data-ng-if="attribute.input_type == 'dropdown'">
                                                                    <custom-selectoption name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="modify_customer_form"></custom-selectoption>
                                                                </div>
                                                                <div class="col-sm-6 sea left" data-ng-if="attribute.input_type == 'YesOrNo'">
                                                                    <custom-yes-or-no name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="modify_customer_form"></custom-yes-or-no>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 wrapper-md">
                                                            <div class="row  " data-ng-repeat="attribute in customAttributeList">
                                                                <div class ="sea col-sm-12" data-ng-if="attribute.input_type == 'multiselect'">
                                                                    <custom-multiselect name="custom_field_grp1{{$index}}" field-value="attribute" options  form-name="modify_customer_form"></custom-multiselect>
                                                                </div>
                            
                                                                <div class ="sea col-sm-12" data-ng-if="attribute.input_type == 'checkbox'">
                                                                    <custom-checkbox name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="modify_customer_form"></custom-checkbox>
                                                                    <div class="row" >
                                                                        <div class="col-sm-12 toppadding bottompadding topmarginsm">
                                                                        </div>
                                                                    </div>
                                                                </div> 
                                                            </div>
                                                        </div>-->
                            <!--                            <div class="col-sm-4 wrapper-md">
                                                            <div class="row  " data-ng-repeat="attribute in customAttributeList">
                            
                                                                <div class ="sea col-sm-12  left" data-ng-if="attribute.input_type == 'multiselect'">
                                                                    <custom-multiselect name="custom_field_grp1{{$index}}" field-value="attribute" options  form-name="modify_customer_form"></custom-multiselect>
                                                                </div>
                            
                            
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="row" data-ng-repeat="attribute in customAttributeList">
                                                                <div class="col-sm-12 sea  topmarginxs left" data-ng-if="attribute.input_type == 'YesOrNo'" >
                                                                    <custom-yes-or-no name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="modify_customer_form"></custom-yes-or-no>
                                                                </div>
                                                            </div>
                            
                                                        </div>-->

                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                            </div>
                        </div>


                    </div>
                </form>
            </div>



        </div>
    </div>
</div>
