<div class="app-content-body fade-in-up req-stock " data-ng-controller="customeraniReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Special Date Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <a href="{{APP_CONST.API.PARTYSALES_DOWN}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&id={{searchFilter.customerInfo.id}}&is_active=1&mode=1&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="anniversary_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.from_date" readonly is-open="fromDateOpen"
                               show-weeks="false" datepicker-options="dateOptions" placeholder="-From Date-" validator = "validationFactory.minDate(searchFilter.from_date,searchFilter.to_date)"
                               required close-text="Close"  />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.to_date" readonly is-open="toDateOpen"
                               show-weeks="false" datepicker-options="dateOptions" placeholder="-To Date-" validator = "validationFactory.minDate(searchFilter.from_date,searchFilter.to_date)"
                               required close-text="Close"  />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >                        
                        <select ng-model="searchFilter.type" name="dateType" data-ng-change="checkDateEvent()" class="form-control"  required>
                            <option value ="">-Select Date-</option>
                            <option value="{{date.type}}" data-ng-repeat="date in customeranniReportModel.dateList">{{date.label}}</option>
                        </select>
                    </div>   
                    <div class="col-sm-2 ">
                        <div class="col-sm-6 ">
                            <button type="submit" class="btn-sm btn-primary"
                                    data-ng-disabled="customeranniReportModel.isSearchLoadingProgress || customeranniReportModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":customeranniReportModel.isSearchLoadingProgress}'
                                    >
                                Search
                            </button>
                        </div>
                        <div class="col-sm-6 ">
                            <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset>
                                Clear
                            </button>
                        </div>
                    </div>                    
                    <div class="sea right">                       
                        <a href="javascript:void(0)" class="add_button add-dash"  data-ng-show="enableSendSms" data-ng-disabled="customeranniReportModel.isSmsLoadingProgress" data-ng-class='{"btn-loader":customeranniReportModel.isSmsLoadingProgress}' data-ng-click="sendSms()"> Send SMS</a>                                                                             
                    </div>
                </div>
            </form>
        </div>
        <div class="selected-date bottommargin print-show">
            <ul class="search-filters clearfix">
                <li class="col-sm-4 ">From Date: {{searchFilter.from_date| date:'dd-MM-yyyy'}}</li>
                <li class="col-sm-4 ">To Date: {{searchFilter.to_date| date:'dd-MM-yyyy'}}</li>
                <li class="col-sm-4 " data-ng-if="searchFilter.type == '1'">Type: Birthday</li>
                <li class="col-sm-4 " data-ng-if="searchFilter.type == 'customer_special_date1'">Type:{{appConfig.customer_special_date1_label}} </li>
                <li class="col-sm-4 " data-ng-if="searchFilter.type == 'customer_special_date2'">Type: {{appConfig.customer_special_date2_label}}</li>
                <li class="col-sm-4 " data-ng-if="searchFilter.type == 'customer_special_date3'">Type: {{appConfig.customer_special_date3_label}}</li>
                <li class="col-sm-4 " data-ng-if="searchFilter.type == 'customer_special_date4'">Type: {{appConfig.customer_special_date4_label}}</li>
                <li class="col-sm-4 " data-ng-if="searchFilter.type == 'customer_special_date5'">Type: {{appConfig.customer_special_date5_label}}</li>
            </ul>
        </div>
        <div class="table-responsive chk-tab">
            <table class="table no-link td-align table-striped b-t  dataTable no-footer " style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 50px;"  rowspan="1" colspan="1" >
                            <input type="checkbox"
                                   class=" "
                                   name="all_check"
                                   id="chk_all"
                                   data-ng-model="selectAll"
                                   data-ng-change="checkAllCustomer()"
                                   />
                            <label for="chk_all">&nbsp;</label>
                        </th>
                        <th style="width: 150px; "  rowspan="1" colspan="1" >
                            Date
                        </th>
                        <th style="width: 150px;"   rowspan="1" colspan="1">
                            Event
                        </th>
                        <th style="width:150px;"   rowspan="1" colspan="1">
                            Name
                        </th>
                        <th style="width: 150px;"   rowspan="1" colspan="1">
                            Mobile No
                        </th>
                        <th style="width: 150px;"   rowspan="1" colspan="1">
                            Address
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="customeranniReportModel.isLoadingProgress">
                        <td colspan="6" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-show="customeranniReportModel.list.length == 0">
                        <td colspan="6" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>
                    <tr data-ng-repeat="customeranni in customeranniReportModel.list">
                        <td>
                            <input  type = "checkbox"
                                    class=" "
                                    id="sendsms_{{$index}}"
                                    name="sendsms_{{$index}}"
                                    ng-model = "customeranniReportModel.list[$index].sendSms"
                                    />
                            <label for="sendsms_{{$index}}">&nbsp;</label>
                        </td>
                        <td data-ng-show="searchFilter.type == 'dob'">
                            {{customeranni.dob}}
                        </td>
                        <td data-ng-show="searchFilter.type == 'customer_special_date1'">
                            {{customeranni.special_date1}}
                        </td>
                        <td data-ng-show="searchFilter.type == 'customer_special_date2'">
                            {{customeranni.special_date2}}
                        </td>
                        <td data-ng-show="searchFilter.type == 'customer_special_date3'">
                            {{customeranni.special_date3}}
                        </td>
                        <td data-ng-show="searchFilter.type == 'customer_special_date4'">
                            {{customeranni.special_date4}}
                        </td>     
                        <td data-ng-show="searchFilter.type == 'customer_special_date5'">
                            {{customeranni.special_date5}}
                        </td> 
                        <td data-ng-show="searchFilter.type == 'dob'">
                            Birthday
                        </td>
                        <td data-ng-show="searchFilter.type == 'customer_special_date1'">
                            {{appConfig.customer_special_date1_label}}
                        </td>
                        <td data-ng-show="searchFilter.type == 'customer_special_date2'">
                            {{appConfig.customer_special_date2_label}}
                        </td>
                        <td data-ng-show="searchFilter.type == 'customer_special_date3'">
                            {{appConfig.customer_special_date3_label}}
                        </td>
                        <td data-ng-show="searchFilter.type == 'customer_special_date4'">
                            {{appConfig.customer_special_date4_label}}
                        </td>
                        <td data-ng-show="searchFilter.type == 'customer_special_date5'">
                            {{appConfig.customer_special_date5_label}}
                        </td>
                        <td>
                            {{customeranni.fname}}
                        </td>
                        <td>
                            {{customeranni.phone}}
                        </td>
                        <td>
                            {{customeranni.billing_address}}
                        </td>
                    </tr>

                </tbody>                
            </table>
        </div>
    </div>
</div>

