
<script type="text/ng-template" id="category_dropdown_tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="customerEditCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default hide-print ">
            <div class="panel-heading clearfix ">
                <h2>Customer Edit</h2>
                <a ui-sref="app.customers" class="add_button" ui-scroll-to="app">Back to customer List</a>
            </div>
        </div>


        <div class="model_overlay" ng-show="customerEditModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
        <div class="wrapper-md ">
            <div class="  add-form form-wrapper clearfix ">
                <form name="modify_customer_form" angular-validator-submit="modifyCustomerDetails()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="bg-white ">
                        <div class="row wrapper-md ">

                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Customer Code</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                ng-model = "customerEditModel.customerInfo.customer_code"
                                                placeholder="Customer No"
                                                disabled="disabled"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Customer No</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "customerno"
                                                ng-model = "customerEditModel.customerInfo.customer_no"
                                                placeholder="Customer No"
                                                maxlength="20"
                                                validator = "validationFactory.hasRequired(customerEditModel.customerInfo.customer_no) == false ||validationFactory.isPositiveNumber(customerEditModel.customerInfo.customer_no) === true"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Customer Prefix</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "customerprefix"
                                                ng-model = "customerEditModel.customerInfo.prefix"
                                                placeholder="Customer Prefix"
                                                maxlength="20"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "customername"
                                                ng-model = "customerEditModel.customerInfo.fname"
                                                placeholder="Full Name"
                                                maxlength="35"
                                                required/>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Company Name</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "companyname"
                                                ng-model = "customerEditModel.customerInfo.company"
                                                placeholder="Company Name"
                                                maxlength="35"
                                                />
                                    </div>
                                    <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                            <label>DOB</label>
                                                                        </div>
                                                                        <div class="col-sm-7 bottommargin dob ">
                                                                            <input name="dob" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                                                                   ng-model="customerEditModel.dob" readonly is-open="dobDateOpen"
                                                                                   max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                                                                  close-text="Close"  />
                                                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                                            </button>
                                                                        </div>-->
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "email"
                                                ng-model = "customerEditModel.customerInfo.email"
                                                placeholder="Enter the Email"
                                                validator = "validationFactory.hasRequired(customerEditModel.customerInfo.email) == false || validationFactory.emailValidator(customerEditModel.customerInfo.email) == true"
                                                />
                                        <!--                                                validator = "validationFactory.hasRequired(customerEditModel.customerInfo.email) == false || validationFactory.emailValidator(customerEditModel.customerInfo.email) == true"
                                                                                        required/>-->
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Phone*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "phone"
                                                   ng-model = "customerEditModel.customerInfo.phone"
                                                   placeholder="Enter the Phone no"
                                                   required/>
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Acode</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <label class="lbl">{{customerEditModel.acode}}</label>                                        
                                    </div>
                                    <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                            <label>Password</label>
                                                                        </div>
                                                                        <div class="col-sm-7 bottommargin">
                                                                            <input  type = "{{ customerEditModel.showPassword ? 'text':'password' }}"
                                                                                    class="form-control bottommarginxs"
                                                                                    name = "password"
                                                                                    ng-model = "customerEditModel.password"
                                                                                    placeholder="password"
                                                                                    validator = "validationFactory.hasRequired(customerEditModel.password) == false || validationFactory.passwordValidator(customerEditModel.password) === true"
                                                                                    />
                                                                            <input  type = "checkbox"
                                                                                    class=" "
                                                                                    ng-model = "customerEditModel.showPassword"
                                                                                    id="showPasswordchk"
                                                                                    />
                                                                            <label for="showPasswordchk">Show Password</label>
                                                                        </div>-->
                                </div>
                                <div class="row " ng-hide="!appConfig.dual_language_support">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Name</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "customerdualname"
                                                ng-model="customerDualEditModel.name"
                                                placeholder="Full Name"
                                                maxlength="35"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Company Name</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualcompanyname"
                                                ng-model="customerDualEditModel.companyname"
                                                placeholder="Company Name"
                                                maxlength="35"
                                                />
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right" data-ng-show="appConfig.customer_special_date1 == true">
                                    <label>{{appConfig.customer_special_date1_label}}</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob" ng-show="appConfig.customer_special_date1 == true">
                                    <input name="dob2" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="customerEditModel.special_date1" readonly is-open="specialDate1"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>    
                                </div>
                                <div class="col-sm-5 topmarginxs right " data-ng-show="appConfig.customer_special_date2 == true">
                                    <label>{{appConfig.customer_special_date2_label}}</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob" ng-show="appConfig.customer_special_date2 == true">
                                    <input name="dob3" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="customerEditModel.special_date2" readonly is-open="specialDate2"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(2)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 topmarginxs right " data-ng-show="appConfig.customer_special_date3 == true">
                                    <label>{{appConfig.customer_special_date3_label}}</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob" ng-show="appConfig.customer_special_date3 == true">
                                    <input name="dob4" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="customerEditModel.special_date3" readonly is-open="specialDate3"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(3)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 topmarginxs right " data-ng-show="appConfig.customer_special_date4 == true">
                                    <label>{{appConfig.customer_special_date4_label}}</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob" ng-show="appConfig.customer_special_date4 == true">
                                    <input name="dob5" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="customerEditModel.special_date4" readonly is-open="specialDate4"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(4)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>

                                <div class="col-sm-5 topmarginxs right " data-ng-show="appConfig.customer_special_date5 == true">
                                    <label>{{appConfig.customer_special_date5_label}}</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob" ng-show="appConfig.customer_special_date5 == true">
                                    <input name="dob6" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="customerEditModel.special_date5" readonly is-open="specialDate5"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(5)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>

                            </div>

                            <div class="col-sm-5">
                                <div class="col-sm-3 ">
                                    <div class="prof-gallery gallery clearfix "  >
                                        <div class="prof-img " data-ng-show="customerEditModel.img.length == 0">
                                            <img src="../img/nobody_m.original.jpg" style="width:200px;height:200px" />
                                        </div>
                                        <div class="prof-img " data-ng-if="customerEditModel.img.length != 0">
                                            <cloud-image-loader urlpath="customerEditModel.img[0].urlpath" style="width:200px;height:200px; display: inline-block;"></cloud-image-loader>
                                            <!--                                            <img src="../{{customerEditModel.img[0].filepath}}" style="width:150px;height:150px"/>-->
                                        </div>
                                        <a href="javascript:void(0)" class="upload-all-photo" data-ng-click="showPopup('fileupload')">View / Change</a>
                                    </div>
                                </div>
                                <div class="col-sm-2 ">
                                    &nbsp;
                                </div>

                                <div class="col-sm-12 ">
                                    &nbsp;
                                </div>
                                <div class="row ">
                                    <div class="col-sm-5 ">
                                        <div class="row ">
                                            <!--                                         <div class="form-group clearfix ">
                                      <label style="width: 100%;"></label>
                                      <input type="checkbox"
                                             class=" "
                                             id="welcomeEmail"
                                             data-ng-model="customerEditModel.iswelcomeEmail"
                                             />
                                      <label for="welcomeEmail">Welcome Email</label>
                                  </div>-->
                                            <div class="form-group clearfix right ">
                                                <label style="width: 100%;"></label>
                                                <input type="checkbox"
                                                       class=" "
                                                       id="isSale"
                                                       name="is_sale"
                                                       data-ng-model="customerEditModel.is_sale"
                                                       validator="validationFactory.hasRequired(customerEditModel.is_sale) || validationFactory.hasRequired(customerEditModel.is_purchase)"
                                                       angular-validator-field
                                                       />
                                                <label for="isSale">Sales</label>
                                            </div>
                                            <div class="form-group clearfix right ">
                                                <label style="width: 100%;"></label>
                                                <input type="checkbox"
                                                       class=" "
                                                       id="isPurchase"
                                                       name="is_purchase"
                                                       data-ng-model="customerEditModel.is_purchase"
                                                       validator="validationFactory.hasRequired(customerEditModel.is_sale) || validationFactory.hasRequired(customerEditModel.is_purchase)"
                                                       angular-validator-field
                                                       />
                                                <label for="isPurchase">Purchase</label>
                                            </div>
                                            <!--                                         <div class="form-group">
                                                                        <label>Tags</label>
                                                                        <input  type = "text"
                                                                                class="form-control"
                                                                                name = "Tags"
                                                                                ng-model = "customerEditModel.customerInfo.tags"
                                                                                placeholder="Tags"
                                                                                validator = "validationFactory.isAlbhaNumeric(customerEditModel.customerInfo.tags) === true"
                                                                                />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Currency</label>
                                                                        <select type = "text" ng-model="customerEditModel.customerInfo.currency" class="form-control">
                                                                            <option value="">-Currency-</option>
                                                                            <option value="{{user.userid}}" data-ng-repeat="user in customerEditModel.customerInfo.userList">{{user.username}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Group</label>
                                                                        <select type = "text" ng-model="customerEditModel.customerInfo.group" class="form-control">
                                                                            <option value="">-Group List-</option>
                                                                            <option value="{{user.userid}}" data-ng-repeat="user in customerEditModel.userList">{{user.username}}</option>
                                                                        </select>
                                                                    </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---->
                        </div>
                        <hr class="topmargin bottommargin hr-set">
                        <div class="row wrapper-md ">

                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Billing Address</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "billingaddr"
                                                   ng-model = "customerEditModel.billingaddr"
                                                   placeholder="Billing Address"

                                                   />
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Billing Country</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">

                                        <ui-select ng-model="customerEditModel.billingcountry" data-ng-change="billingAddressCountryChange()" theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices   repeat="country.id as country in customerEditModel.billingCountryList | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>


                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Billing State</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select ng-model="customerEditModel.billingstate" data-ng-change="billingAddressStateChange()" theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="Select State">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  refresh="initBillingAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.id as state in customerEditModel.billingStateList ">
                                                <div ng-bind-html="state.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>


                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Billing City</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select  ng-model="customerEditModel.billingcity" data-ng-change="updateShoppingAddr()"  theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="Select City">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  refresh="initBillingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.id as city in customerEditModel.billingCityList">
                                                <div ng-bind-html="city.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Billing Postcode</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "billingpostcode"
                                                ng-model = "customerEditModel.billingpostcode"
                                                placeholder="Billing Postcode"
                                                maxlength="20"
                                                validator = "validationFactory.isAlbhaNumeric(customerEditModel.billingpostcode) === true"
                                                />
                                    </div>


                                    <div class="col-sm-5 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "checkbox"
                                                class=" "
                                                ng-model = "customerEditModel.isSameAddr"
                                                data-ng-change="updateShoppingAddr()"
                                                id="isSameAddr"
                                                />
                                        <label for="isSameAddr">Is Shipping Address Same As Billing Address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Shipping Address</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea  type = "text"
                                               class="form-control"
                                               name = "shoppingaddr"
                                               ng-model = "customerEditModel.shoppingaddr"
                                               placeholder="Shopping Address"

                                               />
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Shipping Country</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select ng-model="customerEditModel.shoppingcountry" 
                                               data-ng-disabled="customerEditModel.isSameAddr"
                                               data-ng-change="shippingAddressCountryChange()"
                                               theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices   repeat="country.id as country in customerEditModel.shoppingCountryList | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                        </ui-select-choices>


                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Shipping State</label>
                                </div>
                                <div class="col-sm-7 bottommargin">

                                    <ui-select ng-model="customerEditModel.shoppingstate" 
                                               data-ng-disabled="customerEditModel.isSameAddr"
                                               data-ng-change="shippingAddressStateChange()"
                                               theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="Select State">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  refresh="initShippingAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.id as state in customerEditModel.shoppingStateList">
                                            <div ng-bind-html="state.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>


                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Shipping City</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select  ng-model="customerEditModel.shoppingcity" data-ng-disabled="customerEditModel.isSameAddr" theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="Select City">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  refresh="initShippingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.id as city in customerEditModel.shoppingCityList">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Shipping Postcode</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingpostcode"
                                            ng-model = "customerEditModel.shoppingpostcode"
                                            placeholder="Shopping Postcode"
                                            maxlength="20"
                                            validator = "validationFactory.isAlbhaNumeric(customerEditModel.shoppingpostcode) === true"
                                            />
                                </div>
                            </div>
                        </div>
                        <div class="row wrapper-md"  ng-hide="!appConfig.dual_language_support">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Billing Address</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "dualbillingaddr"
                                                   ng-model = "customerDualEditModel.billingaddr"
                                                   placeholder="Billing Address"

                                                   />
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Billing Country</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualbillingcountry"
                                                ng-model = "customerDualEditModel.billingcountry"
                                                placeholder="Billing Country"
                                                maxlength="20"
                                                ng-change="updateShoppingAddr()"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Billing State</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualbillingstate"
                                                ng-model = "customerDualEditModel.billingstate"
                                                placeholder="Billing State"
                                                maxlength="20"
                                                ng-change="updateShoppingAddr()"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Billing City</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualbillingcity"
                                                ng-model = "customerDualEditModel.billingcity"
                                                placeholder="Billing City"
                                                maxlength="20"
                                                ng-change="updateShoppingAddr()"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}}_Billing Postcode</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualbillingpostcode"
                                                ng-model = "customerDualEditModel.billingpostcode"
                                                placeholder="Billing Postcode"
                                                maxlength="20"
                                                ng-change="updateShoppingAddr()"
                                                />
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}}_Shipping Address</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea  type = "text"
                                               class="form-control"
                                               name = "dualshoppingaddr"
                                               ng-model = "customerDualEditModel.shoppingaddr"
                                               placeholder="Shopping Address"
                                               data-ng-disabled="customerEditModel.isSameAddr"

                                               />
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}}_Shipping Country</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingcountry"
                                            ng-model = "customerDualEditModel.shoppingcountry"
                                            placeholder="Shopping Country"
                                            maxlength="20"  data-ng-disabled="customerEditModel.isSameAddr"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}}_Shipping State</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingstate"
                                            ng-model = "customerDualEditModel.shoppingstate"
                                            placeholder="Shopping State"
                                            maxlength="20"  data-ng-disabled="customerEditModel.isSameAddr"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}}_Shipping City</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingcity"
                                            ng-model = "customerDualEditModel.shoppingcity"
                                            placeholder="Shopping City"
                                            maxlength="20"
                                            data-ng-disabled="customerEditModel.isSameAddr"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}}_Shipping Postcode</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingpostcode"
                                            ng-model = "customerDualEditModel.shoppingpostcode"
                                            placeholder="Shopping Postcode"
                                            maxlength="20"  data-ng-disabled="customerEditModel.isSameAddr"
                                            />
                                </div>

                            </div>
                        </div>

                        <hr class="topmargin bottommargin hr-set">

                        <div class="sample-row">
                            <div class="row" >
                                <div class="col-sm-3 " data-ng-repeat="attribute in customAttributeBaseList">
                                    <div class="row ">
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'checkbox'">
                                            <custom-checkbox name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-checkbox>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'dropdown'">
                                            <custom-selectoption name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-selectoption>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'multiselect'">
                                            <custom-multiselect name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-multiselect>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'YesOrNo'">
                                            <custom-yes-or-no name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-yes-or-no>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                            <custom-textinput name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-textinput>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sample-row">
                            <div class=" row " >
                                <div class="col-sm-3 "  ng-if="customAttributeDualSupportList.length > 0" > 
                                    <div class="row ">
                                        <span>{{appConfig.dual_language_label}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 " data-ng-repeat="attribute in customAttributeDualSupportList">
                                    <div class="row ">
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'checkbox'">
                                            <custom-checkbox name="custom_field_grp2{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-checkbox>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'dropdown'">
                                            <custom-selectoption name="custom_field_grp2{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-selectoption>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'multiselect'">
                                            <custom-multiselect name="custom_field_grp2{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-multiselect>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'YesOrNo'">
                                            <custom-yes-or-no name="custom_field_grp2{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-yes-or-no>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                            <custom-textinput name="custom_field_grp2{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-textinput>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row wrapper-md ">
                            <!--                            <div class="col-sm-4 wrapper-md">
                                                            <div class="row  " data-ng-repeat="attribute in customAttributeList">
                            
                                                                <div class ="sea col-sm-12" data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                                                    <custom-textinput name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="modify_customer_form"></custom-textinput>
                                                                </div>
                            
                            
                            
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 wrapper-md">
                                                            <div class="row  " data-ng-repeat="attribute in customAttributeList">
                            
                                                                <div class ="sea col-sm-12" data-ng-if="attribute.input_type == 'dropdown'">
                                                                    <custom-selectoption name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="modify_customer_form"></custom-selectoption>
                                                                </div>
                            
                            
                                                                <div class="col-sm-6 sea left" data-ng-if="attribute.input_type == 'YesOrNo'" >
                                                                    <custom-yes-or-no name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="modify_customer_form"></custom-yes-or-no>
                                                                </div>
                            
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 wrapper-md">
                                                            <div class="row  " data-ng-repeat="attribute in customAttributeList">
                            
                                                                <div class ="sea col-sm-12" data-ng-if="attribute.input_type == 'multiselect'">
                                                                    <custom-multiselect name="custom_field_grp1{{$index}}" field-value="attribute" options  form-name="modify_customer_form"></custom-multiselect>
                                                                </div>
                            
                                                                <div class ="sea col-sm-12" data-ng-if="attribute.input_type == 'checkbox'">
                                                                    <custom-checkbox name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="modify_customer_form"></custom-checkbox>
                                                                    <div class="row" >
                                                                        <div class="col-sm-12 toppadding bottompadding topmarginsm">
                                                                        </div>
                                                                    </div>
                                                                </div> 
                            
                            
                            
                                                            </div>
                                                        </div>-->


                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                            </div>
                        </div>



                    </div>


                </form>
            </div>

        </div>
    </div>

    <div class="model_overlay ng-hide" ng-show="showUploadFilePopup"></div>
    <div class="model_popup model_popup_fixed add add_review_popup ng-hide" ng-show="showUploadFilePopup">
        <a href="javascript:void(0)" ng-click="closePopup('fileupload')" class="glyphicon glyphicon-remove close " ></a>
        <h3>File Upload</h3>
        <div class="form-container " ng-if="showUploadFilePopup">
            <fileupload cloud-upload-path="img/customer/{{customerEditModel.customerInfo.id}}/" image-list="" show-comment="false"  has-limit="true" limit="1"></fileupload>
            <ul class="form-editable">
                <li class="center ">
                    <button type="button" class="btn btn-sm btn-orng ripple ripple-light"
                            data-ng-disabled="isImageSavingProcess || !isImageUploadComplete"
                            data-ng-click="saveImagePath()"
                            >Save</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="model_overlay ng-hide" ng-show="showPhotoGalaryPopup" ></div>
    <div class="model_popup model_popup_fixed add_review_popup ng-hide" data-ng-show="showPhotoGalaryPopup" >
        <a href="javascript:void(0)" ng-click="closePopup('photogalary')" class="glyphicon glyphicon-remove close " ></a>
        <h3>Photo Gallery</h3>
        <div class="form-container" data-ng-if="customerEditModel.customerInfo != null">
            <photo-gallery  image-list="humanResourceAddModel.imgs" image-width="600" ></photo-gallery>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-5">
            <div class ="sea" data-ng-if="attribute.input_type == 'checkbox'">
                <custom-checkbox name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="modify_customer_form"></custom-checkbox>
            </div> 
        </div>
        <div class="col-sm-5">

        </div>
    </div>
</div>
