<div class="tab-form">
    <div class="container animated fadeInUp clearfix topmarginsm  bottommarginsm">
        <div class="bg-white">
            <div class="  clearfix add-form form-wrapper">
                <form name="purchase_form" angular-validator-submit="" class="form-horizontal material-form clearfix " novalidate angular-validator >
                    <div class="table-responsive tab-tr">
                        <h4>Purchase Order</h4>
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;"  rowspan="1" colspan="1" >
                                        Id
                                    </th>
                                    <th style="width: 150px;"  rowspan="1" colspan="1" >
                                        Vendor
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Advance Amount
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Total
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Order Date
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Valid Date
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Status
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="customerModel.isLoadingProgress">
                                    <td colspan="7" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="customerModel.purchaseorderList.length == 0">
                                    <td colspan="7" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="customer in customerModel.purchaseorderList | limitTo : 10">


                                    <td>
                                        <a data-ui-sref="app.purchaseQuoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.id}}
                                        </a>

                                    </td>

                                    <td>
                                        <a data-ui-sref="app.purchaseQuoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.customer_fname}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.purchaseQuoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.advance_amount}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.purchaseQuoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.total_amount}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.purchaseQuoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.date}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.purchaseQuoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.validuntil}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.purchaseQuoteView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.status}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="view-moretext right" data-ng-show="viewPurchaseorderFlag">
                            <a data-ng-click="viewMore('purchaseorder')">View More...</a>
                        </div>
                    </div>
                    <div class="table-responsive tab-tr" style="margin-top: 50px;">
                        <h4>Purchase Invoice</h4>
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;"  rowspan="1" colspan="1" >
                                        Id
                                    </th>
                                    <th style="width: 150px;"  rowspan="1" colspan="1" >
                                        Vendor
                                    </th>
                                    <th style="width: 100px;"   rowspan="1" colspan="1">
                                        Total
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Paid
                                    </th>

                                    <th style="width: 150px;  "   rowspan="1" colspan="1">
                                        Invoice Date
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Due Date
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Status
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="customerModel.isLoadingProgress">
                                    <td colspan="7" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="customerModel.purchaseInvoiceList.length == 0">
                                    <td colspan="7" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="customer in customerModel.purchaseInvoiceList | limitTo : 10">


                                    <td>
                                        <a data-ui-sref="app.purchaseInvoiceView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.id}}
                                        </a>
                                    </td>

                                    <td>
                                        <a data-ui-sref="app.purchaseInvoiceView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.customer_fname}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.purchaseInvoiceView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.total_amount}}
                                        </a>

                                    </td>
                                    <td>
                                        <a data-ui-sref="app.purchaseInvoiceView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.paid_amount}}
                                        </a>
                                    </td>

                                    <td >
                                        <a data-ui-sref="app.purchaseInvoiceView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.date}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.purchaseInvoiceView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.duedate}}

                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.purchaseInvoiceView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">

                                            {{customer.status}}
                                        </a>

                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="view-moretext right" data-ng-show="viewPurchaseinvoiceFlag">
                            <a data-ng-click="viewMore('purchaseinvoice')">View More...</a>
                        </div>
                    </div>
                    <div class="table-responsive tab-tr" style="margin-top: 50px;">
                        <h4>Purchase Payment</h4>
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;"  rowspan="1" colspan="1" >
                                        Id
                                    </th>
                                    <th style="width: 150px;"  rowspan="1" colspan="1" >
                                        Customer
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Total Amount
                                    </th>

                                    <th style="width: 150px;  "   rowspan="1" colspan="1">
                                        Balance Amount
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Date
                                    </th>
                                    <th style="width: 100px; "  rowspan="1" colspan="1">
                                        Voucher Type
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="customerModel.isLoadingProgress">
                                    <td colspan="6" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="customerModel.purchasepaymentList.length == 0">
                                    <td colspan="6" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="customer in customerModel.purchasepaymentList | limitTo : 10">
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{customer.ref_id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.id}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.id}}
                                        </a>
                                    </td>

                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{customer.ref_id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.fname}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.fname}}  
                                        </a>
                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{customer.ref_id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.amount}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.amount}} 
                                        </a>
                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{customer.ref_id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.balance_amount}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.balance_amount}}
                                        </a>    
                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{customer.ref_id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.date}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.date}}
                                        </a>    
                                    </td>
                                    <td>
                                        <a ng-if="customer.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{customer.ref_id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.voucher_type}}
                                        </a>
                                        <a ng-if="customer.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{customer.id}}'})" ui-scroll-to="app" target="_blank">
                                            {{customer.voucher_type}}  
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="view-moretext right" data-ng-show="viewpurchasepaymentFlag">
                            <a data-ng-click="viewMore('purchaseadvance')">View More...</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>