<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">-->

<!--    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>-->



<a>
    <span style="" ng-bind-html="match.model.fname | uibTypeaheadHighlight:query" > </span> <br/>
    <div>    <span style="font-size: 11px;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
    <div style="margin-top: -4px;"> <p id="demo">   <span style="font-size: 11px;" ng-bind-html="match.model.phone.split(',')[0]  | uibTypeaheadHighlight:query" >{{match.model.phone}}</p></span> 
        <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><br ng-if="match.model.billing_city != ''"/>
        <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
</a>
<div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>