<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<script type="text/ng-template" id="city_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>

<div class="app-content-body fade-in-up req-stock " data-ng-controller="dailyActivityUserReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 class="hide-print">Daily Activity Detailed Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <!--<a data-ui-sref="app.reportHome" class="add_button add_dash">Back to Home</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="daily_activity_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="tdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.date" is-open="toDateOpen" placeholder='Date'
                               show-weeks="false"
                               close-text="Close" 
                               />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="employee_dropdown_{{$index}}"
                               ng-model="searchFilter.employeeInfo"
                               placeholder="Employee Details..."
                               uib-typeahead="employee for employee in getEmployeelist($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="employee_dropdown_tpl.html"
                               typeahead-input-formatter="formatEmployeeModel($model)"      
                               />
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="sea">
                        <select ng-model="searchFilter.teamid" name="teamdropdown" class="form-control"
                                >
                            <option value ="">-Select Employee Team-</option>
                            <option value="{{team.id}}" data-ng-repeat="team in activityModel.teamList">{{team.name}}</option>
                        </select>
                    </div>
                    <div class="sea">
                        <input type="text"
                               placeholder="City"
                               name="city"
                               data-ng-model="searchFilter.city"
                               class="form-control " 
                               data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="activityModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":activityModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row clear_b">
                        <div class="sea topmarginsm">
                            <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From Date'                               
                                   show-weeks="false"
                                   close-text="Close" 
                                   angular-localstorage-field='true'/>
                            <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(2)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="sea topmarginsm" >
                            <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.todate" is-open="toDateOpen1" placeholder='To Date'                                  
                                   show-weeks="false"
                                   close-text="Close" 
                                   angular-localstorage-field='true'/>
                            <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(3)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="sea topmarginsm">
                            <input name="tdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.created_date" is-open="createDateOpen" placeholder='Created on'
                                   show-weeks="false"
                                   close-text="Close" 
                                   />
                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(4)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="print-info">
                    <li style="font-size: 17px;font-weight: bold;">{{company_name}}</li>
                    <li style="font-size: 14px;">{{company_address}}</li>
                    <li style="font-size: 14px;">Daily Activity Detailed Report</li>
                </ul>
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Date: {{searchFilter.date == '' ? '-' : searchFilter.date|date:appConfig.date_format}}</li>
                    <li class="col-sm-4">User : {{searchFilter.employeeInfo == '' ? '-' : searchFilter.employeeInfo.f_name}}</li>
                    <li class="col-sm-4">City : {{searchFilter.city == '' ? '-' : searchFilter.city}}</li>
                    <li class="col-sm-4 ">From date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:appConfig.date_format}}</li>
                    <li class="col-sm-4 ">To date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:appConfig.date_format}}</li>
                    <li class="col-sm-4 ">Created date: {{searchFilter.created_date == '' ? '-' : searchFilter.created_date|date:appConfig.date_format}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th rowspan="1" colspan="1">
                                S.No
                            </th>
                            <th rowspan="1" colspan="1">
                                User Name
                            </th>
                            <th rowspan="1" colspan="1">
                                Team Name
                            </th>
                            <th rowspan="1" colspan="1">
                                City
                            </th>
                            <th rowspan="1" colspan="1">
                                Punch In
                            </th>
                            <th rowspan="1" colspan="1">
                                Punch Out
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="activityModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="activityModel.list.length === 0">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr ng-repeat-start="activity in activityModel.list">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                <b>{{activity.emp_name}}</b>
                            </td>
                            <td>
                                {{activity.team_name}}
                            </td>
                            <td>
                                <b>{{activity.city}}</b>
                            </td>
                            <td>
                                {{activity.punchIN}}        
                            </td>    

                            <td>
                                {{activity.punchOut}}     
                            </td>
                        </tr>    
                        <tr class="d0" ng-repeat-end role="row"  style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="5" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px;padding-right: 15px;"  rowspan="1" colspan="1">
                                                Id
                                            </th>
                                            <th style="width: 50px;padding-right: 75px;"  rowspan="1" colspan="1">
                                                Lead
                                            </th>
                                            <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1">
                                                Subject
                                            </th>
                                            <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1">
                                                Stage
                                            </th>
                                            <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1">
                                                Company
                                            </th>
                                            <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1">
                                                Next Follow-up date
                                            </th>
                                            <th style="width: 140px;padding-right: 15px;" class="right" rowspan="1" colspan="1">
                                                Amount
                                            </th>
                                            <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1">
                                                Created On
                                            </th>
                                            <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1">
                                                Updated On
                                            </th>
                                            <th style="width: 50px;padding-right: 15px;" rowspan="1" colspan="1">
                                                Created By
                                            </th>
                                            <th style="width: 50px;padding-right: 15px;" class="hide-print" rowspan="1" colspan="1">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-if="activity.daily_activity.length === 0">
                                            <td colspan="11" class="text-center" >
                                                -No Data Found-
                                            </td>
                                        </tr>
                                        <tr ng-repeat="lead in activity.daily_activity" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 5px;" >
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    {{lead.deal_id}}
                                                </a>
                                            </td >
                                            <td colspan="1" style="padding-left: 5px;" >
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    {{lead.lead_name}}
                                                </a>
                                            </td >
                                            <td colspan="1" style="padding-left: 5px;" >
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    {{lead.subject}}
                                                </a>
                                            </td >
                                            <td colspan="1" style="padding-left: 5px;" >
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    {{lead.stage_name}}
                                                </a>
                                            </td >
                                            <td colspan="1" style="padding-left: 5px;" >
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    {{lead.company_name}}
                                                </a>
                                            </td >
                                            <td colspan="1" style="padding-left: 5px;" >
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    {{lead.next_follow_up_date}}
                                                </a>
                                            </td >
                                            <td colspan="1" class="right" style=" padding-left: 0px;">
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    {{lead.amount}}
                                                </a>
                                            </td>
                                            <td colspan="1" style="padding-left: 5px;" >
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    {{lead.created_at}}
                                                </a>
                                            </td >
                                            <td colspan="1" style="padding-left: 5px;" >
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    {{lead.updated_at}}
                                                </a>
                                            </td >
                                            <td colspan="1" style="padding-left: 5px;" >
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    {{lead.created_by_name}}
                                                </a>
                                            </td >
                                            <td>
                                                <a data-ui-sref="app.dealedit({id: '{{lead.deal_id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                    <img class="icon icons8-Visible hide-print" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


