
<script type="text/ng-template" id="customer_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="databasebackupCtrl">
    <div class="panel panel-default hide-print ">
        <div class="panel-heading clearfix ">
            <h2>Database Backup</h2>
            <!--<a href="/utility/db_backup.php" class="add_button add-dash">Download Database Backup</a>-->
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin ">
            <div class="table-responsive backupbg" style="width:1100px;height:500px">
                <table class="table no-link table-striped b-t  dataTable no-footer " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1000%;">
                    <p style="padding-top:200px;">
                    <h2><strong><center>
                                <a href="/lbs/public/utility/db_backup.php"><sub><img src="..\img\arrow.png"></sub>
                                You can download SQL queries on the current database.</a>
                            </center></strong></h2>
                </p>
                </table>
            </div>
        </div>
    </div>
</div>