<div>
    <div class="wrapper-md content">
        <div class="clearfix add-form form-wrapper">
            <div class="panel panel-default ">
                <div class="panel-heading clearfix right"> 
                    <custom-add redirect="app.taskManagementAdd" screencode="taskManagement" ng-click="createTask()"></custom-add>
                    <!--<a ng-click="createTask()" class="add_button add-dash"> Add New </a>-->
                </div>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:100px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:150px;" rowspan="1" colspan="1" >
                                Assign To 
                            </th>                           
                            <th style="width:150px;"  rowspan="1" colspan="1">
                                Task
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Type
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Priority
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Status
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="dealAddModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="dealAddModel.taskMngList.length == 0">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="task in dealAddModel.taskMngList">
                            <td>
                                <a data-ui-sref="app.taskManagementEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{task.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.taskManagementEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{task.emp_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.taskManagementEdit({id: '{{task.id}}'})"  ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{task.task_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.taskManagementEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{task.type_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.taskManagementEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{task.priority}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.taskManagementEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{task.status}}
                                </a>
                            </td>                        

                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="dealAddModel.taskMngList.length == 0">
                        <tr>
                            <td colspan="2" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="dealAddModel.tasklimit"
                                        data-ng-hide="dealAddModel.taskMngList.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTaskTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="4" class="text-right">
                    <uib-pagination  data-ng-hide="dealAddModel.taskMngList.length == 0" total-items="dealAddModel.tasktotal" ng-model="dealAddModel.taskcurrentPage" ng-change="getTaskManagementList()" items-per-page="dealAddModel.tasklimit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>