<!--<div class="prof-bg clearfix ">
          <div class="form-group" style="width:300px">
                    <label>Location</label>
                    <input type="text" tabindex="0" name="searchPlaceP"
                           data-ng-model="dealAddModel.mapLocation"
                           placeholder="eg.Choose Location"
                           class="form-control"
                           ng-map-autocomplete
                           ng-autocomplete="dealAddModel.mapLocation"
                           options="mapSearchOptions"
                           details="searchMapNewLocationDetail"
                           elemfocus-select
                           />
          </div>
          <div class="map_container"  data-ng-if="mapInitFlag">
                    <div class="map"  id = 'googleMap1'  option="googleMapOption"  data-ng-if="currentStep == 2" style="width: 100%; height:450px;" google-map> </div>
                            <div class="map"  data-ng-if="currentStep == 5" style="width: 100%; height:450px;" > </div>
                    <form name='location_add_form' class="form-editable " angular-validator-submit="updateLocation()"                         
                          angular-validator novalidate>
                              <ul class="info-wrap  form-editable clearfix">
                                        <li class="a-right btn-wrapper " >
                                                  <button type="submit" class="btn btn-orng ripple ripple-light " data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}'
                                                          >Set Location</button>
                                                  <a class="btn ripple ripple-light btn-cancel " data-ng-disabled="isDataSavingProcess"
                                                     data-ng-click="closeLocationPopup(2)"
                                                     >Cancel</a>
                                        </li>
                              </ul>
                    </form>
          </div>
</div>-->
<div class="">

      Quick Search (enter address): <br/>
      <input class="bottommargin qsearch" places-auto-complete size=80
             ng-model="vm2.address"
             on-place-changed="vm2.placeChanged()" /> <br/>
<!--      <div ng-show="vm2.place">
            Address = {{vm2.place.formatted_address}} <br/>
            Location: {{vm2.place.geometry.location}}<br/>
      </div>-->

      <ng-map id="vm2" center="{{newCenterLat}},{{newCenterLng}}" zoom="16" on-dragend="vm2.dragEnd()" >
            <marker ng-repeat="pos1 in vm2.positions" draggable="true" position="{{pos1.lat}}, {{pos1.lng}}" on-dragend="vm2.markerDragEnd()" 
                    ></marker>
      </ng-map>
      <form name='location_add_form' class="form-editable " angular-validator-submit="updateLocation()"                         
            angular-validator novalidate>
            <ul class="info-wrap  form-editable clearfix">
                  <li class="a-right btn-wrapper " >
<!--                        <button type="submit" class="btn btn-orng ripple ripple-light " data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}'
                                >Set Location</button>-->
                        <a class="btn btn-orng ripple ripple-light " data-ng-disabled="isDataSavingProcess"
                           data-ng-click="updateLocation()"
                           >Set Location</a>
                        <a class="btn ripple ripple-light btn-cancel " data-ng-disabled="isDataSavingProcess"
                           data-ng-click="closeLocationPopup('new')"
                           >Cancel</a>
                  </li>
            </ul>
      </form>
</div>      