
<div class="wrapper-md content">
    <div class="clearfix add-form form-wrapper">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix right">   
                <!--<custom-add redirect="app.invoiceAdd" screencode="salesinvoice" ng-click="createInvoice()"></custom-add>-->
                <a ng-click="createInvoice()" data-ng-show="screenAccessDetail.salesinvoice.is_create == true" class="add_button add-dash"> Add New </a>
            </div>
        </div>
        <div class="table-responsive ">
            <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width:100px;" rowspan="1" colspan="1" >
                            #
                        </th>
                        <th  style="width:150px;" rowspan="1" colspan="1" >
                            Customer 
                        </th>                           
                        <th style="width:150px;" class="right " rowspan="1" colspan="1">
                            Total Amount
                        </th>
                        <th style="width:150px;" rowspan="1" colspan="1">
                            Order Date
                        </th>
                        <th style="width:150px;" rowspan="1" colspan="1">
                            Due Date
                        </th>
                        <th style="width:120px;" rowspan="1" colspan="1">
                            Status
                        </th>                                 
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="dealAddModel.isLoadingProgress">
                        <td colspan="6" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>

                    <tr data-ng-if="dealAddModel.invoiceList.length == 0">
                        <td colspan="6" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>
                    <tr data-ng-repeat="invoice in dealAddModel.invoiceList">
                        <td>
                            <a data-ui-sref="app.invoiceEdit({id: '{{invoice.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                {{invoice.id}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.invoiceEdit({id: '{{invoice.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                {{invoice.customer_fname}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.invoiceEdit({id: '{{invoice.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                {{invoice.total_amount}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.invoiceEdit({id: '{{invoice.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                {{invoice.date}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.invoiceEdit({id: '{{invoice.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                {{invoice.duedate}}
                            </a>
                        </td>                        
                        <td>
                            <a data-ui-sref="app.invoiceEdit({id: '{{invoice.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                <span class="paid color-green,parsleypaid color-blue,unpaid color-red">{{invoice.status}}</span>                                    
                            </a>
                        </td>                                                                                                 
                    </tr>
                </tbody>
                <tfoot data-ng-hide="dealAddModel.invoiceList.length == 0">
                    <tr>
                        <td colspan="2" class="text-left" >
                            <label class="show_count_label ">Show</label>
                            <select name = "perpage"
                                    ng-model="dealAddModel.invoicelimit"
                                    data-ng-hide="dealAddModel.invoiceList.length == 0"
                                    ng-options="page for page in pagePerCount"
                                    class="form-control show_count"
                                    ng-change="initInvoiceTableFilter()"
                                    >
                            </select>
                        </td>
                        <td colspan="4" class="text-right">
                            <ul uib-pagination  data-ng-hide="dealAddModel.invoiceList.length == 0" total-items="dealAddModel.invoicetotal" ng-model="dealAddModel.invoicecurrentPage" ng-change="getinvoiceListInfo()" items-per-page="dealAddModel.invoicelimit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
