<div>
    <div class="wrapper-md content">
        <div class="clearfix add-form form-wrapper">
            <div class="panel panel-default ">
                <div class="panel-heading clearfix right">  
                    <!--<custom-add redirect="app.salesorderAdd" screencode="salesorder" ng-click="createOrder()"></custom-add>-->
                    <a ng-click="createOrder()" data-ng-show="screenAccessDetail.salesorder.is_create == true" class="add_button add-dash"> Add New </a>
                </div>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:110px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:280px;" rowspan="1" colspan="1" >
                                Customer 
                            </th>                           
                            <th style="width:180px;" class="right " rowspan="1" colspan="1">
                                Total Amount
                            </th>  
                            <th style="width:180px;" class="right " rowspan="1" colspan="1">
                                Advance Amount
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Order Date
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Due Date
                            </th>
                            <th style="width:120px;" rowspan="1" colspan="1">
                                Status
                            </th>     
                            <th style="width:180px;" rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="dealAddModel.isLoadingProgress">
                            <td colspan="8" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="dealAddModel.orderList.length == 0">
                            <td colspan="8" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="order in dealAddModel.orderList">
                            <td>
                                <a data-ui-sref="app.salesorderEdit({id: '{{order.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{order.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.salesorderEdit({id: '{{order.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{order.customer_fname}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.salesorderEdit({id: '{{order.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{order.total_amount}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.salesorderEdit({id: '{{order.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{order.advance_amount}}
                                </a>
                            </td>   

                            <td>
                                <a data-ui-sref="app.salesorderEdit({id: '{{order.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{order.date}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.salesorderEdit({id: '{{order.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{order.validuntil}}
                                </a>
                            </td>                        
                            <td>
                                <a data-ui-sref="app.salesorderEdit({id: '{{order.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    <span class="paid color-green,parsleypaid color-blue,unpaid color-red">{{order.status}}</span>
                                    <!--<span class="{'color-green':estimate.status.paid,'color-blue':estimate.status.parsleypaid,'color-red':estimate.status.unpaid}">{{estimate.status}}</span>-->                                    
                                </a>
                            </td>                                                                     
                            <td>
                                <a ng-if="screenAccessDetail.salesinvoice.is_create == true && order.status.toLowerCase() != 'invoiced'" data-ng-click="createInvoice(order.id)">
                                    Convert to Invoice
                                </a>                                                                                                
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="dealAddModel.orderList.length == 0">
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="dealAddModel.orderlimit"
                                        data-ng-hide="dealAddModel.orderList.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initOrderTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="5" class="text-right">
                                <ul uib-pagination  data-ng-hide="dealAddModel.orderList.length == 0" total-items="dealAddModel.ordertotal" ng-model="dealAddModel.ordercurrentPage" ng-change="getorderListInfo()" items-per-page="dealAddModel.orderlimit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>