<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
  <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<script type="text/ng-template" id="user_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<script type="text/ng-template" id="city_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<script type="text/ng-template" id="company_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="source_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="dealCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Deal List</h2>

            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
            <h2 style="float: right; padding-right: 53%; font-size: 13px;padding-top: 5px;"> To Add deal, go to corresponding leads and check</h2>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="deal_form" class="form-horizontal clearfix " angular-localstorage>
                <div class="head_right table-search wrapper-sm clearfix expand">
                    <div class="sea">
                        <input
                            name="subject"
                            type="text"
                            class="form-control qty a-right "
                            placeholder="Subject"
                            data-ng-model="searchFilter.subject"
                            data-ng-change="initTableFilter()"
                            angular-localstorage-field='true'
                            />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="deal_customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               placeholder="Leads Name"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingCustomer"
                               typeahead-no-results="noCustomerResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/contact_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"
                               angular-localstorage-field='true'/>
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingCustomer" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noCustomerResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>

                    <div class="sea">
                        <select class="form-control "
                                ng-model="searchFilter.stage"
                                data-ng-change="initTableFilter()"
                                name="stagedropdown"
                                angular-localstorage-field='true'
                                >
                            <option value="">All Stage</option>
                            <option value= "{{stage.id}}" data-ng-repeat="stage in dealModel.stageList">{{stage.name}}</option>
                        </select>
                    </div>
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='-Date-'
                               data-ng-change="initTableFilter()"
                               show-weeks="false"
                               close-text="Close" 
                               angular-localstorage-field='true'/>
                        <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <input type="text" 
                               class="form-control"
                               name="deal_user_dropdown"
                               ng-model="searchFilter.employee"
                               placeholder="Assigned to	"
                               uib-typeahead="user for user in getEmployeeList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="employee_dropdown_tpl.html"
                               typeahead-input-formatter="formatEmployeeModel($model)"
                               autocomplete="off" 
                               angular-localstorage-field='true'/>
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>   
                        <div ng-show="noResults" class="result-dis">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="sea expand-icon" style="float: right">
                        <a><img data-ng-click="viewfilter()" width="25"  height="25" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEgSURBVFhH7ZNBDoJADEXxHLqAuPSURI0QNUQFPKNbJq6xlaKkMAg6IyT0JZPA0P7/NjiCIAiCMFEW1/vcyfMZvdoDOp5dfVjGauUm2Q3OxaokZGMHdmEn3bZTynmpyvHAc2xFspCLKz3dJN1UbcqlyrJZSSb36oFummgBlr00O9eWTUlq5LCzez5KJtmJh/wsqZODrv65hWTEw76W1MtFX+WVGJFskzOBm2ZHHt5ZUiOHmTRhBig51Eo+SerkIIsmzAJ/2r6hrFlSI4cZNGEHKAl5aU1SK6dCmrALFAWs+C2plwto/T+4idpxCRRrksNZWvsvULzlMvzgDI0PQ5vk4HIlXqLWNUG4o8/jAKT8iqBP1+OCJMcpJwiCIEwSx3kAGBv/LBf9kVwAAAAASUVORK5CYII=">
                        </a>
                    </div>
                    <div class="row clear_b">
                        <div class="sea" ng-show="isView == true">
                            <div  style="float: initial;">
                                <input name="todaydeal" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                       ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='-Deal Date-'
                                       data-ng-change="initTableFilter()"
                                       show-weeks="false"
                                       close-text="Close"
                                       angular-localstorage-field='true'/>
                                <button type="button" class="btn btn-default btn-choose" style="height: 37px; top: 0px;" ng-click="openDate(1)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div class="sea" ng-show="isView == true">
                            <input name="dealfromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.dealfromdate" is-open="dealfromDateOpen" placeholder='-From Date-'
                                   data-ng-change="initTableFilter()"
                                   show-weeks="false"
                                   close-text="Close" 
                                   />
                            <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(2)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="sea" ng-show="isView == true">
                            <input name="dealtodate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.dealtodate" is-open="dealtoDateOpen" placeholder='-To Date-'
                                   data-ng-change="initTableFilter()"
                                   show-weeks="false"
                                   close-text="Close" 
                                   />
                            <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(3)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>


                        <div class="sea" ng-show="isView == true">
                            <div >        
                                <input type="text"
                                       name="deal_company_dropdown"
                                       ng-model="searchFilter.companyInfo"
                                       placeholder ="Company"
                                       uib-typeahead="company for company in getCompanyList($viewValue)"
                                       typeahead-loading="loadingLocations"
                                       typeahead-no-results="noResults"
                                       typeahead-on-select="initTableFilter()"
                                       typeahead-min-length="0"
                                       class="form-control"
                                       typeahead-editable="true"
                                       typeahead-template-url="company_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCompanyModel($model)"
                                       angular-localstorage-field='true'/>
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                        </div>
                        <div class="sea" ng-show="isView == true">
                            <select class="form-control "
                                    ng-model="searchFilter.deal_type"
                                    data-ng-change="initTableFilter()"
                                    name="dealdropdown"
                                    angular-localstorage-field='true'
                                    >
                                <option value="">-Deal Type-</option>
                                <option value= "{{lead.id}}" data-ng-repeat="lead in dealModel.leadList">{{lead.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clear_b">
                        <div class="sea" ng-show="isView == true">
                            <input type="text" 
                                   class="form-control"
                                   name="user_dropdown"
                                   ng-model="searchFilter.user"
                                   placeholder="Created By"
                                   uib-typeahead="user for user in getUserList($viewValue)"
                                   typeahead-loading="loadingUser"
                                   typeahead-no-results="noUser"
                                   typeahead-on-select="initTableFilter()"
                                   typeahead-min-length="0"
                                   typeahead-editable="false"
                                   typeahead-template-url="user_dropdown_tpl.html"
                                   typeahead-input-formatter="formatUserModel($model)"
                                   autocomplete="off" 
                                   angular-localstorage-field='true'/>
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                            <i ng-show="loadingUser" class="glyphicon glyphicon-refresh"></i>   
                            <div ng-show="noUser" class="result-dis">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                        <div class="sea" ng-show="isView == true">
                            <input type="text" 
                                   class="form-control"
                                   name="city_dropdown"
                                   ng-model="searchFilter.city"
                                   placeholder="Company city"
                                   uib-typeahead="city for city in getCityList($viewValue)"
                                   typeahead-loading="loadingCity"
                                   typeahead-no-results="noCity"
                                   typeahead-on-select="initTableFilter()"
                                   typeahead-min-length="0"
                                   typeahead-editable="false"
                                   typeahead-template-url="city_dropdown_tpl.html"
                                   typeahead-input-formatter="formatCityModel($model)"
                                   autocomplete="off" 
                                   angular-localstorage-field='true'/>
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                            <i ng-show="loadingCity" class="glyphicon glyphicon-refresh"></i>   
                            <div ng-show="noCity" class="result-dis">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                        <div class="sea" ng-show="isView == true">
                            <select class="form-control "
                                    ng-model="searchFilter.stage_flag"
                                    data-ng-change="initTableFilter()"
                                    name="dealstagetypedropdown"
                                    angular-localstorage-field='true'
                                    >
                                <option value="all">All stage flags</option>
                                <option value= "intermediate">Intermediate</option>
                                <option value= "won">Won</option>
                                <option value= "loss">Loss</option>
                            </select>
                        </div>
                        <div class="sea" ng-show="isView == true">
                            <input type="text" name="dealIdFilter" class="form-control"
                                   ng-model="searchFilter.deal_id"
                                   placeholder="Deal Id"
                                   data-ng-change="initTableFilter()"
                                   angular-localstorage-field='true'
                                   >
                        </div>
                        <div class="sea" ng-show="isView == true">
                            <select class="form-control "
                                    ng-model="searchFilter.isactive"
                                    data-ng-change="initTableFilter()"
                                    name="isactive_dropdown"
                                    angular-localstorage-field='true'
                                    >                               
                                <option value= "1">Active</option>
                                <option value= "0">DeActive</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clear_b">
                        <div class="sea topmarginsm" ng-show="isView == true">
                            <div >        
                                <input type="text"
                                       name="source_info_dropdown"
                                       ng-model="searchFilter.sourceInfo"
                                       placeholder ="Source"
                                       uib-typeahead="source for source in getSourceList($viewValue)"
                                       typeahead-loading="loadingSourceLocations"
                                       typeahead-no-results="noSourceResults"
                                       typeahead-on-select="initTableFilter()"
                                       typeahead-min-length="0"
                                       class="form-control"
                                       typeahead-editable="true"
                                       typeahead-template-url="source_dropdown__tpl.html"
                                       typeahead-input-formatter="formatSourceModel($model)"
                                       angular-localstorage-field='true'/>
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="topmargin" >
                <!--<div id="grid1" ag-grid="gridOptions" class="grid"></div>-->

                <!--<div ui-grid="{ data: items }" class="myGrid"></div>-->
                <!--<table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" ui-grid="{data : dealModel.list}"  ui-grid-auto-resize ui-grid-pagination aria-describedby="DataTables_Table_0_info" style="width: 100%;">-->
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid"  aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:100px;" rowspan="1" colspan="1" >
                                S.No
                            </th>
                            <th style="width:100px;" rowspan="1" colspan="1" >
                                Id
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('id')">
                                    <img style="margin-left: 0px;" ng-click="isIdShow = true;
                                                isIdOpen = true" ng-show="searchFilter.sortById == 1 || searchFilter.sortById == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;  margin-top: -25px;" ng-click="isIdShow = false;
                                                isIdOpen = false" ng-show="searchFilter.sortById == 2 || searchFilter.sortById == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                    <!--<img style="margin-left: 0px;" ng-click="isIdShow = false;isIdOpen = false" ng-show="searchFilter.sortById == 2 || searchFilter.sortById == ''" class="" width="15" height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADbSURBVGhD7ZdLCgIxEESz8ix6Czei97+AS2+gS+2SFAxDZBInnw7Ug0Jmof0ebjQIIYQQQgghhEMO8dUTxU5H2912+z75AC5wglsWJ9vD9ra9bB5i4AAXOMENjptcbHyTh5hlBH3gmMXV5iEmFQG3IlIxxR+yg6r3R8U0uds7pum9XjFd7rQ+0iWCtDrWNYLUPjokgtQ6PjSC7JVwEUH+lXEVQUqlXEaQXDnXEWRLcooI8uvXaipi5F+DLFIx00WQdcyUEST1zUwXQSD+jJs2gpzjhBBCCCGyCOEDNg2u405kCu4AAAAASUVORK5CYII=">-->
                                </a> 
                            </th>
                            <th  style="width:200px;" rowspan="1" colspan="1" >
                                Subject
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('subject')">
                                    <img style="margin-left: 0px;" ng-click="isSubjectShow = true;
                                                isSubjectOpen = true" ng-show="searchFilter.sortBySubject == 1 || searchFilter.sortBySubject == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;     margin-top: -25px;" ng-click="isSubjectShow = false;
                                                isSubjectOpen = false" ng-show="searchFilter.sortBySubject == 2 || searchFilter.sortBySubject == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                </a> 
                            </th>
                            <th style="width:120px;" rowspan="1" colspan="1">
                                Stage
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('stage')">
                                    <img style="margin-left: 0px;" ng-click="isStageShow = true;
                                                isStageOpen = true" ng-show="searchFilter.sortByStage == 1 || searchFilter.sortByStage == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;     margin-top: -25px;" ng-click="isStageShow = false;
                                                isStageOpen = false" ng-show="searchFilter.sortByStage == 2 || searchFilter.sortByStage == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                </a> 
                            </th>
                            <th style="width:200px;"  rowspan="1" colspan="1">
                                Leads
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('leads')">
                                    <img style="margin-left: 0px;" ng-click="isLeadsShow = true;
                                                isLeadsOpen = true" ng-show="searchFilter.sortByLeads == 1 || searchFilter.sortByLeads == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;     margin-top: -25px;" ng-click="isLeadsShow = false;
                                                isLeadsOpen = false" ng-show="searchFilter.sortByLeads == 2 || searchFilter.sortByLeads == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                </a> 
                            </th>
                            <th style="width:200px;"  rowspan="1" colspan="1">
                                Deal Type
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('segment_type')">
                                    <img style="margin-left: 0px;" ng-click="isSegmentTypesShow = true;
                                                isSegmentTypeOpen = true" ng-show="searchFilter.sortBySegmentType == 1 || searchFilter.sortBySegmentType == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;     margin-top: -25px;" ng-click="isSegmentTypeShow = false;
                                                isSegmentTypeOpen = false" ng-show="searchFilter.sortBySegmentType == 2 || searchFilter.sortBySegmentType == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                </a> 
                            </th>
                            <th style="width:430px;"  rowspan="1" colspan="1">
                                Next Follow-up date
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('next_follow_up_date')">
                                    <img style="margin-left: 0px;" ng-click="isNextDateShow = true;
                                                isNextDateOpen = true" ng-show="searchFilter.sortByNextFollowUpDate == 1 || searchFilter.sortByNextFollowUpDate == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;     margin-top: -25px;" ng-click="isNextDateShow = false;
                                                isNextDateOpen = false" ng-show="searchFilter.sortByNextFollowUpDate == 2 || searchFilter.sortByNextFollowUpDate == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                </a> 
                            </th>
                            <th style="width:200px;"  rowspan="1" colspan="1">
                                Assigned to
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('assigned_to')">
                                    <img style="margin-left: 0px;" ng-click="isAssignedShow = true;
                                                isAssignedOpen = true" ng-show="searchFilter.sortByAssignedTo == 1 || searchFilter.sortByAssignedTo == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;     margin-top: -25px;" ng-click="isAssignedShow = false;
                                                isAssignedOpen = false" ng-show="searchFilter.sortByAssignedTo == 2 || searchFilter.sortByAssignedTo == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                </a> 
                            </th>
                            <th style="width:200px;"  rowspan="1" colspan="1">
                                Updated At
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('created_at')">
                                    <img style="margin-left: 0px;" ng-click="isCreatedShow = true;
                                                isCreatedOpen = true" ng-show="searchFilter.sortByCreatedAt == 1 || searchFilter.sortByCreatedAt == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;     margin-top: -25px;" ng-click="isCreatedShow = false;
                                                isCreatedOpen = false" ng-show="searchFilter.sortByCreatedAt == 2 || searchFilter.sortByCreatedAt == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                </a> 
                            </th>
                            <th style="width:200px;"  rowspan="1" colspan="1">
                                Created By
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('created_by')">
                                    <img style="margin-left: 0px;" ng-click="isCreatedAtShow = true;
                                                isCreatedAtOpen = true" ng-show="searchFilter.sortByCreatedBy == 1 || searchFilter.sortByCreatedBy == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;    margin-top: -25px;" ng-click="isCreatedAtShow = false;
                                                isCreatedAtOpen = false" ng-show="searchFilter.sortByCreatedBy == 2 || searchFilter.sortByCreatedBy == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                </a> 
                            </th>
                            <th style="width:120px;" class="right " rowspan="1" colspan="1">
                                Company Name
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('amount')">
                                    <img style="margin-left: 0px;" ng-click="isAmountShow = true;
                                                isAmountOpen = true" ng-show="searchFilter.sortByAmount == 1 || searchFilter.sortByAmount == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;    margin-top: -25px;" ng-click="isAmountShow = false;
                                                isAmountOpen = false" ng-show="searchFilter.sortByAmount == 2 || searchFilter.sortByAmount == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                </a> 
                            </th>
                            <th style="width:120px;" class="right " rowspan="1" colspan="1">
                                Source
                                <a href="" style="float: right;" class="expand-icon" data-ng-click="sortBy('amount')">
                                    <img style="margin-left: 0px;" ng-click="isAmountShow = true;
                                                isAmountOpen = true" ng-show="searchFilter.sortByAmount == 1 || searchFilter.sortByAmount == ''" class="" width="15" height="15" src="/img/up_arrow.png">
                                    <img style="margin-left: 0px;    margin-top: -25px;" ng-click="isAmountShow = false;
                                                isAmountOpen = false" ng-show="searchFilter.sortByAmount == 2 || searchFilter.sortByAmount == ''" class="" width="15" height="15" src="/img/down_arrow.png">
                                </a> 
                            </th>
                            <th style="width:180px;text-align: right"  rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="dealModel.isLoadingProgress">
                            <td colspan="13" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="dealModel.list.length == 0">
                            <td colspan="13" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="deal in dealModel.list">
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{deal.index}}
                                </a>
                            </td>  
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{deal.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})"   ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.stage_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})"  ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.contact_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})"  ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.deal_category_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.next_follow_up}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})"  ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.employee_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.updated_at}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})"   ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.created_by_name}}
                                </a>
                            </td>
                            <td class="right " >
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.company_name}}
                                </a>
                            </td>
                            <td class="right " >
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.source_name}}
                                </a>
                            </td>
                            <td class="right " >
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app"  >
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a class="chel-edit-add add-dash" data-ng-click="showPopup(deal.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="dealModel.list.length == 0">
                        <tr>
                            <td colspan="5" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="dealModel.limit"
                                        data-ng-hide="dealModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="8" class="text-right">
                                <ul uib-pagination  data-ng-hide="dealModel.list.length == 0" total-items="dealModel.total" ng-model="dealModel.currentPage" ng-change="getdealListInfo()" items-per-page="dealModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup delet-popup " ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteDealItem()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
</div>


