<form name="deal_edit_form3" angular-validator-submit="createLog()" class="form-horizontal clearfix top-form" novalidate angular-validator>
    <div class="bg-light table-back clearfix">
        <div class="clearfix add-form form-wrapper wrapper-md">
            <div class="wrapper-md content">
                <div class="clearfix add-form form-wrapper">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-10 bottommarginsm">
                                    <label>Type*</label>
                                    <select ng-model="dealAddModel.log_type" name="log_type_dropdown" class="form-control" required>
                                        <option value ="">-Select Log Activity-</option>
                                        <option value="call">Call</option>
                                        <option value="meeting">Meeting</option>
                                        <option value="email">Email</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 bottommarginsm " data-ng-show="dealAddModel.log_type == 'call'">
                                    <label>Sub Type</label>
                                    <select ng-model="dealAddModel.log_subtype" name="log_subtype_dropdown" class="form-control">
                                        <option value ="">-Select Call Subtype-</option>
                                        <option value="Busy">Busy</option>
                                        <option value="Wrong Number">Wrong Number</option>
                                        <option value="Not Reachable">Not Reachable</option>
                                        <option value="Attended">Attended</option>
                                        <option value="Not Attended">Not Attended</option>                        
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <label>Date:*</label>
                                    <input name="activity_date" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                           ng-model="dealAddModel.activity_date" readonly is-open="activity_DateOpen" placeholder='From date'
                                           show-weeks="false" required
                                           close-text="Close"/>
                                    <button type="button" class="btn btn-default btn_choose_2 " ng-click="openDate(1)"  style="margin-bottom: -20px;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row tab-time">
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label>Time:*</label> 
                                        <div uib-timepicker ng-model="dealAddModel.activity_time" hour-step="1" minute-step="1" show-meridian="true" required></div>
                                        <!--                                                <!--<div uib-timepicker ng-model="dealAddModel.activity_time" hour-step="1" minute-step="1" show-meridian="true" required></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>                       
                        <div class="col-sm-7">
                            <div>
                                <a  class="mark-location" href="javascript:void(0)" data-ng-click="showLocationPopup('new')"><span>Mark my location</span><img src="/img/marker1.png"></a>

                            </div>
                            <div class="row">
                                <div class="static" data-ng-hide="dealAddModel.latitude == 0 && dealAddModel.longitude == 0">
                                    <img src="https://maps.googleapis.com/maps/api/staticmap?size=380x240&key=AIzaSyB-n6hREweTj6hYzxj9-nm7T7tapVBzMlc&libraries=placeses,visualization,drawing,geometry,places&zoom=16&markers=color:green|size:small|{{dealAddModel.latitude}},{{dealAddModel.longitude}}" usemap="#Map" class="log-map">                                                
                                </div>                                         
                            </div>
                        </div>                                   
                        <div class="form-group top-form text-1">
                            <label>Comments:</label> 
                            <textarea class="form-control"
                                      name = "Notes"
                                      ng-model = "dealAddModel.notes"
                                      placeholder="Add Notes ... "
                                      >                            
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group full_w btn_group btn-sec">
        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                    "btn-loader":isDataSavingProcess}'>Save</button>
        <a href="javascript:void(0)" class="btn btn-sm btn-primary " angular-validator-form-reset data-ng-click="formReset(3)">Reset</a>
    </div>

</form>
<div class="model_overlay" ng-show="showMapPopup" ng-click="closeLocationPopup('new')" ></div>
<div class="popups" ng-show="showMapPopup" >
    <div class="model_popup" ng-show="showMapPopup" >
        <a href="javascript:void(0)" ng-click="closeLocationPopup('new')" class="glyphicon glyphicon-remove close " ></a>
        <div data-ng-include=" 'tpl/dealLocation.html'" ng-if="true"  >
        </div>
    </div>
</div>    