
<div class="  clearfix add-form form-wrapper">
    <form name="question_form" angular-validator-submit="modifyDeal()" class="form-horizontal select-whole clearfix " novalidate angular-validator >
        <div class="row wrapper-md">          
            <div class="row">
                <div class="col-sm-8 topmarginxs ">
                    <label class="service-lbl">1) When was this concern established ?</label>
                </div>
                <div class="col-sm-4 bottommargin">
                    <input type="text" size="20"
                           class="form-control"
                           name = "year"
                           ng-model = "dealQuestionModel.established"
                           placeholder="Year"
                           validator ="validationFactory.isNumber(dealQuestionModel.established)== true"
                           required
                           />

                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-8 topmarginxs ">
                    <label class="service-lbl">2)  In what way does this concern involved in post printing activities?</label>
                </div>
                <div class="col-sm-4 topmarginsm bottommargin service-area">
                     <input type="text" size="20"
                           class="form-control"
                           name = "concern_way"
                           ng-model = "dealQuestionModel.printingactivities"
                           placeholder=""                           
                           required
                           />                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 topmarginxs ">
                    <label class="service-lbl">3) What are the machines available at this concern ?</label>
                </div>
                <div class="col-sm-4 bottommargin">
                    <input type="text" size="20"
                           class="form-control"
                           name = "machine"
                           ng-model = "dealQuestionModel.machine"
                           placeholder="Available Machine"                           
                           required
                           />

                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-8 topmarginxs ">
                    <label class="service-lbl">4)What are their Daily Production Capacity ?</label>
                </div>
                <div class="col-sm-4 topmarginsm bottommargin service-area">
                    <input type="text" size="20"
                           class="form-control"
                           name = "production"
                           ng-model = "dealQuestionModel.dailyproduction"
                           placeholder="Daily Production"
                           validator ="validationFactory.isNumber(dealQuestionModel.dailyproduction)== true"
                           required
                           />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 topmarginxs ">
                    <label class="service-lbl">5) Are they aiding their own services call ?</label>
                </div>
                <div class="col-sm-4 bottommargin">
                    <input class="" type="radio" name="yes2" value="yes" id="yes2" ng-model="dealQuestionModel.ownCall" />
                    <label for="yes2">Yes</label>
                    <input class="" type="radio" name="no2" value="no" id="no2" ng-model="dealQuestionModel.ownCall" />
                    <label for="no2">No</label>

                </div>
            </div>
            <div class="col-sm-12 bottommargin center">
                <button type="submit" class="btn btn-sm btn-primary btn_grn">Submit</button>
                <button type="button" class="btn btn-sm btn-primary btn_orng" angular-validator-form-reset data-ng-disabled="isDataSavingProcess"  ng-click="formReset(4)">Reset</button>
            </div>
        </div>        
    </form>
</div>

