<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
   <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<script type="text/ng-template" id="product_dropdown_tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="dealAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Deal Add</h2>
                <a ui-sref="app.deal" class="add_button" ui-scroll-to="app">Back to List</a>
            </div>
        </div>
        <div class="container topmarginsm">
            <div class="wrapper-md invoice-add1">
                <div class="  clearfix add-form form-wrapper">
                    <form name="deal_form" angular-validator-submit="createDeal()" class="form-horizontal clearfix " novalidate angular-validator >
                        <div class="row ">
                            <div class="col-sm-12 ">
                                <div class="row ">
                                    <div class="col-sm-6">

                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Product*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <!--                                            <input type="text" size="20"
                                                                                               class="form-control"
                                                                                               name = "dealname"
                                                                                               ng-model = "dealAddModel.name"
                                                                                               placeholder="Subject"
                                                                                               required
                                                                                               />-->
                                            <input type="text" size="20"
                                                   class="form-control"
                                                   name="dealname"
                                                   ng-model="dealAddModel.productInfo"
                                                   uib-typeahead="product for product in getProductInfo($viewValue)"
                                                   typeahead-loading="loading"
                                                   typeahead-no-results="noResults"
                                                   typeahead-min-length="0"                                                       
                                                   typeahead-editable="true"
                                                   placeholder="Subject"
                                                   typeahead-on-select ="updateProductInfo($model)"
                                                   ng-change ="resetAmount()"
                                                   typeahead-template-url="product_dropdown_tpl.html"
                                                   typeahead-input-formatter="formatProductModel($model)"
                                                   autocomplete="off" 
                                                   required      
                                                   style="color: rgb(0, 0, 0);"
                                                   />
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Deal Stage*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <select ng-model="dealAddModel.stage" name="stagedropdown" class="form-control"  required>
                                                <option value ="">-Select Stage-</option>
                                                <option value="{{stage.id}}" data-ng-repeat="stage in dealAddModel.stageList">{{stage.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Amount</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <input type="text" size="20"
                                                   class="form-control"
                                                   name = "amount"
                                                   ng-model = "dealAddModel.mrp_price"
                                                   placeholder="Amount"
                                                   validator = "validationFactory.hasRequired(dealAddModel.mrp_price) == false || validationFactory.isNumber(dealAddModel.mrp_price) == true"
                                                   />
                                        </div>
                                        <!--                                        <div class="col-sm-6 topmarginxs right">
                                                                                    <label>Customer Type*</label>
                                                                                </div>
                                                                                <div class="col-sm-6 bottommargin" data-ng-show="userModel.rolename == 'superadmin'">
                                                                                    <select ng-model="dealAddModel.type" name="typedropdown" class="form-control"
                                                                                            required>
                                                                                        <option value ="">Select</option>
                                                                                        <option value ="new">New</option>
                                                                                        <option value ="existing">Existing</option>
                                                                                    </select>
                                                                                </div>-->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Leads Name*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <!--                                            <input type="text"
                                                                                               class="form-control"
                                                                                               name="customer_dropdown_{{$index}}"
                                                                                               ng-model="dealAddModel.customer"
                                                                                               placeholder="Customer Name"
                                                                                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                                                                               typeahead-loading="loadingLocations"
                                                                                               typeahead-no-results="noResults"
                                                                                               typeahead-on-select="initTableFilter()"
                                                                                               typeahead-min-length="0"
                                                                                               typeahead-editable="false"
                                                                                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                                                                               typeahead-input-formatter="formatCustomerModel($model)"
                                                                                               autocomplete="off" 
                                                                                               required/>
                                                                                               <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                                                                <div ng-show="noResults">
                                                                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                                                </div>-->
                                            <!--                                            <input type="text" size="20"
                                                                                               class="form-control"
                                                                                               name = "contactName"
                                                                                               ng-model = "dealAddModel.contactInfo.fname "
                                                                                               placeholder="Leads Name"
                                                                                               ng-readonly="true"
                                                                                               required
                                                                                              />-->
                                            <span class="form-control" 
                                                  >{{dealAddModel.contactInfo.fname}}&nbsp;({{dealAddModel.contactInfo.phone}})</span>

                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Deal Type*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <select class="form-control" ng-model="dealAddModel.lead_category" name="lead_type" required angular-localstorage-field='true'>
                                                <option value="">-Select-</option>
                                                <option value="{{lead.id}}" data-ng-repeat="lead in dealAddModel.leadList">{{lead.name}}</option>
                                            </select>
                                        </div>
                                        <!--                                        <div ng-show="noResult">
                                                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                                </div>
                                                                                <div class="right" data-ng-show="dealAddModel.type == 'new'">
                                                                                    <a href="javascript:void(0)" data-ng-click="showCustomerPopup()">Add New Customer</a>
                                                                                </div>-->
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Deal Stage Close Date*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin dealstage">
                                            <input name="closedate" type="text" class="form-control input-cal1" uib-datepicker-popup="{{appConfig.date_format}}"
                                                   ng-model="dealAddModel.closedate" readonly is-open="closeDateOpen" placeholder='From date'
                                                   show-weeks="false"
                                                   close-text="Close" min-date="currentDate" required/>
                                            <button type="button" class="btn btn-default btn-choosecd btn-cal1" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Next Follow-up Date*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin dealstage">
                                            <input name="next_follow_up" type="text" class="form-control input-cal1" uib-datepicker-popup="{{appConfig.date_format}}"
                                                   ng-model="dealAddModel.nextdate" readonly is-open="nextDateOpen" placeholder='From date'
                                                   show-weeks="false"
                                                   close-text="Close" min-date="currentDate" required/>
                                            <button type="button" class="btn btn-default btn-choosecd btn-cal1"  ng-click="openDate(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Next Follow-up Action*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <!--                                            <input name="next_follow_up_action" type="text" 
                                                                                               class="form-control"
                                                                                               ng-model="dealAddModel.next_follow_action" 
                                                                                               placeholder='Next Follow up Action'
                                                                                              />-->
                                            <select ng-model="dealAddModel.next_follow_action" name="nextfollowupdropdown" class="form-control" required>
                                                <option value ="">-Select-</option>
                                                <option value="{{nextFollow.id}}" data-ng-repeat="nextFollow in dealAddModel.nextFollowList">{{nextFollow.name}}</option>
                                            </select>

                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Assigned to*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <select ng-model="dealAddModel.employee" name="userdropdown" class="form-control"
                                                    required>
                                                <option value ="">-Select User-</option>
                                                <option value="{{employee.id}}" data-ng-repeat="employee in dealAddModel.employeeList">{{employee.f_name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">

                                            <label>Notes</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <textarea class="form-control"
                                                      name = "Notes"
                                                      ng-model = "dealAddModel.notes"
                                                      placeholder="Add Notes ... "
                                                      >                                  
                                            </textarea>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 bottommargin center">
                                        <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                        <button type="button" class="btn btn-sm btn-primary btn_orng" angular-validator-form-reset data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="model_overlay" ng-show="showCustomerAddPopup" ng-click="closeCustomerPopup()" ></div>
    <div class="model_popup" ng-show="showCustomerAddPopup" >
        <div data-ng-include=" 'tpl/newcustomer-add.html'" ng-if="true"  >
        </div>
    </div>
</div>
