<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="deductionEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Deduction Edit</h2>
            <a ui-sref="app.deductionList" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="deductionModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="deduction_edit_form" angular-validator-submit="editDeduction()" class="form-horizontal material-form clearfix " novalidate angular-validator >

                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Date*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input name="deductiondate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                           ng-model="deductionModel.date" readonly is-open="deductionDateOpen" placeholder='Deduction date' 
                                           show-weeks="true" required
                                           close-text="Close" min-date="currentDate"/>      
                                    <button type="button" class="btn btn-default btn-choose btn-cal" ng-click="openDate(0)" style="margin-top: -99px;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>                                
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Given Advance Amount</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="advance_amount"
                                           class="form-control "
                                           placeholder="Advance Amunt"
                                           data-ng-model="deductionModel.adv_amount"                                           
                                           maxlength="40"
                                           data-ng-disabled="true"
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Deduction Amount*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="deduction_amount"
                                           class="form-control "
                                           placeholder="Deduction Amount"
                                           data-ng-model="deductionModel.deduction_amt"                                           
                                           maxlength="40"
                                           required
                                           />
                                           <!--validator = "validationFactory.hasRequired(deductionModel.deduction_amt)== false || validationFactory.maxNumber(deductionModel.deduction_amt,deductionModel.balance_amt)"-->
                                           
                                </div>
<!--                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Balance </label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea class="form-control"
                                              name = "Comments"
                                              min-rows ="4"
                                              ng-model = "deductionModel.remark"
                                              placeholder="Comments"
                                              >
                                    </textarea>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Employee</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="employee"
                                           class="form-control "
                                           placeholder="Employee Name"
                                           data-ng-model="deductionModel.emp_name"                                           
                                           maxlength="40"
                                           data-ng-disabled="true"
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Already Deduced Amount</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="deduced_amount"
                                           class="form-control "
                                           placeholder="Deduced Amunt"
                                           data-ng-model="deductionModel.total_deduction_amt"
                                           data-ng-disabled="true"
                                           maxlength="40"
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Balance Amount</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="balance_amount"
                                           class="form-control "
                                           placeholder="Balance Amunt"
                                           data-ng-model="deductionModel.balance_amt"                                           
                                           maxlength="40"
                                           data-ng-disabled="true"/>
<!--                                           validator = "validationFactory.hasRequired(deductionModel.balance_amt)== false || validationFactory.minNumber(deductionModel.balance_amt,deductionModel.deduction_amt)"-->
                                           
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12 btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                    </div>

                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md "></div>
        </div>
    </div>
</div>
