<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="deductionAddCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Deduction Add</h2>
            <a ui-sref="app.deductionList" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>

    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="deduction_add_form" angular-validator-submit="addDeduction()" class="form-horizontal material-form clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Date*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input name="deductiondate" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="deductionModel.date" readonly is-open="deductionDateOpen" placeholder='Deduction date' 
                                           show-weeks="true" required
                                           close-text="Close" min-date="currentDate"/>
                                     <button type="button" class="btn btn-default btn-choose btn-cal" ng-click="openDate(0)" style="margin-top: -99px;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>                                

                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="table-responsive ">
                            <table class="table  no-link  table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 50px;" rowspan="1" colspan="1" >
                                            Advance Id
                                        </th>                                
                                        <th style="width: 80px;" rowspan="1" colspan="1">
                                            Advance Date
                                        </th>
                                        <th style="width: 150px;" rowspan="1" colspan="1" >
                                            Employee Name
                                        </th>
                                        <th style="width: 150px;" rowspan="1" colspan="1" >
                                            Employee Code
                                        </th>
                                        <th style="width: 150px;" rowspan="1" colspan="1">
                                            Given Advance Amount
                                        </th>                                        
                                        <th style="width: 150px;" rowspan="1" colspan="1">
                                            Current Advance Balance Amount
                                        </th>
                                        <th style="width: 150px;" rowspan="1" colspan="1">
                                            Deduction Amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-show="deductionModel.isLoadingProgress">
                                        <td colspan="7" class="text-left" style="padding: 0;" >
                                            <p class="loader-icon" >
                                                <img alt="loader" src="../img/loading.gif" />
                                            </p>
                                        </td>
                                    </tr>

                                    <tr data-ng-if="deductionModel.list.length == 0">
                                        <td colspan="7" class="text-center" >
                                            -No Data Found-
                                        </td>
                                    </tr>
                                    <tr data-ng-repeat="advance in deductionModel.advanceList">
                                        <td>
                                            {{advance.id}}
                                        </td>
                                        <td>
                                            {{advance.date}}
                                        </td>
                                        <td>
                                            {{advance.f_name}}
                                        </td>
                                        <td>
                                            {{advance.emp_code}}
                                        </td>
                                        <td class="right">
                                            {{advance.adv_amount}}
                                        </td>
                                        <td class="right">
                                            {{advance.balance_amt}}
                                        </td>
                                        <td>                                            
                                            <input type="text"
                                                   name="deduction_amount_{{$index}}"
                                                   class="form-control "
                                                   placeholder="Deduction Amunt"
                                                   data-ng-model="advance.deduction_amt"
                                                   validator = "validationFactory.isPositiveNumber(advance.deduction_amt) == true"
                                                   maxlength="40"
                                                   />
                                        </td>                                                                                                       
                                    </tr>
                                </tbody>                               
                            </table>
                        </div>
                    </div>
        
                    <div class="col-sm-12 btn_group topmarginsm">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>