<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="deductionSingleAddCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Deduction Add</h2>
            <a ui-sref="app.deductionList" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>

    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="deduction_add_form" angular-validator-submit="addDeduction()" class="form-horizontal material-form clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Date*</label>
                                </div>
                                <div class="col-sm-7 bottommarginsm">
                                    <input name="advancedate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                           ng-model="deductionModel.date" readonly is-open="deductionDateOpen" placeholder='Deduction date' 
                                           show-weeks="false" required
                                           close-text="Close" max-date="currentDate"/>
                                    <button type="button" class="btn btn-default btn-choose btn-cal" ng-click="openDate(0)" style="margin-top: -99px;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>                                
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Given Advance Amount</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="advance_amount"
                                           class="form-control "
                                           placeholder="Advance Amunt"
                                           data-ng-model="deductionModel.adv_amount"                                           
                                           maxlength="40"
                                           data-ng-disabled="true"
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Deduction Amount*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                     <input type="text"
                                           name="deduction_amount"
                                           class="form-control "
                                           placeholder="Deduction Amount"
                                           data-ng-model="deductionModel.curr_deduction_amt"                                           
                                           validator = "validationFactory.hasRequired(deductionModel.curr_deduction_amt)== false || validationFactory.maxNumber(deductionModel.curr_deduction_amt,deductionModel.balance_amt)"
                                           required
                                           />
                                </div>                                
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Employee*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="lead_dropdown"
                                           ng-model="deductionModel.employeeInfo"
                                           placeholder ="Select Lead"
                                           uib-typeahead="employee for employee in getEmployeelist($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-min-length="0"
                                           typeahead-on-select="getAdvanceList()"
                                           class="form-control"
                                           typeahead-editable="false"
                                           typeahead-template-url="employee_dropdown_tpl.html"
                                           typeahead-input-formatter="formatEmployeeModel($model)"
                                           autocomplete="off" 
                                           angular-validator-field                                           
                                           required
                                           />
                                     <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
<!--                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Already Deduced Amount</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="deduced_amount"
                                           class="form-control "
                                           placeholder="Deduced Amunt"
                                           data-ng-model="deductionModel.deduction_amt"
                                           data-ng-disabled="true"
                                           maxlength="40"
                                           />
                                </div>-->
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Balance Advance Amount</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="balance_amount"
                                           class="form-control "
                                           placeholder="Balance Amunt"
                                           data-ng-model="deductionModel.balance_amt"                                           
                                           maxlength="40"
                                           data-ng-disabled="true"
                                           />
<!--                                           validator = "validationFactory.hasRequired(deductionModel.balance_amt)== false || validationFactory.minNumber(deductionModel.balance_amt,deductionModel.curr_deduction_amt)"
                                           />-->
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>