<div>
    <div class="wrapper-md content">
        <div class="clearfix add-form form-wrapper">
            <div class="panel panel-default " ng-hide="deliveryModel.invoiceList.length == 0">
                <div class="panel-heading clearfix right">                               
                    <a ng-click="addDeliveryInvoiceMapping()" class="add_button add-dash"> Add to Delivery Instruction </a>
                </div>
            </div>
            <div class="row paddleftt">   
                <div class="col-sm-12">
                    <div class="table-responsive ">
                        <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width:100px;" rowspan="1" colspan="1" >
                                        #
                                    </th>
                                    <th  style="width:150px;" rowspan="1" colspan="1" >
                                        Customer
                                    </th> 
                                    <th  style="width:150px;" rowspan="1" colspan="1" >
                                        Consignee
                                    </th>
                                    <th  style="width:150px;" rowspan="1" colspan="1" >
                                        Consignee Destination
                                    </th>
                                    <th style="width:180px;" class="right " rowspan="1" colspan="1">
                                        Total
                                    </th>
                                    <th style="width:180px;" class="right " rowspan="1" colspan="1">
                                        Paid
                                    </th>
                                    <th style="width:150px;" rowspan="1" colspan="1">
                                        Invoice Date
                                    </th>
                                    <th style="width:200px;" rowspan="1" colspan="1">
                                        Due Date
                                    </th>
                                    <th style="width:100px;" rowspan="1" colspan="1">
                                        Status
                                    </th>                                    

                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="deliveryModel.isUnMappedInvoiceLoading">
                                    <td colspan="8" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="deliveryModel.invoiceList.length == 0">
                                    <td colspan="8" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="invoice in deliveryModel.invoiceList">
                                    <td>
                                        <input type="checkbox" name="check_{{$index}}" class ="" value="{{invoice.id}}" id="check_{{$index}}" ng-model="invoice.isChecked" ng-change="changeChecked($index)" />                                                                      
                                        <label for="check_{{$index}}">&nbsp;&nbsp;&nbsp;&nbsp;{{invoice.invoice_code}}</label>

                                    </td>
                                    <td>
                                        {{invoice.customer_name}}
                                    </td> 
                                    <td>
                                        {{invoice.consignee_name}}
                                    </td> 
                                    <td>
                                        {{invoice.consignee_city}}
                                    </td> 
                                    <td class="right " >
                                        {{invoice.total_amount}}
                                    </td>
                                    <td class="right " >
                                        {{invoice.paid_amount}}
                                    </td>
                                    <td>
                                        {{invoice.date|date:appConfig.date_format}}
                                    </td>
                                    <td>
                                        {{invoice.duedate|date:appConfig.date_format}}
                                    </td>
                                    <td>
                                        <span class="paid color-green,parsleypaid color-blue,unpaid color-red">{{invoice.status}}</span>                                            
                                    </td>                                   
                                </tr>
                            </tbody>
<!--                            <tfoot data-ng-hide="deliveryModel.invoiceList.length == 0">
                                <tr>
                                    <td colspan="2" class="text-left" >
                                        <label class="show_count_label ">Show</label>
                                        <select name = "perpage"
                                                ng-model="deliveryModel.unMappedLimit"
                                                data-ng-hide="deliveryModel.invoiceList.length == 0"
                                                ng-options="page for page in pagePerCount"
                                                class="form-control show_count"
                                                ng-change="initUnMappedTableFilter()"
                                                >
                                        </select>
                                    </td>
                                    <td colspan="5" class="text-right">
                            <ul uib-pagination  data-ng-hide="deliveryModel.invoiceList.length == 0" total-items="deliveryModel.unMappedtotal" ng-model="deliveryModel.unMappedcurrentPage" ng-change="getinvoiceListInfo()" items-per-page="invoiceModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                            </tr>
                            </tfoot>-->
                        </table>
                    </div>
                </div>                            
            </div>

        </div>
    </div>

</div>