<script type="text/ng-template" id="transport_dropdown__tpl.html">
<a>
    <span style="text-transform: capitalize;" ng-bind-html="match.model.name  | uibTypeaheadHighlight:query" > </span> <br/>
    <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.email != ''">{{match.model.email}}</span>  <br ng-if="match.model.email != ''"/></div>
    <div style="margin-top: -4px;"> <span style="font-size: 11px;" ng-bind-html="match.model.mobile_no | uibTypeaheadHighlight:query" /></span></div>    
</a>
<div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>
<div class="app-content-body fade-in-up req-stock "  data-ng-controller="deliveryInstructionAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Delivery Instruction Add</h2>
                <a ui-sref="app.deliveryInstruction" class="add_button" ui-scroll-to="app">Back to List</a>
            </div>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form1 form-wrapper1 bg-white">
                <form name="save_deliveryinstruction_form" angular-validator-submit="createDeliveryInstruction()" class="form-horizontal clearfix col-sm-12" novalidate angular-validator>
                    <div class="col-sm-12">
                        <div class="row wrapper-md">
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Shipment Date*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input name="shipmentDate" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                               ng-model="deliveryModel.shipmentDate" readonly is-open="shipmentDateOpen"  
                                               show-weeks="false" datepicker-options="dateOptions"
                                               close-text="Close" required/>
                                        <button type="button" class="btn date-cal btn-choose btn-default btn_choose_1" ng-click="openDate(1)" >
                                            <i class="glyphicon glyphicon-calendar"></i>                
                                        </button>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Type*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="deliveryModel.type" name = "typedropdown" class="form-control" 
                                                required>
                                                <option value="">Select type</option>
                                                <option value="topay">To Pay</option>
                                                <option value="paid">Paid</option>                                                
                                        </select> 
                                    </div>      
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Driver Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "drivername"
                                                ng-model = "deliveryModel.driverName"
                                                placeholder="Driver Name"                                                
                                                required/>                                        
                                    </div>
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Transport</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control"
                                               name="transportInfo"
                                               ng-model="deliveryModel.transportInfo"
                                               placeholder="Transport"
                                               uib-typeahead="transport for transport in getTransportList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-no-results="noResults"                                               
                                               typeahead-min-length="0"
                                               typeahead-editable="false"
                                               typeahead-template-url="transport_dropdown__tpl.html"
                                               typeahead-input-formatter="formatTransportModel($model)"
                                               autocomplete="off" /> 
                                         <span class="glyphicon glyphicon-search box-search "></span>
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div>
                                    </div>  
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Vehicle Type</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "vehicleType"
                                                ng-model = "deliveryModel.vehicleType"
                                                placeholder="Vehicle Type"                                                                                                />                                        
                                    </div>
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Billing Unit</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "billingUnit"
                                                ng-model = "deliveryModel.billingUnit"
                                                placeholder="Billing Unit"                                                
                                                />
                                    </div>                                                                                                                                                           
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">                                    
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Delivery Date*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input name="deliveryDate" type="dob" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                               ng-model="deliveryModel.deliveryDate" readonly is-open="deliveryDateOpen"  
                                               show-weeks="false" datepicker-options="dateOptions"
                                               close-text="Close" required/>
                                        <button type="button" class="btn date-cal btn-default btn-choose btn_choose_1 " ng-click="openDate(2)" >
                                            <i class="glyphicon glyphicon-calendar"></i>                
                                        </button>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Status*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="deliveryModel.status" name = "statusdropdown" class="form-control" required
                                                data-ng-disabled="true">
                                                <option value="">Select status</option>
                                                <option value="new">New</option>
                                                <option value="shipped">Shipped</option>
                                                <option value="delivered">Delivered</option>
                                        </select>                                        
                                    </div> 
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Driver Mobile No*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "drivermobileno"
                                                ng-model = "deliveryModel.driverMobileNo"
                                                placeholder="Amount"
                                                validator = "validationFactory.phoneNumberValidator(deliveryModel.driverMobileNo) == true"                                               
                                                required/>
                                    </div>   
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Final Destination*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea class="form-control"
                                                  name = "finalDestination"
                                                  ng-model = "deliveryModel.finalDestination"
                                                  placeholder="Add comments ... "
                                                  required
                                                  >                                  
                                        </textarea>                                        
                                    </div>
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Vehicle Number*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "vehicleNo"
                                                ng-model = "deliveryModel.vehicleNo"
                                                placeholder="Vehicle Number"                                                
                                                required/>                                        
                                    </div>

                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Store</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "store"
                                                ng-model = "deliveryModel.store"
                                                placeholder="Store"                                                
                                                />
                                    </div>            
                                </div>
                            </div>
                        </div>                        
                        <div class="row" style="margin-top: 20px;">
                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                            "btn-loader":isDataSavingProcess}' >Save</button>
                                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " angular-validator-form-reset data-ng-click="formReset()">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>           
        </div>
    </div>    

</div>

