<div>
    <div class="wrapper-md content">
        <div class="clearfix add-form form-wrapper">
            <div class="head_right table-search no-border wrapper-sm clearfix ">
                <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <input  type = "text"
                                    class="form-control"
                                    name = "search_delivery_instruction_id"
                                    placeholder="Doc.#"
                                    ng-model = "searchFilter.ref_id" 
                                    ng-change ="initGetMappedList()"
                                    />
                        </div>
                        <div class="col-sm-3">
                            <input type="text"
                                   class="form-control"
                                   name="customer_dropdown_{{$index}}"
                                   ng-model="searchFilter.customerInfo"
                                   placeholder="Customer Name"
                                   uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                   typeahead-loading="loadingLocations"
                                   typeahead-no-results="noResults"
                                   typeahead-on-select="initGetMappedList()"
                                   typeahead-min-length="0"
                                   typeahead-editable="false"
                                   typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                   typeahead-input-formatter="formatCustomerModel($model)"
                                   autocomplete="off" />
                             <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div> 
                        </div>                
                        <div class=" col-sm-6 right">
                            <div class="clearfix right" ng-hide="deliveryModel.mappedInvoiceList.length == 0">                               
                                <a ng-click="updateMappedInvoice()" class="add_button add-dash"> Update </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padder-md">   
                <div class="col-sm-12">
                    <div class="table-responsive ">
                        <table class="table no-link box-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width:100px;" rowspan="1" colspan="1" >
                                        Doc#
                                    </th>
                                    <th  style="width:150px;" rowspan="1" colspan="1" >
                                        Doc. Date
                                    </th>                                    
                                    <th style="width:150px;" rowspan="1" colspan="1">
                                        Drop Seq#
                                    </th>
                                    <th style="width:150px;" rowspan="1" colspan="1">
                                        Customer
                                    </th>
                                    <th style="width:150px;" rowspan="1" colspan="1">
                                        Consignee
                                    </th>
                                    <th style="width:150px;" rowspan="1" colspan="1">
                                        Consignee Destination
                                    </th>
                                    <th style="width:150px;" rowspan="1" colspan="1">
                                        Freight
                                    </th>
                                    <th style="width:150px;" rowspan="1" colspan="1">
                                        Unloading
                                    </th> 
                                    <th style="width:150px;" rowspan="1" colspan="1">
                                        Driver Beta
                                    </th> 
                                    <th style="width:150px;" rowspan="1" colspan="1">
                                        No.of.Pkgs
                                    </th> 
                                    <!--                                    <th style="width:100px;" class="right" rowspan="1" colspan="1">
                                                                            Net weight
                                                                        </th> 
                                                                        <th style="width:100px;" class="right" rowspan="1" colspan="1">
                                                                            Gross weight
                                                                        </th> 
                                                                        <th style="width:100px;" class="right" rowspan="1" colspan="1">
                                                                            Volume
                                                                        </th> -->
                                    <th style="width:150px;" rowspan="1" colspan="1">
                                        Row total
                                    </th>
                                    <th style="width:70px;" class="right" rowspan="1" colspan="1">
                                        Action
                                    </th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="deliveryModel.isMappedInvoiceLoading">
                                    <td colspan="12" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="deliveryModel.mappedInvoiceList.length == 0">
                                    <td colspan="12" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="invoice in deliveryModel.mappedInvoiceList">
                                    <td>                                                                                                           
                                        {{invoice.invoice_code}}
                                    </td>
                                    <td>
                                        {{invoice.ref_date|date:appConfig.date_format}}
                                    </td>
                                    <td class="td-box">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "drop_{{$index}}"
                                                ng-model = "invoice.drop_seq"                                                                                           
                                                />
                                    </td> 
                                    <td>
                                        {{invoice.customer_name}}
                                    </td>
                                    <td>
                                        {{invoice.consignee_name}}
                                    </td>
                                    <td>
                                        {{invoice.consignee_city}}
                                    </td>
                                    <td class="right td-box">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "freight_{{$index}}"
                                                ng-model = "invoice.freight" 
                                                data-ng-change="updateRowtotal($index)"
                                                validator = "validationFactory.isNumber(invoice.freight) == true"                                               
                                                />
                                    </td> 
                                    <td class="right td-box">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "unloading_{{$index}}"
                                                ng-model = "invoice.unloading" 
                                                data-ng-change="updateRowtotal($index)"
                                                validator = "validationFactory.isNumber(invoice.unloading) == true"                                               
                                                />
                                    </td> 
                                    <td class="right td-box">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "driver_beta_{{$index}}"
                                                ng-model = "invoice.driver_beta"
                                                data-ng-change="updateRowtotal($index)"
                                                validator = "validationFactory.isNumber(invoice.driver_beta) == true"                                               
                                                />
                                    </td> 
                                    <td class="right td-box">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "no_of_pkts_{{$index}}"
                                                ng-model = "invoice.no_of_pkts"
                                                data-ng-readonly="false"
                                                data-ng-change="updateRowtotal($index)"
                                                validator = "validationFactory.isNumber(invoice.no_of_pkts) == true"                                               
                                                />
                                    </td> 
                                    <!--                                    <td class="right td-box">
                                                                            <input  type = "text"
                                                                                    class="form-control"
                                                                                    name = "net_weight_{{$index}}"
                                                                                    ng-model = "invoice.net_weight"  
                                                                                    validator = "validationFactory.isNumber(invoice.net_weight) == true"                                               
                                                                                    />
                                                                        </td> 
                                                                        <td class="right td-box">
                                                                            <input  type = "text"
                                                                                    class="form-control"
                                                                                    name = "gross_weight_{{$index}}"
                                                                                    ng-model = "invoice.gross_weight"   
                                                                                    validator = "validationFactory.isNumber(invoice.gross_weight) == true"                                               
                                                                                    />
                                                                        </td> 
                                                                        <td class="right td-box">
                                                                            <input  type = "text"
                                                                                    class="form-control"
                                                                                    name = "volume_{{$index}}"
                                                                                    ng-model = "invoice.volume"       
                                                                                    validator = "validationFactory.isNumber(invoice.volume) == true"                                               
                                                                                    />
                                                                        </td>-->
                                    <td class="right td-box">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "rowtotal_{{$index}}"
                                                ng-model = "invoice.row_total"
                                                data-ng-readonly="true"                                                                                             
                                                />
                                    </td>
                                    <td class="right td-box">
                                        <a class="chel-edit-add add-dash" data-ng-click="showPopup(invoice.id)">
                                            <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>                            
                        </table>
                    </div>
                </div>                            
            </div>

        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup dlt-popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>    
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteAdvancePaymentItem()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>  
</div>