<script type="text/ng-template" id="incomecategory_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="depositAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Deposit Add</h2>
            <a ui-sref="app.deposit" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_deposit_form" angular-validator-submit="createDeposit()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Account*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select name="deposit_account_dropdown" type="text" ng-model="depositModel.account" class="form-control" required>
                                        <option value="">Choose an Account</option>
                                        <option value="{{Accountlist.id}}" data-ng-repeat="Accountlist in depositModel.Accountlist">{{Accountlist.account}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Date*</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob ">
                                    <input name="date" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="depositModel.date" is-open="startDateOpen"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           required close-text="Close"
                                            />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Description*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea class="form-control"
                                              name = "description"
                                              ng-model = "depositModel.particulars"
                                              placeholder=" " required
                                              ></textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Category</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="incomecategory_dropdown"
                                           ng-model="depositModel.incomeCategoryInfo"
                                           placeholder ="Select Category"
                                           uib-typeahead="category for category in getIncomeCategoryList($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-min-length="0"
                                           class="form-control"
                                           typeahead-editable="false"
                                           typeahead-template-url="incomecategory_dropdown_tpl.html"
                                           typeahead-input-formatter="formatincomeCategoryModel($model)"
                                           autocomplete="off"
                                           />
                                     <span class="glyphicon glyphicon-search box-search "></span>
                                           <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noResults">
                                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                                            </div> 
                                    <br/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Amount*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "amount"
                                            ng-model = "depositModel.amount"
                                            placeholder=""
                                            maxlength="35"
                                            
                                            required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                        </div>
                    </div>
                </form>
                <div style="clear: both;"></div>
                <div class="wrapper-md ">
                </div>
            </div>
        </div>
    </div>

</div>