
<div class="app-content-body fade-in-up"  data-ng-controller="deviceAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel-heading clearfix "> 
            <h2>Device Add</h2>
            <a ui-sref="app.device" class="add_button" ui-scroll-to="app">Back to Device List</a>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form form-wrapper">
                <form name="device_add_form" angular-validator-submit="createDevice()" class="form-horizontal clearfix " novalidate angular-validator>
                    <div class="form-group">
                        <label>Name*</label>
                        <input  type = "text"
                                class="form-control"
                                name = "dname"
                                ng-model = "deviceModel.name"
                                placeholder="Name"
                                required
                                />
                    </div>
                    <div class="form-group">
                        <label>Device Code*</label>
                        <input  type = "text"
                                class="form-control"
                                name = "devicecode"
                                ng-model = "deviceModel.devicecode"
                                placeholder="Device Code"
                                required
                                />
                    </div>
                    <div class="form-group">
                        <label>Short Code*</label>
                        <input  type = "text"
                                class="form-control"
                                name = "shortcode"
                                ng-model = "deviceModel.shortcode"
                                placeholder="Short Code"
                                required
                                />
                    </div>
                    <li>
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                        </div>
                    </li>
                </form>
            </div>
        </div>
    </div>
</div>

