
<div class="app-content-body fade-in-up"   data-ng-controller="emailSettingsTemplateCtrl">

      <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                  <h2>Email Template Update</h2>
            </div>
      </div>

      <div class="container animated fadeInUp clearfix topmarginsm  ">
            <div class="wrapper-md bg-white topmargin ">
                  <form name="email_settings_form" angular-validator-submit="updateEmailSettings()" class="form-horizontal clearfix " novalidate angular-validator >

                        <div class="row ">

                              <div class="col-sm-12 ">
                                    <div class="row topmargin ">
                                          <div class="col-sm-2 topmargin right ">
                                                <label>Subject:</label>
                                          </div>
                                          <div class="col-sm-10 topmarginsm ">
                                                <input class="form-control"
                                                       name = "subject"
                                                       ng-model = "emailSettingsModel.subject"
                                                       placeholder="Subject"
                                                       >
                                          </div>
                                          <div class="col-sm-2 topmargin right ">
                                                <label></label>
                                          </div>
                                          <div class="col-sm-10 topmargin ">
                                                <label></label>
                                          </div>
                                          <div class="col-sm-2 topmargin right ">
                                                <label></label>
                                          </div>
                                          <div class="col-sm-10 topmarginsm ">
                                                <textarea  data-ng-model="emailSettingsModel.message"  style="width: 779px; height: 270px"/></textarea>
                                          </div>

                                          <div class="col-sm-2 topmarginsm">&nbsp;</div>
                                          <div class="col-sm-10 topmarginsm bottommargin ">
                                                Variable parameters:{ {invoice_id} },{ {invoice_amount} },{ {duedate}},{ {date} },{ {companyname} }
                                          </div>
                                          <hr>
                                    </div>

                                    <div class="col-sm-12 center topmargin ">
                                          <div class="form-group full_w btn_group">
                                                <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()">Reset</a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </form>
            </div>
      </div>
