<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="employeeteamListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Employee Team</h2>
            <custom-add redirect="app.employeeteamAdd" screencode="team"></custom-add>
            <!--<a data-ui-sref="app.employeeteamAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->  
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="employeeteam_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input  type = "text"
                                class="form-control"
                                name = "teamName"
                                data-ng-change="initTableFilter()"
                                ng-model = "searchFilter.name"
                                placeholder="Team Name"                                            
                                />                        
                    </div>
                    <div class="sea ">
                        <input type="text"
                               name="lead_dropdown"
                               ng-model="searchFilter.employeeInfo"
                               placeholder ="Select Lead"
                               uib-typeahead="user for user in getEmployeelist($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="false"
                               typeahead-template-url="employee_dropdown_tpl.html"
                               typeahead-input-formatter="formatEmployeeModel($model)"
                               autocomplete="off"                               
                               />
                         <span class="glyphicon glyphicon-search box-search "></span>
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                             <div ng-show="noResults">
                                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                             </div>
                    </div>
                </div>  
            </form>
        </div>
        <div class="table-responsive ">

            <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Id
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Name
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Lead Name
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Limit
                        </th>
                        <th style="width: 200px;" rowspan="1" colspan="1" >
                            Current Count
                        </th>
                        <th style="width: 200px;" rowspan="1" colspan="1">
                            Action
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="teamModel.isLoadingProgress">
                        <td colspan="6" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-if="teamModel.list.length == 0">
                        <td colspan="6" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>
                    <tr data-ng-repeat="team in teamModel.list">
                        <td>
                            <a data-ui-sref="app.employeeteamEdit({id: '{{team.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.id}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.employeeteamEdit({id: '{{team.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.name}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.employeeteamEdit({id: '{{team.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.emp_name}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.employeeteamEdit({id: '{{team.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.count}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.employeeteamEdit({id: '{{team.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.current_count}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.employeeteamEdit({id: '{{team.id}}'})" ui-scroll-to="app" >
                                <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                            </a>
                            <a class="chel-edit-add add-dash" ng-if="team.current_count == 0 " data-ng-click="showPopup(team.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot  data-ng-hide="teamModel.list.length == 0" >
                    <tr>
                        <td colspan="2" class="text-left" >
                            <label>Show</label>
                            <select firstName = "perpage"
                                    ng-model="teamModel.limit"
                                    ng-options="page for page in pagePerCount"
                                    class="form-control show_count"
                                    ng-change="initTableFilter()"
                                    >
                            </select>
                        </td>
                        <td colspan="5" class="text-right">
                <ul uib-pagination total-items="teamModel.total" ng-model="teamModel.currentPage" ng-change="getList()" items-per-page="teamModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                </td>
                </tr>
                </tfoot>                  
            </table>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteEmployeeTeamInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>

</div>   