<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="employeeteamEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Employee Team Edit</h2>
            <a ui-sref="app.employeeteamlist" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="edit_employeeteam_form" angular-validator-submit="modifyEmployeeTeam()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Team Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "teamName"
                                            ng-model = "teamModel.name"
                                            placeholder="Team Name"                                            
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Lead Name</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="lead_dropdown"
                                           ng-model="teamModel.employeeInfo"
                                           placeholder ="Select Lead"
                                           uib-typeahead="employee for employee in getEmployeelist($viewValue)"
                                           typeahead-loading="loading"
                                           typeahead-no-results="noResults"
                                           typeahead-min-length="0"
                                           class="form-control"
                                           typeahead-editable="false"
                                           typeahead-template-url="employee_dropdown_tpl.html"
                                           typeahead-input-formatter="formatEmployeeModel($model)"
                                           autocomplete="off"
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Max. Limit*</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob ">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "teamlimit"
                                            ng-model = "teamModel.count"
                                            validator = "validationFactory.isPositiveNumber(teamModel.count) === true"
                                            placeholder="Team Limit"                                            
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Current Count*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "current_team_count"
                                            ng-model = "teamModel.current_count"
                                            data-ng-readonly="true"
                                            placeholder="Team Limit"                                            
                                            required/>
                                </div>                                
                            </div>
                        </div>
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                        </div>
                    </div>
                </form>
                <div style="clear: both;"></div>
                <div class="wrapper-md ">
                </div>
            </div>
        </div>
    </div>
</div>