<script type="text/ng-template" id="employee_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.f_name + '(' + match.model.id + ',' + match.model.emp_code + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<div class="app-content-body fade-in-up req-stock " data-ng-controller="empPFListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Employee PF Statement</h2>
            <a href="{{APP_CONST.PF_PRINT}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&type=pf"
               target="_blank" ui-scroll-to="app" class="add_button add-dash" >Print</a>
            <!--<a href="{{APP_CONST.API.RECEIVABLEREPORT_DOWN}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&customer_id={{searchFilter.customerInfo.id}}&status=partiallyPaid&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="empPF_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown_{{$index}}"
                               ng-model="searchFilter.empInfo"
                               placeholder="Employee Name"
                               uib-typeahead="employee for employee in getEmployeeList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-template-url="employee_dropdown__tpl.html"
                               typeahead-input-formatter="formatEmployeeModel($model)"
                               autocomplete="off" />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                 <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>                    
                    </div>
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" readonly is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" required
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" readonly is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" required
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="empPFListModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":empPFListModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <!--<li class="col-sm-4 ">Customer Name:{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>-->
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 50px;"  rowspan="1" colspan="1" >
                                ID
                            </th>
                             <!--<th style="width: 50px;"  rowspan="1" colspan="1" >
                                PF_NO
                            </th>-->
                            <th style="width: 100px;"  rowspan="1" colspan="1" >
                                Emp Code
                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1" >
                                Emp name
                            </th>
                            <th style="width: 100px;"   rowspan="1" colspan="1" >
                                Salary Amount
                            </th>
                            <th style="width: 100px;"   rowspan="1" colspan="1">
                                PF Percentage
                            </th>
                            <th style="width: 100px;"   rowspan="1" colspan="1" >
                                PF Amount
                            </th>
                            
                            <th style="width: 100px;"   rowspan="1" colspan="1" >
                                Empr PF Percentage
                            </th>
                            <th style="width: 100px;"   rowspan="1" colspan="1" >
                                Empr PF Amount
                            </th>
                            <th style="width: 100px; text-align: right;"   rowspan="1" colspan="1">
                                Total Amount
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="empPFListModel.isLoadingProgress">
                            <td colspan="9" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="empPFListModel.list.length === 0">
                            <td colspan="9" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="empPF in empPFListModel.list">
                            <td>
                                {{empPF.id}}
                            </td>
                           <!-- <td>
                                
                            </td>-->
                            <td style="text-align: center;">
                                 {{empPF.emp_code}}
                            </td>
                            <td>
                                  {{empPF.f_name}}
                            </td>
                            <td style="text-align: right;">
                                {{empPF.salary_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{empPF.pf_percentage}} 
                            </td>
                            <td style="text-align: right;">
                                {{empPF.pf_amount}}
                            </td>
                            
                            <td style="text-align: right;">
                                {{empPF.employer_pf_percentage}}
                            </td>
                            <td style="text-align: right;">
                                {{empPF.employer_pf_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{empPF.total_pf_amount}}
                            </td>

                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="empPFListModel.list.length === 0" >
                        <tr>
                            <td colspan="3" class="text-left right" >
                                <b>Total</b>
                            </td>
                            <td colspan="1" class="text-right">
                                {{empPFListModel.total_salary_amount}}
                            </td>
                            <td colspan="1" class="text-right">
                                {{empPFListModel.total_PF_Percentage}}
                            </td>
                            <td colspan="1" class="text-right">
                                {{empPFListModel.total_PF_Amount}}
                            </td>
                             <td colspan="1" class="text-right">
                                {{empPFListModel.total_emp_PF_Percentage}}
                            </td>
                            <td colspan="1" class="text-right">
                                {{empPFListModel.total_emp_PF_Amount}}
                            </td>   
                            <td colspan="1" class="text-right">
                                {{empPFListModel.total_Amount}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


