
<div class="app-content-body fade-in-up req-stock " data-ng-controller="empSalaryViewCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2>Employee Salary Details</h2>
            <a ui-sref="app.empSalaryList" class="add_button hide-print" ui-scroll-to="app">Back to List</a>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            
            <!--            <a href="{{APP_CONST.API}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&team_id={{searchFilter.teamInfo.id}}&is_active=1&mode=1&start=0&limit=0"
                           ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="sales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="col-sm-2 ">
                        <div>
                            <label class="emp-label">Salary Type</label>       
                        </div>
                        <div class="col-sm-2 ">
                            <p>
                                {{empSalaryModel.list[0].salary_type}}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-2" data-ng-show="salarytype == 'monthly'">
                        <div>
                            <label class="emp-label">Attendance Based</label>       
                        </div>
                        <div class="col-sm-2 ">
                            <p>
                                {{empSalaryModel.list[0].salary_month}}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4" data-ng-show="salarytype == 'weekly'">
                        <div>
                            <label class="emp-label">Piece Based</label>       
                        </div>
                        <div class="col-sm-12 " >
                            <p>
                                From Date:{{empSalaryModel.list[0].from_date|date:adminService.appConfig.date_format}}&nbsp;&nbsp;To Date:{{empSalaryModel.list[0].to_date|date:adminService.appConfig.date_format}}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <label class="emp-label">Team Name</label>       
                        </div>
                        <div class="col-sm-2 " >
                            <p>
                                {{empSalaryModel.list[0].team_name}}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <label class="emp-label">Payroll Type</label>       
                        </div>
                        <div class="col-sm-2 " >
                            <p>
                                {{empSalaryModel.list[0].payroll_type}}
                            </p>
                        </div>
                    </div>
                </div>

            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Salary Type:{{salarytype == '' ? '-' : salarytype == 'monthly' ? 
                        'Attendance Based' : 'Piece Based'}}</li>
                    <li class="col-sm-4 " data-ng-show="salarytype == 'weekly'">From Date: {{fromdate == '' ? '-' : fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 " data-ng-show="salarytype == 'weekly'">To Date: {{todate == '' ? '-' : todate|date:dateFormat}}</li>
                    <li class="col-sm-4 " data-ng-show="salarytype == 'monthly'">Month: {{month}}</li>
                    <li class="col-sm-4 ">Team Name: {{teamname}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:50px"  rowspan="1" colspan="1" >
                                #
                            </th>
                            <th style="width: 100px;"   rowspan="1" colspan="1">
                                Code
                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1" >
                                Name
                            </th> 
                            <th style="width: 100px;"   rowspan="1" colspan="1" class="text-right">
                                QTY
                            </th>
                            <th style="width: 100px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Weekly Salary
                            </th>
                            <th style="width: 100px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Allowance
                            </th>
                            <th style="width: 100px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Others
                            </th>
                            <th style="width: 100px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                PF
                            </th>
                            <th style="width: 100px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                ESI
                            </th>

                            <th style="width: 100px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Deduction
                            </th>
                            <th style="width: 100px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="empSalaryModel.isLoadingProgress">
                            <td colspan="12" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="empSalaryModel.list.length == 0">
                            <td colspan="12" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr ng-repeat-start="salary in empSalaryModel.list">
                            <td style="width:50px;" >
                                {{$index + 1}}
                            </td>
                            <td>
                                {{salary.emp_code}}
                            </td>
                            <td>
                                {{salary.f_name}}
                            </td>
                            <td style="">
                                {{salary.overall_qty}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.week_salary}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.fixed_allowance_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.ot_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.pf_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.esi_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.deduction_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.total_amount}}
                            </td>
                        </tr>   
                        <tr class="d0 toppaddingsm bottompaddingsm" ng-repeat-end style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="4" style="    border-bottom: 1px solid #eaeff0;" data-ng-hide="empSalaryModel.list.length == 0">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Product 
                                            </th>
                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Price
                                            </th>
                                            <th style="width: 650px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                O/P Qty
                                            </th>
                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="task in salary.employee_salary_task_detail" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 10px;" ng-show="salary.employee_salary_task_detail.length > 0">
                                                {{task.productName}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;" ng-show="salary.employee_salary_task_detail.length > 0">
                                                {{task.unit_price}}
                                            </td>
                                            <td colspan="1" class="right" ng-show="salary.employee_salary_task_detail.length > 0">
                                                {{task.outputQty}}
                                            </td>
                                            <td colspan="1" class="right" ng-show="salary.employee_salary_task_detail.length > 0">
                                                {{task.unit_price}}
                                            </td>

                                        </tr> 
                                        <tr data-ng-show="salary.employee_salary_task_detail.length == 0">
                                            <td colspan="4">
                                                --No Data--
                                            </td>
                                        </tr>

                                    </tbody>
                                </table> 
                            </td>
                            <td   colspan="4" style="    border-bottom: 1px solid #eaeff0;" data-ng-hide="empSalaryModel.list.length == 0">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Allowance Charge
                                            </th>
                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  data-ng-show="salary.employee_salary_allowance_detail.length == 0">
                                            <td colspan="2">
                                                --No Data--
                                            </td>
                                        </tr>
                                        <tr ng-repeat="allowance in salary.employee_salary_allowance_detail" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 10px;" >
                                                {{allowance.name}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{allowance.amount}}
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                </table> 
                            </td>
                            <td   colspan="4" style="    border-bottom: 1px solid #eaeff0;" data-ng-hide="empSalaryModel.list.length == 0">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Others Detail
                                            </th>
                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="ot in salary.employee_salary_ot_detail" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 10px;" >
                                                {{ot.name}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{ot.amount}}
                                            </td>
                                        </tr>   
                                        <tr  data-ng-show="salary.employee_salary_ot_detail.length == 0">
                                            <td colspan="2">--No Data--</td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr data-ng-show="empSalaryModel.list.length > 0">
                            <td colspan="2"></td>
                            <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryModel.totalqty}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryModel.totalweeksalary}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryModel.totalallowable}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryModel.totalot}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryModel.totalpfamt}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryModel.totalesi}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryModel.totaldedamt}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryModel.totalAmt}}</b></td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</div> 


