<div class="app-content-body fade-in-up req-stock " data-ng-controller="empSalaryCtrl" >
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Employee Salary</h2>
            <custom-add redirect="app.empSalary" screencode="empSalary"></custom-add>
            <!--<a data-ui-sref="app.empSalary" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <div class="head_right table-search wrapper-sm clearfix ">
                <div class="sea ">
                    <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                           ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                           show-weeks="false"
                           close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                    <button type="button" class="btn btn-default btn-choose btn-chooseN" ng-click="openDate(0)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </div>
                <div class="sea ">
                    <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                           ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                           show-weeks="false"
                           close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                    <button type="button" class="btn btn-default btn-choose btn-chooseN" ng-click="openDate(1)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </div>
                <div class="sea">
                    <select ng-model="searchFilter.salarytype"  class="form-control" data-ng-change="typechange()">
                        <option value="">-Salary Type-</option>
                        <option value="monthly">Attendance Based</option>
                        <option value="weekly">Piece Based</option>
                    </select>
                </div>
                <div class="sea">
                    <select ng-model="searchFilter.payroll_type"  class="form-control" data-ng-change="typechange()">
                        <option value="">-Payroll Type-</option>
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                    </select>
                </div>
                <div class="sea" >
                    <select type = "text" ng-model="searchFilter.teamid" class="form-control" data-ng-change="team()">
                        <option value="">-Select Team-</option>
                        <option value="{{team.id}}" data-ng-repeat="team in salaryModel.teamList" >{{team.name}}</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive ">
                <table class="table  no-link  table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 30px;"  rowspan="1" colspan="1" >
                                ID
                            </th>
                            <th style="width:100px;"   rowspan="1" colspan="1">
                                Salary Type
                            </th>
                            <th style="width:100px;"   rowspan="1" colspan="1">
                                Payroll Type
                            </th>
                            <th style="width:100px;"   rowspan="1" colspan="1">
                                Team Name
                            </th>
                            <th style="width:100px;"   rowspan="1" colspan="1">
                                Team Total Count
                            </th>
                            <th style="width:100px;"   rowspan="1" colspan="1">
                                Paid Count
                            </th>
                            <th style="width:100px;"   rowspan="1" colspan="1">
                                Not paid
                            </th>
                            <th style="width:100px;"   rowspan="1" colspan="1">
                                Total paid count
                            </th>
                            <th style="width:100px;"   rowspan="1" colspan="1">
                                Amount
                            </th>
                            <th style="width: 50px;"   rowspan="1" colspan="1">
                                Action 
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="salaryModel.isLoadingProgress">
                            <td colspan="10" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="salaryModel.list.length == 0">
                            <td colspan="10" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="salary in salaryModel.list">
                            <td>
                                <a data-ui-sref="app.empSalaryView({id: '{{salary.id}}'})" ui-scroll-to="app" >
                                {{salary.id}}
                                </a>
                            </td>
                            
                            <td>
                                <a data-ui-sref="app.empSalaryView({id: '{{salary.id}}'})" ui-scroll-to="app" >

                                {{salary.salary_type}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.empSalaryView({id: '{{salary.id}}'})" ui-scroll-to="app" >

                                {{salary.payroll_type}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.empSalaryView({id: '{{salary.id}}'})" ui-scroll-to="app" >
                                {{salary.team_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.empSalaryView({id: '{{salary.id}}'})" ui-scroll-to="app" >
                                {{salary.team_count}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.empSalaryView({id: '{{salary.id}}'})" ui-scroll-to="app" >
                                {{salary.paid_count}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.empSalaryView({id: '{{salary.id}}'})" ui-scroll-to="app" >
                                {{salary.not_paid}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.empSalaryView({id: '{{salary.id}}'})" ui-scroll-to="app" >
                                {{salary.total_paid}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.empSalaryView({id: '{{salary.id}}'})" ui-scroll-to="app" >
                                {{salary.overall_amount}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.empSalaryView({id: '{{salary.id}}'})" ui-scroll-to="app" >
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="salaryModel.list.length == 0" >
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label>Show</label>
                                <select firstName = "perpage"
                                        ng-model="salaryModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="7" class="text-right">
                    <ul uib-pagination total-items="salaryModel.total" ng-model="salaryModel.currentPage" ng-change="getList()" items-per-page="salaryModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>


