
<div class="app-content-body fade-in-up req-stock " data-ng-controller="empSalaryListCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2 class="hide-print">Unpaid Employee Salary</h2>
            <!--            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>-->
            <a href="{{APP_CONST.EMP_SALARY_PRINT_URL}}?report_type=empSalary&from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&month={{empSalaryListModel.monthName}}&payroll_type={{searchFilter.payroll_type}}&team_id={{searchFilter.teamid}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&salary_type={{searchFilter.salary_type}}" class="add_button add-dash" target="_blank">
                Print
            </a>
            <a ui-sref="app.empSalaryList" class="add_button hide-print" ui-scroll-to="app">Back to List</a>
            <!--            <a href="{{APP_CONST.API}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&team_id={{searchFilter.teamInfo.id}}&is_active=1&mode=1&start=0&limit=0"
                           ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="sales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="row bottommarginsm">

                        <div class="sea ">
                            <select ng-model="searchFilter.payroll_type" name="employeepayroll" ng-change="payrolltype()"class="form-control" required>
                                <option value="">--Select Payroll Interval--</option>
                                <option value="daily" >Daily</option>
                                <option value="weekly" >Weekly</option>
                                <option value="monthly" >Monthly</option>
                            </select>
                        </div> 
                        <!--                    <div class="sea " ng-show="date == true">
                                                <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                       ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                                                       show-weeks="false" ng-required="empSalaryListModel.salarytype == 'piece'"
                                                       close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                                                <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </div>
                                            <div class="sea " ng-show="date == true">
                                                <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                       ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                                                       show-weeks="false"  ng-required="empSalaryListModel.salarytype == 'piece'"
                                                       close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                                                <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </div>-->
                        <div class="sea" ng-show="daily == true">
                            <input name="dailyDate" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                   ng-model="searchFilter.daily" readonly is-open="startDateOpen"
                                   max-date="currentDate"  placeholder="Date"
                                   close-text="Close" 
                                   
                                   datepicker-options="dateOptions"
                                   ng-required="daily == true" />
                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="sea " ng-show="weekly == true">
                            <input type="text" name ='weekDate' class="form-control" uib-datepicker-popup="{{appConfig.date_format}}" 
                                   ng-model="dt" readonly is-open="popup1.opened" date-format="dd-MM-yyyy" placeholder="Week" datepicker-options="dateOptions" 
                                   ng-required="weekly==true" close-text="Close" />
                            <!--<span class="input-group-btn">-->
                            <button type="button" class="btn btn-default btn-choose" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            <!--</span>-->
                            <!--                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>-->
                        </div>
                        <div class="sea ">
                            <select ng-model="searchFilter.month" name="monthly" ng-show="monthwise == true" 
                                    ng-required="monthwise == true" data-ng-change="selectMonth()"
                                    class="form-control">
                                <option value="">--Month--</option>
                                <option value="{{month.id}}" data-ng-repeat="month in monthList">{{month.name}}</option>    
                            </select>
                        </div>     
                    </div>
                    <div class="row ">
                        <div class="sea">
                            <select ng-model="searchFilter.salary_type" name="empsalarytype" class="form-control" >
                                <option value="">--Select Salary Type--</option>
                                <option value="attendance">Attendance Based</option>
                                <option value="piece">Piece Based</option>
                            </select>
                        </div>
                        <div class="sea" >
                            <select type = "text" ng-model="searchFilter.teamid" name="team" class="form-control" data-ng-change="team()" >
                                <option value="">-Select Team-</option>
                                <option value="{{team.id}}" data-ng-repeat="team in empSalaryListModel.teamList" >{{team.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2 ">
                            <div>
                                <input type = "checkbox"
                                       class=""
                                       id="showAll"
                                       name="showall"
                                       data-ng-model = "showDetail"
                                       />
                                <label for="showAll" class="detailchk">Show Detail</label>
                                <!--                            <input type="checkbox">
                                                            <label class="detailchk">Detail</label>-->
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="topmarginxs right">
                                            <label class="amt-box">{{currencyFormat}}.{{empSalaryListModel.salarytotal.toFixed(2)}}</label>
                                        </div>-->

                    <div class="row clear_b topmarginxs" style="margin-left: 37%;margin-top: -23px;">

                        <div class="col-sm-2 topmarginsm">
                            <button type="submit" class="btn-sm btn-primary" style="width: 110%;"
                                    data-ng-disabled="empSalaryListModel.isSearchLoadingProgress" data-ng-class='{
                                            "btn-loader":empSalaryListModel.isSearchLoadingProgress}'
                                    >
                                Search
                            </button>
                        </div>
                        <div class="col-sm-2 topmarginsm">
                            <button class="btn-sm btn-primary " style="width: 110%;" data-ng-click="clearFilters()" angular-validator-form-reset>
                                Clear
                            </button>
                        </div>
                        <div class="col-sm-2 topmarginsm" style="margin-top: 14px;">
                            <a class="btn-sm btn-primary posting-bg" style="width: 110%;"
                               data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                       "btn-loader":isDataSavingProcess}'
                               data-ng-click="showaccountPopup()" angular-validator-form-reset>
                                Posting
                            </a>
                        </div>
                        <div class="right">
                            <label class="amt-box">{{currencyFormat}}.{{empSalaryListModel.salarytotal.toFixed(2)}}</label>
                        </div>

                    </div>

                </div>

            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="print-info">
                    <li style="font-size: 17px;font-weight: bold;">{{company_name}}</li>
                    <li style="font-size: 14px;">{{company_address}}</li>
                    <li style="font-size: 14px;">Employee Salary Add</li>
                    <li data-ng-show="showDetail == true" style="font-size: 14px;">Detail Report</li>
                    <li data-ng-show="showDetail == false" style="font-size: 14px;">Summary Report</li>
                </ul>
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Salary Type:{{searchFilter.salary_type == '' ? '-' : searchFilter.salary_type == 'attendance' ? 'Attendance Based' : 'Piece Based'}}</li>
                    <li class="col-sm-4">Payroll Type:{{searchFilter.payroll_type == '' ? '-' : searchFilter.payroll_type =='daily' ? 'Daily' : searchFilter.payroll_type == 'weekly' ? 'Weekly' : 'Monthly'}}</li>
                    <li class="col-sm-4 " data-ng-show="searchFilter.payroll_type == 'daily'">From Date: {{searchFilter.daily == '' ? '-' : searchFilter.daily|date:appConfig.date_format}}</li>
                    <li class="col-sm-4 " data-ng-show="searchFilter.payroll_type == 'daily'">To Date: {{searchFilter.daily == '' ? '-' : searchFilter.daily|date:dateFormat}}</li>
                    <li class="col-sm-4 " data-ng-show="searchFilter.payroll_type == 'monthly'">Month: {{searchFilter.month == '' ? '-' : empSalaryListModel.monthName}}</li>
                    <li class="col-sm-4" data-ng-show="searchFilter.payroll_type == 'weekly'">Weekly : {{searchFilter.dt == '' ? '-' : dt|date:appConfig.date_format}}</li>
                    <li class="col-sm-4 ">Team Name: {{searchFilter.teamid == '' ? '-' : empSalaryListModel.teamName}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 50px;"  rowspan="1" colspan="1" >
                                <input type="checkbox"
                                       class=" "
                                       name="all_check"
                                       id="chk_all"
                                       data-ng-model="selectAll"
                                       data-ng-change="checkAllData()"
                                       />
                                <label for="chk_all">&nbsp;</label>
                            </th> 
                            <th style="width:50px"  rowspan="1" colspan="1" >
                                #
                            </th>
                            <th style="width: 50px;"   rowspan="1" colspan="1">
                                Code
                            </th>
                            <th style="width: 50px;"  rowspan="1" colspan="1" >
                                Name
                            </th> 
                            <th style="width: 50px;text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                QTY
                            </th>
                            <th style="width: 50px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Salary
                            </th>
                            <th style="width: 50px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Allowance
                            </th>
                            <th style="width: 50px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Others
                            </th>
                            <th style="width: 50px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                PF
                            </th>
                            <th style="width: 50px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                ESI
                            </th>
                            <th style="width: 50px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Advance Deduction
                            </th>

                            <th style="width: 50px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Deduction
                            </th>
                            <th style="width: 50px;    text-align: center;"   rowspan="1" colspan="1" class="text-right">
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="empSalaryListModel.isLoadingProgress">
                            <td colspan="13" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="empSalaryListModel.list.length == 0">
                            <td colspan="13" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr ng-repeat-start="salary in empSalaryListModel.list">
                            <td>
                                <input  type = "checkbox"
                                        class=" "
                                        id="isselected_{{$index}}"
                                        name="isselected_{{$index}}"
                                        data-ng-change="calculateTotal()"
                                        ng-model = "empSalaryListModel.list[$index].isSelected"
                                        />
                                <label for="isselected_{{$index}}">&nbsp;</label>
                            </td>
                            <td style="width:50px;" >
                                {{$index + 1}}
                            </td>
                            <td>
                                {{salary.emp_code}}
                            </td>
                            <td>
                                {{salary.emp_name}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.overall_qty}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.week_salary}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.fixed_allowance_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.ot_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.pf_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.esi_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.adv_deduction_amt}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.deduction_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{salary.salay_amount}}
                            </td>
                        </tr>   
                        <tr class="d0" ng-repeat-end ng-show="showDetail == true" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="5" style="    border-bottom: 1px solid #eaeff0;" data-ng-hide="empSalaryListModel.list.length == 0">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Product 
                                            </th>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Price
                                            </th>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                O/P Qty
                                            </th>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="task in salary.task_detail" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 10px;" ng-show="salary.task_detail.length > 0">
                                                {{task.output_pdt_name}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;" ng-show="salary.task_detail.length > 0">
                                                {{task.production_unit_price}}
                                            </td>
                                            <td colspan="1" class="right" ng-show="salary.task_detail.length > 0">
                                                {{task.production_qty}}
                                            </td>
                                            <td colspan="1" class="right" ng-show="salary.task_detail.length > 0">
                                                {{task.amount}}
                                            </td>

                                        </tr> 
                                        <tr data-ng-show="salary.task_detail.length == 0">
                                            <td colspan="4">
                                                --No Data--
                                            </td>
                                        </tr>
                                        <tr style="background: white;border-bottom: 1px solid #eaeff0;" ng-show="salary.leave.length > 0">                            
                                            <td colspan="3" style="padding-left: 10px;" >
                                                Casual Leave({{salary.leave[0].casual_leave}})
                                            </td>  
                                            <td colspan="1" class="right">
                                                {{salary.leave[0].casual_leave_amount}}
                                            </td>
                                        </tr>
                                        <!--                                        <tr ng-repeat="leave in salary.leave" style="background: white;border-bottom: 1px solid #eaeff0;" ng-show="salary.leave.length > 0">                            
                                                                                    <td colspan="3" style="padding-left: 10px;" >
                                                                                        {{leave.casual_leave}}
                                                                                    </td>                                         
                                                                                    <td colspan="1" class="right">
                                                                                        {{leave.casual_leave_amount}}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{leave.max_leave_count}}
                                                                                    </td>
                                                                                </tr>-->
                                    </tbody>
                                </table> 
                            </td>
                            <td   colspan="4" style="    border-bottom: 1px solid #eaeff0;" data-ng-hide="empSalaryListModel.list.length == 0">
                                <table class="table-iner-1">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Allowance Charge
                                            </th>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  data-ng-show="salary.fixed_allowance.length == 0">
                                            <td colspan="2">
                                                --No Data--
                                            </td>
                                        </tr>
                                        <tr ng-repeat="allowance in salary.fixed_allowance" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 10px;" >
                                                {{allowance.name}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{allowance.amount}}
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                </table> 
                            </td>
                            <td   colspan="3" style="    border-bottom: 1px solid #eaeff0;" data-ng-hide="empSalaryListModel.list.length == 0">
                                <table class="table-iner-3">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Others Detail
                                            </th>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="ot in salary.ot_detail" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 10px;" >
                                                {{ot.name}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{ot.amount}}
                                            </td>
                                        </tr>   
                                        <tr  data-ng-show="salary.ot_detail.length == 0">
                                            <td colspan="2">--No Data--</td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr data-ng-show="empSalaryListModel.list.length > 0">
                            <td colspan="3"></td>
                            <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryListModel.totalqty}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryListModel.totalweeksalary}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryListModel.totalallowable}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryListModel.totalot}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryListModel.totalpfamt}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryListModel.totalesi}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryListModel.totaladv}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryListModel.totaldedamt}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{empSalaryListModel.totalAmt}}</b></td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showsalaryPopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showsalaryPopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to post salary?</h2>
        <br>
        <center><button type="OK" ng-click="saveSalary()" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                "btn-loader":isDataSavingProcess}' class="btn btn-sm btn-primary btn_grn">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
    <div class="model_overlay" ng-if="showAccount" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showAccount" style="width: 500px;">
        <form name="save_account_form" angular-validator-submit="checkbalance('save')" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closeaccountPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2>Account Details</h2>
            <div class="row m-l-row">
                <div class="pop-shadow">
                    <div class="col-sm-12 center bottommargin col-pad">
                        <select name="account_dropdown" type="text" ng-change="checkbalance('check')" ng-model="empSalaryListModel.account" class="form-control" required>
                            <option value="">Choose an Account</option>
                            <option value="{{accountlist.id}}" data-ng-repeat="accountlist in empSalaryListModel.Accountlist">{{accountlist.account}}</option>
                        </select>
                    </div>
                    <br>
                    <center><button type="OK" data-ng-class='{
                            "btn-loader":isLoadingProgress}'class="btn btn-sm btn-primary btn_grn">OK</button>
                        <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closeaccountPopup()" >Cancel</button></center>
                    </form>
                </div>
            </div>
    </div>
</div> 

