<div class="app-content-body fade-in-up"  data-ng-controller="empTaskAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Task  Add</h2>
            <a ui-sref="app.empTask" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="task_add_form" angular-validator-submit="createTaskType()" class="wrapper-md form-horizontal clearfix " novalidate angular-validator>                        
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Task Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                                    class="form-control"
                                                    name = "typeName"
                                                    ng-model = "taskModel.task_name"
                                                    placeholder="Task Name"
                                                    required
                                                    />
                                </div>
<!--                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Description*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea rows="7" cols="70"  maxlength="150"
                                                      class="form-control h115"
                                                      name = "description"
                                                      ng-model = "taskModel.description"
                                                      placeholder="Description"
                                                      required
                                                      ></textarea>
                                </div>-->
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Comments</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea rows="7" cols="70"  maxlength="150"
                                                      class="form-control h115"
                                                      name = "comments"
                                                      ng-model = "taskModel.comments"
                                                      placeholder="Comments"

                                                      ></textarea>
                                </div>
<!--                                <div class="row topmarginsm right">
                                   
                                    <div class="col-sm-7">
                                        <div class="approved_wrap">
                                            <input type = "checkbox"
                                                   class=""
                                                   id="isActive"
                                                   data-ng-model = "taskModel.is_active"
                                                   />
                                                    <label for="isActive">Is Active</label>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                        </div>
                    </div>
                    </form>
                <div style="clear: both;"></div>
                <div class="wrapper-md ">
                </div>
            </div>
        </div>
    </div>

</div>