
<div class="app-content-body fade-in-up req-stock " data-ng-controller="esiReportCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2>ESI Report</h2>
            <!--<a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>-->
            <a href="{{APP_CONST.ESI_PRINT}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&type=esi"
               target="_blank" ui-scroll-to="app" class="add_button add-dash" >Print</a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="esi_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="col-sm-2 " style="margin-top: 4px;">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="esiModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":esiModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:100px;"  rowspan="1" colspan="1" >
                                E.S.I No
                            </th>
                            <th style="width: 140px;"  rowspan="1" colspan="1" >
                                Employee Code
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Employee Name
                            </th>
                            <th style="width: 120px;"   rowspan="1" colspan="1">
                                No.of Days
                            </th>
                            
                            <th style="width: 100px;text-align: right;"  rowspan="1" colspan="1" >
                                Total Salary
                            </th>
                            <th style="width: 150px;text-align: right"   rowspan="1" colspan="1" class="">
                                E.S.I
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="esiModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="esiModel.list.length === 0">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="esi in esiModel.list">
                            <td style="width:50px;" >
                                {{$index + 1}}
                            </td>
                            <td>
                                {{esi.emp_code}}
                            </td>
                            <td>
                                {{esi.f_name}}
                            </td>
                            <td>
                                {{esi.days}} 
                            </td>
                            <td style="text-align: right;">
                                {{esi.salary_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{esi.esi_amount}}
                            </td>

                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="esiModel.list.length === 0" >
                        <tr>
                             <td colspan="4" style="text-align: right;">
                                 <strong>Total</strong>
                            </td>
                             <td colspan="1" class="text-left right" >
                                &nbsp;&nbsp;&nbsp;<strong> {{esiModel.salary_Amount}} </strong>
                            </td>
                            <td colspan="6" class="text-left right" >
                                &nbsp;&nbsp;&nbsp;&nbsp;<strong> {{esiModel.total_Amount}} </strong>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


