<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<script type="text/ng-template" id="tax_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.tax_name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="expenseAddCtrl">
    <form name="order_add_form" angular-validator-submit="createExpense()" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Expense Add </h2>
                <div class=" right action-links ">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' >Save
                    </button>
                    <a ui-sref="app.expense" ui-scroll-to="app" href="#/invoice">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
        <div class="container topmarginsm ">
            <div class=" invoice-add ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-4 ">
                                <strong class="bottommarginxs ">BILL TO</strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="expenseAddModel.customerInfo"
                                       placeholder="Customer Details..."
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingCustLocations"
                                       typeahead-no-results="noCustResults"
                                       typeahead-min-length="0"
                                       typeahead-editable="true"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       required
                                       />
                                 <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingCustLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noCustResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                            </div>
                            <div class=" col-sm-4 ">
                                <select ng-model="expenseAddModel.inputType"  class="form-control"  >
                                    <option value ="">-Select Category-</option>
                                    <option value={{category.id}} data-ng-repeat="category in expenseAddModel.categoryList">{{category.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-12  ">
                                <div class="tax-add topmargin  ">
                                    <div class="invoice-prod-list table-responsive ">
                                        <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                            <thead>
                                                <tr role="row">
                                                    <th style="width: 70px;">
                                                        #
                                                    </th>
                                                    <th class="left" style="width: 100px;">
                                                        Name
                                                    </th>
                                                    <th class="left" style="width: 300px;">
                                                        Tax No
                                                    </th>
                                                    <th class="right " style="width: 70px;">
                                                        Percentage
                                                    </th>
                                                    <th class="right " style="width: 150px;">
                                                        Tax Amount
                                                    </th>
                                                    <th class="right " style="width: 150px;">
                                                        Expense Amount
                                                    </th>
                                                    <th class="right " style="width: 150px;">
                                                        Row Total
                                                    </th>
                                                    <th style="width: 75px;">
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="tax in expenseAddModel.list">
                                                    <td>{{$index + 1}}</td>
                                                    <td class="left ">
                                                        <input type="text"
                                                               class="form-control"
                                                               name="customer_dropdown_{{$index}}"
                                                               ng-model="expenseAddModel.taxInfo"
                                                               placeholder="Tax Details..."
                                                               uib-typeahead="itemList as itemList.tax_name for itemList in expenseAddModel.taxList | filter:{tax_name:$viewValue}"
                                                               typeahead-loading="loadingLocations"
                                                               typeahead-no-results="noResults"
                                                               typeahead-min-length="0"
                                                               typeahead-editable="true"
                                                               typeahead-template-url="tax_dropdown__tpl.html"
                                                               typeahead-input-formatter="formatTaxModel($model,$index)"
                                                               autocomplete="off"
                                                               />
                                                         <span class="glyphicon glyphicon-search box-search "></span>
                                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                        <div ng-show="noResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>
                                                    </td>
                                                    <td>{{tax.tax_no}}</td>
                                                    <td class="left">
                                                        <input
                                                            name="percentage_{{$index}}"
                                                            type="text"
                                                            class="form-control qty right "
                                                            data-ng-model="expenseAddModel.list[$index].tax_percentage"
                                                            placeholder="tax_percentage"
                                                            validator = "validationFactory.isNumber(expenseAddModel.list[$index].tax_percentage)"
                                                            angular-validator-field
                                                            />
                                                    </td>
                                                    <td>{{tax.taxAmount}}</td>
                                                    <td class="right ">
                                                        <input
                                                            name="sales_price_{{$index}}"
                                                            type="text"
                                                            class="form-control qty right "
                                                            data-ng-model="expenseAddModel.list[$index].expense_amt"
                                                            validator = "validationFactory.isNumber($parent.expenseAddModel.list[$index].expense_amt)"
                                                            data-ng-change="updateInvoiceTotal()"
                                                            placeholder="Price"
                                                            angular-validator-field
                                                            />
                                                    </td>
                                                    <td class="right ">
                                                        <input
                                                            name="rowtotal"
                                                            type="text"
                                                            class="form-control qty right "
                                                            data-ng-model="tax.rowtotal"
                                                            data-ng-change="updateInvoiceTotal()"
                                                            data-ng-disabled="true"
                                                            />
                                                    </td>
                                                    <td class="right ">
                                                        <a href="javascript:void(0)" data-ng-if="$index != (expenseAddModel.list.length - 1)" data-ng-click="deleteTax($parent.expenseAddModel.list[$index].id)" ui-toggle-class="" style="padding: 0;">
                                                            <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="right " colspan="6"><br>
                                                        <strong>Sub Total:</strong>
                                                    </td>
                                                    <td class="right " colspan="1"><br>
                                                        <strong>{{currencyFormat}}.{{expenseAddModel.subtotal}}</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6">
                                                        Tax:
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{expenseAddModel.taxAmt}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6">
                                                        Discount:
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{expenseAddModel.discountAmt}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6"><br/>
                                                        <strong>Grand Total(INR):</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1"><br/>
                                                        <strong>{{currencyFormat}}.{{expenseAddModel.total}}</strong><br/><br/>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
