<script type="text/ng-template" id="user_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="expensetrackerListCtrl" >
    <div class="panel panel-default ">
        <div class="panel-heading row clearfix ">
            <div class="col-sm-6 ">
                <h2>Expense Tracker List</h2>
                <custom-add redirect="app.expensetrackerAdd" screencode="expensetracker"></custom-add>
                <!--<a data-ui-sref="app.expensetrackerAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
                <!--      <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>  -->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
            </div>
            <div class="model_overlay more-option " ng-show="showStatusAddPopup" ng-click="closeStatusPopup()" ></div>
            <div class="col-sm-3 more-option clearfix " >
                <div ng-show="showCheckAddPopup" style="float: left;">
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary " data-ng-click="showStatusPopup()">Status &#x25BE; </a>
                    <div class="more-show-option" ng-show="showStatusAddPopup">
                        <div class="sea">
                            <ul class="list-inline ">
                                <li data-ng-click="statusUpdate('initiated')">
                                    Initiated
                                </li>
                                <li data-ng-click="statusUpdate('approved')">
                                    Approved
                                </li>
                                <li data-ng-click="statusUpdate('cancelled')">
                                    Cancelled
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="float: left;">
                    &nbsp;
                </div>
            </div>
<!--            <div class="col-sm-2 right ">
                <a href="javascript:void(0)" data-ng-click="initTableFilter()"  class="add_button add-dash">Refresh</a>
            </div>-->

        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default head_right">
            <form name="bill-list-search-filter" angular-localstorage >
                <div class="sea topmarginsm bottommarginsm m-l-sm">
                    <select name = "status"
                            data-ng-model="searchFilter.status"
                            class="form-control"
                            data-ng-change="initTableFilter()"
                            >
                        <option value="">All Status</option>
                        <option value="initiated">Initiated</option>
                        <option value="approved">Approved</option>
                        <option value="cancelled">Cancelled</option>
                    </select>
                </div>     
                <div class="sea topmarginsm bottommarginsm">
                    <input type="text"
                           name="lead_dropdown"
                           ng-model="searchFilter.userInfo"
                           placeholder ="Select User"
                           uib-typeahead="user for user in getUserlist($viewValue)"
                           typeahead-loading="loadingLocations"
                           typeahead-no-results="noResults"
                           typeahead-min-length="0"
                           class="form-control"
                           typeahead-editable="false"
                           typeahead-on-select="initTableFilter()"
                           typeahead-template-url="user_dropdown_tpl.html"
                           typeahead-input-formatter="formatUserModel($model)"                              
                           />
                    <span class="glyphicon glyphicon-search box-search "></span>
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
                <div class="table-responsive bill-table  ">
                    <table class="table  no-link  table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 25px;" class="expen-check">
                                    <input type="checkbox"
                                           class=" "
                                           id="is_selectall"
                                           name="is_selectall"
                                           data-ng-model="expenseTrackerModel.selectall"
                                           data-ng-change="selectAll()"
                                           />
                                    <label for="is_selectall"></label>
                                </th>
                                <th style="width: 40px;" >
                                    ID
                                </th>
                                <th style="width: 150px;" >
                                    Date
                                </th>
                                <th style="width: 230px;" >
                                    Name
                                </th>                                
                                <th style="width: 100px;">
                                    Status
                                </th>  
                                <th style="width: 100px;">
                                    Created By
                                </th>
                                <th style="width: 100px;text-align: right" >
                                    Amount
                                </th>
                                <th style="width: 80px;" class="right " >
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="expenseTrackerModel.isLoadingProgress">
                                <td colspan="8" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="expenseTrackerModel.list.length == 0">
                                <td colspan="8" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="expense in expenseTrackerModel.list">
                                <td>
                                    <input type="checkbox"
                                           class=" "
                                           id="selectactive_{{$index}}_c"
                                           name="is_select_{{$index}}_c"
                                           data-ng-model="expenseTrackerModel.list[$index].is_select"
                                           data-ng-change="showCheckbox()"
                                           />
                                    <label for="selectactive_{{$index}}_c"></label>
                                </td>
                                <td>
                                    <a data-ui-sref="app.expensetrackerEdit({id: '{{expense.id}}'})" ui-scroll-to="app" class=" add-dash" >
                                        {{expense.id}}
                                    </a>

                                </td>
                                <td>
                                    <a data-ui-sref="app.expensetrackerEdit({id: '{{expense.id}}'})" ui-scroll-to="app" class=" add-dash" >
                                        {{expense.date|date:'dd/MM/yyyy'}}
                                    </a>

                                </td>
                                <td>
                                    <a data-ui-sref="app.expensetrackerEdit({id: '{{expense.id}}'})" ui-scroll-to="app" class=" add-dash" >
                                        {{expense.name}}
                                    </a>

                                </td>                                
                                <td>
                                    <a data-ui-sref="app.expensetrackerEdit({id: '{{expense.id}}'})" ui-scroll-to="app" class=" add-dash" >
                                        {{expense.status}}
                                    </a>

                                </td>    
                                <td>
                                    <a data-ui-sref="app.expensetrackerEdit({id: '{{expense.id}}'})" ui-scroll-to="app" class=" add-dash" >
                                        {{expense.f_name}}
                                    </a>

                                </td>    
                                <td style="text-align: right">
                                    <a data-ui-sref="app.expensetrackerEdit({id: '{{expense.id}}'})" ui-scroll-to="app" class=" add-dash" >
                                        {{expense.amount}}
                                    </a>

                                </td>

                                <td class="right ">
                                    <a data-ng-show="expense.status.toLowerCase() == 'initiated'" data-ui-sref="app.expensetrackerEdit({id: '{{expense.id}}'})" data-ui-scroll-to="app" >
                                        <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                    </a>
                                    <a data-ui-sref="app.expensetrackerEdit({id: '{{expense.id}}'})" ui-scroll-to="app" class=" add-dash" >
                                        <img class="icon icons8-Invisible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABtklEQVQ4T92UTVLCQBCFX08CuMQbYBWwToEHwBPIDYwbgV08gXgCcYW6AW6QGxD3YmWNVuEN1J0/ybTVA0NFRSlLV84mPzP55r3XPSH88aA/5uGfAL2LqSfRxAfVeF1EKy17g1nReX7dI8AH0yMTHgREjCITFwEM0kJuFO9vmffZ8Q4oIPc5OQIQgHF51ak0ZLHXn5WMws7WnVzrZ9MYoBIBg6TgHmfBS6DYcjSGTDQkzR6UCietclg7vwmURlNAWiG8blV69fPbJrRusqKYmP1UwbdxGGCtP/UVyE8cDmRiu38TWXWiZtKumgztvXHylISyRoS4KfVYUU8EkNmNdTct5BpWugATuL5YFIgoEKA4ELhE4CIZLiOZZx6BVHclUGwKQOzNo6CuPKeKu+IgO28yNtm/jpnUsbEsKklzYC0vqhxls7GVtFlbR58sf1woLTFpV0/thwQaA4gW6xoM3rEbidKVRVlC52EHTNwEqZNJqzxaqDdFkaqmeSdyXtJdsD4kpjDZcHsr2ybbnGJZvSS+7E6ge8aisYEigzeltXTeHa5t7K+O1a+P3rrz+t38P/l9/SSCN9cGCRTKNogxAAAAAElFTkSuQmCC" width="20" height="20">
                                    </a>
                                    <a class="chel-edit-add add-dash" data-ng-click="showPopup(expense.id)">
                                        <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot  data-ng-hide="expenseTrackerModel.list.length == 0" >
                            <tr>
                                <td colspan="3" class="text-left" >
                                    <label>Show</label>
                                    <select firstName = "perpage"
                                            ng-model="expenseTrackerModel.limit"
                                            ng-options="page for page in pagePerCount"
                                            class="form-control show_count"
                                            ng-change="initTableFilter()"
                                            angular-localstorage-field='true'
                                            >
                                    </select>
                                </td>
                                <td colspan="5" class="text-right">
                        <ul uib-pagination total-items="expenseTrackerModel.total" ng-model="expenseTrackerModel.currentPage" ng-change="getList()" items-per-page="expenseTrackerModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                        </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteExpense()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>    
</div>

