<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="expenseListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Expense List</h2>
<!--            <a data-ui-sref="app.expenseadd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
        </div>
    </div>    
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <div class="head_right table-search wrapper-sm clearfix ">
                <div class="sea">
                    <input type="text"
                           class="form-control"
                           name="customer_dropdown_{{$index}}"                           
                           ng-model="searchFilter.customerInfo"
                           placeholder="Customer Name"
                           uib-typeahead="customer for customer in getCustomerList($viewValue)"
                           typeahead-loading="loadingLocations"
                           typeahead-no-results="noResults"
                           typeahead-on-select="initTableFilter()"
                           typeahead-min-length="0"
                           typeahead-editable="true"
                           typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                           typeahead-input-formatter="formatCustomerModel($model)"
                           autocomplete="off" />
                     <span class="glyphicon glyphicon-search box-search "></span>+
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>                    
                </div>                     
            </div>   
            <div class="table-responsive ">
                <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:110px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:280px;" rowspan="1" colspan="1" >
                                Customer Name
                            </th>
                            <th style="width:180px;" rowspan="1" colspan="1">
                                Payment Date
                            </th>
                            <th style="width:180px;"  rowspan="1" colspan="1">
                                Payment Type
                            </th>                            
                            <th style="width:200px;" class="right " rowspan="1" colspan="1">
                                Amount
                            </th>
                            <th style="width:200px;" class="right " rowspan="1" colspan="1">
                                Total Amount
                            </th>
                            <th style="width:180px;" rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="expenseModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="expenseModel.list.length == 0">
                            <td colspan="7" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="expense in expenseModel.list">
                            <td>
                                <a data-ui-sref="app.expenseedit({id: '{{expense.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{expense.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.expenseedit({id: '{{expense.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{expense.customer_fname}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.expenseedit({id: '{{expense.id}}'})"  ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{expense.payment_date}}
                                </a>
                            </td>   
                            <td>
                                <a data-ui-sref="app.expenseedit({id: '{{expense.id}}'})"  ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{expense.payment_type}}
                                </a>
                            </td>   
                            <td>
                                <a data-ui-sref="app.expenseedit({id: '{{expense.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{expense.amount}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.expenseedit({id: '{{expense.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{expense.total_amount}}
                                </a>
                            </td>                        
                            <td>
                                <a data-ui-sref="app.expenseedit({id: '{{expense.id}}'})" ui-scroll-to="app"  >
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="expenseModel.list.length == 0">
                        <tr>
                            <td colspan="2" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="expenseModel.limit"
                                        data-ng-hide="expenseModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="5" class="text-right">
                    <ul uib-pagination  data-ng-hide="expenseModel.list.length == 0" total-items="expenseModel.total" ng-model="expenseModel.currentPage" ng-change="getList()" items-per-page="expenseModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


