
<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<div class="app-content-body fade-in-up req-stock " data-ng-controller="externalwiseProductReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 class="hide-print">External Product Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="tracker_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" required
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" required
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                     <div class="sea">
                        <input type="text"
                               name="customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               placeholder ="Employee"
                               uib-typeahead="employee for employee in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="true"
                               typeahead-template-url="customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"
                               
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="externalwiseProduct.isSearchLoadingProgress" data-ng-class='{"btn-loader":externalwiseProduct.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="print-info">
                    <li style="font-size: 17px;font-weight: bold;">{{company_name}}</li>
                    <li style="font-size: 14px;">{{company_address}}</li>
                    <li style="font-size: 14px;">External Wise Product Report</li>
                </ul>
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:appConfig.date_format}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:appConfig.date_format}}</li>
                    <li class="col-sm-4 ">Customer Name:{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th rowspan="1" colspan="1" >
                                S.No
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Customer Name
                            </th>
                            <th style="width: 150px;"  rowspan="1" colspan="1"  class="right">
                                Customer Code
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1"  class="right">
                                Product Name
                            </th>
                            <th style="width: 150px;"  rowspan="1" colspan="1"  class="right">
                                SKU
                            </th>
                            <th style="width: 150px;"  rowspan="1" colspan="1"  class="right">
                                Qty
                            </th>
<!--                            <th style="width: 110px;"  rowspan="1" colspan="1" class="right">
                                Action
                            </th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="externalwiseProduct.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="externalwiseProduct.list.length === 0">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr ng-repeat ="external in externalwiseProduct.list" style="color:black;">

                            <td>
                                {{$index+1}}                   
                            </td> 
                            <td style="    padding: 5px 10px;">
                                {{external.customer_name}}                   
                            </td> 
                            <td class="right">
                                {{external.customer_code}}
                            </td>
                            <td class="right">
                                {{external.product_name}}
                            </td>
                            <td class="right">
                                {{external.sku}}
                            </td>
                            <td class="right">
                                {{external.overAllQty}}
                            </td>
<!--                            <td class="right">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>-->

                        </tr>
<!--                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{expense.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="5" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 175px;"  rowspan="1" colspan="1" >
                                               Product 
                                            </th>

                                            <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1" class="right">
                                                SKU
                                            </th>
                                            <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1" class="right">
                                                Qty
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  data-ng-show="showDetails[{{expense.flag}}]"  ng-repeat="item in expense.products" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 5px;" >
                                                <a data-ui-sref="app.expensetrackerEdit({id: '{{item.id}}'})" ui-scroll-to="app" ui-scroll-to="app">
                                                {{item.product_name}}
                                                </a>
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                <a data-ui-sref="app.expensetrackerEdit({id: '{{item.id}}'})" ui-scroll-to="app"  ui-scroll-to="app">
                                                {{item.sku}}
                                                </a>
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;">
                                                <a data-ui-sref="app.expensetrackerEdit({id: '{{item.id}}'})" ui-scroll-to="app"  ui-scroll-to="app">
                                                {{item.input_qty}}
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>-->
                    </tbody>
                    <tfoot  data-ng-hide="externalwiseProduct.list.length === 0" >
                        <tr style="font-weight: bold;">
                            <td colspan="5" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="right">
                                {{externalwiseProduct.totalQty}}
                            </td>
                           
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


