<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="followupReportCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2 class="hide-print">Today's Followup Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="lead_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">

                    <div class="sea">
                         <input
                            name="subject"
                            type="text"
                            class="form-control qty a-right "
                            placeholder="Subject"
                            data-ng-change="initTableFilter()"
                            data-ng-model="searchFilter.subject"
                            />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>

                    <div class="sea">
                        <select class="form-control "
                                ng-model="searchFilter.stage"
                                name="stagedropdown">
                            <option value="">All Stage</option>
                            <option value= "{{stage.id}}" data-ng-repeat="stage in followupModel.stageList">{{stage.name}}</option>
                        </select>
                    </div>
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='-Date-'
                               show-weeks="false"
                               close-text="Close" 
                               />
                        <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                            <select class="form-control "
                                    ng-model="searchFilter.stage_flag"
                                    name="dealstagetypedropdown">
                                <option value="all">All stage flags</option>
                                <option value= "intermediate">Intermediate</option>
                                <option value= "won">Won</option>
                                <option value= "loss">Loss</option>
                            </select>
                        </div>
                    <div class="col-sm-2 " style="margin-top: 4px;">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="followupModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":followupModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="print-info">
                   <li style="font-size: 14px;">Todays Followup Report</li>
                </ul>
                <ul class="search-filters clearfix">
                    <li class="col-sm-3 ">Subject :{{searchFilter.subject == '' ? '-' : searchFilter.subject}}</li>
                    <li class="col-sm-3 ">Stage:{{searchFilter.stage == '' ? '-' : searchFilter.stage}}</li>
                    <li class="col-sm-3 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-3 ">Stage Flag: {{searchFilter.stage_flag == '' ? '-' : searchFilter.stage_flag}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="text-align: right;"  rowspan="1" colspan="1" >
                                S.No
                            </th>
                            <th style="text-align: right;"  rowspan="1" colspan="1" >
                                Id
                            </th>
                            <th rowspan="1" colspan="1" >
                               Subject
                            </th>
                            <th rowspan="1" colspan="1" >
                                Stage
                            </th>
                            <th rowspan="1" colspan="1">
                                Leads
                            </th>
                            <th rowspan="1" colspan="1">
                                Deal Type
                            </th>
                            <th rowspan="1" colspan="1">
                                Next Follow up Date
                            </th>
                            <th rowspan="1" colspan="1">
                                Assigned to
                            </th>
                            <th rowspan="1" colspan="1">
                                Updated At
                            </th>
                            <th class="hide-print" rowspan="1" colspan="1">
                                Created By
                            </th>
                            <th rowspan="1" colspan="1">
                                Company
                            </th>
                             <th class="hide-print" rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="followupModel.isLoadingProgress">
                            <td colspan="12" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="followupModel.list.length === 0">
                            <td colspan="12" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="follow in followupModel.list">
                            <td style="width:50px; text-align: right;" >
                                {{$index+1}}
                            </td>
                            <td style="width:50px; text-align: right;" >
                                    {{follow.id}}
                                
                            </td>
                            <td>
                                    {{follow.name}}
                                
                            </td>
                            <td>
                                    {{follow.stage_name}}
                                
                            </td>
                            <td>
                                    {{follow.contact_name}}
                                
                            </td>
                            <td>
                                    {{follow.deal_category_name}}
                                
                            </td>
                            <td>
                                    {{follow.next_follow_up}}
                                
                            </td>
                            <td>
                                    {{follow.employee_name}}
                            </td>
                            <td>
                                     {{follow.updated_at}}
                            </td>
                            <td class="hide-print">
                                    {{follow.created_by_name}}
                            </td>
                            <td>
                                     {{follow.company_name}}
                            </td>
                             <td class="hide-print">
                                <a data-ui-sref="app.dealedit({id: '{{follow.id}}'})" ui-scroll-to="app"  >
                                    <img class="icon icons8-Visible hide-print" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

