
<div class="app-content-body fade-in-up req-stock " data-ng-controller="goodsReceivedNoteListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Goods Received Note List</h2>
            <a data-ui-sref="app.goodsReceivedNoteAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>    

    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="quote_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm clearfix ">
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown_{{$index}}"                      
                               ng-model="searchFilter.customerInfo"
                               placeholder="Supplier"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off" />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>                  
                    </div>                     
                    <div class="sea ">                                                      
                        <input name="goodsDate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.goodsDate" is-open="dateOpen" placeholder='Order Date'
                               min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                               close-text="Close" validator = "validationFactory.hasRequired(searchFilter.goodsDate)== false || validationFactory.minDate(searchFilter.goodsDate,searchFilter.duedate)"
                               data-ng-change="initTableFilter()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>                    
                    </div>
<!--                    <div class="sea">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From Date'
                               data-ng-change="initTableFilter()"
                               show-weeks="false"
                               close-text="Close" 
                               angular-localstorage-field='true'/>
                        <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To Date'
                               data-ng-change="initTableFilter()"
                               show-weeks="false"
                               close-text="Close" 
                               angular-localstorage-field='true'/>
                        <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(2)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>-->
                </div> 
            </form>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:110px;" rowspan="1" colspan="1" >
                                ID
                            </th>
                            <th style="width:110px;" rowspan="1" colspan="1" >
                                Date
                            </th>
                            <th  style="width:280px;" rowspan="1" colspan="1" >
                                Customer Name 
                            </th>
                            <th  style="width:280px;" rowspan="1" colspan="1" >
                                Products 
                            </th>
                            <th style="width:100px;" class="right " rowspan="1" colspan="1">
                                Pack Size
                            </th> 
                            <th style="width:150px;" class="right " rowspan="1" colspan="1">
                                UOM
                            </th> 
                            <th style="width:180px;" class="right " rowspan="1" colspan="1">
                                Delivered Quantity
                            </th>

                            <!--                            <th style="width:300px;" rowspan="1" colspan="1">
                                                            Comments
                                                        </th>-->
                            <th style="width:180px;" class="right " rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="goodsReceivedNoteModel.isLoadingProgress">
                            <td colspan="8" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="goodsReceivedNoteModel.list.length == 0">
                            <td colspan="8" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="grn in goodsReceivedNoteModel.list">
                            <td>
                                <a data-ui-sref="app.goodsReceivedNoteEdit({id: '{{grn.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{grn.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.goodsReceivedNoteEdit({id: '{{grn.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{grn.date}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.goodsReceivedNoteEdit({id: '{{grn.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{grn.customer_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.goodsReceivedNoteEdit({id: '{{grn.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{grn.product_name}}
                                </a>
                            </td>
                            <!--                            <td>
                                                            <a data-ui-sref="app.goodsReceivedNoteEdit({id: '{{grn.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                                                {{grn.prefix}}
                                                            </a>
                                                        </td>                                                                                                                         -->
                            <td>
                                <a data-ui-sref="app.goodsReceivedNoteEdit({id: '{{grn.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{grn.pack_size}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.goodsReceivedNoteEdit({id: '{{grn.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{grn.uom}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.goodsReceivedNoteEdit({id: '{{grn.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{grn.qty}}
                                </a>
                            </td>   
                            <!--                            <td>
                                                            <a data-ui-sref="app.goodsReceivedNoteEdit({id: '{{grn.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                                                {{grn.comments}}
                                                            </a>
                                                        </td>                                                                     -->
                            <td class="right ">
                                <!--                                <a data-ui-sref="app.salesorderView({id: '{{grn.id}}'})" ui-scroll-to="app" >
                                                                    <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                                                </a>-->
                                <a data-ui-sref="app.goodsReceivedNoteEdit({id: '{{grn.id}}'})" ui-scroll-to="app"  >
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a class="chel-edit-add add-dash" data-ng-click="showPopup(grn.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>                                
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="goodsReceivedNoteModel.list.length == 0">
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="goodsReceivedNoteModel.limit"
                                        data-ng-hide="goodsReceivedNoteModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="5" class="text-right">
                                <ul uib-pagination  data-ng-hide="goodsReceivedNoteModel.list.length == 0" total-items="goodsReceivedNoteModel.total" ng-model="goodsReceivedNoteModel.currentPage" ng-change="getGRNListInfo()" items-per-page="goodsReceivedNoteModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup  delet-popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>    
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteGRNInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>  
</div>


