
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body req-stock " id="invoice_product_container" data-ng-controller="goodsReceivedNoteAddCtrl">
    <form name="order_add_form"  angular-validator-submit="createOrder(false)" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Goods Received Note Add </h2>
                <div class=" right action-links ">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' >Save
                    </button>
                    <a data-ng-hide ="dealButton" ui-sref="app.goodsReceivedNoteList" ui-scroll-to="app" href="#/invoice">
                        Back to List
                    </a>
                </div>
            </div>
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-4 ">
                                <!--<strong class="bottommarginxs ">BILL TO</strong><br/>-->
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="goodsReceivedNoteModel.customerInfo"
                                       placeholder="Supplier Details..."
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingCustLocations"
                                       typeahead-no-results="noCustResults"
                                       typeahead-min-length="0"
                                       typeahead-editable="true"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       required
                                       />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingCustLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noCustResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class=" col-sm-3 ">&nbsp;</div>
                            <div class=" col-sm-5 right form ">
                                <ul class="invoice-date-info ">
                                    <li class="bottommarginsm ">
                                        <span class="tit "> <strong>Date</strong> </span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="goodsReceivedNoteModel.billdate" readonly is-open="startDateOpen"
                                                   min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close"  />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-12  ">
                                <div class="product-add topmargin  ">

                                    <ul class="ul-list-wrapper ul-table-head clearfix ">
                                        <li class="num ">
                                            #
                                        </li>
                                        <li class="name " style="width: 32% !important;">
                                            Products
                                        </li>
                                        <!--                                        <li class="sku left ">
                                                                                    SKU
                                                                                </li>-->
                                        <li class=" uom " style="width: 10% !important; padding-left: 20px;">
                                           UOM
                                        </li>
                                        <li class="right qty " style="width: 10% !important;">
                                            Pack Size
                                        </li>
<!--                                        <li class="qty " style="width: 6% !important;    padding-left: 20px;">
                                            UOM
                                        </li>-->
                                        <li class="right price " style="width: 15% !important;">
                                            Delivered Quantity
                                        </li>
                                        <li class="right f-right action ">
                                            &nbsp;
                                        </li>
                                        <li class="right f-right row-total " style="width: 25% !important;">
                                            Comments
                                        </li>
                                    </ul>
                                    <div class="invoice-prod-list table-responsive ">
                                        <ul class="ul-list-wrapper ul-table-details clearfix " data-ng-repeat="order in goodsReceivedNoteModel.list">
                                            <li class="num center ">
                                                {{$index + 1}}
                                            </li>
                                            <li class="name " style="width: 32% !important;">
                                                <input type="text"
                                                       ng-model="order.productname"
                                                       placeholder="Product list.."
                                                       uib-typeahead="itemList  as itemList.name for itemList in goodsReceivedNoteModel.productList | filter:{name:$viewValue}"
                                                       typeahead-loading="loadingProductLocations"
                                                       typeahead-no-results="noProductResults"
                                                       typeahead-template-url="product_dropdown__tpl.html"
                                                       class="form-control"
                                                       typeahead-editable="true"
                                                       typeahead-no-results="noResults"
                                                       typeahead-show-hint="true"
                                                       typeahead-input-formatter="formatProductModel($model,$index)"
                                                       typeahead-min-length="0"
                                                       ng-blur="initValidateProductDataAndAddNew($index)"
                                                      
                                                       />
                                                <span class="glyphicon glyphicon-search box-search "></span>
                                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noProductResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                            </li>
                                            <li class="uom right " style="width: 10% !important;">
                                                <input type="text"
                                                       class="form-control"
                                                       name="uom_dropdown_{{$index}}"
                                                       ng-model="goodsReceivedNoteModel.list[$index].uomInfo"
                                                       placeholder="Uom ..."
                                                       uib-typeahead="uom for uom in getUomList($viewValue)"
                                                       typeahead-loading="loadingUOMLocations"
                                                       typeahead-no-results="noUOMResults"
                                                       typeahead-min-length="0"
                                                       typeahead-editable="true"
                                                       typeahead-template-url="uom_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatUomModel($model)"
                                                       autocomplete="off"   angular-validator-field
                                                       disabled
                                                       />
                                                
                                                <i ng-show="loadingUOMLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noUOMResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                            </li>
                                            <li  class="qty right " style="width: 10% !important;">
                                                <input type="text" size="20"
                                                       class="form-control qty right in-add"
                                                       name = "name1"
                                                       ng-model = "goodsReceivedNoteModel.list[$index].pack_size"
                                                       placeholder="Size"
                                                       maxlength="35"
                                                       validator = "validationFactory.isPositiveNumber(goodsReceivedNoteModel.list[$index].pack_size) === true"
                                                       angular-validator-field
                                                       
                                                       />
                                            </li>
<!--                                            <li  class="qty" style="text-align: -webkit-center;">
                                                <input type="text"
                                                       class="form-control qty  in-add1"
                                                       name = "deliveredQuantity"
                                                       ng-model = "goodsReceivedNoteModel.list[$index].uom"
                                                       placeholder="Quantity"
                                                       min="1"
                                                       angular-validator-field
                                                       disabled
                                                       />
                                            </li>-->
                                            <li class="price right" style="width: 10% !important;">
                                                <input type="text"
                                                       class="form-control qty right in-add1"
                                                       name = "deliveredQuantity"
                                                       ng-model = "goodsReceivedNoteModel.list[$index].qty"
                                                       placeholder="Quantity"
                                                       min="1"
                                                       validator = "validationFactory.isPositiveNumber(goodsReceivedNoteModel.list[$index].qty) === true"
                                                       angular-validator-field
                                                      
                                                       />
                                            </li>
                                            <li class="action f-right right ">
                                                <a href="javascript:void(0)" data-ng-if="$index != (goodsReceivedNoteModel.list.length - 1)" data-ng-click="deleteProduct($parent.goodsReceivedNoteModel.list[$index].id)" ui-toggle-class="" style="padding: 0;">
                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                </a>
                                            </li>
                                            <li class="row-total  f-right right " style="width: 25% !important;">

                                                <textarea rows="7" cols="70"  maxlength="150"
                                                          class="form-control"
                                                          name = "Description"
                                                          ng-model = "goodsReceivedNoteModel.list[$index].comments"
                                                          placeholder="Comments"

                                                          ></textarea>
                                            </li>
                                            <li class="ul-table-inner-wrapper clearfix ">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>

                                            </li>
                                        </ul>
                                        <ul>
                                            <a class="add-more-prod panel panel-default glyphicon glyphicon-plus " href="javascript:void(0)" data-ng-click="addNewProduct()"></a>
                                        </ul>
                                        <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">


                                        </table>
                                    </div>
                                </div>
                                <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
                                <div class="model_popup" ng-if="showpopup" >
                                    <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
                                    </div>
                                </div>                                


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <!--    <div class="model_overlay" ng-show="showCustomerAddPopup" ng-click="closeCustomerPopup()" ></div>
        <div class="popups">
        <div class="model_popup" ng-show="showCustomerAddPopup" >
            <div data-ng-include=" 'tpl/newcustomer-add.html'" ng-if="true"  >
            </div>
        </div>
        </div>     -->
</div>

