
<div class="app-content-body req-stock " id="invoice_product_container" data-ng-controller="grnEditCtrl">
    <form name="order_edit_form"  angular-validator-submit="updateOrder(false)" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Goods Received Note Edit </h2>
                <div class=" right action-links ">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' >Save
                    </button>
                    <a data-ng-hide ="dealButton" ui-sref="app.goodsReceivedNoteList" ui-scroll-to="app" href="#/invoice">
                        Back to List
                    </a>
                </div>
            </div>
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-4 ">
                               <span> <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="goodsReceivedNoteModel.customerInfo.fname"
                                       placeholder="Supplier Details..."
                                       required
                                       readonly
                                       /></span>
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingCustLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noCustResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class=" col-sm-3 ">
                                &nbsp;
                            </div>    
                            <div class=" col-sm-5 right form ">
                                <ul class="invoice-date-info ">
                                    <li class="bottommarginsm ">
                                        <span class="tit "> <strong>Date</strong> </span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="goodsReceivedNoteModel.billdate" readonly is-open="startDateOpen"
                                                   min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close"  />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-12 " ng-hide="isWorkOrderLoadingProgress == true">
                                <div class="table-responsive ">
                                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th style="width:80px;" rowspan="1" colspan="1" >
                                                    #
                                                </th>
                                                <th  style="width:200px;" rowspan="1" colspan="1" >
                                                    Work Order
                                                </th>
                                                <th  style="width:200px;" rowspan="1" colspan="1" >
                                                    Department
                                                </th>
                                                <th style="width:330px;" rowspan="1" colspan="1">
                                                    Work Center
                                                </th>
                                                <th style="width:150px;" rowspan="1" colspan="1">
                                                    Original Product Quantity
                                                </th> 
                                                <th style="width:150px;" rowspan="1" colspan="1">
                                                    Produced Quantity
                                                </th> 
                                                <th style="width:200px;" rowspan="1" colspan="1">
                                                    Received Quantity
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-show="workOrderModel.isLoadingProgress">
                                                <td colspan="6" class="text-left" style="padding: 0;" >
                                                    <p class="loader-icon" >
                                                        <img alt="loader" src="../img/loading.gif" />
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr data-ng-if="goodsReceivedNoteModel.workOrderList.length == 0">
                                                <td colspan="6" class="text-center" >
                                                    -No Data Found-
                                                </td>
                                            </tr>
                                            <tr data-ng-repeat="work in goodsReceivedNoteModel.workOrderList">
                                                <td>
                                                    {{work.id}}
                                                </td>
                                                <td>
                                                    {{work.operation}}
                                                </td>
                                                <td>
                                                    {{work.department_name}}
                                                </td>
                                                <td>
                                                    {{work.work_center_name}}
                                                </td>
                                                <td>
                                                    {{work.original_production_qty}}
                                                </td> 
                                                <td>
                                                    {{work.produced_qty}}
                                                </td>
                                                <td>
                                                    <input type="text" 
                                                           class="form-control"
                                                           ng-model="work.qty"/> 
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                            </div>                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>

