
<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
   <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="grnreportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>GRN Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <a href="{{APP_CONST.API.GRN_REPORT}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&customer_id={{searchFilter.customerInfo.id}}&is_active=1&mode=1&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="partysales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" 
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)&& validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" 
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown_{{$index}}"
                               ng-model="searchFilter.customerInfo"
                               placeholder="Customer Details..."
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"
                               required
                               />
                         <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                        <!--                        <input type="text"
                                                       name="customer_dropdown"
                                                       ng-model="searchFilter.customerInfo"
                                                       placeholder ="Customer Id"
                                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                                       typeahead-loading="loading"
                                                       typeahead-no-results="noResults"
                                                       typeahead-min-length="0"
                                                       class="form-control"
                                                       typeahead-editable="false"
                                                       typeahead-template-url="customer_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatcustomerModel($model)"
                                                       autocomplete="off"
                                                       required
                                                       />
                                                       <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                        <div ng-show="noResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>
                        -->
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary" data-ng-click="getList()"
                                        data-ng-disabled="grnReportModel.isSearchLoadingProgress" data-ng-class='{"btn-loader"grnReportModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On: {{todaynewDate}}</li>
                    <li class="col-sm-4 ">Customer Name: {{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table no-link table-striped b-t  dataTable no-footer " style="width: 100%;">
                    <thead>
                        <tr role="row">
                           
                            <th style="width:200px; text-align: left;"   rowspan="1" colspan="1">
                               Customer Name 
                            </th>
                            <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                                Product Name
                            </th>
                            
                            <th style="width: 150px; text-align: left;"   rowspan="1" colspan="1">
                           Opening-QTY
                            </th>
                            <th style="width: 150px; text-align: left;"   rowspan="1" colspan="1">
                           Delivered-QTY
                            </th>
                            <th style="width: 150px; text-align: left;"   rowspan="1" colspan="1">
                                UOM
                            </th>
                            <th style="width: 150px; text-align: left;"   rowspan="1" colspan="1">
                                Action
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="grnReportModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="grnReportModel.list.length == 0">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr ng-repeat-start="grnreport in grnReportModel.list" ng-click="show(grnreport.flag)">
                            
                            <td>
                                {{grnreport.fname}}
                            </td>
                            <td>
                                {{grnreport.product_name}}
                            </td>
                            <td>
                                {{grnreport.qty}}
                            </td>
                            <td>
                                {{grnreport.qty}}
                            </td>
                            <td>
                                {{grnreport.uom}}
                            </td>
                            <td class="">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>

                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[grnreport.flag]" style=" background-color: rgb(234, 231, 231);color: #888383;">
                                <td   colspan="6" style="border-bottom: 1px solid #eaeff0;">
                                    <table style="margin-left: 13%;width: 75%;border: 1px solid #eaeef2;">
                                        <thead>
                                            <tr>
                                                
                                                <th style="padding: 5px;"  rowspan="1" colspan="1" >
                                                Date
                                                </th>
                                                <th style="width: 320px;"   rowspan="1" colspan="1">
                                                Prod Name
                                                </th>
                                                <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1" class="right">
                                                Quantity
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr  data-ng-show="showDetails[grnitem.flag]" data-ng-repeat="grnitem in grnreport.data" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                                
                                                <td colspan="1" style=" padding-left: 5px;">
                                                    {{grnitem.date}}
                                                </td>
                                                <td colspan="1" style=" padding-left: 0px;">
                                                {{grnitem.product_name}}
                                                </td>
                                                <td colspan="1" class="right" >
                                                     {{grnitem.qty}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </td>
                            </tr>
                    </tbody>
                    <tfoot>
<!--                        <tr  data-ng-show="partyPurchaseStatementModel.openingBalance != null">
                            <td colspan="3"></td>
                            <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{grnReportModel.totaldebit}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{grnReportModel.totalcredit}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{grnReportModel.totalbalance.toFixed(2)}}</b></td>
                        </tr>-->
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


