
<script type="text/ng-template" id="group_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<div class="app-content-body fade-in-up"  data-ng-controller="groupSendSmsCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default hide-print ">
            <div class="panel-heading clearfix ">
                <h2>Send Sms</h2>
                <a ui-sref="app.group" class="add_button" ui-scroll-to="app">Back to Customer Group List</a>
            </div>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_customerGroup_form" angular-validator-submit="sendSms()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="bg-white  ">
                        <div class="row wrapper-md">
                            <div class="col-sm-1">
                                &nbsp;
                            </div>
                            <div class="col-sm-10" style="box-shadow: 0px 1px 10px 0px #a9a6a6;">
                                <div class="row ">
                                    <div class="group-sqr">
                                        <!--<h3>Selected Group</h3>-->
                                        <div class="col-sm-2 topmargin" style="padding-left: 30px;width: 20%;">
                                            <label>Select Group</label>
                                        </div>
                                        <div class="col-sm-7 bottommarginsm sms-group" style="padding-left: 20px;padding-top: 15px;width: 67%;">
                                            <div class="row send-sms-grup"data-ng-repeat="groupInfo in groupModel.groupList">
                                                <div class="col-sm-1" style="margin-top: 6px;">
                                                    {{$index + 1}}
                                                </div>
                                                <div class='col-sm-10'>
                                                    <input type="text"
                                                           id="group_{{$index}}"
                                                           next-focus-id="group_{{$index + 1}}" 
                                                           ng-model="groupInfo"
                                                           placeholder="Group list.."
                                                           uib-typeahead="item for item in getGroupList($viewValue)"
                                                           typeahead-loading="loadingPLISTLocations"
                                                           typeahead-template-url="group_dropdown__tpl.html"
                                                           class="form-control"
                                                           typeahead-editable="false"
                                                           typeahead-no-results="noPLISTResults"
                                                           typeahead-show-hint="true"
                                                           typeahead-on-select ="checkAvail($model)"
                                                           typeahead-input-formatter="formatGroupModel($model,$index)"
                                                           typeahead-min-length="0" 
                                                           name="group_{{$index}}"  
                                                           product-index="{{$index}}"
                                                           data-ng-keyup="keyupHandler($event, $index)"
                                                           style="border: 0px;border-bottom: 1px solid #c3c4c4"
                                                           >
                                                    <span class="glyphicon glyphicon-search box-search "></span>
                                                    <i ng-show="loadingPLISTLocations" class="glyphicon glyphicon-refresh"></i>
                                                    <div ng-show="noPLISTResults">
                                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                    </div>
                                                </div>
                                                <div class="col-sm-1" style="margin-top: 5px;">
                                                    <a href="javascript:void(0)" data-ng-click="deleteGroupInfo($index)" ui-toggle-class="" style="padding: 0;">
                                                        <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row msgNumber">
                                    <div class="col-sm-3 topmarginxs">
                                        <label>Optional Phone Number</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "mobile"
                                                   ng-model = "groupModel.mobile"
                                                   placeholder="Enter the Mobile no"
                                                   >
                                        </textarea>
                                        <label>Can add multiple numbers by using comma(,)</label>
                                    </div>
                                    <!--                                </div>
                                                                   <div class="row">-->
                                    <div class="col-sm-3 topmarginxs ">
                                        <label>Content*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "content"
                                                   ng-model = "groupModel.content"
                                                   placeholder="Enter the content of Sms"
                                                   required
                                                   >
                                        </textarea>
                                    </div>
                                    <div class="form-group full_w btn_group">
                                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                        <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                &nbsp;
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
