<div class="app-content-body fade-in-up"  data-ng-controller="groupAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Customer Group Add</h2>
                <a ui-sref="app.group" class="add_button" ui-scroll-to="app">Back to List</a>
            </div>
        </div>
        <div class="container animated fadeInUp clearfix topmarginsm  ">
            <div class="wrapper-md bg-white topmargin " style="background-color: #edf1f5;"> 
                <div class="  clearfix add-form form-wrapper">
                    <!--<form name="group_add_form" angular-validator-submit="addFavoriteInfo()" class="form-horizontal clearfix " novalidate angular-validator >-->
                    <div class="row ">
                        <div class="col-sm-6 ">
                            <div class="create-task-container fl crt_tsk m-cmn-flow" style="margin-bottom: 20px;">
                                <div class="row ">
                                    <div class="col-sm-3 topmarginxs " >
                                        <label style="float:right;">Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="groupname"
                                               class="form-control "
                                               placeholder="Group Name"
                                               data-ng-model="groupAddModel.name"

                                               required

                                               />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 topmarginxs">
                                        <label style="float:right;">Comments</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea  type = "text"
                                                   class="form-control"
                                                   name = "notes"
                                                   ng-model = "groupAddModel.comments"
                                                   placeholder="Comments"
                                                   style="height: 105px;"
                                                   >
                                        </textarea>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row" style="clear: both;">
                                <div class="col-sm-12 wrapper-sm bg-light " style="background-color: #fff;padding: 20px;">                
                                    <!--                                    <div class="create-task-container fl crt_tsk m-cmn-flow" >
                                                                            <div class="m-crt_task-width">                        
                                                                                <div class="create-task-form col-lg-12  task-detail">-->
                                    <h2 style="color:#4f5468;">Customer Group</h2>
                                    <div class="table-responsive " style="margin-top: 10px;border: 0px;text-align:center;">
                                        <table class="table table-striped" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="font-size:11px">
                                            <thead>
                                                <tr role="row">
                                                    <th style="width: 50px;" rowspan="1" colspan="1" >
                                                        ID
                                                    </th>
                                                    <th style="width: 200px;" rowspan="1" colspan="1">
                                                        Name
                                                    </th>
                                                    <th style="width: 200px;"  rowspan="1" colspan="1">
                                                        Phone
                                                    </th>
                                                    <th style="width: 200px;"  rowspan="1" colspan="1">
                                                        Action
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
<!--                                                <tr data-ng-show="groupAddModel.isLoadingProgress">
                                                    <td colspan="4" class="text-left" style="padding: 0;" >
                                                        <p class="loader-icon" >
                                                            <img alt="loader" src="../img/loading.gif" />
                                                        </p>
                                                    </td>
                                                </tr>-->

                                                <tr data-ng-if="groupAddModel.groupList.length == 0">
                                                    <td colspan="4" class="text-center" >
                                                        -No Data Found-
                                                    </td>
                                                </tr>
                                                <tr data-ng-repeat="customer in groupAddModel.groupList">
                                                    <td>
                                                        <a ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                                            {{customer.customer_code}}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                                            {{customer.fname}}
                                                        </a>

                                                    </td>
                                                    <td>
                                                        <a ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                                            {{customer.phone}}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="chel-edit-add add-dash" data-ng-click="deleteFavoriteCustomer($index)">
                                                            <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                        </a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="margin-top: 20px;">
                                        <button type="submit" style="width:105px;" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-click="saveGroupInfo()" data-ng-class='{"btn-loader":isDataSavingProcess}'>Submit</button>
                                        <a href="javascript:void(0)" style="width:105px;margin-left: 20px;" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Cancel</a>
                                    </div>      
                                </div>
                            </div>

                        </div>
                        <!--</form>-->
                        <div class="col-sm-6">                
                            <div class="create-task-container fl crt_tsk m-cmn-flow" style="padding: 20px;margin-bottom: 20px;" >
                                <!--<form name="group_customer_form" angular-validator-submit="getCustomerList()" class="wrapper-md form-horizontal clearfix " novalidate angular-validator>-->                        
<!--                                    <div class="m-crt_task-width">                        
                                        <div class="create-task-form col-lg-12  task-detail">
                                            <div class="f1 clear_b">-->
                                                <h2>Search</h2>
                                            <!--</div><br>-->

                                            <div class="row" style="margin-bottom: 10px;margin-top: 10px;">
                                                <div class="col-sm-6">
                                                    <div class="sea" style="position: relative;">
                                                        <input type="text"
                                                               placeholder="Customername"
                                                               data-ng-model="searchFilter.name"
                                                               class="form-control group_add " data-ng-change="initTableFilter()" />
                                                        <span class="glyphicon glyphicon-search head-right-search " style="position: absolute;right: 5px;top: 13px;"></span>
                                                    </div>

                                                </div>
                                                
                                                <div class="col-sm-6">
                                                    <div class="sea" style="position: relative;">
                                                        <input type="text"
                                                               placeholder="Companyname"
                                                               data-ng-model="searchFilter.company_name"
                                                               class="form-control group_add" data-ng-change="initTableFilter()" />
                                                        <span class="glyphicon glyphicon-search head-right-search " style="position: absolute;right: 5px;top: 13px;"></span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 20px;">
                                                <div class="col-sm-6">
                                                    <div class="sea" >
                                                        <select class="form-control group_add"
                                                                ng-model="searchFilter.salesOrPurchase"
                                                                data-ng-change="initTableFilter()"
                                                                name="salesPurchaseDropDown"
                                                                >
                                                            <option value ="">All</option>
                                                            <option value="1">Sales</option>
                                                            <option value="2">Purchase</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="sea" style="position: relative;">
                                                        <input type="text"
                                                               placeholder="Email"
                                                               data-ng-model="searchFilter.email"
                                                               class="form-control group_add " data-ng-change="initTableFilter()" />
                                                        <span class="glyphicon glyphicon-search head-right-search " style="position: absolute;right: 5px;top: 13px;"></span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="sea">
                                                        <ui-select ng-model="searchFilter.state_id" theme="selectize" data-ng-change="getCityList();"  style="min-width: 140px;" title="">
                                                            <ui-select-match placeholder="Select State">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                                            <ui-select-choices repeat="state.id as state in groupAddModel.stateList | propsFilter: {name: $select.search}">
                                                                <div ng-bind-html="state.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>  
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-6">
                                                    <div class="sea">
                                                        <ui-select ng-model="searchFilter.city_id" theme="selectize" data-ng-change="initTableFilter()" style="min-width: 140px;" title="">
                                                            <ui-select-match placeholder="Select City">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                                            <ui-select-choices repeat="city.id as city in groupAddModel.cityList | propsFilter: {name: $select.search}">
                                                                <div ng-bind-html="city.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>  
                                                    </div>
                                                </div>
                                            </div><br>
                                            <div>
                                                <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-click="getCustomerList()" data-ng-disabled="isDataSavingProcess" style="width:105px;margin-left:7px;margin-right:60px;" data-ng-class='{"btn-loader":isDataSavingProcess}'>Submit</button>
                                                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" style="width:105px;" data-ng-click="customerFormReset()">Clear</a>
                                                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_grn " data-ng-disabled="isDataSavingProcess" style="float:right;margin-right:5px;width:75px;" data-ng-click="groupCustomerAdd()">Add</a>
                                            </div>
<!--                                        </div>
                                    </div>-->

                                <!--</form>-->
                              </div>  
                            <div class="table-responsive" style="clear: both; border:0px solid; text-align:center;">
                                    <table class="table table-striped" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="font-size:11px">
                                        <thead>
                                            <tr role="row">
                                                <th style="width: 50px;"  rowspan="1" colspan="1" >
                                                    <input type="checkbox"
                                                           class=" "
                                                           name="all_check"
                                                           id="chk_all"
                                                           data-ng-model="selectAll"
                                                           data-ng-change="checkAllCustomer()"
                                                           />
                                                    <label for="chk_all">&nbsp;</label>
                                                </th>
                                                <th style="width: 50px;" rowspan="1" colspan="1" >
                                                    ID
                                                </th>
                                                <th style="width: 200px;" rowspan="1" colspan="1">
                                                    Name
                                                </th>
                                                <th style="width: 200px;"  rowspan="1" colspan="1">
                                                    Company name
                                                </th>
                                                <th style="width: 200px;"  rowspan="1" colspan="1">
                                                    Phone
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-show="groupAddModel.isLoadingProgress">
                                                <td colspan="5" class="text-left" style="padding: 0;" >
                                                    <p class="loader-icon" >
                                                        <img alt="loader" src="../img/loading.gif" />
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr data-ng-if="groupAddModel.customerList.length == 0">
                                                <td colspan="5" class="text-center" >
                                                    -No Data Found-
                                                </td>
                                            </tr>
                                            <tr data-ng-repeat="customer in groupAddModel.customerList">
                                                <td>
                                                    <input  type = "checkbox"
                                                            class=" "
                                                            id="checked_{{$index}}"
                                                            name="checked_{{$index}}"
                                                            ng-model = "groupAddModel.customerList[$index].customerChecked"
                                                            />
                                                    <label  for="checked_{{$index}}">&nbsp;</label>
                                                </td>
                                                <td>
                                                    <a ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                                        {{customer.customer_code}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                                        {{customer.fname}}
                                                    </a>

                                                </td>
                                                <td>
                                                    <a ui-scroll-to="app" style="display:block; width:100% ;height: 100% ;">
                                                        {{customer.company}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                                        {{customer.phone}}
                                                    </a>

                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot  data-ng-hide="groupAddModel.customerList.length == 0" >
                                            <tr>
                                                <td colspan="2" class="text-left" style="padding:5px 5px;">
                                                    <label>Show</label>
                                                    <select firstName = "perpage"
                                                            ng-model="groupAddModel.limit"
                                                            ng-options="page for page in pagePerCount"
                                                            class="form-control show_fav_count"
                                                            ng-change="initTableFilter()"
                                                            >
                                                    </select>
                                                </td>
                                                <td colspan="3" class="text-right" style="padding:5px 5px;">
                                                    <ul uib-pagination total-items="groupAddModel.total" ng-model="groupAddModel.currentPage" ng-change="getCustomerList()" items-per-page="groupAddModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup delet-popup " ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteGroupCustomer()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
</div>