
<div class="app-content-body fade-in-up req-stock " data-ng-controller="inactiveDealReportCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2 class="hide-print">Inactivity Deal Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="inactivity_deal_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea" >
                        <input type="number" name="days"
                               placeholder="Days"
                               ng-model="searchFilter.days"
                               angular-validator-field
                               required
                               class="form-control bottommarginsm topmarginsm"/>
                    </div>
                    <div class="sea">
                        <select ng-model="searchFilter.stage" name="stagedropdown" class="form-control bottommarginsm topmarginsm">
                            <option value ="">-Select Stage-</option>
                            <option value="{{stage.id}}" data-ng-repeat="stage in dealModel.stageList">{{stage.name}}</option>
                        </select>
                    </div>   
                    <div class="col-sm-2 " style="margin-top: 4px;">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="dealModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":dealModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="print-info">
                    <li style="font-size: 17px;font-weight: bold;">{{company_name}}</li>
                    <li style="font-size: 14px;">{{company_address}}</li>
                    <li style="font-size: 14px;">Inactivity Deal Report</li>
                </ul>
                <ul class="search-filters clearfix">
                    <li class="col-sm-4" style="width: 100%;">Company Name: {{company_name}}</li>
                    <li class="col-sm-4" style="width: 100%;margin-bottom: 10px;">Company Address : {{company_address}}</li>
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Inactive Days:{{searchFilter.days}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:50px; text-align: right;"  rowspan="1" colspan="1" >
                                S.No
                            </th>
                            <th style="width:50px; text-align: right;"  rowspan="1" colspan="1" >
                                Id
                            </th>
                            <th style="width: 300px;"  rowspan="1" colspan="1" >
                                Subject
                            </th>
                            <th style="width: 150px;"  rowspan="1" colspan="1" >
                                Stage
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1">
                                Leads
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Deal Type
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Company
                            </th>
                            <th style="width: 170px;"   rowspan="1" colspan="1">
                                Next Follow-up Date
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Assigned to
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Deal Stage
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Updated at
                            </th>
                            <th style="width: 140px;padding-right: 15px;" class="hide-print" rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="dealModel.isLoadingProgress">
                            <td colspan="12" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="dealModel.list.length === 0">
                            <td colspan="12" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="contact in dealModel.list">
                            <td style="width:50px; text-align: right;" >
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{$index + 1}}
                                </a>
                            </td>
                            <td style="width:50px; text-align: right;" >
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%"> 
                                    {{contact.stage_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.contact_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.deal_category_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.company_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.next_follow_up}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.emp_name}}
                                </a>
                            </td>
                            <td data-ng-class="{'green':contact.stage_flag.toLowerCase() == 'won','red':contact.stage_flag.toLowerCase() == 'loss'}">
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.stage_flag}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.updated_at}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    <img class="icon icons8-Visible hide-print" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

