






<div class="app-content-body fade-in-up"  data-ng-controller="incomecategoryAddCtrl">

        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Income Category Add</h2>
                <a ui-sref="app.incomecategory" class="add_button" ui-scroll-to="app">Back to List</a>
            </div>
        </div>
        <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
                <div class="  clearfix add-form form-wrapper">
                    <form name="category_form" angular-validator-submit="createIncomeCategory()" class="form-horizontal clearfix " novalidate angular-validator >
                        <div class="row ">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text" size="20"
                                               class="form-control"
                                               name = "name1"
                                               ng-model = "incomecategoryAddModel.name"
                                               placeholder="Name"
                                               maxlength="35"
                                               validator = "validationFactory.isAlbhaNumeric(incomecategoryAddModel.name) === true"
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Comments</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea rows="7" cols="70"  maxlength="150"
                                                  class="form-control"
                                                  name = "Comments"
                                                  ng-model = "incomecategoryAddModel.comments"
                                                  placeholder="Comments"
                                                  ></textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                        <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

</div>
