<!--<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a> 	
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="inventoryStockCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Inventory List</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>  </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="sales_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea" >
                        <input type="text"
                               name="product_dropdown"
                               ng-model="searchFilter.name"
                               placeholder ="Product Details"
                               class="form-control" />
                         <span class="glyphicon glyphicon-search box-search "></span>
                    </div>
                    <div class="sea">
                        <select class="form-control " 
                                ng-model="searchFilter.category_name">
                            <option value="">-All Category-</option>
                            <option value="{{category.id}}" ng-repeat=" category in inventoryStockModel.categorylist">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="sea">
                        <select class="form-control "
                                ng-model="searchFilter.min_stock">
                            <option value="">-All-</option>
                            <option value="1">Less than minimum stock</option>
                            <option value="2">More than minimum stock</option>
                        </select>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary "  data-ng-click="initTableFilter()">
                                    Search 
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show color-row">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Product Name:{{searchFilter.productname == '' ? '-' : searchFilter.productname}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th  style="width:250px;" rowspan="1" colspan="1" >
                                Name
                            </th>
                            <th style="width:180px;" rowspan="1" colspan="1">
                                SKU
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Uom
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Minimum Stock
                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1">
                                Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="inventoryStockModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="inventoryStockModel.list.length == 0">
                            <td colspan="5" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr ng-repeat-start="product in inventoryStockModel.list">
                            <td class="" colspan="21" style="padding-top: 10px;padding-bottom: 5px;" data-ng-if='$index == 0'><b>{{product.category_name}}</b></td>
                           <td  class="" colspan="21" style="padding-top: 10px;padding-bottom: 5px;"  data-ng-if='$index != 0 && product.category_name != $parent.inventoryStockModel.list[$index-1].category_name'><b>{{product.category_name}}</b></td>
                        </tr>
                        <tr ng-repeat-end>
                            <td ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}">
<!--                                <span data-ng-if='$index == 0'> 
                                    <b>  {{product.category_name}}</b>
                                </span >

                                <span data-ng-if='$index != 0'> 
                                    <b>{{product.category_name != $parent.inventoryStockModel.list[$index-1].category_name ? product.category_name : ''}}</b>
                                </span>
                                <br>-->
                                {{product.index}} . {{product.name}} 

                            </td>
                            <td ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                               
                                {{product.sku}} 
                            </td>
                            <td ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                               
                                {{product.uom}}
                            </td>
                            <td ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                               
                                {{product.min_stock_qty}}
                            </td>
                            <td class="right" ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                                
                                {{product.quantity}} 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="inventoryStockModel.list.total == 0" >
                        <tr>
                            <td colspan="2" class="text-left" >
                                <label>Show</label>
                                <select firstName = "perpage"
                                        ng-model="inventoryStockModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="3" class="text-right">
                    <ul uib-pagination total-items="inventoryStockModel.total" ng-model="inventoryStockModel.currentPage" ng-change="getInventoryStockListInfo()" items-per-page="inventoryStockModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot> 
                </table>
            </div>
        </div>
    </div>
</div>


