
<div class="app-content-body fade-in-up"  data-ng-controller="appSettingsEditCtrl">


    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Invoice Settings</h2>
        </div>
    </div>
    <div class="model_overlay" ng-show="appSettingsEditModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
            <img alt="loader" src="../img/loading.gif" />
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class=" bg-white topmargin ">
            <form name="app_settings_form" angular-validator-submit="updateAppSettings()" class="form-horizontal clearfix " novalidate angular-validator >

                <div class="row wrapper-md">
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6  left ">
                                <label class="verticalmid" style="width: 100%;">Invoice Prefix</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoiceprefix"
                                       ng-model = "appSettingsEditModel.invoiceprefix"
                                       placeholder="Invoice Prefix"
                                       >
                            </div>
                            <div class="col-sm-6  left ">
                                <label class="verticalmid" style="width: 100%;">Invoice CC</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoicecc"
                                       ng-model = "appSettingsEditModel.invoicecc"
                                       placeholder="Invoice CC"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6  left ">
                                <label class="verticalmid" style="width: 100%;">Invoice From</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoicefrom"
                                       ng-model = "appSettingsEditModel.invoicefrom"
                                       placeholder="Invoice From"
                                       >
                            </div>
                            <div class="col-sm-6 left ">
                                <label class="verticalmid" style="width: 100%;">Invoice Print Format</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <select ng-model="appSettingsEditModel.invoiceprinttemplate" class="form-control " data-ng-change="initTableFilter()">
                                    <option value="">-Select-</option>
                                    <option value="t1">Full Page</option>
                                    <option value="t2">Half Page</option>
                                    <option value="t4">Tally Style</option>
                                    <option value="t5">Tally Style 2</option>
                                    <option value="t6">Tally Style 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="topmargin bottommargin hr-set">

                <div class="row wrapper-md">
                    <div class="col-sm-12">
                        <h2> Invoice Product Column</h2>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6 left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="uom"
                                       name="uom"
                                       data-ng-model="appSettingsEditModel.uom"
                                       />
                                <label for="uom">Invoice Item Measurement</label>
                            </div>
                            <div class="col-sm-6 topmarginsm  ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "uomlabel"
                                       ng-model = "appSettingsEditModel.uomlabel"
                                       placeholder="Invoice Item Measurement Label"
                                       >
                            </div>
                            <div class="col-sm-6   left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="invoice_item_custom2"
                                       name="invoice_item_custom2"
                                       data-ng-model="appSettingsEditModel.invoice_item_custom2"
                                       />
                                <label for="invoice_item_custom2">Invoice Item Custom Option 2</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoice_item_custom2_label"
                                       ng-model = "appSettingsEditModel.invoice_item_custom2_label"
                                       placeholder="Invoice Item Custom2 Label"
                                       >
                            </div>
                            <div class="col-sm-6   left toppadding ">
                                <input type="checkbox"
                                       class=" "
                                       id="invoice_item_custom4"
                                       name="invoice_item_custom4"
                                       data-ng-model="appSettingsEditModel.invoice_item_custom4"
                                       />
                                <label for="invoice_item_custom4">Invoice Item Custom Option 4</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoice_item_custom4_label"
                                       ng-model = "appSettingsEditModel.invoice_item_custom4_label"
                                       placeholder="Invoice Item Custom4 Label"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6  left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="invoice_item_custom1"
                                       name="invoice_item_custom1"
                                       data-ng-model="appSettingsEditModel.invoice_item_custom1"
                                       />
                                <label for="invoice_item_custom1">Invoice Item Custom Option 1</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoice_item_custom1_label"
                                       ng-model = "appSettingsEditModel.invoice_item_custom1_label"
                                       placeholder="Invoice Item Custom1 Label"
                                       >
                            </div>
                            <div class="col-sm-6  left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="invoice_item_custom3"
                                       name="invoice_item_custom3"
                                       data-ng-model="appSettingsEditModel.invoice_item_custom3"
                                       />
                                <label for="invoice_item_custom3">Invoice Item Custom Option 3</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoice_item_custom3_label"
                                       ng-model = "appSettingsEditModel.invoice_item_custom3_label"
                                       placeholder="Invoice Item Custom3 Label"
                                       >
                            </div>
                            <div class="col-sm-6   left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="invoice_item_custom5"
                                       name="invoice_item_custom5"
                                       data-ng-model="appSettingsEditModel.invoice_item_custom5"
                                       />
                                <label for="invoice_item_custom5">Invoice Item Custom Option 5</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoice_item_custom5_label"
                                       ng-model = "appSettingsEditModel.invoice_item_custom5_label"
                                       placeholder="Invoice Item Custom5 Label"
                                       >
                            </div>

                        </div>
                    </div>
                </div>
                <hr class="topmargin bottommargin hr-set">


                <div class="row wrapper-md">
                    <div class="col-sm-12">
                        <h2> Purchase Product Column</h2>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6 topmarginsm left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_invoice_item_custom1"
                                       name="purchase_invoice_item_custom1"
                                       data-ng-model="appSettingsEditModel.purchase_invoice_item_custom1"
                                       />
                                <label for="purchase_invoice_item_custom1">Purchase Invoice Item Custom Option 1</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_invoice_item_custom1_label"
                                       ng-model = "appSettingsEditModel.purchase_invoice_item_custom1_label"
                                       placeholder="Purchase Invoice Item Custom1 Label"
                                       >
                            </div>
                            <div class="col-sm-12" style="height:0px;">  &nbsp;</div>


                            <div class="col-sm-6 topmarginsm  left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_invoice_item_custom3"
                                       name="purchase_invoice_item_custom3"
                                       data-ng-model="appSettingsEditModel.purchase_invoice_item_custom3"
                                       />
                                <label for="purchase_invoice_item_custom3">Purchase Invoice Item Custom Option 3</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_invoice_item_custom3_label"
                                       ng-model = "appSettingsEditModel.purchase_invoice_item_custom3_label"
                                       placeholder="Purchase Invoice Item Custom3 Label"
                                       >
                            </div> 
                            <div class="col-sm-12" style="height:0px;">  &nbsp;</div>
                            <div class="col-sm-6 topmarginsm  left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_invoice_item_custom5"
                                       name="purchase_invoice_item_custom5"
                                       data-ng-model="appSettingsEditModel.purchase_invoice_item_custom5"
                                       />
                                <label for="purchase_invoice_item_custom5">Purchase Invoice Item Custom Option 5</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_invoice_item_custom5_label"
                                       ng-model = "appSettingsEditModel.purchase_invoice_item_custom5_label"
                                       placeholder="Purchase Invoice Item Custom5 Label"
                                       >
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6 topmarginsm  left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_invoice_item_custom2"
                                       name="purchase_invoice_item_custom2"
                                       data-ng-model="appSettingsEditModel.purchase_invoice_item_custom2"
                                       />
                                <label for="purchase_invoice_item_custom2">Purchase Invoice Item Custom Option 2</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_invoice_item_custom2_label"
                                       ng-model = "appSettingsEditModel.purchase_invoice_item_custom2_label"
                                       placeholder="Purchase Invoice Item Custom2 Label"
                                       >
                            </div>
                            <div class="col-sm-12" style="height:0px;">  &nbsp;</div>
                            <div class="col-sm-6 topmarginsm  left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_invoice_item_custom4"
                                       name="purchase_invoice_item_custom4"
                                       data-ng-model="appSettingsEditModel.purchase_invoice_item_custom4"
                                       />
                                <label for="purchase_invoice_item_custom4">Purchase Invoice Item Custom Option 4</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_invoice_item_custom4_label"
                                       ng-model = "appSettingsEditModel.purchase_invoice_item_custom4_label"
                                       placeholder="Purchase Invoice Item Custom4 Label"
                                       >
                            </div>
                             <div class="col-sm-12" style="height:0px;">  &nbsp;</div>
                            <div class="col-sm-6 topmargin left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_uom"
                                       name="purchase_uom"
                                       data-ng-model="appSettingsEditModel.purchase_uom"
                                       />
                                <label for="purchase_uom">Purchase Invoice Item Measurement</label>
                            </div>
                            <div class="col-sm-6 topmarginsm  ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_uom_label"
                                       ng-model = "appSettingsEditModel.purchase_uom_label"
                                       placeholder="Purchase Invoice Item Measurement Label"
                                       >
                            </div>


                        </div>



                    </div>

                    <div class="col-sm-12 topmargin toppadding center ">
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()">Reset</a>
                        </div>
                    </div>
                </div>





        </div>

    </div>






</form>

</div>
</div>
</div>


