<script type="text/ng-template" id="bomTask_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.bomName+ '(' + match.model.id + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="issuescreenListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Issue</h2>
            <a data-ui-sref="app.issuescreenAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>    
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="issue_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm clearfix ">                    
                    <div class="sea">
                        <input type="text"
                               class="form-control bottommarginxs"
                               name="bom_taskname_{{$index}}"
                               ng-model="searchFilter.bomTaskInfo"
                               placeholder="BOM Name..."
                               uib-typeahead="bomTask for bomTask in getTaskList($viewValue)"
                               typeahead-loading="loadingBomTaskLocations"
                               typeahead-no-results="noBomTaskResults"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-template-url="bomTask_dropdown__tpl.html"
                               typeahead-input-formatter="formatTaskModel($model)"
                               autocomplete="off"                              
                               required
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <div ng-show="noBomTaskResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>                
                    </div> 
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-disabled="issueModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":issueModel.isSearchLoadingProgress}'>
                                    Search 
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>            
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:150px;" rowspan="1" colspan="1" >
                                Date
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1" >
                                MO Id
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1" >
                                Responsible Person
                            </th>
                            <th  style="width:150px;" rowspan="1" colspan="1" >
                                Consumed Qty
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Issued Qty
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Balance Qty
                            </th> 
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Action
                            </th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="issueModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="issueModel.list.length == 0">
                            <td colspan="7" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="issue in issueModel.list">
                            <td > 
                                <a data-ui-sref="app.issuescreenEdit({id: '{{issue.id}}'})" ui-scroll-to="app" >
                                    {{issue.date}}    
                                </a>
                            </td>
                            <td>    
                                <a data-ui-sref="app.issuescreenEdit({id: '{{issue.id}}'})" ui-scroll-to="app" >
                                    {{issue.mo_id}}   
                                </a>
                            </td>
                            <td>    
                                <a data-ui-sref="app.issuescreenEdit({id: '{{issue.id}}'})" ui-scroll-to="app" >
                                    {{issue.emp_name}}  
                                </a>
                            </td>
                            <td>   
                                <a data-ui-sref="app.issuescreenEdit({id: '{{issue.id}}'})" ui-scroll-to="app" >
                                    {{issue.consumed_qty}} 
                                </a>
                            </td>
                            <td>  
                                <a data-ui-sref="app.issuescreenEdit({id: '{{issue.id}}'})" ui-scroll-to="app" >
                                    {{issue.issued_qty}}    
                                </a>
                            </td>
                            <td> 
                                <a data-ui-sref="app.issuescreenEdit({id: '{{issue.id}}'})" ui-scroll-to="app" >
                                    {{issue.balance_qty}}  
                                </a>
                            </td>                            
                            <td>
                                <a data-ui-sref="app.issuescreenEdit({id: '{{issue.id}}'})" ui-scroll-to="app" >
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a class="chel-edit-add add-dash" data-ng-click="showPopup(issue.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>
                            </td>                           
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="issueModel.list.length == 0">
                        <tr>
                            <td colspan="7" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="issueModel.limit"
                                        data-ng-hide="issueModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>                           
        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup delet-popup " ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteIssueInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>    
</div>



