<script type="text/ng-template" id="bomTask_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.bomName+ '(' + match.model.id + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="issuescreenEditCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Issue Edit</h2>
            <a data-ui-sref="app.issuescreen" ui-scroll-to="app" class="add_button add-dash" >Back to List</a>
            <!--<a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>-->
        </div>
    </div>    

    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="issue_edit_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm clearfix ">                    
                    <div class="sea">
                        <input type="text"
                               class="form-control bottommarginxs"
                               name="bom_taskname_{{$index}}"
                               ng-model="searchFilter.bomTaskInfo"
                               placeholder="BOM Name..."
                               uib-typeahead="bomTask for bomTask in getTaskList($viewValue)"
                               typeahead-loading="loadingBomTaskLocations"
                               typeahead-no-results="noBomTaskResults"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-template-url="bomTask_dropdown__tpl.html"
                               typeahead-input-formatter="formatTaskModel($model)"
                               autocomplete="off"  
                               typeahead-on-select="updateResponsiblePerson()"
                               required
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>

                        <div ng-show="noBomTaskResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>                
                    </div> 
                    <div class="sea">                      
                        <input type="text" 
                               class="form-control"
                               name="issue_emp_dropdown"
                               ng-model="issueModel.employee"
                               placeholder="Responsible by	"
                               uib-typeahead="user for user in getEmployeeList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"                                   
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="employee_dropdown_tpl.html"
                               typeahead-input-formatter="formatEmployeeModel($model)"
                               autocomplete="off" 
                               />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>   
                        <div ng-show="noResults" class="result-dis">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>                       
                    </div>
                    <div class="sea" >
                        <input name="issuedate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="issueModel.issueDate" readonly is-open="startDateOpen"
                               min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                               required close-text="Close"  />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-disabled="issueModel.isSearchLoadingProgress" data-ng-class='{
                                        "btn-loader":issueModel.isSearchLoadingProgress}'>
                                    Search 
                                </button>
                            </div>
                            <!--                            <div class="col-sm-6 ">
                                                            <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset>
                                                                Clear
                                                            </button>
                                                        </div>-->
                        </div>
                    </div>

                </div> 
            </form>
            <form name="issues_modify_form" angular-validator-submit="modifyIssueQty()" class="form-horizontal clearfix " novalidate angular-validator >

                <div class="table-responsive ">
                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width:150px;" rowspan="1" colspan="1" >
                                    Product Name
                                </th>
                                <th  style="width:150px;" rowspan="1" colspan="1" >
                                    To Consume
                                </th>
                                <th  style="width:150px;" rowspan="1" colspan="1" >
                                    Stock Availability
                                </th>
                                <th style="width:150px;" rowspan="1" colspan="1">
                                    Issued
                                </th>
                                <th style="width:150px;" rowspan="1" colspan="1">
                                    Balance
                                </th> 
                                <th style="width:150px;" rowspan="1" colspan="1">
                                    Current Issue
                                </th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="issueModel.isLoadingProgress">
                                <td colspan="6" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="issueModel.list.length == 0">
                                <td colspan="6" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="issue in issueModel.list">
                                <td>                                
                                    {{issue.input_pdt_name}}                                
                                </td>
                                <td>                                
                                    {{issue.to_consume}}                               
                                </td>
                                <td>                                
                                    {{issue.quantity}}                               
                                </td>
                                <td>                                
                                    {{issue.reserved_qty}}                                
                                </td>
                                <td>                                
                                    {{issue.balance}}                                
                                </td>
                                <td>
                                    <input name="new-issue_{{$index}}" type="text" 
                                           class="form-control"
                                           ng-model="issueModel.list[$index].newIssue" angular-validator-field
                                           validator="(validationFactory.isPositiveNumber(issueModel.newIssue))&& (validationFactory.minNumber(issueModel.list[$index].balance, issueModel.list[$index].newIssue))"                                          
                                           required />
                                </td>                           
                            </tr>
                        </tbody>
                        <!--                    <tfoot data-ng-hide="issueModel.list.length == 0">
                                                <tr>
                                                    <td colspan="5" class="text-left" >
                                                        <label class="show_count_label ">Show</label>
                                                        <select name = "perpage"
                                                                ng-model="issueModel.limit"
                                                                data-ng-hide="issueModel.list.length == 0"
                                                                ng-options="page for page in pagePerCount"
                                                                class="form-control show_count"
                                                                ng-change="initTableFilter()"
                                                                >
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tfoot>-->
                    </table>
                </div>
                <div class="col-sm-12 topmargin">
                    <div class="row">
                        <div class="col-sm-6 right" ng-hide="issueModel.list == 0">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isIssueDataSavingProcess" data-ng-class='{"btn-loader":isIssueDataSavingProcess}' >Submit
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <!--                                <button class="btn btn-sm btn-primary " data-ng-click="refreshScreen()"  angular-validator-form-reset>
                                                    Reset
                                                </button>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>



