
<div class="app-content-body fade-in-up req-stock " data-ng-controller="itemissuedreportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Itemwise Issued Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <!--            <a href="{{APP_CONST.API.EXPENSEREPORT_DOWN}}?from_Date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_Date={{searchFilter.todate|date:'yyyy-MM-dd'}}&account_category={{searchFilter.incomeCategoryInfo.name}}&is_active=1&created_by={{searchFilter.credited_by}}&start=0&limit=0"
                           ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="itemwiseissued_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"   
                               close-text="Close"   validator = "validationFactory.hasRequired(searchFilter.fromdate)== false || validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"  
                               close-text="Close"  validator = "validationFactory.hasRequired(searchFilter.todate)== false || validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>                                    
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="itemissuedModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":itemissuedModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary "  data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>   
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <!--                    <li class="col-sm-4 ">Customer Name:{{searchFilter.incomeCategoryInfo == '' ? '-' : searchFilter.incomeCategoryInfo.name}}</li>
                                        <li class="col-sm-4 ">User Name:{{itemissuedModel.userName == '' ? '-' : itemissuedModel.userName}}</li>-->

                </ul>
            </div>
            <div class="table-responsive ">

                <table class="table  no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Date
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Product Name
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Uom
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Issued Qty
                            </th>                
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="itemissuedModel.isLoadingProgress">
                            <td colspan="4" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="itemissuedModel.list.length == 0">
                            <td colspan="4" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="itemwisereport in itemissuedModel.list">
                            <td>
                                {{itemwisereport.date}}
                            </td>
                            <td>
                                {{itemwisereport.product_name}}
                            </td>
                            <td>
                                {{itemwisereport.uom}}
                            </td>
                            <td>
                                {{itemwisereport.issued_qty}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>   
</div>