<script type="text/ng-template" id="city_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="itemHistoryReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Buyer Machine Details</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')">Print </a>
            <!--            <a href="{{APP_CONST.API.RECEIVABLEREPORT_DOWN}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&customer_id={{searchFilter.customerInfo.id}}&status=partiallyPaid&start=0&limit=0"
                           ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="item_history_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               placeholder="Customer Details..."
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingCustLocations"
                               typeahead-no-results="noCustResults"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingCustLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noCustResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="sea">
                        <input
                            name="serial_no"
                            type="text"
                            class="form-control"
                            data-ng-model="searchFilter.serialno"
                            placeholder="Serial No"
                            />
                    </div>  
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="city_dropdown"
                               ng-model="searchFilter.cityInfo"
                               placeholder="City Details..."
                               uib-typeahead="city for city in getCityList($viewValue)"
                               typeahead-loading="loadingCityLocations"
                               typeahead-no-results="noCityResults"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-template-url="city_dropdown_tpl.html"
                               typeahead-input-formatter="formatCityModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingCityLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noCityResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="sea">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From Date'                               
                               show-weeks="false"
                               close-text="Close" 
                               angular-localstorage-field='true'/>
                        <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="itemhistoryModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":itemhistoryModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row clear_b">
                        <div class="sea " >
                            <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To Date'                                  
                                   show-weeks="false"
                                   close-text="Close" 
                                   angular-localstorage-field='true'/>
                            <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(1)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
                <div class="selected-date bottommargin print-show">
                    <ul class="search-filters clearfix">
                        <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                        <li class="col-sm-4 ">Customer Name:{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                        <li class="col-sm-4 ">Serial No:{{searchFilter.serialno == '' ? '-' : searchFilter.serialno}}</li>
                        <li class="col-sm-4 ">City:{{searchFilter.cityInfo == '' ? '-' : searchFilter.cityInfo.name}}</li>
                    </ul>
                </div>
                <div class="table-responsive ">

                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 50px;"  rowspan="1" colspan="1" >
                                    #
                                </th>
                                <th style="width: 250px;"  rowspan="1" colspan="1" >
                                    Customer Name
                                </th>
                                <th style="width: 250px;"  rowspan="1" colspan="1" >
                                    City
                                </th>
                                <th style="width: 250px;"  rowspan="1" colspan="1" >
                                    Serial No
                                </th>
                                <th style="width: 300px;"   rowspan="1" colspan="1">
                                    Product
                                </th>
                                <th style="width: 250px;"   rowspan="1" colspan="1">
                                    Qty
                                </th>
                                <th style="width: 250px;text-align: right;"   rowspan="1" colspan="1">
                                    Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="itemhistoryModel.isLoadingProgress">
                                <td colspan="7" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="itemhistoryModel.list.length === 0">
                                <td colspan="7" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="history in itemhistoryModel.list">
                                <td>
                                    {{$index + 1}}
                                </td>
                                <td>
                                    {{history.customer_fname}} {{history.customer_lname}}
                                </td>
                                <td>
                                    {{history.shopping_city}} 
                                </td>
                                <td>
                                    {{history.serial_no}} 
                                </td>
                                <td>
                                    {{history.product_name}} 
                                </td>
                                <td>
                                    {{history.qty}}
                                </td>
                                <td class="right">
                                    {{history.price}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot  data-ng-hide="itemhistoryModel.list.length === 0" >
                            <tr>
                                <td colspan="5" class="text-left right" >
                                    Total
                                </td>
                                <td colspan="1">
                                    {{itemhistoryModel.total_Qty}}
                                </td>
                                <td colspan="1" class="text-right">
                                    {{itemhistoryModel.total_Amount}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


