<div class="app-content-body fade-in-up"  data-ng-controller="leadtypeEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2> Segment Type Edit</h2>
            <a data-ui-sref="app.leadtype" class="add_button add-dash" ui-scroll-to="app">Back to Company List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">
                <form name="edit_lead_form" angular-validator-submit="modifylead()" class="form-horizontal  clearfix " novalidate angular-validator >
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "leadtypename"
                                           ng-model = "leadModel.name"
                                           placeholder="Segment Name"
                                           required

                                           />
                                </div> 
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Type*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select name="lead_type_dropdown" ng-model="leadModel.type" class="form-control" required>
                                        <option value="">-Select-</option>
                                        <option value="lead">Lead</option>
                                        <option value="deal">Deal</option>
                                        <option value="both">Both</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Comments</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea  type = "text"
                                               class="form-control"
                                               name = "comments"
                                               ng-model = "leadModel.comments"
                                               placeholder="Comments"
                                               style="height: 85px;"
                                               />
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


