
<div class="app-content-body fade-in-up req-stock " data-ng-controller="leadtypeListCtrl">
    <div class="panel panel-default hide-print">
        <div class="panel-heading clearfix ">
            <h2>Segment Type</h2>
            <custom-add redirect="app.leadtypeAdd" screencode="leadtype"></custom-add>
            <!--<a data-ui-sref="app.leadtypeAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin">
            <div class="head_right table-search wrapper-sm  clearfix ">
                <div class="sea" style="width:197px;margin-left: 1%;">
                    <input type="text" name="leadname"
                           placeholder="Segment Name"
                           ng-model="searchFilter.lead_name"
                           class="form-control bottommarginsm topmarginsm" data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search " style="top: 22px;"></span>
                </div>
                <div class="sea">
                    <select class="form-control topmarginsm" ng-model="searchFilter.type" name="lead_type_dropdown" ng-change="initTableFilter()">
                        <option value="">-Segment Type</option>
                        <option value="both">Both</option>
                        <option value="lead">Lead</option>
                        <option value="deal">Deal</option>
                    </select>
                </div>

                <div class="table-responsive ">
                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 120px;"  rowspan="1" colspan="1" >
                                    ID
                                </th>
                                <th style="width: 250px;"  rowspan="1" colspan="1" >
                                    Segment Type
                                </th>
                                <th style="width: 250px;"   rowspan="1" colspan="1">
                                    Comments
                                </th>
                                <th style="width: 150px;"   rowspan="1" colspan="1">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="leadModel.isLoadingProgress">
                                <td colspan="4" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="leadModel.leadList.length == 0">
                                <td colspan="4" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="lead in leadModel.leadList">
                                <td>
                                    <a data-ui-sref="app.leadtypeEdit({id: '{{lead.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                        {{lead.id}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.leadtypeEdit({id: '{{lead.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                        {{lead.name}}
                                    </a>
                                </td>  
                                <td>
                                    <a data-ui-sref="app.leadtypeEdit({id: '{{lead.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                        {{lead.comments}}
                                    </a>
                                </td>  
                                <td>
                                    <a  data-ui-sref="app.leadtypeEdit({id: '{{lead.id}}'})" data-ui-scroll-to="app">
                                        <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                    </a>
                                    <a  class="chel-edit-add add-dash" data-ng-click="showPopup(lead.id)">
                                        <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot  data-ng-hide="leadModel.leadList.length == 0" >
                            <tr>
                                <td colspan="2" class="text-left" >
                                    <label>Show</label>
                                    <select name = "perpage"
                                            ng-model="leadModel.limit"
                                            ng-options="page for page in pagePerCount"
                                            class="form-control show_count"
                                            ng-change="getLeadtypeList()"
                                            ></select>
                                </td>
                                <td colspan="2" class="text-right">
                                    <ul uib-pagination total-items="leadModel.total" ng-model="leadModel.currentPage" ng-change="getLeadtypeList()" items-per-page="leadModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>  
        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteLeadInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>

</div>



