<script type="text/ng-template" id="employee_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="leadReportCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2 class="hide-print">Lead without Deal</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="lead_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
<!--                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>-->
                    <div class="sea" >
                        <input type="text"
                               name="customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               placeholder ="Lead Details"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="true"
                               typeahead-template-url="/public/admin/tpl/contact_dropdown__tpl.html"
                               typeahead-input-formatter="formatcustomerModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="sea ">
                        <input type="text"
                               name="lead_dropdown"
                               ng-model="searchFilter.employeeInfo"
                               placeholder ="Lead owner"
                               uib-typeahead="user for user in getEmployeelist($viewValue)"
                               typeahead-loading="loadingLead"
                               typeahead-no-results="noLead"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="false"
                               typeahead-template-url="employee_dropdown_tpl.html"
                               typeahead-input-formatter="formatEmployeeModel($model)"
                               autocomplete="off"                               
                               />
                         <span class="glyphicon glyphicon-search box-search "></span>
                            <i ng-show="loadingLead" class="glyphicon glyphicon-refresh"></i>
                             <div ng-show="noLead">
                                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                             </div>
                    </div>
                    <div class="col-sm-2 " style="margin-top: 4px;">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="leadModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":leadModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="print-info">
                    <li style="font-size: 17px;font-weight: bold;">{{company_name}}</li>
                    <li style="font-size: 14px;">{{company_address}}</li>
                    <li style="font-size: 14px;">Lead without Deal Report</li>
                </ul>
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Customer Name:{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:50px; text-align: right;"  rowspan="1" colspan="1" >
                                S.No
                            </th>
                            <th style="width:50px; text-align: right;"  rowspan="1" colspan="1" >
                                Id
                            </th>
                            <th style="width: 300px;"  rowspan="1" colspan="1" >
                                Lead Name
                            </th>
                            <th style="width: 300px;"  rowspan="1" colspan="1" >
                                Email
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1">
                                Mobile
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Segment Type
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Lead Owner
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Company
                            </th>
                            <th style="width: 150px;" class="hide-print"  rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="leadModel.isLoadingProgress">
                            <td colspan="9" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="leadModel.list.length === 0">
                            <td colspan="9" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="contact in leadModel.list">
                            <td style="width:50px; text-align: right;" >
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{$index+1}}
                                </a>
                            </td>
                            <td style="width:50px; text-align: right;" >
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.fname}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.email}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.phone}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.lead_type_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.contact_owner_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{contact.company_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.contactEdit({id: '{{contact.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                     <img class="icon icons8-Visible hide-print" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

