<!--<head>
    <link rel="stylesheet" href="assets/stylesheets/many-maps.css"/>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="http://cdn.rawgit.com/nmccready/angular-simple-logger/0.0.1/dist/index.js">
    </script><script src="../dist/angular-google-maps_dev_mapped.js"></script>
    <script src="assets/scripts/controllers/issue-816-multiple-maps-marker.js"></script>
</head>-->
<div ng-controller="locationCtrl">
    <!--    <div data-ng-show="!locationModel.showMap" >
            <p class="loader-icon" >
                <img alt="loader" src="../img/loading.gif" />
            </p>
        </div>
        <div id="map1" style="" ng-if="locationModel.showMap">
            <ui-gmap-google-map center="map1.center" zoom="map1.zoom">
                <ui-gmap-marker coords="map1.center" idKey="1">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>-->
    <div class="row">
        <div class="col-sm-8 container">
            <div style="position: relative; ">
                <div data-ng-show="!locationModel.showMap" >
                    <p class="loader-icon" >
                        <img alt="loader" src="../img/loading.gif" />
                    </p>
                </div>
                <div id="map1" style="" ng-if="locationModel.showMap">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom">
<!--                        <ui-gmap-marker coords="map.center" idKey="1">
                        </ui-gmap-marker>-->

                        <ui-gmap-markers models="locationModel.userList" coords="'self'" click="onMarkerClicked" events="map.markers2Events">
                            <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                                <div class="center">
                                    <p ng-non-bindable >{{ f_name }} {{ l_name }}</p>
                                    <p ng-non-bindable >Last Updated:- {{updated_at}}</p>
                                </div>
                            </ui-gmap-windows>
                        </ui-gmap-markers>

                      

                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
              
     <div class="col-sm-4">
   <div> 
    <div class=" animated fadeInUp clearfix "  >
        <div class="panel panel-default wrapper-md notopmargin" style="padding: 2px;">
            <div class="head_right table-search wrapper-sm  clearfix ">
                <div class="sea" style='width:197px;'>
                    <input type="text"
                           placeholder="User Name"
                           data-ng-model="searchFilter.username"
                           class="form-control " data-ng-change="getUserList()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>
            </div>
            <div class="table-responsive"  style="">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 250px;"  rowspan="1" colspan="1">
                               Name
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" class="">
                              Current Update Time
                            </th>
                        </tr>
                    </thead>
                    <tbody multiple = "multiple">
                        <tr data-ng-show="locationModel.isLoadingProgress">
                            <td colspan="2" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        
                        <tr data-ng-show="!locationModel.isLoadingProgress && locationModel.userList.length == 0">
                            <td colspan="2" class="text-center" >
                                -No Users Found-
                            </td>
                        </tr>
                        <tr data-ng-hide="locationModel.userList.length == 0" data-ng-repeat="user in locationModel.userList" ng-click="user.onClicked()" ng-cloak>
                            <td>
                                <a  ui-scroll-to="app"  style="width:100% ;height: 100%">
                                    {{user.f_name}}
                                    <h6>({{user.longitude}} ,{{user.latitude}})</h6>
                                </a>
                            </td>
                            <td>
                                <a  ui-scroll-to="app"  style="width:100% ;height: 100%" class="">
                                    {{user.updated_at}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
<!--                    <tfoot  data-ng-hide="locationModel.list.length == 0" >
                        <tr>
                            <td colspan="1" class="text-left" >
                                <label>Show</label>
                                <select name = "perpage"
                                        ng-model="locationModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="getUserList()"
                                        ></select>
                            </td>
                            <td colspan="1" class="text-right">
                    <ul uib-pagination total-items="locationModel.total" ng-model="locationModel.currentPage" ng-change="getUserList()" items-per-page="locationModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>-->
                </table>
            </div>
        </div>
        </div>
      </div>  
    </div>
    </div>
</div>
