<div class="app-content-body fade-in-up req-stock " data-ng-controller="manufacturingorderwisereportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Manufacturing Orderwise Issued Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <!--<a href="{{APP_CONST.API.CUSTOMER_EXCEPT_SALES_ORDER_CSVREPORT}}" ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="manufacturing_order_issued_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" angular-validator-field
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" angular-validator-field
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary" data-ng-disabled="manufacturingorderModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":manufacturingorderModel.isSearchLoadingProgress}'>
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary "  data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>   
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate|date:'dd-MM-yyyy'}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:'dd-MM-yyyy'}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:'dd-MM-yyyy'}}</li>                   
                </ul>
            </div>
        </div>
        <div class="table-responsive ">
            <table class="table  no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            Date
                        </th>
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            MO id
                        </th>
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            Responsible Person
                        </th>
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            Consumed Qty
                        </th>
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            Issued Qty
                        </th>
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            Balace Qty
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="manufacturingorderModel.isLoadingProgress">
                        <td colspan="6" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-if="manufacturingorderModel.list.length == 0">
                        <td colspan="6" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>
                    <tr data-ng-repeat="manufacturingorder in manufacturingorderModel.list">
                        <td>
                            {{manufacturingorder.date}}
                        </td>
                        <td>
                            {{manufacturingorder.mo_id}}
                        </td>
                        <td>
                            {{manufacturingorder.responsible_by}}
                        </td>
                        <td>
                            {{manufacturingorder.consumed_qty}}
                        </td>                            
                        <td>
                            {{manufacturingorder.issued_qty}}
                        </td>
                        <td>
                            {{manufacturingorder.balance_qty}}
                        </td>
                    </tr>
                </tbody>                                    
            </table>
        </div>
    </div>
</div>
