<script type="text/ng-template" id="bomTask_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="manufacturingWorkorderListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Work Order</h2>
            <a data-ui-sref="app.assignWorkOrder" ui-scroll-to="app" class="add_button add-dash" >Assign Work Order</a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>    

    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="work_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm clearfix ">                                       
                    <div class="sea">
                        <select name="status_dropdown" ng-model="searchFilter.status" class="form-control" data-ng-change="initTableFilter()">
                            <option value="">-Select Status-</option>
                            <option value="pending">Pending</option>
                            <option value="ready">Ready</option>
                            <option value="inProgress">InProgress</option>
                            <option value="completed">Completed</option>
                        </select>
                    </div>
                </div> 
            </form>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:80px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:200px;" rowspan="1" colspan="1" >
                                Work Order
                            </th>
                            <th style="width:330px;" rowspan="1" colspan="1">
                                Work Type
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Work Center
                            </th> 
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Original Quantity
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Produced Quantity
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Status
                            </th>
                            <th style="width:80px;" rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="workModel.isLoadingProgress">
                            <td colspan="8" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="workModel.list.length == 0">
                            <td colspan="8" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="work in workModel.list">
                            <td>
                                <a data-ui-sref="app.manufacturingworkorderView({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.manufacturingworkorderView({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.taskGroupDetailName}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.manufacturingworkorderView({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.type}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.manufacturingworkorderView({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.workCenterName}}
                                </a>
                            </td>  
                            <td>
                                <a data-ui-sref="app.manufacturingworkorderView({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.original_production_qty}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.manufacturingworkorderView({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.produced_qty}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.manufacturingworkorderView({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.status}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.manufacturingworkorderView({id: '{{work.id}}'})" ui-scroll-to="app"  >
                                    <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </a>                               
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="workModel.list.length == 0">
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="workModel.limit"
                                        data-ng-hide="workModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="5" class="text-right">
                                <ul uib-pagination  data-ng-hide="workModel.list.length == 0" total-items="workModel.total" ng-model="workModel.currentPage" ng-change="getworkList()" items-per-page="workModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div> 
</div>



