<div class="app-content-body fade-in-up"  data-ng-controller="assignWorkOrderCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Work Order View</h2>
            <a data-ui-sref="app.manufacturingworkorder" ui-scroll-to="app" class="add_button add-dash" >Back To List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  bottommarginsm">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row bottommargin">
                            <div class="col-sm-5">
                                <label>Start Date</label>
                            </div>
                            <div class="col-sm-7">
                                : {{workModel.detailList.start_date|date:dateFormat}}
                            </div>
                        </div>
                        <div class="row bottommargin">
                            <div class="col-sm-5">
                                <label>Completed Date</label>
                            </div>
                            <div class="col-sm-7">
                                : {{workModel.detailList.end_date|date:dateFormat}}
                            </div>
                        </div>
                        <div class="row bottommargin">
                            <div class="col-sm-5">
                                <label>Work Center</label>
                            </div>
                            <div class="col-sm-7">
                                : {{workModel.detailList.workCenterName}}
                            </div>
                        </div>
                        <div class="row bottommargin">
                            <div class="col-sm-5">
                                <label>Consumed Product</label>
                            </div>
                            <div class="col-sm-7">
                                : {{workModel.detailList.produced_qty}}
                            </div>
                        </div>
                    </div>
                </div>
                <form name="input_material_form" angular-validator-submit="" class="form-horizontal material-form clearfix " novalidate angular-validator >
                    <div class="table-responsive tab-tr">
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 200px;background: #23b7e569;"  rowspan="1" colspan="1" >
                                        Start Time
                                    </th>
                                    <th style="width: 200px;background: #23b7e569;"  rowspan="1" colspan="1" >
                                        End Time
                                    </th>
                                    <th style="width: 200px;background: #23b7e569;"  rowspan="1" colspan="1" >
                                        Duration
                                    </th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="workModel.isLoadingProgress">
                                    <td colspan="3" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="workModel.sessionList.length == 0">
                                    <td colspan="3" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="product in workModel.sessionList">
                                    <td>
                                        {{product.start_time}}
                                    </td>
                                    <td>
                                        {{product.end_time}}
                                    </td>
                                    <td>
                                        {{product.duration}}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>