<div class="app-content-body fade-in-up req-stock " data-ng-controller="materialrequirementCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Material Requirement </h2>
            <a href="javascript:void(0)" data-ng-click="print()"  class="add_button add-dash">Print</a>            
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <form name="material_requirement_form" angular-validator-submit="initTableFilter()" class="form-horizontal expense_add_form clearfix" novalidate angular-validator >

            <div class="wrapper-md bg-white topmargin invoice-add ">
                <div class="panel panel-default ">
                    <div class="head_right table-search wrapper-sm clearfix ">
                        <div class="sea">
                            <select type = "text" name="categoryname" ng-model="searchFilter.category_id" class="form-control" required angular-validator-field>
                                <option value="">-Select-</option>
                                <option value="{{categorylist.id}}" data-ng-repeat="categorylist in materialModel.categorylist">{{categorylist.name}}</option>
                            </select>
                        </div>
                        <div class="sea">
                            <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                                   show-weeks="false"   
                                   close-text="Close" required   validator = "validationFactory.hasRequired(searchFilter.fromdate)== false || validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="sea">
                            <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                                   show-weeks="false"  
                                   close-text="Close" required validator = "validationFactory.hasRequired(searchFilter.todate)== false || validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="col-sm-2 ">
                            <div class="row ">
                                <div class="col-sm-6 ">
                                    <button type="submit" class="btn-sm btn-primary"
                                            data-ng-disabled="materialModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":materialModel.isSearchLoadingProgress}'
                                            >
                                        Search
                                    </button>
                                </div>
                                <div class="col-sm-6 ">
                                    <button class="btn-sm btn-primary "  data-ng-click="clearFilters()" angular-validator-form-reset>
                                        Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive ">
                        <table class="table  no-link  table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 40%;background-color: #03a9f3;color: #fff;" >
                                        Product Name
                                    </th>
                                    <th style="width: 60px;background-color: #03a9f3;color: #fff;" rowspan="1" colspan="1" >
                                        Required
                                    </th> 
                                    <th style="width: 60px;background-color: #03a9f3;color: #fff;" rowspan="1" colspan="1" >
                                        Available
                                    </th>
                                    <th style="width: 60px;background-color: #03a9f3;color: #fff;" rowspan="1" colspan="1">
                                        Balance
                                    </th>
                                    <th style="width: 60px;background-color: #03a9f3;color: #fff;" rowspan="1" colspan="1" class="text-center">
                                        To Be Purchased
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="materialModel.isLoadingProgress">
                                    <td colspan="5" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>

                                <tr data-ng-if="materialModel.list.length == 0">
                                    <td colspan="5" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="material in materialModel.list">
                                    <td>
                                        <a data-ui-sref="app.materialrequirementEdit({id: '{{material.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                            {{material.product_name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.materialrequirementEdit({id: '{{material.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                            {{material.req_qty}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.materialrequirementEdit({id: '{{material.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                            {{material.available_qty}}
                                        </a>
                                    </td>
                                    <td>
                                        <a data-ui-sref="app.materialrequirementEdit({id: '{{material.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                            {{material.bal_qty}}
                                        </a>
                                    </td>
                                    <td>
                                        <input type="text" 
                                               name="amount_{{$index}}"
                                               ng-model="materialModel.list[$index].needtopurchase"
                                               class="form-control right" 
                                               placeholder="Need to Purchase"      
                                               validator = "validationFactory.isNumber(materialModel.list[$index].needtopurchase)"
                                               angular-validator-field
                                               />
                                    </td>
                                    <!--                                <td>
                                                                        <a  data-ui-sref="app.materialrequirementEdit({id: '{{material.id}}'})" ui-scroll-to="app" >
                                                                            <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                                                        </a>
                                                                        <a class="chel-edit-add add-dash" data-ng-click="showPopup(material.id)">
                                                                            <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                                        </a>
                                                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 btn_group" ng-if="materialModel.list.length > 0" >
                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
            </div>

        </form>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteStageInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
</div>

