<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="minstockListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Exceed Minstock Product Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <div class="head_right table-search wrapper-sm clearfix ">
                   <div class="sea" >
                        <input type="text"
                               name="product_dropdown"
                               ng-model="minstockModel.productInfo"
                               placeholder ="Product Name"
                               uib-typeahead="product for product in getProductList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="false"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatproductModel($model)"
                               autocomplete="off" required
                               />
                         <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary "  data-ng-click="initTableFilter()">
                                    Search 
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Product Name:{{minstockModel.productInfo == '' ? '-' : minstockModel.productInfo.name}}</li>
                </ul>
            </div>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:150px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:250px;" rowspan="1" colspan="1" >
                                Product Name
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                SKU
                            </th>
                            <th style="width:250px;" rowspan="1" colspan="1">
                                Minimum Quantity
                            </th>
                            <th style="width:250px;" rowspan="1" colspan="1">
                                Current Stock
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="minstockModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="minstockModel.list.length == 0">
                            <td colspan="5" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr   data-ng-repeat="minstock in minstockModel.list">
                            <td> 
                                {{$index + 1}} 
                            </td>
                            <td> 
                                {{minstock.name}} 
                           </td>
                            <td> 
                                {{minstock.sku}} 
                           </td>
                            <td class=""> 
                                {{minstock.min_stock_qty}}
                            </td>
                            <td class=""> 
                                {{minstock.quantity}} 
                            </td>                            
                        </tr>
                    </tbody>                   
                </table>
            </div>
        </div>
     </div>
</div>


