<div class="tab-form">
    <div class="container animated fadeInUp clearfix topmarginsm  bottommarginsm">
        <div class="bg-white">
            <div class="  clearfix add-form form-wrapper">
                <div class="row topmarginsm">
                    <div class="f-left">
                        <div class="row col-sm-12">
                            <div class="col-sm-5 topmarginxs right">
                                <label>Material Issue Status</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control"
                                       name="mat_issue_status"
                                       ng-model="workModel.wo_status"
                                       placeholder="Status"
                                       readonly
                                       />
                            </div>
                        </div>
                    </div>
                    <div class="f-right">
                        <a href="javascript:void(0)" class="add_button add-dash bottommarginsm"  ng-click ="print(stateParamsData)">Print</a>
                    </div>
                </div>
                <form name="input_material_form" angular-validator-submit="" class="form-horizontal material-form clearfix " novalidate angular-validator >
                    <div class="table-responsive tab-tr topmarginsm">
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;"  rowspan="1" colspan="1" >
                                        S.No
                                    </th>
                                    <th style="width: 260px;"  rowspan="1" colspan="1" >
                                        Product
                                    </th>
                                    <th style="width: 100px;"  rowspan="1" colspan="1" >
                                        To Consume
                                    </th>
                                    <th style="width: 100px;"  rowspan="1" colspan="1" >
                                        Issued
                                    </th>
                                    <th style="width: 100px;"   rowspan="1" colspan="1">
                                        Consumed
                                    </th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="workModel.isLoadingProgress">
                                    <td colspan="5" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="workModel.inputList.length == 0">
                                    <td colspan="5" class="text-center" >
                                        -No Data Found-
                                    </td>
                                </tr>
                                <tr data-ng-repeat="product in workModel.inputList">
                                    <td>
                                        {{$index + 1}}
                                    </td>
                                    <td>
                                        {{product.input_pdt_name}}
                                    </td>
                                    <td>
                                        {{product.to_consume}}
                                    </td>
                                    <td>
                                        {{product.reserved_qty}}
                                    </td>
                                    <td>
                                        {{product.consumed}}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>