<div class="tab-form">
    <div class="container animated fadeInUp clearfix topmarginsm  bottommarginsm">
        <div class="bg-white">
            <div class="  clearfix add-form form-wrapper">
                <form name="in_out_form" angular-validator-submit="" class="form-horizontal material-form clearfix " novalidate angular-validator >
                    <div class="table-responsive tab-tr">
                        <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 60px;"  rowspan="1" colspan="1" >
                                        S.No
                                    </th>
                                    <th style="width: 250px;"  rowspan="1" colspan="1" >
                                        Work Order
                                    </th>
                                    <th style="width: 150px;"  rowspan="1" colspan="1" >
                                        Department
                                    </th>
                                    <th style="width: 100px;"  rowspan="1" colspan="1" >
                                        Work Type
                                    </th>
                                    <th style="width: 100px;"   rowspan="1" colspan="1">
                                        Start Date
                                    </th>
                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                        Work Center
                                    </th>
                                    <!--                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                                                            Product
                                                                        </th>-->
                                    <th style="width: 80px;  "   rowspan="1" colspan="1">
                                        Original Quantity
                                    </th>
                                    <th style="width: 80px; "   rowspan="1" colspan="1">
                                        Produced Quantity
                                    </th>
                                    <!--                                    <th style="width: 100px; "   rowspan="1" colspan="1">
                                                                            UOM
                                                                        </th>-->
                                    <th style="width: 80px; "  rowspan="1" colspan="1">
                                        Status
                                    </th>
                                    <th style="width: 50px; "  rowspan="1" colspan="1">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="workModel.isLoadingProgress">
                                    <td colspan="10" class="text-left" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="workModel.workOrderList.length == 0">
                                    <td colspan="10" class="text-center" >
                                        Click Plan to create Work Orders
                                    </td>
                                </tr>
                                <tr data-ng-repeat="product in workModel.workOrderList">
                                    <td>                                       
                                        {{$index + 1}}
                                    </td>
                                    <td>
                                        {{product.taskGroupDetailName}}
                                    </td>
                                    <td>
                                        {{product.department_name}}
                                    </td>
                                    <td>
                                        {{product.type}}
                                    </td>
                                    <td>
                                        {{product.start_date|date:adminService.appConfig.date_format}}
                                    </td>
                                    <td>
                                        {{product.workCenterName}}
                                    </td>
                                    <!--                                    <td>
                                                                            {{product.productname}}
                                                                        </td>-->
                                    <td>
                                        {{product.original_production_qty}}
                                    </td>
                                    <td>
                                        {{product.produced_qty}}
                                    </td>
                                    <!--                                    <td>
                                                                            {{product.uom}}
                                                                        </td>-->
                                    <td>
                                        {{product.status}}
                                    </td>
                                    <td >
                                        <a data-ng-click="showWorkorderPopup($index)" href="javascript:void(0)" ui-scroll-to="app">
                                            <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                        </a>
                                        <a data-ng-show="product.status == 'completed' && product.qc_status != 'done'" data-ng-click="qualityCheck($index)" href="javascript:void(0)" ui-scroll-to="app">
                                            <img width="18" height="18" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABfAAAAXwBsrqMZwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIVSURBVEiJ3VUxaxRREP5m93EBA4ZDEEWC5goRI3fsvuXOxkaxEAmonaS0VJBgZVrBSoidhcT7AQcBg6iVonbHvblFWAsLjTaCmGpV7sztG5sUm/X2NsmJSKbb+b6Z79s3w3uEbYbneeccx1kGICJyjZlfbKeO0h++758FcNlxnFKWKCIXieiKtdYhohYRPc1yrLW/iGjFGPPyD4FGo7F/MBh8AHALwM9U3RKAuyLymZmfbBqZI6JpAIsAFlImJonoXq/XOxZF0fctAp7nHXUc55kx5mTaldY6AvAxIwoA+wDMGGNmM/x31toL3W73EwCo7G8OOZqrruseHIYlSfK1qL5QgJnfFnFGhTNO8d4Q8H3/tNb6QR6eO4MgCM5ba2cy6W/MvFKv14/3+/0f5XJ5PY7jpogsDG0ySgDANBFV0gkRmQIAa+0JpdT9OI5fA3jDzM93LNDpdB6NwFZ93z9ARLeVUsEIk8VrmhfM3ATQLOL9/1uktT4cBMGNPDz3iGq12hHXdQ+lc9ba9TAM16rV6mSSJBtRFG2IyDKA3Ks7V0AptQigkc65rvsFwJxSar5UKs1rrR+LyFSlUlkyxuxMwBhzPQ9j5oda61MA7iilvFarleRxdzsDMcbcTJJktt1uvx9FHGfIEobhWhHp362ptXYAYOIv9JzY7AVg66NPWutVAGcA2F02d0TkFTNfAiBjmNx+/AZiI8yQwaRONQAAAABJRU5ErkJggg==">
                                        </a>
                                        <a ng-if="product.type == 'internal'" href="{{APP_CONST.API.INTERNAL_EXTERNAL_MO_PRINT}}?id={{product.id}}&type=internal" target="_blank">
                                            <img class="icon icons8-Print" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAqElEQVQ4T82TWw2DQBBFD06oAuqg1AGSkICESsAB1AEoaJ1ALtkhQNnlkX4wyXztnbPzjJjbF5CHLAbkg0ULZQ7IQzbTXAOQAYnLOQXqjRKmmlYlNMB9I8j33AigH0U9YgXwAoqzAGWscZdnAZZtvQSonD1NtJJ/AEcXaRUQaqq92baOgGqy2j6Auq7GKbhz+ufaKgvw8Mz07UY+3svfb0Epfnac8800PaphLXHzj//KAAAAAElFTkSuQmCC" width="16" height="16">
                                        </a>
                                        <a ng-if="product.type == 'external'" href="{{APP_CONST.API.INTERNAL_EXTERNAL_MO_PRINT}}?id={{product.mo_id}}&type=external" target="_blank">
                                            <img class="icon icons8-Print" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAqElEQVQ4T82TWw2DQBBFD06oAuqg1AGSkICESsAB1AEoaJ1ALtkhQNnlkX4wyXztnbPzjJjbF5CHLAbkg0ULZQ7IQzbTXAOQAYnLOQXqjRKmmlYlNMB9I8j33AigH0U9YgXwAoqzAGWscZdnAZZtvQSonD1NtJJ/AEcXaRUQaqq92baOgGqy2j6Auq7GKbhz+ufaKgvw8Mz07UY+3svfb0Epfnac8800PaphLXHzj//KAAAAAElFTkSuQmCC" width="16" height="16">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>     
</div>