<div class=" "  data-ng-controller="newCustomerAddCtrl">

    <div class=" clearfix">

        <h2 class="bottommarginsm ">Quick Customer Add</h2>
        <a href="javascript:void(0)" ng-click="closeCustomerPopup();formReset();" class="glyphicon glyphicon-remove close " ></a>

        <div class=" ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_customer_form" angular-validator-submit="createcustomer()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class=" ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name="customername"
                                                ng-model="customerAddModel.name"
                                                placeholder="Full Name"
                                                maxlength="35"
                                                required/>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Company Name</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "companyname"
                                                ng-model = "customerAddModel.companyName"
                                                placeholder="Company Name"
                                                maxlength="35"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "email"
                                                ng-model = "customerAddModel.email"
                                                placeholder="Enter the Email"
                                                validator = "validationFactory.hasRequired(customerAddModel.email) == false || validationFactory.emailValidator(customerAddModel.email) == true"/>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Phone*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "mobile"
                                                ng-model = "customerAddModel.mobile"
                                                placeholder="Enter the Mobile no"
                                                maxlength="20"
                                                required
                                                validator = "validationFactory.phoneNumberValidator(customerAddModel.mobile) == true" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                         <textarea rows="7" cols="150"  maxlength="150"
                                          class="form-control "
                                                name = "billingaddr"
                                                ng-model = "customerAddModel.billingaddr"
                                                placeholder="Address"
                                          ></textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Country</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select ng-model="customerAddModel.country_id" data-ng-change="CountryChange();" theme="select2"  style="min-width: 230px;" title="">
                                            <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="country.id as country in customerAddModel.country_list | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                      </ui-select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>State</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                         <ui-select ng-model="customerAddModel.state_id" data-ng-change="StateChange();" theme="select2"  style="min-width: 230px;" title="">
                                            <ui-select-match placeholder="Select State">{{$select.selected.name || $select.selected}}</ui-select-match>
                                            <ui-select-choices  repeat="state.id as state in customerAddModel.state_list | propsFilter: {name: $select.search} ">
                                                <div ng-bind-html="state.name | highlight: $select.search" ></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>City</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select ng-model="customerAddModel.city_id" theme="select2"  style="min-width: 230px;" title="">
                                            <ui-select-match placeholder="Select City">{{$select.selected.name || $select.selected}}</ui-select-match>
                                            <ui-select-choices  repeat="city.id as city in customerAddModel.city_list | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="city.name | highlight: $select.search" ></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div> 
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Postcode</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "billingpostcode"
                                                ng-model = "customerAddModel.billingpostcode"
                                                placeholder="Postcode"
                                                maxlength="20"
                                                validator = "validationFactory.isAlbhaNumeric(customerAddModel.billingpostcode) === true"
                                                />
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
