<div class=" "  data-ng-controller="companyAddCtrl">
    <div class=" clearfix">

        <form name="add_company_form" angular-validator-submit="createCompany()" class="form-horizontal  clearfix " novalidate angular-validator >
            <div class="row">
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-5 topmarginxs right">
                            <label>Company Name*</label>
                        </div>
                        <div class="col-sm-7 bottommargin">
                            <input type="text"
                                   class="form-control"
                                   name = "companyname"
                                   ng-model = "companyModel.name"
                                   placeholder="Company Name"
                                   required

                                   />
                        </div> 
                        <div class="col-sm-5 topmarginxs right">
                            <label>Website</label>
                        </div>
                        <div class="col-sm-7 bottommargin">
                            <textarea  type = "text"
                                       class="form-control"
                                       name = "web"
                                       ng-model = "companyModel.website"
                                       validator = "validationFactory.hasRequired(companyModel.website) == false || validationFactory.urlValidator(companyModel.website) == true"
                                       placeholder="Website Details"
                                       style="height: 85px;"
                                       >
                            </textarea>
                        </div>
                        <div class="col-sm-5 topmarginxs right">
                            <label>Address*</label>
                        </div>
                        <div class="col-sm-7 bottommargin">
                            <textarea  type = "text"
                                       class="form-control"
                                       name = "address"
                                       ng-model = "companyModel.address"
                                       placeholder="Address Details"
                                       style="height: 85px;"
                                       required >
                            </textarea>
                        </div>

                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-5 topmarginxs right">
                            <label>Country*</label>
                        </div>
                        <div class="col-sm-7 bottommargin">
                            <input type="text"
                                   class="form-control"
                                   name = "country"
                                   ng-model = "companyModel.country"
                                   placeholder="Country Name"
                                   required    />
                        </div>

                        <div class="col-sm-5 topmarginxs right">

                            <label>State</label>
                        </div>
                        <div class="col-sm-7 bottommargin">
                            <input type="text"
                                   class="form-control"
                                   name = "state"
                                   ng-model = "companyModel.state"
                                   placeholder="State Name"

                                   />
                        </div>
                        <div class="col-sm-5 topmarginxs right">
                            <label>City</label>
                        </div>
                        <div class="col-sm-7 bottommargin">
                            <input type="text"
                                   class="form-control"
                                   name = "city"
                                   ng-model = "companyModel.city"
                                   placeholder="City Name"
                                   />
                        </div> 

                        <div class="col-sm-5 topmarginxs right">

                            <label>District</label>
                        </div>
                        <div class="col-sm-7 bottommargin">
                            <input type="text"
                                   class="form-control"
                                   name = "district"
                                   ng-model = "companyModel.district"
                                   placeholder="District Name"
                                   />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group full_w btn_group">
                <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="closeCompanyPopup()" data-ng-disabled="isDataSavingProcess">Cancel</button>
            </div>
        </form>
    </div>
</div>
