<div class=" "  data-ng-controller="newContactAddCtrl">
    <div class=" clearfix">
        <h2 class="bottommarginsm ">Contact Add</h2>
        <a href="javascript:void(0)" ng-click="closeCustomerPopup()" class="glyphicon glyphicon-remove close " ></a>                  
    </div>

    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">

                <form name="add_contact_form" angular-validator-submit="createcontact()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <label>First Name*</label>
                                <input type="text"
                                       class="form-control"
                                       name = "contactfname"
                                       ng-model = "contactModel.fname"
                                       placeholder="First Name"
                                       required

                                       />
                            </div> 
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group clearfix">
                                <label>Last Name*</label>
                                <input type="text"
                                       class="form-control"
                                       name = "contactlname"
                                       ng-model = "contactModel.lname"
                                       placeholder="Last Name"
                                       required

                                       />
                            </div> 
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group clearfix col-sm-6">
                                <label>Email</label>
                                <input type="text"
                                       class="form-control"
                                       name = "email"
                                       ng-model = "contactModel.email"
                                       placeholder="Email id"
                                       validator = "validationFactory.hasRequired(contactModel.email) == false || validationFactory.emailValidator(contactModel.email) == true"
                                       
                                       />
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group clearfix col-sm-6">
                                <label>Mobile*</label>
                                <input type="text"
                                       class="form-control"
                                       name = "mobile"
                                       ng-model = "contactModel.phone"
                                       placeholder="Mobile Number"
                                       validator = "validationFactory.phoneNumberValidator(contactModel.phone) == true"
                                       required
                                       />
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group clearfix col-sm-6">
                                <label>Company</label>
                                <input type="text"
                                       class="form-control"
                                       name = "company"
                                       ng-model = "contactModel.company"
                                       placeholder="Company Name"
                                       
                                       />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group clearfix col-sm-6">
                                <label>Notes</label>
                                <textarea  type = "text"
                                           class="form-control"
                                           name = "notes"
                                           ng-model = "contactModel.notes"
                                           placeholder="Notes"
                                           
                                           >
                                </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Cancel</button>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>



