<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<div class="app-content-body fade-in-up req-stock " >
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Order List</h2>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " data-ng-controller="ordernewCtrl">        
        <form name="order_add_form" angular-validator-submit="createOrder()" class="form-horizontal  clearfix" novalidate angular-validator >
            <div class="panel panel-default ">                
                <div class="head_right wrapper-sm clearfix ">
                    <div class="sea">
                        <label> Cust-Name:* </label>                        
                            <input type="text"
                                   class="form-control"
                                   name="customer_dropdown_{{$index}}"
                                   ng-model="orderListModel.customerInfo"
                                   placeholder="Customer Details..."
                                   uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                   typeahead-loading="loadingLocations"
                                   typeahead-no-results="noResults"
                                   typeahead-min-length="0"
                                   typeahead-editable="true"
                                   typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                   typeahead-input-formatter="formatCustomerModel($model)"
                                   autocomplete="off"
                                   required
                                   />
                             <span class="glyphicon glyphicon-search box-search "></span>
                                       <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                    </div>
                    <br><br> <br><br>                                       
                    <div class="clearfix">
                        <label> Phone </label>
                        <label> {{orderListModel.customerInfo.phone}} </label>
                    </div>       
                    <div class="clearfix">
                        <label> Email </label>
                        <label> {{orderListModel.customerInfo.email}} </label>                        
                    </div>                 
                </div>  
                <br><br>                    
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Added Product List
            <div class="table-responsive ">
                <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">                        
                   <thead>
                        <tr role="row">
                            <th style="width: 100px;"  rowspan="1" colspan="1" >
                                #
                            </th>
                            <th class="a-left" style="width: 150px;"   rowspan="1" colspan="1">
                                Product Name
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                SKU
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Price
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Qty
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Row Total
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                
                            </th>
                        </tr>
                            <tbody>
                                <tr data-ng-repeat="order in orderListModel.list">
                                    <td>{{$index + 1}}</td>
                                    <td class="prod-detail">
                                        {{order.productName}}
                                    </td>
                                    <td class="a-center ">
                                        {{order.sku}}
                                    </td>
                                    <td  class="a-center ">
                                        <input
                                            name="sales_price_{{$index}}"
                                            type="text"
                                            class="form-control qty a-right "
                                            data-ng-model="$parent.orderListModel.list[$index].sales_price"
                                            validator = "validationFactory.isNumber($parent.orderListModel.list[$index].sales_price)"
                                            angular-validator-field
                                            />
                                    </td>
                                    <td  class="a-center ">
                                        <input
                                            name="qty_{{$index}}"
                                            type="text"
                                            class="form-control qty a-right "
                                            data-ng-model="$parent.orderListModel.list[$index].qty"
                                            validator = "validationFactory.isNumber($parent.orderListModel.list[$index].qty)"
                                            data-ng-change="updateInvoiceTotal()"
                                            angular-validator-field
                                            />
                                    </td>
                                    <td  class="a-center ">
                                        <input
                                            name="rowtotal"
                                            type="text"
                                            class="form-control qty a-right "
                                            data-ng-model=order.rowtotal
                                            data-ng-change="updateInvoiceTotal()"
                                            data-ng-disabled="true"
                                            />
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" data-ng-click="deleteProduct($parent.orderListModel.list[$index].id)" ui-toggle-class="" class="">X
                                            <i class="fa fa-check text-success text-active"></i>
                                            <i class="fa fa-times text-danger text"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <a class="add-more-prod panel panel-default glyphicon glyphicon-plus " ng-click="app.settings.prodSearchOpen = !app.settings.prodSearchOpen" >
                        </a>
                        <div class="form-group full_w btn_group">
                            <center><a href="javascript:void(0)" class="btn btn-sm btn-primary btn_grn" data-ng-click="showPaymentPopup()" >Proceed</a></center>
                        </div>
                    </div>                
                        
                <div class="bill-info col wrapper-md clearfix ">
                    <div class="panel panel-default">
                        <ul class="wrapper-md clearfix ">
                            <li class="ship-date clearfix ">
                                <span class="tit ">Bill Date: </span>
                                <span class="tit-desc ">
                                    <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                           ng-model="orderListModel.billdate" readonly is-open="startDateOpen"
                                           min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                           required close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </li>
                            <li class="ship-amnt clearfix ">
                                <span class="tit ">Total Amount: </span>
                                <span class="tit-desc a-right "  data-ng-show="orderListModel.total !=''">
                                    Rs.{{orderListModel.total}}
                                </span>
                            </li>
                            <li class="total-amnt clearfix ">
                                <span class="tit ">Total: </span>
                                <span class="tit-desc a-right " data-ng-show="orderListModel.invoicetotal !=''">
                                    Rs.{{orderListModel.invoicetotal}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>                   
                   
                <div class="prod-list-search clearfix " data-ng-class="{'open':app.settings.prodSearchOpen}">
                    <div data-ng-include=" 'tpl/productselect.html'" ng-if="true"  >
                    </div>
                </div>
                <div class="model_overlay" ng-show="showPaymentDetailPopup"></div>
                <div class="model_popup category-add-pop " ng-show="showPaymentDetailPopup" >
                    <div  ng-if="true"  >
                        <div class="add-cat-pop cat-edit ">
                            <form name="payment_form" angular-validator-submit="updatePayment()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                                <div class="table-responsive clearfix ">
                                    <a href="javascript:void(0)" data-ng-click="closePaymentPopup()" class="popup-close"> X </a>
                                    <div class=" clearfix ">
                                        <h3>Choose Payment</h3>
                                        <li class="ship-amnt clearfix ">
                                            <span class="tit ">Bill No: </span>
                                            <span class="tit-desc a-right ">
                                                1
                                            </span>
                                        </li>
                                        <li class="ship-amnt clearfix ">
                                            <span class="tit ">Bill Amount: </span>
                                            <span class="tit-desc a-right ">
                                                {{orderListModel.invoicetotal}}
                                            </span>
                                        </li>
                                        <div class="form-group ">
                                            <input type="checkbox"
                                                   name = "cash"
                                                   ng-model = "orderListModel.payment[0].isSelected"
                                                   id="cash"
                                                   value="cash"
                                                   />
                                            <label for="cash">Cash</label>
                                        </div>
                                        <div class="form-group "  data-ng-checked="orderListModel.payment">
                                            <input type="text"
                                                   name="cash"
                                                   data-ng-model="orderListModel.payamt[0]"
                                                   validator = "validationFactory.isNumber(orderListModel.payamt[0])"
                                                   class="form-control "
                                                   placeholder="Amount"
                                                   />
                                        </div>
                                        <div class="form-group ">
                                            <input type="checkbox"
                                                   name = "credit"
                                                   ng-model = "orderListModel.payment[1].isSelected"
                                                   id="credit"
                                                   value="credit"
                                                   />
                                            <label for="credit">Credit</label>
                                        </div>
                                        <div class="form-group ">
                                            <input type="text"
                                                   name="credit"
                                                   data-ng-model="orderListModel.payamt[1]"
                                                   validator = "validationFactory.isNumber(orderListModel.payamt[1])"
                                                   class="form-control "
                                                   placeholder="Amount"
                                                   />
                                        </div>

                                        <div class="form-group ">
                                            <input type="checkbox"
                                                   name = "card"
                                                   ng-model = "orderListModel.payment[2].isSelected"
                                                   id="cash"
                                                   value="card"
                                                   />
                                            <label for="card">Card</label>
                                        </div>
                                        <div class="form-group ">
                                            <input type="text"
                                                   name="Card"
                                                   data-ng-model="orderListModel.payamt[2]"
                                                   validator = "validationFactory.isNumber(orderListModel.payamt[2])"
                                                   class="form-control "
                                                   placeholder="Amount"
                                                   />
                                            <input type="text"
                                                   name="credit"
                                                   data-ng-model="orderListModel.cardDetail"
                                                   class="form-control "
                                                   placeholder="Card Details"
                                                   />
                                        </div>
                                        <div class="form-group ">
                                            <input type="checkbox"
                                                   name = "coupon"
                                                   ng-model = "orderListModel.payment[3].isSelected"
                                                   id="cash"
                                                   value="coupon"
                                                   />
                                            <label for="coupon">Coupon</label>
                                        </div>
                                        <div class="form-group ">
                                            <input type="text"
                                                   name="coupon"
                                                   data-ng-model="orderListModel.payamt[3]"
                                                   validator = "validationFactory.isNumber(orderListModel.payamt[3])"
                                                   class="form-control "
                                                   placeholder="Amount"
                                                   />
                                        </div>
                                        <div class=" btn_group">
                                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                            "btn-loader":isDataSavingProcess}' >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>                    
                </div>
            </div>
        </form>
    </div>


    