
<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
   <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="partyPurchasesStatementCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Partywise Purchase Statement</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <a href="{{APP_CONST.API.PARTYPURCHASE_DOWN}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&customer_id={{searchFilter.customerInfo.id}}&is_active=1&mode=1&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="partysales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" 
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)&& validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" 
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown_{{$index}}"
                               ng-model="searchFilter.customerInfo"
                               placeholder="Customer Details..."
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"
                               required
                               />
                         <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                        <!--                        <input type="text"
                                                       name="customer_dropdown"
                                                       ng-model="searchFilter.customerInfo"
                                                       placeholder ="Customer Id"
                                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                                       typeahead-loading="loading"
                                                       typeahead-no-results="noResults"
                                                       typeahead-min-length="0"
                                                       class="form-control"
                                                       typeahead-editable="false"
                                                       typeahead-template-url="customer_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatcustomerModel($model)"
                                                       autocomplete="off"
                                                       required
                                                       />
                                                       <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                        <div ng-show="noResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>
                        -->
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="partyPurchaseStatementModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":partyPurchaseStatementModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Customer Name:{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table no-link table-striped b-t  dataTable no-footer " style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 150px; text-align: center;"  rowspan="1" colspan="1" >
                                Transaction Date
                            </th>
                            <th style="width: 100px; text-align: left;"   rowspan="1" colspan="1">
                                ID
                            </th>
                            <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                                Narration
                            </th>
                            <th style="width:100px; text-align: center;"   rowspan="1" colspan="1">
                                Source Type
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Debit
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Credit
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Balance
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="partyPurchaseStatementModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-show="partyPurchaseStatementModel.openingBalance == null">
                            <td colspan="7" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-show="partyPurchaseStatementModel.openingBalance != null" >
                            <td  colspan="2">
                            </td>
                            <td colspan="2">
                                <b>Opening Balance</b>
                            </td>
                            <td style="text-align: right;">
                                {{partyPurchaseStatementModel.openingDebit}}
                            </td>
                            <td style="text-align: right;">
                                {{partyPurchaseStatementModel.openingCredit}}
                            </td>
                            <td style="text-align: right;">
                                {{partyPurchaseStatementModel.openingAmount}}
                            </td>
                        </tr>
                        <tr data-ng-repeat="account in partyPurchaseStatementModel.list" ng-show="partyPurchaseStatementModel.list.length > 0">
                            <td style="width:150px;">
                                {{account.date}}
                            </td>
                            <td style="width:150px;">
                                {{account.id}}
                            </td>
                            <td style="width:200px;">
                                {{account.description}}
                            </td>
                            <td style="width:150px; text-align: center;">
                                {{account.type}}
                            </td>
                            <td style="width:100px; text-align: right;" class="credit-col" >
                                {{account.debit}}
                            </td>
                            <td style="width:100px; text-align: right;" class="debit-col" >
                                {{account.credit}}
                            </td>
                            <td style=" width:100px;text-align: right;">
                                {{account.balance}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr  data-ng-show="partyPurchaseStatementModel.openingBalance != null">
                            <td colspan="3"></td>
                            <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{partyPurchaseStatementModel.totaldebit}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{partyPurchaseStatementModel.totalcredit}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{partyPurchaseStatementModel.totalbalance.toFixed(2)}}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


