
<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
   <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="payableReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Payable Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <a href="{{APP_CONST.API.PAYABLEREPORT_DOWN}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&customer_id={{searchFilter.customerInfo.id}}&is_active=1&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="payable_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" readonly is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input type = "checkbox"
                               class=""
                               id="overdue"
                               name="overdue"
                               data-ng-model = "searchFilter.overdue"
                               />
                        <label for="overdue" class="detailchk">Over Due</label>
                    </div>
                    <!--                    <div class="sea" >
                                            <input type="text"
                                                   class="form-control"
                                                   name="customer_dropdown_{{$index}}"
                                                   ng-model="searchFilter.customerInfo"
                                                    placeholder="Customer Details..."
                                                   uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                                   typeahead-loading="loadingLocations"
                                                   typeahead-no-results="noResults"
                                                   typeahead-min-length="0"
                                                   typeahead-editable="false"
                                                   typeahead-template-url="customer_dropdown__tpl.html"
                                                   typeahead-input-formatter="formatCustomerModel($model)"
                                                   autocomplete="off"
                    
                                                   />
                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                        </div>-->
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="payableReportModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":payableReportModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Customer Name:{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 50px;"  rowspan="1" colspan="1" >
                                #
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Vendor Name
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Mobile 
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1">
                                Email
                            </th>
                            <th style="width: 250px;text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Amount
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="payableReportModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="payableReportModel.list.length === 0">
                            <td colspan="5" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="payable in payableReportModel.list">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{payable.customer_fname}} {{payable.customer_lname}}
                            </td>
                            <td>
                                {{payable.phone}} 
                            </td>
                            <td>
                                {{payable.email}} 
                            </td>
                            <td style="text-align: right;">
                                {{payable.balance}}
                            </td>

                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="payableReportModel.list.length === 0" >
                        <tr>
                            <td colspan="4" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="text-right">
                                {{payableReportModel.total_Amount}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


