<div class="app-content-body fade-in-up req-stock " data-ng-controller="paymentPrintCtrl" >
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Payment Detail</h2>
            <div class=" right action-links " >
                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_grn" data-ng-click="print()">
                    Print
                </a>                                 
                <a ui-sref="app.invoice" ui-scroll-to="app" href="#/invoice">
                    Back to List
                </a>
            </div>
        </div>
    </div>
    <div class="container clearfix ">
        <div class="row clearfix ">
            <div class="col-sm-8  ">
                <div class=" invoice-view ">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="invoice-top-head   clearfix ">
                                <div class="row flex clearfix ">
                                    <div class="col-sm-8 invoice-top-head-title wrapper-md">
                                        <h2>Payment Detail</h2>
                                    </div>
                                    <div class="col-sm-4 due-amnt ">
                                        Amount  ({{currencyFormat}})
                                        <span><span class="rupee ">{{currencyFormat}}.</span>{{paymentListModel.paymentInfo[0].amount}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row  ">
                        <div class="invoice-top-info clearfix ">
                            <div class="col-sm-6  ">
                                <div class=" wrapper-md ">
                                    <p>{{appConfig.pay_to_address}}</p></br>
                                    <div ng-bind-html="appConfig.bank_detail | trustedhtml">
                                    </div>                                  
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class=" wrapper-md ">
                                    <p class="uppercase ">Received From:</p>
                                    <p>
                                        <strong>{{paymentListModel.customerInfo.fname}}</strong>
                                    </p>
                                    <br/>
                                    <p>
                                        {{paymentListModel.customerInfo.phone}}  
                                    </p>
                                    <p>
                                        {{paymentListModel.customerInfo.email}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="invoice-prod-list table-responsive ">
                        <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 150px;"  >
                                        Invoice ID
                                    </th>
                                    <th class="left" style="width: 200px;">
                                        Date
                                    </th>
                                    <th class="left" style="width: 350px;">
                                        Description
                                    </th>
                                    <th class="right " style="width: 150px;">
                                        Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody>                                                            
                                <tr>
                                    <td class="center ">
                                        {{paymentListModel.paymentInfo[0].invoice_id}}
                                    </td>
                                    <td  class="left " >
                                        {{paymentListModel.paymentInfo[0].date}}
                                    </td>
                                    <td class="left" >
                                        {{paymentListModel.paymentInfo[0].comments}}
                                    </td>
                                    <td class="right " >
                                        {{paymentListModel.paymentInfo[0].amount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td>Round Off:</td>
                                    <td class="right ">{{paymentListModel.paymentInfo[0].roundoff}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td>The Sum of Rupees: {{paymentListModel.paymentInfo[0].amountinwords}} Only</td>
                                    <td class="right ">{{round}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </br>
                        Payment Method: {{paymentListModel.paymentInfo[0].payment_mode}}
                        </br>
                        </br>
                        <p><center>Thank You</center></p>
                        </br>
                        </br>
                        <p>Customer Sign:</p>
                        <p class="right">{{appConfig.signature}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>