<div class="app-content-body fade-in-up"  data-ng-controller="paymenttermsEditCtrl">

        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Payment Terms Edit</h2>
                <a ui-sref="app.paymentterms" class="add_button" ui-scroll-to="app">Back to List</a>
<!--                <a href="javascript:void(0)" data-ng-click="initTableFilter()"  class="add_button add-dash">Refresh</a>
           --> </div>
        </div>
        <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
                <div class="  clearfix add-form form-wrapper">
                    <form name="create_paymentterms_form" angular-validator-submit="modifypaymentterms()" class="form-horizontal clearfix " novalidate angular-validator >

                        <div class="row ">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Payment name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "payment"
                                                ng-model = "paymenttermsAddModel.name"
                                                placeholder="Payment name"
                                                maxlength="35" data-ng-disabled="true"
                                                required/>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Comments</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">

                                        <textarea rows="7" cols="150"  maxlength="150"
                                                  class="form-control "
                                                  name = "Comments"
                                                  ng-model = "paymenttermsAddModel.comments"
                                                  placeholder="Comments"
                                                  
                                                  ></textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                    <label></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           id="hasrequired"
                                           name="hasrequired"
                                           data-ng-model="paymenttermsAddModel.is_default"
                                           />
                                    <label for="hasrequired">Is default</label>

                                </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                        <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="row ">
                                    <div class="col-sm-5 ">
                                        <div class="form-group full_w btn_group">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>

</div>
