

<div class="app-content-body fade-in-up"  data-ng-controller="productTypeEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Product Type Edit</h2>
            <a ui-sref="app.producttype" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="productTypeModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="product_type_form" angular-validator-submit="modifyType()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text" size="20"
                                           class="form-control"
                                           name = "name1"
                                           ng-model = "productTypeModel.name"
                                           placeholder="Name"
                                           maxlength="35"

                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Code</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text" size="20"
                                           class="form-control"
                                           name = "code"
                                           ng-model = "productTypeModel.code"
                                           placeholder="Code"
                                           
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Description</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea rows="7" cols="70"  maxlength="500"
                                              class="form-control"
                                              name = "Comments"
                                              ng-model = "productTypeModel.comments"
                                              placeholder="Description"
                                              ></textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                    <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
