

<div class="app-content-body fade-in-up req-stock " data-ng-controller="productionReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Production Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <a href="{{APP_CONST.API.ITEMIZEDREPORT_DOWN}}?from_date={{searchFilter.fromdate == '' ? searchFilter.todate : searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate == '' ? searchFilter.fromdate : searchFilter.todate|date:'yyyy-MM-dd'}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="itemized_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="productionReportModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":productionReportModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 630px;"  rowspan="1" colspan="1" >
                                Product Name
                            </th>
                            <th style="width: 340px; padding-left: 15px;"  rowspan="1" colspan="1" >
                                UOM
                            </th>
                            <th style="width: 30px;"   rowspan="1" colspan="1">
                                Quantity
                            </th>
<!--                            <th style="width: 160px;"  rowspan="1" colspan="1"  class="right">
                                Amount
                            </th>-->
                            <th style="width: 110px;"  rowspan="1" colspan="1" class="right">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="productionReportModel.isLoadingProgress">
                            <td colspan="4" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="productionReportModel.list.length === 0">
                            <td colspan="4" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr ng-repeat-start="itemizedPurchase in productionReportModel.list" ng-click="show(itemizedPurchase.flag)"  style="color:black;">

                            <td style="    padding: 5px 10px;">
                                {{itemizedPurchase.productName}}                   
                            </td>    
                            <td>
                                {{itemizedPurchase.uom}}
                            </td>
                            <td>
                                {{itemizedPurchase.outputQty}}
                            </td>
<!--                            <td class="right">
                                {{itemizedPurchase.total_price}}
                            </td>-->
                            <td class="right">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>
                            
                        </tr>
                         <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{itemizedPurchase.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                                <td   colspan="4" style="    border-bottom: 1px solid #eaeff0;">
                                    <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                        <thead>
                                            <tr>
                                                <th rowspan="1" colspan="1" >
                                                Date
                                                </th>
                                                <th style="width: 330px;" rowspan="1" colspan="1" >
                                                Employee Code
                                                </th>
                                                <th rowspan="1" colspan="1" style="width: 310px;">
                                                Employee Name
                                                </th>
                                                <th rowspan="1" colspan="1"  >
                                                Quantity
                                                </th>
<!--                                                <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1" class="right">
                                                Price
                                                </th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr  data-ng-show="showDetails[{{item.flag}}]"  ng-repeat="item in itemizedPurchase.details" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                                <td colspan="1" style="padding-left: 5px;" >
                                                    {{item.date}}
                                                </td >
                                                <td colspan="1" style=" padding-left: 0px; width: 300px;">
                                                    {{item.emp_code}}
                                                </td>
                                                <td colspan="1" style=" padding-left: 0px; width: 310px;">
                                                {{item.emp_name}}
                                                </td>
                                                <td colspan="1"  >
                                                    {{item.qty}}
                                                </td>
<!--                                                <td colspan="1" class="right" >
                                                    {{item.total_price}}
                                                </td>-->
                                            </tr>
                                        </tbody>
                                    </table> 
                                </td>
                            </tr>
                </tbody>
<!--                    <tfoot  data-ng-hide="productionReportModel.list.length === 0" >
                        <tr style="font-weight: bold;">
                            <td colspan="4" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="text-right">
                                {{productionReportModel.total_Amount}}
                            </td>
                        </tr>
                    </tfoot>-->
                </table>
            </div>
        </div>
    </div>
</div>


