<div class="app-content-body fade-in-up"  data-ng-controller="productAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Product Add</h2>
                <a ui-sref="app.productList" class="add_button" ui-scroll-to="app">Back to Product  List</a>
            </div>
        </div>
        <div class="container animated fadeInUp clearfix topmarginsm  ">
            <div class="wrapper-md bg-white topmargin "> 
                <div class="  clearfix add-form form-wrapper">
                    <form name="product_add_form" angular-validator-submit="addProductInfo()" class="form-horizontal clearfix " novalidate angular-validator >
                        <div class="row ">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="productname"
                                               class="form-control "
                                               placeholder="Name"
                                               data-ng-model="productModel.name"
                                               maxlength="100"
                                               required

                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>SKU*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="sku"
                                               class="form-control "
                                               placeholder="SKU"
                                               data-ng-model="productModel.sku"
                                               maxlength="40"
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>UOM</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select type = "text" ng-model="productModel.uomName" class="form-control" >
                                            <option value="">-Select-</option>
                                            <option value="{{uomlist.name}}" data-ng-repeat="uomlist in productModel.uomList">{{uomlist.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Category</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select type = "text" ng-model="productModel.id" class="form-control" >
                                            <option value="">-Select-</option>
                                            <option value="{{categorylist.id}}" data-ng-repeat="categorylist in productModel.categorylist">{{categorylist.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>HSN/Legal Code</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="hsn"
                                               class="form-control "
                                               placeholder="HSN/Legal Code"
                                               data-ng-model="productModel.hsncode"
                                               maxlength="40"
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Sales Price(Rs)*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="salesPrice"
                                               class="form-control "
                                               placeholder ="Sales Price "
                                               data-ng-model="productModel.salesPrice"
                                               validator = "validationFactory.isNumber(productModel.salesPrice) === true"
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>MRP(Rs)*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="mrp"
                                               class="form-control "
                                               placeholder ="MRP "
                                               data-ng-model="productModel.mrp_price"
                                               validator = "validationFactory.isNumber(productModel.mrp_price) === true" 
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Type</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select type = "text" ng-model="productModel.type" class="form-control" >
                                            <option value="">-Select-</option>
                                            <option value="{{type.id}}" data-ng-repeat="type in productModel.productTypeList">{{type.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Color</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="color"
                                               class="form-control "
                                               placeholder ="Color"
                                               data-ng-model="productModel.color"                                           
                                               />
                                    </div>    
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Gauge</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="gauge"
                                               class="form-control "
                                               placeholder ="Gauge"
                                               data-ng-model="productModel.gauge"                                           
                                               />
                                    </div>  
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Brand</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="brand"
                                               class="form-control "
                                               placeholder ="Brand"
                                               data-ng-model="productModel.brand"                                           
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Pitch</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="pitch"
                                               class="form-control "
                                               placeholder ="Pitch"
                                               data-ng-model="productModel.pitch"                                           
                                               />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Width</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="width"
                                               class="form-control "
                                               placeholder ="Width"
                                               data-ng-model="productModel.width"                                               
                                               validator = "validationFactory.isNumber(productModel.width) === true"
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Thickness</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="thickness"
                                               class="form-control "
                                               placeholder ="Thickness"
                                               data-ng-model="productModel.thickness"                                              
                                               validator = "validationFactory.isNumber(productModel.thickness) === true"
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Diameter</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="diameter"
                                               class="form-control "
                                               placeholder ="Diameter"
                                               data-ng-model="productModel.diameter"                                               
                                               validator = "validationFactory.isNumber(productModel.diameter) === true"
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>AF</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="af"
                                               class="form-control "
                                               placeholder ="AF"
                                               data-ng-model="productModel.af"                                               
                                               validator = "validationFactory.isNumber(productModel.af) === true"
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Square</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="square"
                                               class="form-control "
                                               placeholder ="Square"
                                               data-ng-model="productModel.square"                                              
                                               validator = "validationFactory.isNumber(productModel.square) === true"
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Length</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="productlength"
                                               class="form-control "
                                               placeholder ="Length"
                                               data-ng-model="productModel.prodlength"                                              
                                               validator = "validationFactory.isNumber(productModel.prodlength) === true"
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Description</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea class="form-control"
                                                  name = "Description"
                                                  ng-model = "productModel.description"
                                                  placeholder="Description"/>
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label style="width: 100%;"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <!--                                        <input type="checkbox"
                                                                                       class=" "
                                                                                       id="productactive"
                                                                                       name="isActive"
                                                                                       data-ng-model="productModel.isActive"
                                                                                       />
                                                                                <label for="productactive">Active</label>-->


                                        <input type="checkbox"
                                               class=" "
                                               id="productisSale"
                                               name="isSale"
                                               data-ng-model="productModel.isSale"
                                               validator="validationFactory.hasRequired(productModel.isSale) || validationFactory.hasRequired(productModel.isPurchase)"
                                               angular-validator-field
                                               />
                                        <label for="productisSale">Sales</label>

                                        <label style="width: 100%;"></label>
                                        <input type="checkbox"
                                               class=" "
                                               id="productisPurchase"
                                               name="isPurchase"
                                               data-ng-model="productModel.isPurchase"
                                               validator="validationFactory.hasRequired(productModel.isSale) || validationFactory.hasRequired(productModel.isPurchase)"
                                               angular-validator-field
                                               />
                                        <label for="productisPurchase">Purchase</label>
                                        <label style="width: 100%;"></label>
                                        <input type="checkbox"
                                               class=" "
                                               id="hasinventory"
                                               name="hasinventory"
                                               data-ng-model="productModel.hasinventory"
                                               />
                                        <label for="hasinventory">Has Inventory</label>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right " data-ng-show="productModel.hasinventory">
                                        <label>Open Stock*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin" data-ng-show="productModel.hasinventory">
                                        <input type="text"
                                               name="openstock"
                                               class="form-control "
                                               placeholder="Open Stock"
                                               data-ng-model="productModel.openstock"
                                               validator = "validationFactory.isNumber(productModel.openstock) === true"
                                               ng-required ="productModel.hasinventory"
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right "  data-ng-show="productModel.hasinventory">
                                        <label>Min Stock*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin" data-ng-show="productModel.hasinventory">
                                        <input type="text"
                                               name="minstock"
                                               class="form-control "
                                               placeholder="Min Stock"
                                               data-ng-model="productModel.minstock"
                                               validator = "validationFactory.isNumber(productModel.minstock) === true"
                                               ng-required ="productModel.hasinventory"
                                               />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' data-ng-click="ShowAlert();">Submit</button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>