<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="task_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="operation_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.operation | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="productiontaskEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Bill of Material Edit</h2>
            <a data-ui-sref="app.billofmaterial" ui-scroll-to="app" class="add_button add-dash" >Back To List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <div>
                    <form name="create_production_task" angular-validator-submit="editProductionTask()" class="col-sm-12 form-horizontal clearfix " novalidate angular-validator >
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="taskname"
                                               class="form-control "
                                               placeholder="Name"
                                               data-ng-model="productionTaskModel.taskname"
                                               required
                                               angular-validator-field
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Product name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommarginxs">
                                        <input type="text"
                                               ng-model="productionTaskModel.outputProducts"
                                               placeholder="Product list.."
                                               uib-typeahead="item for item in getProductList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-template-url="product_dropdown__tpl.html"
                                               class="form-control"
                                               typeahead-editable="false"
                                               typeahead-no-results="noResults"
                                               typeahead-show-hint="true"
                                               typeahead-input-formatter="formatOutputProductModel($model,$index)"
                                               typeahead-min-length="0" required  
                                               angular-validator-field
                                               name="outputproduct_dropdown"
                                               >
                                        <span class="glyphicon glyphicon-search box-search "></span>
                                        
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Task Group Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="productionTaskModel.taskgroup" name="taskgroup" class="form-control" data-ng-change="getTaskGroupDetailList()" required angular-validator-field>
                                            <option value ="">-Select Task Group-</option>
                                            <option value="{{task.id}}" data-ng-repeat="task in productionTaskModel.taskGroupList">{{task.name}}&nbsp;({{task.type}})</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Code*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="taskcode"
                                               class="form-control "
                                               placeholder="Code"
                                               data-ng-model="productionTaskModel.taskcode"
                                               validator = "validationFactory.isAlbhaNumeric(productionTaskModel.taskcode) == true"
                                               required
                                               angular-validator-field
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Qty & Price*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input
                                            name="qty"
                                            type="text"
                                            class="form-control col-sm-3"
                                            data-ng-model="productionTaskModel.outputqty"
                                            validator = "validationFactory.isNumber(productionTaskModel.outputqty)"
                                            placeholder="Qty"
                                            angular-validator-field
                                            ng-readonly="true" required
                                            />
                                        <input
                                            name="outputupp_{{$index}}"
                                            type="text"
                                            class="form-control  right col-sm-9"
                                            data-ng-model="productionTaskModel.outputupp"
                                            validator = "validationFactory.isNumber(productionTaskModel.outputupp)"
                                            placeholder="Unit Production Price"
                                            angular-validator-field required
                                            />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Parent BOM name</label>
                                    </div>
                                    <div class="col-sm-7 bottommarginxs">
                                        <input type="text"
                                               ng-model="productionTaskModel.parentTask"
                                               placeholder="Parent Task.."
                                               uib-typeahead="itemList  as itemList.name for itemList in productionTaskModel.taskList | filter:{name:$viewValue}"
                                               typeahead-loading="loadingTaskLocations"
                                               typeahead-template-url="task_dropdown__tpl.html"
                                               class="form-control"
                                               typeahead-editable="false"
                                               typeahead-no-results="noTaskResults"
                                               typeahead-show-hint="true"
                                               typeahead-input-formatter="formatTaskModel($model)"
                                               typeahead-min-length="0"

                                               >
                                        <span class="glyphicon glyphicon-search box-search "></span>
                                        <i ng-show="loadingTaskLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noTaskResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div>
                                    </div>
                                    <div class="col-sm-5  right ">
                                        <label style="width: 100%;"></label>
                                    </div>
                                    <div class="col-sm-7 ">
                                        <input type="checkbox"
                                               class=""
                                               id="isActive"
                                               name="isActive"
                                               data-ng-model="productionTaskModel.isactive"
                                               />
                                        <label for="isActive">Is Active</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="row topmarginsm">                            
                                    <!--Tabs-->
                                    <uib-tabset class="dash-tabs  new-steps bom-edit " justified="true">
                                        <uib-tab class="today-appoin-tab clearfix" select="tabChange(1)" >
                                            <uib-tab-heading style="margin-left: 15px;">                                            
                                                <span class="tab-title" style="margin-left: 10px;">Components</span>
                                            </uib-tab-heading>
                                        </uib-tab>
                                        <uib-tab class="today-appoin-tab clearfix" select="tabChange(2)" >
                                            <uib-tab-heading>                                            
                                                <span class="tab-title" style="margin-left: 35px;">Byproduct</span>
                                            </uib-tab-heading>
                                        </uib-tab>
                                    </uib-tabset>
                                    <div class="invoice-add2" static-include="tpl/bomComponentsEdit.html" data-ng-show="currentStep == 1"></div>
                                    <div class="invoice-add2" static-include="tpl/bomByProductEdit.html" data-ng-show="currentStep == 2"></div>                                
                                </div>
                            </div>
                        </div>
<!--                        <div class ="row topmargin">
                            <div class="col-sm-12">
                                <div class="input-head">
                                    <h5 class="tier" style="color:#fff;">Components</h5>
                                    <a class="glyphicon glyphicon-plus add-icon add-new" style="float: right;" data-ng-click="addNewRow()">
                                    </a>
                                </div>
                                <div class="clearfix input-border">
                                    <div class="col-sm-12">  
                                        <div class="row bottommarginsm" data-ng-show="productionTaskModel.inputProducts.length > 0">
                                            <div class="col-sm-1 tier">
                                                S.No
                                            </div>
                                            <div class="col-sm-4 tier">
                                                Product Name
                                            </div>
                                            <div class="col-sm-3 tier">
                                                Qty
                                            </div>
                                            <div class="col-sm-3 tier">
                                                Consumed in Operation
                                            </div>
                                            <div class="col-sm-1 tier">

                                            </div>
                                        </div>
                                        <div class="tax-map-wrap clearfix "  data-ng-repeat="productiontask in productionTaskModel.inputProducts">
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="form-group texts">
                                                        {{$index + 1}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class=" texts">
                                                        <input type="text"
                                                               ng-model="productiontask"
                                                               placeholder="Product list.."
                                                               uib-typeahead="item for item in getProductList($viewValue)"
                                                               typeahead-loading="loadingPLISTLocations"
                                                               typeahead-template-url="product_dropdown__tpl.html"
                                                               class="form-control"
                                                               typeahead-editable="false"
                                                               typeahead-no-results="noPLISTResults"
                                                               typeahead-show-hint="true"
                                                               typeahead-input-formatter="formatProductModel($model,$index)"
                                                               typeahead-min-length="0" required
                                                               name="inputproducts_{{$index}}"  angular-validator-field
                                                               >
                                                        <span class="glyphicon glyphicon-search box-search "></span>
                                                        <i ng-show="loadingPLISTLocations" class="glyphicon glyphicon-refresh"></i>
                                                        <div ng-show="noPLISTResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>
                                                    </div>
                                                                                                        <div ng-show="noResults1">
                                                                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                                                        </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group texts">
                                                        <input
                                                            name="qty_{{$index}}"
                                                            type="text"
                                                            class="form-control right "
                                                            data-ng-model="productionTaskModel.inputProducts[$index].input_qty"
                                                            validator = "validationFactory.isNumber(productionTaskModel.inputProducts[$index].input_qty)"
                                                            placeholder="Qty"
                                                            angular-validator-field required
                                                            />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class=" texts">
                                                        <input type="text"                                                              
                                                               ng-model="productionTaskModel.inputProducts[$index].taskgroupdetail"
                                                               placeholder="Operation.."
                                                               uib-typeahead="operationname  as operationname.operation for operationname in productionTaskModel.operationList | filter:{operation:$viewValue}"
                                                               typeahead-loading="loadingoperationLocations"
                                                               typeahead-template-url="operation_dropdown__tpl.html"
                                                               class="form-control"
                                                               typeahead-editable="false"
                                                               typeahead-no-results="noResultsFound"
                                                               typeahead-show-hint="true"
                                                               typeahead-input-formatter="formatTaskGroupModel($model,$index)"
                                                               typeahead-min-length="0" 
                                                               name="output_products_{{$index}}" 
                                                               >
                                                        <span class="glyphicon glyphicon-search box-search "></span>
                                                        <i ng-show="loadingoperationLocations" class="glyphicon glyphicon-refresh"></i>
                                                        <div ng-show="noResultsFound">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-1">
                                                    <a href="javascript:void(0)" data-ng-click="deleteInputProduct($index)" ui-toggle-class="" style="padding: 0;">
                                                        <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" data-ng-show="productionTaskModel.inputProducts.length == 0">
                                            <p>-No Data Found-</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>-->
                        <div class ="row topmargin">
<!--                            <div class ="col-sm-12">
                                <div class="input-head">
                                    <h5 class="tier" style="color:#fff;">Output Products</h5>
                                </div>
                                <div class="clearfix input-border">
                                    <div class="col-sm-12">  
                                        <div class="tax-map-wrap clearfix ">
                                            <div class="row topmarginsm">
                                                <div class="col-sm-7">
                                                    <div class="col-sm-6">
                                                        <label>Product Name*</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group texts">

                                                            <input type="text"
                                                                   ng-model="productionTaskModel.outputProducts"
                                                                   placeholder="Product list.."
                                                                   uib-typeahead="itemList  as itemList.name for itemList in productionTaskModel.productList | filter:{name:$viewValue}"
                                                                   typeahead-loading="loadingLocations"
                                                                   typeahead-template-url="product_dropdown__tpl.html"
                                                                   class="form-control"
                                                                   typeahead-editable="false"
                                                                   typeahead-no-results="noResults"
                                                                   typeahead-show-hint="true"
                                                                   typeahead-input-formatter="formatOutputProductModel($model,$index)"
                                                                   typeahead-min-length="0" required  name="outputproduct_dropdown"
                                                                   >
                                                            <span class="glyphicon glyphicon-search box-search "></span>
                                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                            <div ng-show="noResults">
                                                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                            </div>
                                                        </div>
                                                                                                                <div ng-show="noResults2">
                                                                                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                                                                </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-5">
                                                    <div class="col-sm-5">
                                                        <label>Quantity*</label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group texts">

                                                            <input
                                                                name="qty"
                                                                type="text"
                                                                class="form-control "
                                                                data-ng-model="productionTaskModel.outputqty"
                                                                validator = "validationFactory.isNumber(productionTaskModel.outputqty)"
                                                                placeholder="Qty"
                                                                angular-validator-field
                                                                ng-readonly="true" required
                                                                />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row topmarginsm">
                                                <div class="col-sm-7">
                                                    <div class="col-sm-6">
                                                        <label>Unit Production Price*</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group texts">

                                                            <input
                                                                name="outputupp_{{$index}}"
                                                                type="text"
                                                                class="form-control  right "
                                                                data-ng-model="productionTaskModel.outputupp"
                                                                validator = "validationFactory.isNumber(productionTaskModel.outputupp)"
                                                                placeholder="Unit Production Price"
                                                                angular-validator-field required
                                                                />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <div class="row center ">
                                <div class="form-group full_w btn_group topmargin">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{
                                                "btn-loader":isDataSavingProcess}'>Submit</button>
                                    <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                                </div>
                            </div>

                        </div>
                        <div style="clear: both;"></div>
                        <div class="wrapper-md ">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>