<script type="text/ng-template" id="task_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="productionEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Production Edit</h2>
            <a ui-sref="app.production" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="clearfix add-form form-wrapper">
                <form name="edit_production_form" angular-validator-submit="modifyProduction()" class="col-sm-12 form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Date*</label>
                                </div>
                                <div class="col-sm-7 bottommarginsm">                                       
                                    <input name="yesterday_date" type="text" class="bottommarginsm form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                           ng-model="productionModel.date" is-open="isDateOpen" placeholder='Production Date'
                                           validator = "validationFactory.minDate(productionModel.next_date, productionModel.date)"
                                           show-weeks="false" 
                                           close-text="Close"
                                           data-ng-readonly="true"
                                           required/>
                                    <button type="button" class="btn btn-default btn-align btn-choose" data-ng-disabled="true" ng-click="openDate(1)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Team Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select ng-model="productionModel.emp_team_id" name="teamdropdown" class="form-control"
                                            required data-ng-readonly="true">
                                        <option value ="">-Select Employee Team-</option>
                                        <option value="{{team.id}}" data-ng-repeat="team in productionModel.teamList">{{team.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="product-add topmargin">
                                    <ul class="ul-list-wrapper ul-table-head clearfix">
                                        <li class="num ">
                                            #
                                        </li>
                                        <li class=" ">
                                            Code
                                        </li>                                       
                                        <li class="name ">
                                            Name
                                        </li>
                                        <li class="right qty ">
                                            Present
                                        </li>
                                        <li class="right price ">
                                            Amount
                                        </li>    
                                           
                                    </ul>
                                    <div class="invoice-prod-list table-responsive ">
                                        <ul class="ul-list-wrapper ul-table-details clearfix ">
                                            <li class="num center ">
                                                {{productionModel.emp_id}}
                                            </li>
                                            <li class=" ">
                                                {{productionModel.emp_code}}
                                            </li>                                           
                                            <li class="name ">
                                                {{productionModel.emp_name}}
                                            </li>
                                            <li  class="qty right ">                                           
                                                <input type="checkbox"
                                                       class=" "
                                                       id="employee_is_present"
                                                       name="is_present"
                                                       data-ng-model="productionModel.is_present"
                                                       data-ng-change="changePresentStatus()"
                                                       />
                                                <label for="employee_is_present"></label>
                                            </li>
                                            <li class="price right ">
                                                <input
                                                    name="amount"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="productionModel.amount"
                                                    data-ng-disabled="true"                                            
                                                    angular-validator-field
                                                    />
                                            </li>                                        
                                            <li class="row ul-table-inner-wrapper clearfix"  data-ng-show="productionModel.is_present == true" data-ng-repeat="task in productionModel.details">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="col-sm-12 ul-table-inner clearfix topmarginsm bottommarginsm task-list">
                                                    <li style="width:5%;"><strong>{{$index + 1}}</strong></li>
                                                    <li class="col-sm-3" style="width:30%;">
                                                        <label>Task Name</label>
                                                        <input type="text"
                                                               ng-model="task.taskInfo"
                                                               placeholder="Task list.."
                                                               uib-typeahead="task for task in getTaskList($viewValue)"
                                                               typeahead-loading="loadingLocations"
                                                               typeahead-template-url="task_dropdown__tpl.html"
                                                               class="form-control name"
                                                               typeahead-editable="false"
                                                               typeahead-no-results="noResults"
                                                               typeahead-show-hint="true"
                                                               typeahead-input-formatter="formatTaskModel($model,$index)"
                                                               typeahead-min-length="0"
                                                               >
                                                         <span class="glyphicon glyphicon-search box-search "></span>
                                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                        <div ng-show="noResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>
                                                    </li>
                                                    <li class="col-sm-3" style="width:22%;"> 
                                                        <label>Salary Type</label>                                                    
                                                        <select ng-model="task.type"  class="form-control" data-ng-change="updateEmployeeSalary()" >
                                                            <option value="">--Select--</option>
                                                            <option value="attendance">Attendance Based</option>
                                                            <option value="piece">Piece Based</option>
                                                        </select>
                                                    </li>
                                                    <li class="col-sm-2" data-ng-show="task.type == 'attendance'" >
                                                        <label>Duration</label>
                                                        <select ng-model="task.duration"  class="form-control" data-ng-change="updateEmployeeSalary()" >                                                        
                                                            <option value="0.5">Half day</option>
                                                            <option value="1">Full Day</option>
                                                        </select>
                                                    </li>
                                                    <li class="col-sm-2">
                                                        <label>Amount</label>
                                                        <input
                                                            name="task_amount_{{$index}}"
                                                            type="text"
                                                            class="form-control"
                                                            data-ng-model="task.task_amount"
                                                            placeholder="Task Amount"
                                                            angular-validator-field
                                                            data-ng-readonly="true"
                                                            /></br></li>
                                                    <li class="col-sm-1 plus-icn">                                                        
                                                        <a class=" panel panel-default glyphicon glyphicon-plus " href="javascript:void(0)" data-ng-click="addNewTask()"></a></br>
                                                    </li>
                                                    <li class="col-sm-12 ul-table-inner-wrapper clearfix row">
                                                        <div class="row">
                                                            <div class="col-sm-2">&nbsp;</div>
                                                            <div class="col-sm-4">
                                                                <b>Consumed Products:</b>
                                                                <ul class="col-sm-12 topmargin" data-ng-repeat="product in task.inputs">
                                                                    <li>
                                                                        {{$index + 1}}
                                                                    </li>
                                                                    <li>
                                                                        {{product.input_pdt_name}}
                                                                    </li>
                                                                    <li>
                                                                        <input
                                                                            name="consumed_qty_{{$index}}"
                                                                            type="text"
                                                                            class="form-control qty left "
                                                                            data-ng-model="productionModel.details[$parent.$index].task[$index].input_qty"
                                                                            placeholder="Consumed Quantity"
                                                                            angular-validator-field
                                                                            />
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <b>Produced Products:</b>                                                  
                                                                <ul class="topmargin">    
                                                                    <li style="width:50%;">
                                                                        {{task.output_pdt_name}}
                                                                    </li>
                                                                    <li style="width:25%;">
                                                                        <input
                                                                            name="produced_value_{{$index}}"
                                                                            type="text"
                                                                            class="form-control"
                                                                            data-ng-model="productionModel.details[$index].production_qty"                                                                           
                                                                            placeholder="Amount"
                                                                            angular-validator-field
                                                                            data-ng-change="updateInputQty($index); updateEmployeeSalary()"
                                                                            />
                                                                    </li>
                                                                    <li style="width:25%;">
                                                                        <input
                                                                            name="unit_production_price_{{$index}}"
                                                                            type="text"
                                                                            class="form-control"
                                                                            data-ng-model="productionModel.details[$index].production_unit_price"
                                                                            data-ng-disabled="true"
                                                                            placeholder="Unit Production Price"
                                                                            angular-validator-field
                                                                            required
                                                                            />
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="topmargin form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" angular-validator-form-reset data-ng-click="formReset()">Reset</a>
                        </div>
                    </div>
                </form>               
            </div>
        </div>
    </div>

</div>