<script type="text/ng-template" id="task_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="productiontaskCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Bill of Material List</h2>
            <custom-add redirect="app.billofmaterialAdd" screencode="billofmaterial"></custom-add>
            <!--<a data-ui-sref="app.billofmaterialAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>        
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="productiontask_list" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm clearfix ">   
                    <div class="sea">
                        <input type="text"
                               placeholder="Name"
                               data-ng-model="searchFilter.name"
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea">
                        <input type="text"
                               placeholder="Code"
                               data-ng-model="searchFilter.taskcode"
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <!--                    <div class="sea">
                                            <input type="text"
                                                   class="form-control"
                                                   name="task_dropdown_{{$index}}"                      
                                                   ng-model="searchFilter.taskInfo"
                                                   placeholder="Parent Task Name"
                                                   uib-typeahead="task for task in getTaskList($viewValue)"
                                                   typeahead-loading="loadingTaskLocations"
                                                   typeahead-no-results="noTaskResults"
                                                   typeahead-wait-ms="500"
                                                   typeahead-on-select="initTableFilter()"
                                                   typeahead-min-length="0"
                                                   typeahead-editable="false"
                                                   typeahead-template-url="task_dropdown__tpl.html"
                                                   typeahead-input-formatter="formatTaskModel($model)"
                                                   autocomplete="off" />
                                            <span class="glyphicon glyphicon-search box-search "></span>
                                            <i ng-show="loadingTaskLocations" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noTaskResults">
                                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                                            </div> 
                                        </div> -->

                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="product_dropdown_{{$index}}"                      
                               ng-model="searchFilter.productInfo"
                               placeholder="Output Product Name"
                               uib-typeahead="product for product in getProductList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-wait-ms="500"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatProductModel($model)"
                               autocomplete="off" />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>       
                    </div> 
                    <div class="sea">
                        <select class="form-control "
                                ng-model="searchFilter.status"
                                data-ng-change="initTableFilter()"
                                name="statusdropdown"
                                >
                            <option value="">Active</option>
                            <option value="0">In-Active</option>
                        </select>
                    </div> 
                </div> 
            </form>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:60px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:100px;" rowspan="1" colspan="1" >
                                Code 
                            </th>
                            <th  style="width:280px;" rowspan="1" colspan="1" >
                                Name 
                            </th>
                            <th style="width:250px;" rowspan="1" colspan="1">
                                Output Product Name
                            </th>  
                            <!--                            <th style="width:200px;" rowspan="1" colspan="1">
                                                            For Product
                                                        </th>  -->
                            <!--                            <th style="width:100px;" rowspan="1" colspan="1">
                                                            Parent BOM Name
                                                        </th>-->
                            <th style="width:180px; text-align: right;" class="right " rowspan="1" colspan="1">
                                Unit Production Price
                            </th> 
                            <th style="width:100px;" rowspan="1" colspan="1">
                                Status
                            </th>
                            <th style="width:50px;" rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr data-ng-show="productionTaskModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="productionTaskModel.list.length == 0">
                            <td colspan="7" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="task in productionTaskModel.list">
                            <td>
                                <a data-ui-sref="app.billofmaterialEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{task.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.billofmaterialEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{task.bom_code}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.billofmaterialEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{task.name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.billofmaterialEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                    {{task.output_pdt_name}}
                                </a>
                            </td>
                            <!--                            <td>
                                                            <a data-ui-sref="app.billofmaterialEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                                                {{task.product_for_name}}
                                                            </a>
                                                        </td>-->
                            <!--                            <td>
                                                            <a data-ui-sref="app.billofmaterialEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                                                {{task.prev_bom_name}}
                                                            </a>
                                                        </td>   -->
                            <td>
                                <a data-ui-sref="app.billofmaterialEdit({id: '{{task.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%; text-align: right;">
                                    {{task.unit_production_price}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.billofmaterialEdit({id: '{{task.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                    {{task.is_active == 1 ? 'Active' : 'InActive'}}
                                </a>
                            </td>
                            <td>
                                <a  data-ui-sref="app.billofmaterialEdit({id: '{{task.id}}'})" data-ui-scroll-to="app">
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>                             
                                <!--                                <a class="chel-edit-add add-dash" data-ng-click="showPopup(task.id)">
                                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                                </a>                                -->
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="productionTaskModel.list.length == 0">
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="productionTaskModel.limit"
                                        data-ng-hide="productionTaskModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="4" class="text-right">
                                <ul uib-pagination  data-ng-hide="productionTaskModel.list.length == 0" total-items="productionTaskModel.total" ng-model="productionTaskModel.currentPage" ng-change="getinvoiceListInfo()" items-per-page="productionTaskModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup dlt-popup adva-popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>    
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteProductionTask()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>                    
</div>


