<script type="text/ng-template" id="task_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="allowance_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="productionAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Production Add</h2>
            <a ui-sref="app.production" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class=" bg-white topmargin invoice-add prodt">
            <div class="clearfix add-form form-wrapper">
                <form name="create_production_form" autocomplete="off" angular-validator-submit="createProduction()" class="col-sm-12 form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-12 right-side" style="padding-left: 0px;">                            
                            <div class="prod-add">
                                <div class="row">
                                    <div class="srch">
                                        <div class="col-sm-12">
                                            <input name="yesterday" type="text" class="bottommarginsm form-control date-in" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   data-ng-model="productionModel.date" data-ng-change="getnoProduction()" is-open="isDateOpen" placeholder='Production Date'                                                   
                                                   max-date="newdate"
                                                   show-weeks="false" 
                                                   close-text="Close"
                                                   readonly
                                                   required/>
                                            <button type="button" class="btn btn-default btn-align btn-choose" ng-click="openDate(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>

                                        </div>
                                    </div>
                                    <div class=" srch">
                                        <select ng-model="productionModel.teamId" name="teamdropdown" class="form-control date-in team"
                                                required>
                                            <option value ="">-Select Employee Team-</option>
                                            <option value="{{team.id}}" data-ng-repeat="team in productionModel.teamList">{{team.name}}</option>
                                        </select>
                                    </div>
                                    <div class=" srch">
                                        <a class="add_button search" ng-click="getEmployeeList()">Search</a>                                        
                                    </div>
                                    <div class="form-group full_w btn_group srch right" data-ng-hide="productionModel.empList.length == 0">
                                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' >Submit</button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" angular-validator-form-reset data-ng-click="formReset()">Reset</a>
                                    </div>
                                </div>
                                <div data-ng-show="productionModel.empList.length == 0">
                                    <label>Please select employee team and date</label>
                                </div>
                                <div class="row row-table" data-ng-hide="productionModel.empList.length == 0">
                                    <ul class="clearfix head-ul">

                                        <li style="width: 45px;">#</li>
                                        <li style="width: 15%;">Code</li>
                                        <li style="width: 20%;">Name</li>
                                        <li style="width: 20%;">Salary Type</li>
                                        <li style="width:17%;">Present</li>
                                        <li style="width: 20%;">Amount</li>
                                    </ul>
                                    <ul class="clearfix tab-detail" data-ng-repeat="employee in productionModel.empList">
                                        <li style="width: 45px;">
                                            {{employee.id}}
                                        </li>
                                        <li style="width: 10%;">{{employee.emp_code}}</li>
                                        <li style="width: 20%;">{{employee.f_name}}</li>
                                        <li style="width: 20%;">{{employee.salary_type}}</li>
                                        <li style="width: 17%;">
                                            <input type="checkbox"
                                                   class=" "
                                                   id="employee_is_present_{{$index}}"
                                                   name="is_present_{{$index}}"
                                                   data-ng-model="employee.is_present"
                                                   data-ng-change="changePresentStatus($index)"
                                                   />
                                            <label for="employee_is_present_{{$index}}"></label>
                                        </li>
                                        <li style="width: 20%;">
                                            <input
                                                name="amount_{{$index}}"
                                                type="text"
                                                style=" color: black; font-weight: 600;"
                                                class="form-control"
                                                data-ng-model="employee.amount"
                                                data-ng-disabled="true"                                            

                                                angular-validator-field
                                                />
                                        </li>
                                        <li style="width:90%;" class="clearfix topmarginsm" data-ng-show="employee.is_present == true" >
                                            <div class="clearfix task-box bottommarginsm">
                                                <ul class="clearfix tasks bottommarginsm" data-ng-repeat="task in employee.details">
                                                    <li class="number">{{$index + 1}}</li>
                                                    <li class="task-name" style="width: 30%;">
                                                        <!-- <label>Task Name</label><br>-->                                                        
                                                        <input type="text"
                                                               ng-model="task.taskInfo"
                                                               name="task_dropdown_{{task.empIndex}}_{{$index}}"
                                                               placeholder="Task list.."
                                                               uib-typeahead="task for task in getTaskList($viewValue)"
                                                               typeahead-loading="loadingTaskLocations"
                                                               typeahead-template-url="task_dropdown__tpl.html"
                                                               class="form-control date-in"
                                                               typeahead-editable="false"
                                                               typeahead-no-results="noTaskResults"
                                                               angular-validator-field
                                                               typeahead-input-formatter="formatTaskModel($model,$index,task.empIndex)"
                                                               typeahead-on-select="getProdTaskDetail($index,task.empIndex)"
                                                               typeahead-min-length="0"
                                                               style="width:100%;"
                                                               required
                                                               >
                                                        <span class="glyphicon glyphicon-search box-search "></span>
                                                        <i ng-show="loadingTaskLocations" class="glyphicon glyphicon-refresh"></i>
                                                        <div ng-show="noTaskResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>
                                                    </li>
                                                    <li style="width:25%;">
                                                        <!-- <label>Salary Type</label><br>-->                                                        
                                                        <select ng-model="task.type"  class="form-control date-in" data-ng-change="updateEmployeeSalary(task.empIndex)" >
                                                            <option value="">--Select--</option>
                                                            <option value="attendance">Attendance Based</option>
                                                            <option value="piece">Piece Based</option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <!--<label>Duration</label><br>-->                                                       
                                                        <select ng-model="task.duration"  class="form-control date-in" data-ng-show="task.type == 'attendance'" data-ng-change="updateEmployeeSalary(task.empIndex)" >                                                        
                                                            <option value="0.5">Half day</option>
                                                            <option value="1">Full Day</option>
                                                        </select>
                                                    </li>
                                                    <li class="amt production-name">
                                                        <!--<label>Amount</label><br>-->                                                        
                                                        <div data-ng-show="employee.salary_type == 'piece'"><input
                                                                name="task_amount_{{$index}}"
                                                                type="text"
                                                                class="form-control date-in1 right amt-txt"
                                                                data-ng-model="task.task_amount"
                                                                placeholder="Task Amount"
                                                                angular-validator-field
                                                                data-ng-readonly="true"
                                                                /></div>
                                                        <label class="production-label">{{task.product_for_name}}</label>
                                                        <a class="chel-edit-add add-dash f-right edit-img production-dlt" data-ng-click="deleteTask(task.empIndex, $index)">
                                                            <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                        </a>
                                                    </li>
                                                    <li>

                                                    </li>
                                                    <div class="clearfix row prod clear_b" data-ng-show="task.id != undefined && task.id != '' && task.id != null">
                                                        <div class="col-sm-6 clearfix l-pad">
                                                            <label class="black"><strong>Consumed Products:</strong></label>
                                                            <div class="row align-vt" data-ng-repeat="product in task.input">
                                                                <div class="col-sm-1">
                                                                    <label>{{$index + 1}}</label>
                                                                </div>
                                                                <div class="col-sm-5 ">
                                                                    <label>{{product.input_pdt_name}}</label>
                                                                </div>
                                                                <div class="col-sm-4 f-right">                                                                    
                                                                    <input
                                                                        name="consumed_qty_{{task.empIndex}}_{{product.taskIndex}}_{{$index}}"
                                                                        type="text"
                                                                        class="form-control date-in1 right"
                                                                        data-ng-model="productionModel.empList[task.empIndex].details[product.taskIndex].input[$index].input_qty"
                                                                        placeholder="Consumed Quantity"
                                                                        validator = "validationFactory.isNumber(productionModel.empList[task.empIndex].details[product.taskIndex].input[$index].input_qty) == true"
                                                                        angular-validator-field
                                                                        />
                                                                </div>
                                                                <div class="col-sm-2 ">
                                                                    <label>{{product.input_pdt_uom}}</label>
                                                                </div>
                                                            </div>                                                            
                                                        </div>
                                                        <div class="col-sm-5 clearfix l-pad">
                                                            <label class="black"><b>Produced Products:</b></label>
                                                            <div class="row clearfix align-vt">                                                                
                                                                <div class="col-sm-5">
                                                                    <label>{{task.output_pdt_name}}</label>
                                                                </div>                                                                
                                                                <div class="col-sm-3">                                                                    
                                                                    <input
                                                                        name="unit_production_price_{{task.empIndex}}_{{$index}}"
                                                                        type="text"
                                                                        class="form-control date-in1 right"
                                                                        data-ng-model="productionModel.empList[task.empIndex].details[$index].production_unit_price"
                                                                        data-ng-disabled="true"
                                                                        placeholder="Unit Production Price"
                                                                        angular-validator-field
                                                                        required
                                                                        />
                                                                </div>
                                                                <div class="col-sm-3">                                                                    
                                                                    <input
                                                                        name="produced_value_{{task.empIndex}}_{{$index}}"
                                                                        type="text"
                                                                        class="form-control date-in1 right"
                                                                        data-ng-model="productionModel.empList[task.empIndex].details[$index].production_qty"                                                                           
                                                                        placeholder="Qty"
                                                                        validator = "validationFactory.isNumber(productionModel.empList[task.empIndex].details[$index].production_qty) == true"
                                                                        angular-validator-field
                                                                        data-ng-change="updateInputQty(task.empIndex, $index); updateEmployeeSalary(task.empIndex)"
                                                                        />
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <label>{{task.output_pdt_uom}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </ul>                                       
                                                <ul class="col-sm-12 topmarginsm">
                                                    <li style="float:none;text-align: center;">
                                                        <!-- Plus Math icon by Icons8 -->                                                       
                                                        <img class="icon icons8-Plus-Math" width="22" height="22" data-ng-click="addNewTask($index)" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAd0lEQVRIS2NkoBNgpJM9DIPWogvAENCHhgKIbUhsiJDqo/9oBhOtn2iFUAtGLYKH9GjQUS0xIOcTYrMILnUo+Qw9jtBdTKllcPMHzCJqBt1FYHAYwIJkNHlTLXkTSmWjFg3+QhU5n6HkE0KRS2o+ImQeTvnhZxEADggYGw6bArcAAAAASUVORK5CYII=">
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix task-box bottommarginsm">
                                                <label class="black bottommarginsm"><strong>Variable allowance:</strong></label>
                                                <label class="black bottommarginsm right f-right"><strong>{{employee.allowance_amount}}</strong></label>
                                                <!--                                                <input
                                                                                                    name="allowance_amount_{{$index}}"
                                                                                                    type="text"
                                                                                                    class="form-control date-in1 right amt-txt"
                                                                                                    data-ng-model="employee.allowance_amount"
                                                                                                    placeholder="Allowance Amount"
                                                                                                    angular-validator-field
                                                                                                    data-ng-readonly="true"
                                                                                                    />-->
                                                <div class="row topmarginsm">
                                                    <div class="">
                                                        <ul class=" allowans f-left" data-ng-repeat="allowanceItem in employee.allowance" style="width: 50%;">
                                                            <li class="number col-sm-1" style="width: 6%;margin-right: 10px;">{{$index + 1}}</li>
                                                            <li class="task-name col-sm-5" style="width: 45%;">                                                                                            
                                                                <input type="text"
                                                                       ng-model="allowanceItem.allowanceInfo"
                                                                       name="allowance_dropdown_{{employee.index}}_{{$index}}"
                                                                       placeholder="Allowance list.."
                                                                       uib-typeahead="allowance for allowance in getAllowanceList($viewValue)"
                                                                       typeahead-loading="loadingLocations"
                                                                       typeahead-template-url="allowance_dropdown__tpl.html"
                                                                       class="form-control date-in"
                                                                       typeahead-editable="false"
                                                                       typeahead-no-results="noResults"

                                                                       typeahead-input-formatter="formatAllowanceModel($model,$index,employee.index)"

                                                                       typeahead-min-length="0"
                                                                       style="width:100%;"                                                               
                                                                       >
                                                                <ul class="" data-ng-show="noResults">
                                                                    <li>
                                                                        --Not Found--
                                                                    </li>
                                                                </ul>
                                                                <span class="glyphicon glyphicon-search box-search "></span>
                                                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                                <div ng-show="noResults">
                                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                </div>
                                                            </li>
                                                            <li class="amt col-sm-4" style="width: 30%;">                                                                            
                                                                <input
                                                                    name="allowance_amount_{{$index}}"
                                                                    type="text"
                                                                    class="form-control date-in1 right amt-txt"
                                                                    data-ng-model="allowanceItem.amount"
                                                                    data-ng-change="updateEmployeeSalary(employee.index)"
                                                                    placeholder="Allowance Amount"
                                                                    validator = "validationFactory.hasRequired(allowanceItem.amount) == false || validationFactory.isNumber(allowanceItem.amount) == true"
                                                                    angular-validator-field                                                            
                                                                    />                                                        
                                                            </li>
                                                            <li class="col-sm-2" style="width: 1%;">
                                                                <a class="chel-edit-add add-dash f-right edit-img" data-ng-click="deleteAllowance(employee.index, $index)">
                                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <ul class="col-sm-12 topmarginsm">
                                                            <li style="float:none;text-align: center;">
                                                                <!-- Plus Math icon by Icons8 -->                                                       
                                                                <img class="icon icons8-Plus-Math" width="22" height="22" data-ng-click="addNewAllowance(employee.index)" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAd0lEQVRIS2NkoBNgpJM9DIPWogvAENCHhgKIbUhsiJDqo/9oBhOtn2iFUAtGLYKH9GjQUS0xIOcTYrMILnUo+Qw9jtBdTKllcPMHzCJqBt1FYHAYwIJkNHlTLXkTSmWjFg3+QhU5n6HkE0KRS2o+ImQeTvnhZxEADggYGw6bArcAAAAASUVORK5CYII=">
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>               
            </div>
        </div>
    </div>

</div>
