<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body req-stock " id="purchase_quoteedit_product_container" data-ng-controller="purchaseQuoteEditCtrl">
    <form name="order_edit_form"  angular-validator-submit="updateOrder(forceSave)" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
                <p class="loader-icon">
                <center><img alt="loader" src="../img/loading.gif" /></center>
                </p>
            </div>
            <div class="panel-heading clearfix ">
                <h2>Purchase Order Edit</h2>
                <div class=" right action-links ">
                    <!--                    <a href="javascript:void(0)" class=" ">
                                            Preview
                                        </a>-->
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' >Save
                    </button>
                    <a ui-sref="app.purchaseQuote" ui-scroll-to="app" href="#/purchase-quote">
                        Back to List
                    </a>
                </div>
            </div>
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-4 ">
                                <strong class="bottommarginxs ">BILL FROM</strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="orderListModel.customerInfo"
                                       placeholder="Vendor Details..."
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingVendorLocations"
                                       typeahead-no-results="noVendorResults"
                                       typeahead-min-length="0"
                                       typeahead-editable="true"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       required
                                       />
                                 <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingVendorLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noVendorResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                <br/>
                                <textarea class="form-control"
                                          name = "Address"
                                          ng-model = "orderListModel.customerInfo.shopping_address"
                                          placeholder="Contact Details ... "
                                          ></textarea>
                                <br/>
                            </div>
                            <div class=" col-sm-3 ">&nbsp;</div>
                            <div class=" col-sm-5 right form ">
                                <ul class="invoice-date-info ">
                                    <li class="bottommarginsm ">
                                        <span class="tit "> Prefix </span>
                                        <span class="tit-desc ">
                                            <input type="text"
                                                   class="form-control "
                                                   ng-model = "orderListModel.invoicePrefix"
                                                   name="invoice_prefix"
                                                   placeholder="Purchase Order Prefix"
                                                   value="10"
                                                   />
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit "> Date </span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                                   ng-model="orderListModel.billdate" readonly is-open="startDateOpen"
                                                   min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close"  />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit ">Valid Until</span>
                                        <span class="tit-desc ">
                                            <input name="duedate" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                                   ng-model="orderListModel.duedate" readonly is-open="dueDateOpen"
                                                   min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close"  
                                                   />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm   ship-date clearfix ">
                                        <span class="tit ">Tax </span>
                                        <span class="tit-desc ">
                                            <select name="taxDropDown"
                                                    type = "text"
                                                    ng-model="orderListModel.tax_id"
                                                    class="form-control"
                                                    ng-change="updateInvoiceTotal(); calculateTaxAmt()">
                                                <option value="">-None-</option>
                                                <option value="{{tax.id}}" data-ng-repeat="tax in orderListModel.taxInfo">{{tax.tax_name}}{{tax.is_group == 1 ? '(' + 'Group' + ')' : ''}}-{{tax.tax_percentage}}%</option>
                                            </select>
                                        </span>
                                    </li>
                                    <li class="ship-date clearfix ">
                                        <span class="tit ">Discount Mode </span>
                                        <span class="tit-desc ">
                                            <select ng-model="orderListModel.discountMode" ng-change="updateInvoiceTotal()" class="form-control">
                                                <option value="%">%</option>
                                                <option value="amount">Amount</option>
                                            </select>
                                        </span>
                                    </li>
                                    <li class="ship-date clearfix ">
                                        <span class="tit ">Discount Amount </span>
                                        <span class="tit-desc ">
                                            <input type="text" size="20"
                                                   class="form-control"
                                                   name = "discountPercentage"
                                                   ng-model = "orderListModel.discountPercentage"
                                                   ng-change="updateInvoiceTotal()"
                                                   validator = "validationFactory.isPositiveNumber(orderListModel.discountPercentage) === true"
                                                   />
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>

                            <div class="col-sm-12  ">
                                <div class="product-add topmargin  ">

                                    <ul class="ul-list-wrapper ul-table-head clearfix ">
                                        <li class="num ">
                                            #
                                        </li>
                                        <li class="name ">
                                            Name
                                        </li>
                                        <!--                                        <li class="sku left ">
                                                                                    SKU
                                                                                </li>-->
                                        <li class="right uom " data-ng-hide="!appConfig.purchase_uom">
                                            {{appConfig.purchase_uom_label}} 
                                        </li>
                                        <li class="right qty ">
                                            Qty
                                        </li>
                                        <li class="right price ">
                                            Price
                                        </li>
                                        <li class="right f-right action ">
                                            &nbsp;
                                        </li>
                                        <li class="right f-right row-total ">
                                            Row Total
                                        </li>
                                    </ul>
                                    <div class="invoice-prod-list table-responsive ">
                                        <ul class="ul-list-wrapper ul-table-details clearfix " data-ng-repeat="order in orderListModel.list">
                                            <li class="num center ">
                                                {{$index + 1}}
                                            </li>
                                            <li class="name ">
                                                <input type="text"
                                                       ng-model="order.productname"
                                                       placeholder="Product list.."
                                                       uib-typeahead="itemList  as itemList.name for itemList in orderListModel.productList | filter:{name:$viewValue}"
                                                       typeahead-loading="loadingProductLocations"
                                                       typeahead-template-url="product_dropdown__tpl.html"
                                                       class="form-control"
                                                       typeahead-editable="true"
                                                       typeahead-no-results="noProductResults"
                                                       typeahead-show-hint="true"
                                                       typeahead-input-formatter="formatProductModel($model,$index)"
                                                       typeahead-min-length="0"
                                                       ng-blur="initValidateProductDataAndAddNew($index)">
                                                        <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
<!--                                                        <div ng-show="noProductResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>-->
                                            </li>
                                            <!--                                            <li class="sku ">
                                                                                            <input
                                                                                                name="sku_{{$index}}"
                                                                                                type="text"
                                                                                                class="form-control qty left "
                                                                                                data-ng-model="orderListModel.list[$index].sku"
                                                                                                placeholder="sku"
                                                                                                angular-validator-field
                                                                                                />
                                                                                        </li>-->
                                            <li class="uom right " data-ng-hide="!appConfig.purchase_uom">
                                                <input type="text"
                                                       class="form-control"
                                                       name="uom_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].uomInfo"
                                                       placeholder="Uom Details..."
                                                       uib-typeahead="uom for uom in getUomList($viewValue)"
                                                       typeahead-loading="loadingLocations"
                                                       typeahead-no-results="noResults"
                                                       typeahead-min-length="0"
                                                       typeahead-editable="true"
                                                       typeahead-template-url="uom_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatUomModel($model)"
                                                       autocomplete="off"   angular-validator-field
                                                       />
                                                 <span class="glyphicon glyphicon-search box-search "></span>
                                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                        <div ng-show="noResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>
                                            </li>
                                            <li  class="qty right ">
                                                <input
                                                    name="qty_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right in-add"
                                                    data-ng-model="orderListModel.list[$index].qty"
                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].qty)"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    placeholder="qty"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li class="price right ">
                                                <input
                                                    name="sales_price_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right in-add1"
                                                    data-ng-model="order.sales_price"
                                                    validator = "validationFactory.isNumber($parent.orderListModel.list[$index].sales_price)"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    placeholder="Price"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li class="action f-right right ">
                                                <a href="javascript:void(0)" data-ng-if="$index != (orderListModel.list.length - 1)" data-ng-click="deleteProduct($parent.orderListModel.list[$index].id)" ui-toggle-class="" style="padding: 0;">
                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                </a>
                                            </li>
                                            <li class="row-total  f-right right ">
                                                <input
                                                    name="rowtotal"
                                                    type="text"
                                                    class="form-control qty right in-row-total"
                                                    data-ng-model=order.rowtotal
                                                    data-ng-change="updateInvoiceTotal()"
                                                    data-ng-disabled="true"
                                                    />
                                            </li>
                                            <li class="ul-table-inner-wrapper clearfix ">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="ul-table-inner clearfix  ">
                                                    <li class="" data-ng-show="appConfig.purchase_invoice_item_custom1 == true">
                                                        {{appConfig.purchase_invoice_item_custom1_label}}
                                                        <input
                                                            name="purchase_invoice_item_custom1_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt1"
                                                            placeholder="Type Value"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.purchase_invoice_item_custom2 == true">
                                                        {{(appConfig.purchase_invoice_item_custom2_label)}}
                                                        <input
                                                            name="purchase_invoice_item_custom2_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt2"
                                                            placeholder="Type Value"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.purchase_invoice_item_custom3 == true">
                                                        {{(appConfig.purchase_invoice_item_custom3_label)}}
                                                        <input
                                                            name="purchase_invoice_item_custom3_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt3"
                                                            placeholder="Type Value"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.purchase_invoice_item_custom4 == true">
                                                        {{appConfig.purchase_invoice_item_custom4_label}}
                                                        <input
                                                            name="purchase_invoice_item_custom4_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt4"
                                                            placeholder="Type Value"
                                                            angular-validator-field
                                                            /></br></li>
                                                    <li data-ng-show="appConfig.purchase_invoice_item_custom5 == true">
                                                        {{appConfig.purchase_invoice_item_custom5_label}}
                                                        <input
                                                            name="purchase_invoice_item_custom5_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt5"
                                                            placeholder="Type Value"
                                                            angular-validator-field
                                                            />
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <a class="add-more-prod panel panel-default glyphicon glyphicon-plus " href="javascript:void(0)" data-ng-click="addNewProduct()"></a>
                                        </ul>
                                        <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">

                                            <tfoot>
                                                <tr>
                                                    <td class="right " colspan="6"><br>
                                                        <strong>Sub Total:</strong>
                                                    </td>
                                                    <td class="right " colspan="1"><br>
                                                        <strong>{{currencyFormat}}.{{orderListModel.subtotal}}</strong>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6">
                                                        Discount:
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.discountAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6">
                                                        Tax:
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.taxAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td class="right " colspan="6">
                                                        Round off:
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.roundoff}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6"><br/>
                                                        <strong>Grand Total({{currencyFormat}}):</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1"><br/>
                                                        <strong>{{currencyFormat}}.{{round}}</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
                                <div class="model_popup" ng-if="showpopup" >
                                    <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

