<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="purchaseAdvancePayRecepiptCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Purchase Payment</h2>
            <custom-add redirect="app.purchaseAdvancePayReceiptAdd" screencode="purchaseAdvPayReceipt"></custom-add>
            <!--<a data-ui-sref="app.purchaseAdvancePayReceiptAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>        
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="advancepayment_list" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm clearfix ">                    
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown_{{$index}}"                      
                               ng-model="searchFilter.customerInfo"
                               placeholder="Customer Name"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off" />
                         <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                             <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>                    
                    </div>                                               
<!--                    <div class="sea">
                        <select class="form-control "
                                ng-model="searchFilter.status"
                                data-ng-change="initTableFilter()"
                                name="statusdropdown"
                                >
                            <option value="">All Status</option>
                            <option value= "used">Used</option>
                            <option value= "available">Available</option>                            
                        </select>
                    </div>-->
                     <div class="sea ">
                        <input name="from_date" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.from_date" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"
                               data-ng-change="initTableFilter()"
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.from_date,searchFilter.to_date)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="to_date" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.to_date" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                               data-ng-change="initTableFilter()"
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.to_date,searchFilter.from_date)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                </div> 
                </div> 
            </form>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:110px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:280px;" rowspan="1" colspan="1" >
                                Customer 
                            </th>                                                                
                            <th style="width:180px; text-align: right;" class="right " rowspan="1" colspan="1">
                               Total Amount
                            </th>  
                            <th style="width:180px; text-align: right;" class="right " rowspan="1" colspan="1">
                               Balance Amount
                            </th> 
                            <th style="width:150px;" rowspan="1" colspan="1">
                               date
                            </th>
                            <th style="width:120px;" rowspan="1" colspan="1">
                               Voucher Type
                            </th>     
                            <th style="width:100px;" rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr data-ng-show="advancePaymentModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="advancePaymentModel.list.length == 0">
                            <td colspan="7" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="advance in advancePaymentModel.list">
                            <td>
                                <a ng-if="advance.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{advance.ref_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.id}}
                                </a>
                                <a ng-if="advance.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.id}}
                                </a>
                            </td>
                            <td>
                                <a ng-if="advance.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{advance.ref_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.fname}}
                                </a>
                                <a ng-if="advance.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.fname}}
                                </a>
                            </td>                                                                                                                                           
                            <td class="right">
                                <a ng-if="advance.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{advance.ref_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.amount}}
                                </a>
                                <a ng-if="advance.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{advance.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%; text-align: right;">
                                    {{advance.amount}}
                                </a>
                            </td>
                            <td class="right">
                                <a ng-if="advance.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{advance.ref_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.balance_amount}}
                                </a>
                                <a ng-if="advance.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{advance.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%; text-align: right;">
                                    {{advance.balance_amount}}
                                </a>
                            </td>
                            <td>
                                <a ng-if="advance.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{advance.ref_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.date}}
                                </a>
                                <a ng-if="advance.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.date}}
                                </a>
                            </td> 
                            <td>
                                <a ng-if="advance.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{advance.ref_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                   <!--{{advance.voucher_type}}-->
                                   Invoice payment
                                </a>
                                <a ng-if="advance.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
<!--                                    <span class="paid color-green,parsleypaid color-blue,unpaid color-red">{{advance.status}}</span>                                    -->
                                     <!--{{advance.voucher_type}}-->
                                     Advance Payment
                                </a>
                            </td>                                                                     
                            <td style="width: 128px;">
                                <a ng-if="advance.voucher_type=='direct_purchase_payment'" data-ui-sref="app.purchaseInvoiceView({id: '{{advance.ref_id}}'})" ui-scroll-to="app" >
                                    <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </a> 
                                <a ng-if="advance.voucher_type=='advance_purchase'" data-ui-sref="app.purchaseAdvancePayReceiptView({id: '{{advance.id}}'})" ui-scroll-to="app" >
                                    <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </a>                                
<!--                                <a class="chel-edit-add add-dash" data-ng-click="showPopup(advance.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>  -->
                                <a href="{{APP_CONST.ADVANCE_PAYMENT_RECEIPT}}?adv_purchase_payment_no={{advance.id}}" target="_blank">
                                        <img class="icon icons8-Print" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAqElEQVQ4T82TWw2DQBBFD06oAuqg1AGSkICESsAB1AEoaJ1ALtkhQNnlkX4wyXztnbPzjJjbF5CHLAbkg0ULZQ7IQzbTXAOQAYnLOQXqjRKmmlYlNMB9I8j33AigH0U9YgXwAoqzAGWscZdnAZZtvQSonD1NtJJ/AEcXaRUQaqq92baOgGqy2j6Auq7GKbhz+ufaKgvw8Mz07UY+3svfb0Epfnac8800PaphLXHzj//KAAAAAElFTkSuQmCC" width="16" height="16">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="advancePaymentModel.list.length == 0">
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="advancePaymentModel.limit"
                                        data-ng-hide="advancePaymentModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="4" class="text-right">
                    <ul uib-pagination  data-ng-hide="advancePaymentModel.list.length == 0" total-items="advancePaymentModel.total" ng-model="advancePaymentModel.currentPage" ng-change="getList()" items-per-page="advancePaymentModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        </div>
        <div class="model_overlay" ng-if="showdeletePopup" ></div>
        <div class="model_popup add_review_popup dlt-popup adva-popup" ng-if="showdeletePopup" >
            <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2>Do you want to delete?</h2>    
            <br>
            <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteAdvancePaymentItem()">OK</button>
                <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
        </div>                    
</div>


