<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="purchaseQuoteViewCtrl" >
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Purchase Order View</h2>           
            <div class=" right action-links hide-print" >
                <!--<button id="cmd">generate PDF</button>-->
                <!--                <a href="javascript:void(0)" class=" " data-ng-click="exportAsPDF()">
                                    Export As PDF
                                </a>-->
                <a ng-if="screenAccessDetail.purchaseinvoice.is_create == true" ui-sref="app.purchaseInvoiceAdd({id: '{{stateParamData}}'})" ui-scroll-to="app" href="#/quote" data-ng-hide="orderListModel.invoiceDetail.status.toLowerCase() == 'invoiced'">
                    Create Invoice
                </a>    
                <a href="{{APP_CONST.ORDER_PRINT}}?purchase_order_no={{orderListModel.invoiceDetail.id}}" target="_blank" class="btn btn-sm btn-primary btn_grn">
                    Print
                </a>                                 
                <a data-ui-sref="app.purchaseQuoteEdit({id: '{{stateParamData}}'})" ui-scroll-to="app" class="btn btn-sm btn-primary btn_orng" >
                    Edit
                </a>
                <a ui-sref="app.purchaseQuote" ui-scroll-to="app" href="#/purchase-quote">
                    Back to List
                </a>
            </div>
        </div>
        <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
                <img alt="loader" src="../img/loading.gif" />
            </p>
        </div>
    </div>

    <div class="animated fadeInUp  clearfix ">
        <div class="container invoice-wrapper clearfix ">
            <div class="row clearfix ">
                <div class="col-sm-8 print-invoice-view  ">
                    <div class="invoice-view invoice-view1 ">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="invoice-top-head   clearfix ">
                                    <div class="row flex clearfix ">

                                        <div class="col-sm-5 invoice-top-head-title wrapper-md">
                                            <img ng-src="../img/logo/{{appDomain}}.png" />
                                            <h2>Order : {{(orderListModel.invoiceDetail.prefix != '' ? orderListModel.invoiceDetail.prefix+'-' :'' )}}{{orderListModel.invoiceDetail.id}}</h2>
                                        </div>
                                        <div class="col-sm-3 margtopf" ng-bind-html="appConfig.pay_to_address | trustedhtml">
                                        </div>

                                        <div class="col-sm-4 due-amnt ">
                                            Amount Due ({{currencyFormat}})
                                            <span><span class="rupee ">{{currencyFormat}}.</span>{{orderListModel.new_balance_amount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row  ">
                            <div class="invoice-top-info clearfix ">
                                <div class="col-sm-7  ">
                                    <div class=" wrapper-md ">
                                        <!--                                        <div ng-bind-html="appConfig.pay_to_address | trustedhtml">
                                                                                </div></br>-->
                                        <div ng-bind-html="appConfig.bank_detail | trustedhtml">
                                        </div>
                                        <p class="uppercase "><b>Bill From</b></p>
                                        <p>
                                            <strong>{{orderListModel.customerInfo.fname}}</strong>
                                        </p>
                                        <br/>
                                        <p>
                                            {{orderListModel.customerInfo.phone}}  
                                        </p>
                                        <p>
                                            {{orderListModel.customerInfo.email}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class=" wrapper-md ">
                                        <p>
                                            <strong>Order No: </strong>{{(orderListModel.invoiceDetail.prefix != '' ? orderListModel.invoiceDetail.prefix+'-' :'' )}}{{orderListModel.invoiceDetail.id}}
                                        </p>
                                        <p>
                                            <strong>Order Date: </strong>{{orderListModel.billdate|date:appConfig.date_format}}  
                                            <!--Feb 5, 2017-->
                                        </p>
                                        <p>
                                            <strong>Payment Due: </strong>{{orderListModel.duedate|date:appConfig.date_format}}
                                            <!--Feb 5, 2017-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="invoice-prod-list table-responsive ">
                            <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 70px;"  >
                                            #
                                        </th>
                                        <th class="left" style="width: 300px;">
                                            Name
                                        </th>
                                        <th class="right " style="width: 100px;" data-ng-hide="!appConfig.purchase_uom">
                                            {{appConfig.purchase_uom_label}}
                                        </th>
                                        <th class="right " style="width: 70px;">
                                            Qty
                                        </th>
                                        <th class="right " style="width: 150px;">
                                            Price
                                        </th>
                                        <th class="right " style="width: 150px;">
                                            Row Total
                                        </th>
                                    </tr>
                                <tbody>                                                            
                                    <tr data-ng-repeat="order in orderListModel.list">
                                        <td class="center ">
                                            {{$index + 1}}
                                        </td>
                                        <td  class="left " >
                                            {{order.productName}}
                                            <ul>
                                                <li>
                                                    {{order.purchase_invoice_item_custom1_label_name}} {{order.purchase_invoice_item_custom1_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom2_label_name}} {{order.purchase_invoice_item_custom2_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom3_label_name}} {{order.purchase_invoice_item_custom3_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom4_label_name}} {{order.purchase_invoice_item_custom4_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom5_label_name}} {{order.purchase_invoice_item_custom5_label_value}}
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="right " data-ng-hide="!appConfig.purchase_uom">
                                            {{order.uom}}
                                        </td>
                                        <td class="right" >
                                            {{order.qty}}
                                        </td>
                                        <td class="right " >
                                            {{order.sales_price}}
                                        </td>
                                        <td class="right " >
                                            {{order.rowtotal}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" ><br/>
                                            Sub Total:
                                        </td>
                                        <td class="right " colspan="1" ><br/>
                                            {{currencyFormat}}.{{orderListModel.subtotal}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" ><br/>
                                            Discount:
                                        </td>
                                        <td class="right " colspan="1" ><br/>
                                            {{currencyFormat}}.{{orderListModel.discountAmt}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" ><br/>
                                            Tax:
                                        </td>
                                        <td class="right " colspan="1" ><br/>
                                            {{currencyFormat}}.{{orderListModel.taxAmt}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}">
                                            Round off:
                                        </td>
                                        <td class="right " colspan="1">
                                            {{currencyFormat}}.{{orderListModel.roundoff}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" ><br/>
                                            <strong>Grand Total:</strong>
                                        </td>
                                        <td class="right " colspan="1" ><br/>
                                            <strong>{{currencyFormat}}.{{orderListModel.total}}</strong>
                                        </td>
                                    </tr>                                                               
                                    <tr data-ng-repeat="order in orderListModel.paymentList">
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" >
                                            Payment on {{order.newdate}} using {{order.payment_mode}} :
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{order.amount}}
                                        </td>                                    
                                    </tr>   
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" >
                                            <strong>Paid Amount ({{currencyFormat}}):</strong>
                                        </td>
                                        <td class="right " colspan="1" >
                                            <strong>{{currencyFormat}}.{{orderListModel.advance_amount}}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" >
                                            <strong>Balance Due Amount ({{currencyFormat}}):</strong>
                                        </td>
                                        <td class="right " colspan="1" >
                                            <strong>{{currencyFormat}}.{{orderListModel.new_balance_amount}}</strong>
                                        </td>
                                    </tr>                                
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-sm-5 uppercase invoice-status "  >
                            {{orderListModel.invoiceDetail.status}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 invoice-info ">
                    <div class="created-date sep clearfix  " >
                        <h2 class="hdata" style="color: #797979;">Timeline</h2>
                        <strong>Created on:  </strong> {{orderListModel.billdate|date:appConfig.date_format}}&nbsp;{{orderListModel.billdatehr|  date:"hh:mm:ss a" }}</br>
                        <!--                    </div>
                                            <div class="send-invoice sep clearfix " >
                                                <h2>Send Invoice</h2>-->
                        <strong>Last Sent on: </strong> {{orderListModel.billdate|date:appConfig.date_format}}&nbsp;{{orderListModel.billdatehr|  date:"hh:mm:ss a" }}                 
                        <!--                    <a href="javascript:void(0)" data-ng-click="showSendInvPopup( )" class="btn " >Resend Invoice ...</a>-->
                    </div>
                    <div class="payment-details sep clearfix " >
                        <h2 class="hdata" style="color: #797979;">Payment Status</h2>
                        <!--                        <strong>Status: </strong>                    -->
                        <div class=" " ng-if= "orderListModel.status" > Paid </div>
                        <div class=" " ng-if= "!orderListModel.status" > Your invoice is awaiting payment. </div>                    
                        <br/>
                        <strong>Paid Amount: </strong> {{orderListModel.paid_amount}} <br/>
                        <!--                    <a href="javascript:void(0)" >Send Remainder ...</a>-->
                        <div class="rec-payment " data-ng-hide="orderListModel.invoiceDetail.status.toLowerCase() == 'invoiced'">
                            <a href="javascript:void(0)" data-ng-click="showPaymentPopup()" class="btn " >Make Payment</a>
                        </div>
                        <div class="payment-list clearfix ">
                            <strong>Payable:</strong>
                            <ul data-ng-repeat="order in orderListModel.paymentList">
                                <li>
                                    {{order.newdate}} - A payment for <strong>{{currencyFormat}}.{{order.amount}}</strong> was made by {{order.payment_mode}}.<br/>
                                    <!--                                <a href="javascript:void(0)" data-ng-click="showPopup(order.id)">Send a Receipt</a> -                                                                
                                                                    <a href="javascript:void(0)"data-ng-click="showPaymentPopup(order.id)">Edit</a> --->
                                    <a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)" data-ng-show="order.purchase_invoice_id == 0" data-ng-hide="orderListModel.invoiceDetail.status.toLowerCase() == 'invoiced'">Remove Payment</a>                                
                                    <!--<a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a>-->                                
                                    <!--                                <div class="rec-payment ">
                                                                        <a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a>                                                                    
                                                                    </div>                                -->
                                </li>                            
                            </ul>                               
                            <!--                        <ul>
                                <li>
                                                            February 20, 2017 - A payment for <strong>?10.00</strong> ?was made using a bank transfer.<br/>
                                    <a href="">Send a Receipt</a> -
                                    <a href="">Edit</a> -
                                    <a href="">Remove Payment</a>
                                </li>
                                <li>
                                                            February 20, 2017 - A payment for <strong>?10.00</strong> ?was made using a bank transfer.<br/>
                                    <a href="">Send a Receipt</a> -
                                    <a href="">Edit</a> -
                                    <a href="">Remove Payment</a>
                                </li>
                                <li>
                                                            February 20, 2017 - A payment for <strong>?10.00</strong> ?was made using a bank transfer.<br/>
                                    <a href="">Send a Receipt</a> -
                                    <a href="">Edit</a> -
                                    <a href="">Remove Pay   ment</a>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
        <div class="model_popup" ng-if="showpopup" >        
            <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
            </div>
        </div>        

        <div class="model_overlay" ng-if="showSendInvoicePopup" ng-click="closePopup()" ></div>
        <div class="model_popup" ng-if="showSendInvoicePopup" >        
            <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
            </div>
        </div>            

        <div class="model_overlay" ng-if="paymentRemovePopup" ></div>
        <div class="model_popup add_review_popup" ng-if="paymentRemovePopup">
            <form name="remove_payment_form" angular-validator-submit="removePayment()" class="form-horizontal clearfix " novalidate angular-validator >
                <a href="javascript:void(0)" ng-click="closeRemovePaymentPopup()" class="glyphicon glyphicon-remove close " ></a>
                <h2>Remove Invoice Payment</h2>
                <div class="form-group">
                    <p> Payment for Rs. {{removePaymentAmount}} using a bank transfers. <br/><br/>         
                        Are you sure you want to remove this invoice payment?                
                    </p>
                </div>                                 
                <li>
                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataDeletingProcess"  data-ng-class='{
                                "btn-loader":isDataDeletingProcess}' >Remove</button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closeRemovePaymentPopup()">Cancel</a>
                    </div>
                </li>
            </form>
        </div>
    </div>
    <div class="model_overlay" ng-if="showPayPopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showPayPopup">
        <form name="save_payment_form" angular-validator-submit="savePayment()" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closePaymentPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2>Advance Payment</h2>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Customer Name : </label>
                    <input  type = "text"
                            class=""
                            ng-disabled="true"
                            name = "account"
                            ng-model = "paymentAddModel.account"
                            placeholder="account"
                            disabled
                            />
                </div>                  
                <div class="col-sm-6 form-group">
                    <label>Payment Date*</label>
                    <input name="invoicedate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                           ng-model="paymentAddModel.invoicedate" readonly is-open="$parent.invoiceDateOpen"  
                           show-weeks="false" datepicker-options="dateOptions"
                           close-text="Close" required/>
                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(2)" >
                        <i class="glyphicon glyphicon-calendar"></i>                
                    </button>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Enter the Amount*</label>
                    <input  type = "text"
                            class="form-control"
                            name = "Amount"
                            ng-model = "paymentAddModel.amount"
                            placeholder="Amount"
                            validator = "validationFactory.isNumber(paymentAddModel.amount) === true && (paymentAddModel.amount>0?true:false)"
                            maxlength="20"
                            required/>
                </div>                    
                <div class="col-sm-6 form-group">
                    <label>Payment Terms*</label>
                    <select  name="paymentdefault" ng-model="paymentAddModel.payment_mode" class="form-control" required>
                        <option value="">-Select-</option>
                        <option value="{{paymentterms.name}}" data-ng-repeat="paymentterms in paymentAddModel.paymentlist">{{paymentterms.name}}</option>
                    </select>
                </div>    
                <div class="col-sm-6 form-group">
                    <label>Category</label>
                    <select name="category" ng-model="paymentAddModel.category"  class="form-control">
                        <option value="">Select Category </option>
                        <option value={{category.name}} data-ng-repeat="category in paymentAddModel.categoryList">{{category.name}}</option>
                    </select>
                </div> 
                <div class="col-sm-6 form-group">
                    <label>Accounts*</label>
                    <select name="accounts" ng-model="paymentAddModel.accouts"  class="form-control" required>
                        <option value="">Select Accounts </option>
                        <option value={{accouts.id}} data-ng-repeat="accouts in paymentAddModel.accountsList">{{accouts.account}}</option>
                    </select>
                </div> 
                <div class="col-sm-6 form-group">
                    <label>Comments</label>
                    <textarea rows="4" cols="50"
                              class="form-control"
                              name = "comments"
                              ng-model = "paymentAddModel.comments"
                              placeholder="Comments"
                              ></textarea>  
                </div> 
                <div class="col-sm-6 form-group" data-ng-show="paymentAddModel.payment_mode.toLowerCase() == 'cheque'" >  
                    <label>Cheque No</label>                                       
                    <input type="text"
                           name = "chequeNo"
                           class="form-control"
                           placeholder="cheque no"
                           ng-model = "paymentAddModel.cheque_no"
                           validator = "validationChequeNo( )"
                           />
                </div>

            </div>
            <div class="row" style="margin-top: 20px;">


                <div class="form-group full_w btn_group">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess"  data-ng-class='{
                                "btn-loader":isDataSavingProcess}' >Save</button>
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closePaymentPopup()">Cancel</a>
                </div>

            </div>
        </form>
    </div>        
</div>