<div class="prod-select fadeInUp clearfix " data-ng-controller="purchaseProductListCtrl">
    <div class="panel panel-default ">
        <div class="head_right clearfix ">
            <div class="sea">
                <select ng-model="searchFilter.type" class="form-control " data-ng-change="initTableFilter()">                    
                    <option value ="">-Type-</option>
                    <option value="Products">Products</option>
                    <option value="Services">Services</option>
                </select>
            </div>            
            <div class="sea">
                <input type="text"
                       placeholder="Name"
                       data-ng-model="searchFilter.name"
                       class="form-control " data-ng-change="initTableFilter()" />
                <span class="glyphicon glyphicon-search head-right-search "></span>
            </div>
            <div class="sea">
                <input type="text"
                       placeholder="SKU"
                       data-ng-model="searchFilter.sku"
                       class="form-control " data-ng-change="initTableFilter()" />
                <span class="glyphicon glyphicon-search head-right-search "></span>
            </div>                
        </div>   

        <div class="table-responsive ">
            <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="a-left">Id</th>
                        <th>Product Name</th>
                        <th>SKU</th>
                        <th>Sales Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="productModel.isLoadingProgress">
                        <td colspan="4" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>

                    <tr data-ng-if="productModel.list.length == 0">
                        <td colspan="4" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>                    
                    <tr data-ng-repeat="product in productModel.list">
                        <td>
                            <a href="javascript:void(0)" data-ng-click="onProductSelectHandler($index)">
                                {{product.id}}
                            </a>
                        </td>
                        <td class="a-left ">
                            <a href="javascript:void(0)" data-ng-click="onProductSelectHandler($index)">
                                {{product.name}}
                            </a>
                        </td>
                        <td class="a-center ">
                            <a href="javascript:void(0)" data-ng-click="onProductSelectHandler($index)">
                                {{product.sku}}
                            </a>
                        </td>
                        <td class="a-center ">
                            <a href="javascript:void(0)" data-ng-click="onProductSelectHandler($index)">
                                {{product.sales_price}}
                            </a>
                        </td>                    
                    </tr>
                </tbody>
                <tfoot data-ng-hide="productModel.list.length == 0">
                    <tr>
                        <td colspan="2" class="text-left">
                            <label>Show</label>
                            <select name="perpage"
                                    data-ng-model="productModel.limit"
                                    ng-options="page for page in pagePerCount"
                                    class="form-control show_count "
                                    ng-change="initTableFilter()">

                            </select>
                        </td>
                        <td colspan="2" class="text-left">
                <ul uib-pagination total-items="productModel.total" ng-model="productModel.currentPage" ng-change="getList()" items-per-page="productModel.limit"  max-size="1" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                </td>
                </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>
