
<div class="app-content-body fade-in-up"  data-ng-controller="purchaseAdvancePayReceiptViewCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Purchase Payment Details</h2>
            <a ui-sref="app.purchaseAdvancePayReceipt" class="add_button" ui-scroll-to="app">Back to List</a>
            <a data-ng-click="showPopup(advanceModel.advanceDetails.id)" class="add_button" ui-scroll-to="app">Delete</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="advanceModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="advancepayment_view" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-7 ">
                            <div class="row ">
                                <div class="col-sm-4 topmarginxs bottommargin ">
                                    <label>Date:</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.date}}</label>
                                </div>
                                <div class="col-sm-4 topmarginxs bottommargin ">
                                    <label>Customer Name:</label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.fname}}</label>
                                </div>
                                <div class="col-sm-4 topmarginxs bottommargin ">
                                    <label>Account Name:</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin ">
                                    <label>{{advanceModel.advanceDetails.account}}</label>
                                </div>
                                <div class="col-sm-4 topmarginxs bottommargin ">
                                    <label>Cheque No:</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin ">
                                    <label>{{advanceModel.advanceDetails.cheque_no}}</label>
                                </div>
                                <div class="col-sm-4 topmarginxs bottommargin ">
                                    <label>Total Amount:</label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.amount}}</label>
                                </div>
                                <div class="col-sm-4 topmarginxs bottommargin">
                                    <label>Used Amount:</label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.used_amount}}</label>
                                </div>
                                <div class="col-sm-4 topmarginxs bottommargin">
                                    <label>Balance Amount:</label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.balance_amount}}</label>
                                </div>
                                <div class="col-sm-4 topmarginxs bottommargin">
                                    <label>Payment Mode:</label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.payment_mode}}</label>
                                </div>
                                <div class="col-sm-4 topmarginxs bottommargin">
                                    <label>Status:</label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.status}}</label>
                                </div>                                
                                <div class="col-sm-4 topmarginxs bottommargin">
                                    <label>Comments</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.comments}}</label>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="model_overlay" ng-if="showdeletePopup" ></div>
                    <div class="model_popup add_review_popup dlt-popup adva-popup" ng-if="showdeletePopup" >
                        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
                        <h2>Do you want to delete?</h2>    
                        <br>
                        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteAdvancePaymentItem()">OK</button>
                            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>