<script type="text/ng-template" id="employee_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.f_name + '(' + match.model.id + ',' + match.model.emp_code + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="qualityCtrlPointsEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Quality Control Points Edit</h2>
            <a ui-sref="app.qualitycontrolpoints" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="edit_qcp_form" autoComplete="off" angular-validator-submit="modifyQcp()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">    
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Title</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text" name="title" class="form-control"
                                           placeholder="Title"
                                           ng-model="qualityModel.title"/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Product</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name="product_dropdown_{{$index}}"
                                           ng-model="qualityModel.productInfo"
                                           placeholder="Product Details"
                                           uib-typeahead="product for product in getProductList($viewValue)"
                                           typeahead-loading="loadingCustLocations"
                                           typeahead-no-results="noCustResults"
                                           typeahead-min-length="0"
                                           typeahead-editable="false"
                                           typeahead-template-url="product_dropdown__tpl.html"
                                           typeahead-input-formatter="formatProductModel($model)"
                                           autocomplete="off"
                                           required
                                           />
                                    <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingCustLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noCustResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Operation</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select name="operation_dropdown" ng-model="qualityModel.operation" required class="form-control">
                                        <option value="">-All-</option>
                                        <option value="mo">Manufacture Order</option>
                                        <option value="grn">GRN</option>
                                        <option value="work_order">Work order</option>
                                        <option value="purchase_invoice_item">Purchase Invoice</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                <label>Comments</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text" name="comments" class="form-control"
                                       placeholder="Comments"
                                       ng-model="qualityModel.comments"/>
                            </div> 
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Assigned Employee</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text"
                                       class="form-control"
                                       name="employee_dropdown"
                                       ng-model="qualityModel.empInfo"
                                       placeholder="Employee Name"
                                       uib-typeahead="employee for employee in getEmployeeList($viewValue)"
                                       typeahead-loading="loadingLocations"
                                       typeahead-no-results="noResults"
                                       typeahead-min-length="0"
                                       typeahead-editable="false"
                                       typeahead-template-url="employee_dropdown__tpl.html"
                                       typeahead-input-formatter="formatEmployeeModel($model)"
                                       required/>
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>  
                            </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row ">    
                                <div class="col-sm-3 topmarginxs right">
                                    <label>Instruction</label>
                                </div>
                                <div class="col-sm-9 bottommargin">
                                    <div text-angular data-ng-model="qualityModel.instructions"
                                     name="instruction"
                                     ta-toolbar=" [
                                     ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
                                     ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
                                     ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'],
                                     ['html']]"
                                     ta-text-editor-class="border-around container"
                                     ta-html-editor-class="border-around"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                "btn-loader":isDataSavingProcess}' >Submit</button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" angular-validator-form-reset data-ng-click="formReset()">Reset</a>
                    </div>

                </form>
                <div style="clear: both;"></div>
                <div class="wrapper-md ">
                </div>
            </div>
        </div>
    </div>
</div>