<script type="text/ng-template" id="employee_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.f_name + '(' + match.model.id + ',' + match.model.emp_code + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="qualityCtrlPointsListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Quality Control Points</h2>
            <custom-add redirect="app.qualitycontrolpointsAdd" screencode="qualitycontrolpoints"></custom-add>
            <!--<a data-ui-sref="app.servicerequestAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->  
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="quality_control_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix expand ">
                    <div class="sea">
                        <input type="text"
                               placeholder="Title"
                               name="title"
                               data-ng-model="searchFilter.title"
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea ">
                        <input type="text"
                               class="form-control"
                               name="spare_product_dropdown"
                               ng-model="searchFilter.productInfo"
                               placeholder="Product Name"
                               uib-typeahead="employee for employee in getProductList($viewValue)"
                               typeahead-loading="loadingProductLocations"
                               typeahead-no-results="noProductResults"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-on-select="initTableFilter()"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatProductModel($model)"
                               autocomplete="off"
                               angular-localstorage-field='true'/>
                        <!--uib-typeahead="itemList  as itemList.name for itemList in orderListModel.productList | filter:{name:$viewValue}"-->

                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noProductResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div> 
                    </div>
                    <div class="sea">
                        <select class="form-control " ng-model="searchFilter.type" data-ng-change="initTableFilter()" name="machinestatus" angular-localstorage-field='true'>
                           <option value="">-All-</option>
                            <option value="mo">Manufacture Order</option>
                            <option value="grn">GRN</option>
                            <option value="work_order">Work order</option>
                            <option value="purchase_invoice_item">Purchase Invoice</option>
                        </select>
                    </div>
                    
                </div>  
            </form>
        </div>
        <div class="table-responsive ">
            <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Id
                        </th>
                        <th style="width: 200px;" rowspan="1" colspan="1" >
                            Title
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Type
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Employee Name
                        </th>
                        <th style="width: 300px;"  rowspan="1" colspan="1" >
                            Product Name
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Comments
                        </th>
                        <th style="width: 100px;" rowspan="1" colspan="1">
                            Action
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="qualityModel.isLoadingProgress">
                        <td colspan="7" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-if="qualityModel.list.length == 0">
                        <td colspan="7" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>
                    <tr data-ng-repeat="qc in qualityModel.list">
                        <td>
                            <a data-ui-sref="app.qualitycontrolpointsEdit({id: '{{qc.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{qc.id}}
                            </a>
                        </td>

                        <td>
                            <a data-ui-sref="app.qualitycontrolpointsEdit({id: '{{qc.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{qc.title}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.qualitycontrolpointsEdit({id: '{{qc.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{qc.type}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.qualitycontrolpointsEdit({id: '{{qc.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{qc.respone_name}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.qualitycontrolpointsEdit({id: '{{qc.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{qc.product_name}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.qualitycontrolpointsEdit({id: '{{qc.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{qc.comments}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.qualitycontrolpointsEdit({id: '{{qc.id}}'})" ui-scroll-to="app" >
                                <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                            </a>
                            <a class="chel-edit-add add-dash" data-ng-click="showPopup({{qc.id}})">
                                <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot  data-ng-hide="qualityModel.list.length == 0" >
                    <tr>
                        <td colspan="3" class="text-left" >
                            <label>Show</label>
                            <select firstName = "perpage"
                                    ng-model="qualityModel.limit"
                                    ng-options="page for page in pagePerCount"
                                    class="form-control show_count"
                                    ng-change="initTableFilter()"
                                    >
                            </select>
                        </td>
                        <td colspan="6" class="text-right">
                            <ul uib-pagination total-items="qualityModel.total" ng-model="qualityModel.currentPage" ng-change="getList()" items-per-page="qualityModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                        </td>
                    </tr>
                </tfoot>                  
            </table>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteQcpInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>

</div>   