

<div class="app-content-body fade-in-up req-stock " data-ng-controller="workorderEditCtrl">
    <div class="">
        <div class="topmarginsm">
            <h2 class="center" style="font-size: 20px;text-transform: uppercase;">Material Requisition</h2>                  
            <a href="javascript:void(0)" class="print-button hide-print f-right bottommargin" data-ng-click="printWindow()">Print</a>                  
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">                 
            <div class="col-sm-6 nofontWeight">
                <div class="row bottommarginsm toppaddingsm">
                    <div class="col-sm-5">
                        <label>BOM Name</label>
                    </div>
                    <div class="col-sm-7">
                        <label>:&emsp;{{workModel.bomTaskInfo.name}}</label>
                    </div>
                </div>
                <div class="row bottommarginsm">
                    <div class="col-sm-5">
                        <label>Output Product</label>
                    </div>
                    <div class="col-sm-7">
                        <label>:&emsp;{{workModel.output_pdt_name}}</label>
                    </div>
                </div>
                <div class="row bottommarginsm">
                    <div class="col-sm-5">
                        <label>Qty to Produce</label>
                    </div>
                    <div class="col-sm-7">
                        <label>:&emsp;{{workModel.qtyToProduce}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 nofontWeight">
                <div class="row bottommarginsm toppaddingsm">
                    <div class="col-sm-5">
                        <label>MO Code</label>
                    </div>
                    <div class="col-sm-7">
                        <label>:&emsp;{{stateParamsData}}</label>
                    </div>
                </div>
                <div class="row bottommarginsm">
                    <div class="col-sm-5">
                        <label>Material Issue Status</label>
                    </div>
                    <div class="col-sm-7">
                        <label>:&emsp;{{workModel.wo_status}}</label>
                    </div>
                </div>
            </div>
            <div class="table-responsive tab-tr">
                <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 60px;"  rowspan="1" colspan="1" >
                                S.No
                            </th>
                            <th style="width: 300px;"  rowspan="1" colspan="1" >
                                Product
                            </th>
                            <th style="width: 81px;"  rowspan="1" colspan="1" >
                                To Consume
                            </th>
                            <th style="width: 80px;"   rowspan="1" colspan="1">
                                Issued
                            </th>                                    
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="workModel.isLoadingProgress">
                            <td colspan="4" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="workModel.inputList.length == 0">
                            <td colspan="4" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="product in workModel.inputList">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{product.input_pdt_name}}
                            </td>
                            <td>
                                {{product.to_consume}}
                            </td>
                            <td>
                                {{product.reserved_qty}}
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("body").css("background", "#fff");
        $(".main-container").css("padding-top", "0px");
        $(".content-area").css("background-color", "transparent");
        $(".content-area").css("padding-left", "0");
        $(".app-content-body").css("background-color", "#fff");
        $(".row-bg").css("border", "1px solid #757474");
        $(".animated.fadeInUp").css("margin-top", "20px");
    });
</script>
