<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
   <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="salesorderViewCtrl" >
      <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                  <h2>{{pageHeading}} View</h2>           
                  <div class=" right action-links " >
                        <!--<button id="cmd">generate PDF</button>-->
                        <!--                <a href="javascript:void(0)" class=" " data-ng-click="exportAsPDF()">
                                            Export As PDF
                                        </a>-->
                        <!--                <a href="{{APP_CONST.PAY_SLIP_PRINT}}?sales_order_id={{orderListModel.invoiceDetail.id}}" class="btn btn-sm btn-primary btn_grn" target="_blank" style="background: #4c5667;border: 1px solid #4c5667;">
                            Packaging Slip
                        </a>-->
                         <!--<custom-add redirect="app.invoiceAdd({id: '{{stateParamData}}'})" screencode="salesinvoice"></custom-add>-->
                        <a ui-sref="app.invoiceAdd({id: '{{stateParamData}}'})" ui-scroll-to="app" href="#/salesorder" data-ng-hide="orderListModel.invoiceDetail.status.toLowerCase() == 'invoiced'" ng-if="screenAccessDetail.salesinvoice.is_create == true">
                              Create Invoice
                        </a>    
                        <!--                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_grn" data-ng-click="print()">
                                            Print
                                        </a>                                 -->
                        <a href="{{APP_CONST.INVOICE_PRINT_URL}}?sales_order_no={{stateParamData}}" class="btn btn-sm btn-primary btn_grn" target="_blank">
                              Print
                        </a>
                        <a data-ng-show="orderListModel.invoiceDetail.status.toLowerCase() != 'invoiced'" data-ui-sref="app.salesorderEdit({id: '{{stateParamData}}'})" ui-scroll-to="app" class="btn btn-sm btn-primary btn_orng" >
                              Edit
                        </a>
                        <a data-ng-show="orderListModel.type == 'sales_order'" ui-sref="app.salesorder" ui-scroll-to="app" href="#/quote">
                              Back to List
                        </a>
                        <a data-ng-show="orderListModel.type == 'spare_request'" ui-sref="app.spareRequest" ui-scroll-to="app" href="#/quote">
                              Back to List
                        </a>
                  </div>
            </div>
            <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
                  <p class="loader-icon">
                        <img alt="loader" src="../img/loading.gif" />
                  </p>
            </div>
      </div>

      <div class="animated fadeInUp  clearfix ">
            <div class="container invoice-wrapper clearfix ">
                  <div class="row clearfix ">
                        <div class="col-sm-8 print-invoice-view  ">
                              <div class="invoice-view invoice-view1 ">
                                    <div class="row">
                                          <div class="col-sm-12 ">
                                                <div class="invoice-top-head   clearfix ">
                                                      <div class="row flex clearfix ">
                                                            <div class="col-sm-5 invoice-top-head-title wrapper-md">
                                                                  <img ng-src="../img/logo/{{appDomain}}.png" />
                                                                  <h2>Order : {{(orderListModel.invoiceDetail.prefix != '' ? orderListModel.invoiceDetail.prefix+'-' :'' )}}{{orderListModel.invoiceDetail.id}}</h2>
                                                            </div>
                                                            <div class="col-sm-3 margtopf" ng-bind-html="appConfig.pay_to_address | trustedhtml">
                                                            </div>
                                                            <div class="col-sm-4 due-amnt ">
                                                                  Amount Due ({{currencyFormat}})
                                                                  <span><span class="rupee ">{{currencyFormat}}.</span>{{orderListModel.new_balance_amount}}</span>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class=" row  ">
                                          <div class="invoice-top-info clearfix ">
                                                <div class="col-sm-7  ">
                                                      <div class=" wrapper-md "> 
                                                            <!--<div ng-bind-html="appConfig.pay_to_address | trustedhtml">
                                                    </div></br>-->
                                                            <div ng-bind-html="appConfig.bank_detail | trustedhtml">
                                                            </div>
                                                            <p class="uppercase "><b>To</b></p>
                                                            <p>
                                                                  <strong>{{orderListModel.customerInfo.fname}}</strong>
                                                            </p>
                                                            <br/>
                                                            <p>
                                                                  {{orderListModel.customerInfo.phone}}  
                                                            </p>
                                                            <p>
                                                                  {{orderListModel.customerInfo.email}}
                                                            </p>
                                                            <ul data-ng-show="(orderListModel.customerAttributeInfo | filter:{is_show_in_invoice:1}).length > 0" data-ng-repeat="attr in orderListModel.customerAttributeInfo">
                                                                  <p data-ng-show="attr.is_show_in_invoice == 1">
                                                                        {{attr.attribute_code}}:{{attr.value}}
                                                                  </p>
                                                            </ul>
                                                      </div>
                                                </div>
                                                <div class="col-sm-5 ">
                                                      <div class=" wrapper-md ">
                                                            <p>
                                                                  <strong>Order No: </strong>{{(orderListModel.invoiceDetail.prefix != '' ? orderListModel.invoiceDetail.prefix+'-' :'' )}}{{orderListModel.invoiceDetail.id}}
                                                            </p>
                                                            <p>
                                                                  <strong>Order Date: </strong>{{orderListModel.billdate}}  
                                                                  <!--Feb 5, 2017-->
                                                            </p>
                                                            <p>
                                                                  <strong>Quotation No: </strong>{{orderListModel.invoiceDetail.sales_order_no}}  
                                                                  <!--Feb 5, 2017-->
                                                            </p>
                                                            <p>
                                                                  <strong>Quotation Date: </strong>{{orderListModel.billdate}}  
                                                                  <!--Feb 5, 2017-->
                                                            </p>
                                                            <p>
                                                                  <strong>Payment Due: </strong>{{orderListModel.duedate}}
                                                                  <!--Feb 5, 2017-->
                                                            </p>
                                                            <!--                                        <p>
                                                                                                        <strong>Payee: </strong>{{orderListModel.invoiceDetail.payee_name}}
                                                                                                        Feb 5, 2017
                                                                                                    </p>
                                                                                                    <p>
                                                                                                        <strong>Consignee: </strong>{{orderListModel.invoiceDetail.consignee_name}}
                                                                                                        Feb 5, 2017
                                                                                                    </p>-->
                                                      </div>
                                                </div>
                                          </div>
                                    </div>

                                    <div class="invoice-prod-list table-responsive ">
                                          <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                                <thead>
                                                      <tr role="row">
                                                            <th style="width: 70px;"  >
                                                                  #
                                                            </th>
                                                            <th class="left" style="width: 300px;">
                                                                  Name
                                                            </th>

                                                            <th class="right " style="width: 100px;" data-ng-hide="!appConfig.uomdisplay">
                                                                  {{appConfig.uomlabel}} 
                                                            </th>
                                                            <th class="right " style="width: 70px;">
                                                                  Qty
                                                            </th>
                                                            <th class="right " style="width: 150px;">
                                                                  Price
                                                            </th>
                                                            <th class="right " style="width: 150px;">
                                                                  Row Total
                                                            </th>
                                                      </tr>
                                                <tbody>                                                            
                                                      <tr data-ng-repeat="order in orderListModel.list">
                                                            <td class="center ">
                                                                  {{$index + 1}}
                                                            </td>
                                                            <td  class="left " >
                                                                  {{order.productName}}
                                                                  <ul>
                                                                        <li>
                                                                              {{order.invoice_item_custom1_label_name}} {{order.invoice_item_custom1_label_value}}
                                                                        </li>
                                                                        <li>
                                                                              {{order.invoice_item_custom2_label_name}} {{order.invoice_item_custom2_label_value}}
                                                                        </li>
                                                                        <li>
                                                                              {{order.invoice_item_custom3_label_name}} {{order.invoice_item_custom3_label_value}}
                                                                        </li>
                                                                        <li>
                                                                              {{order.invoice_item_custom4_label_name}} {{order.invoice_item_custom4_label_value}}
                                                                        </li>
                                                                        <li>
                                                                              {{order.invoice_item_custom5_label_name}} {{order.invoice_item_custom5_label_value}}
                                                                        </li>
                                                                  </ul>
                                                            </td>

                                                            <td class="right " data-ng-hide="!appConfig.uomdisplay">
                                                                  {{order.uom}}
                                                            </td>
                                                            <td class="right" >
                                                                  {{order.qty}}
                                                            </td>
                                                            <td class="right " >
                                                                  {{order.sales_price}}
                                                            </td>
                                                            <td class="right " >
                                                                  {{order.rowtotal}}
                                                            </td>
                                                      </tr>
                                                </tbody>
                                                <tfoot>
                                                      <tr>
                                                            <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 5 : 4}}" ><br/>
                                                                  Sub Total:
                                                            </td>
                                                            <td class="right " colspan="1" ><br/>
                                                                  {{currencyFormat}}.{{orderListModel.subtotal}}
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 5 : 4}}" ><br/>
                                                                  Discount:
                                                            </td>
                                                            <td class="right " colspan="1" ><br/>
                                                                  {{currencyFormat}}.{{orderListModel.discountAmt}}
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 5 : 4}}" ><br/>
                                                                  Tax:
                                                            </td>
                                                            <td class="right " colspan="1" ><br/>
                                                                  {{currencyFormat}}.{{orderListModel.taxAmt}}
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 5 : 4}}" ><br/>
                                                                  Insurance Charge:
                                                            </td>
                                                            <td class="right " colspan="1" ><br/>
                                                                  {{currencyFormat}}.{{orderListModel.insuranceAmt}}
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 5 : 4}}" ><br/>
                                                                  Packing Charge:
                                                            </td>
                                                            <td class="right " colspan="1" ><br/>
                                                                  {{currencyFormat}}.{{orderListModel.packagingAmt}}
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 5 : 4}}">
                                                                  Round off:
                                                            </td>
                                                            <td class="right " colspan="1">
                                                                  {{currencyFormat}}.{{orderListModel.roundoff}}
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td class="left " colspan="2">
                                                                  <strong>{{orderListModel.amountinwords}} Only</strong>
                                                            </td>
                                                            <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 3 : 2}}" ><br/>
                                                                  <strong>Grand Total:</strong>
                                                            </td>
                                                            <td class="right " colspan="1" ><br/>
                                                                  <strong>{{currencyFormat}}.{{orderListModel.total}}</strong>
                                                            </td>
                                                      </tr>                                                               
                                                      <tr data-ng-repeat="order in orderListModel.paymentList">
                                                            <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 5 : 4}}" >
                                                                  Payment on {{order.newdate}} using {{order.payment_mode}} :
                                                            </td>
                                                            <td class="right " colspan="1" >
                                                                  {{currencyFormat}}.{{order.amount}}
                                                            </td>                                    
                                                      </tr>   
                                                      <tr>
                                                            <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 5 : 4}}" >
                                                                  <strong>Paid Amount ({{currencyFormat}}):</strong>
                                                            </td>
                                                            <td class="right " colspan="1" >
                                                                  <strong>{{currencyFormat}}.{{orderListModel.advance_amount}}</strong>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 5 : 4}}" >
                                                                  <strong>Balance Due Amount ({{currencyFormat}}):</strong>
                                                            </td>
                                                            <td class="right " colspan="1" >
                                                                  <strong>{{currencyFormat}}.{{orderListModel.new_balance_amount}}</strong>
                                                            </td>
                                                      </tr>                                
                                                </tfoot>
                                          </table>
                                    </div>
                                    <div class="wrapper-md " data-ng-show="(orderListModel.invoiceDetail.customattribute | filter:{is_show_in_invoice:1}).length > 0">
                                          <div class="row ">
                                                <div class="col-sm-12 " >
                                                      <h4>Other Details</h4>
                                                </div>
                                                <div class="col-sm-3 " data-ng-repeat="attr in orderListModel.invoiceDetail.customattribute| filter:{is_show_in_invoice:1}">
                                                      <p data-ng-show="attr.is_show_in_invoice == 1">
                                                            {{attr.attribute_label}}:{{attr.value}}
                                                      </p>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-sm-6 uppercase invoice-status1 "  >
                                          {{orderListModel.invoiceDetail.status}}
                                    </div>
                                    <div class="wrapper-md ">
                                          {{appConfig.signature}}
                                    </div>
                                    <!--                        <div class="wrapper-md " data-ng-show="orderListModel.invoiceDetail.notes != ''">
                                                                <div class="row ">
                                                                    <div class="col-sm-12 " >
                                                                        <h4>Notes</h4>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <p>
                                                                            {{orderListModel.invoiceDetail.notes}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>-->
                              </div>
                        </div>
                        <div class="col-sm-4 invoice-info ">
                              <div class="created-date sep clearfix  " >
                                    <h2 class="hdata" style="color: #797979;">Timeline</h2>
                                    <strong>Created on:  </strong> {{orderListModel.billdate}}&nbsp;{{orderListModel.billdatehr|  date:"hh:mm:ss a" }}
                                    <!--                    </div>
                                                        <div class="send-invoice sep clearfix " >
                                                            <h2>Send Order</h2>-->
                                    </br>  <strong>Last Sent on: </strong> {{orderListModel.billdate}}&nbsp;{{orderListModel.billdatehr|  date:"hh:mm:ss a" }}                   
                                    <!--                    <a href="javascript:void(0)" data-ng-click="showSendInvPopup( )" class="btn " >Resend Invoice ...</a>-->
                              </div>
                              <div class="payment-details sep clearfix " >
                                    <div class="" ng-if ="orderListModel.type == 'spare_request'">
                                          <div class="serviceMachineInfo">
                                                <h2 class="hdata" style="color: #797979;" >Service Machine Info</h2>
                                                <strong>Machine Name:  </strong> {{machine_name}}<br>
                                                <strong>Date Sold:  </strong> {{sales_date}}<br>
                                                <strong>Amount:  </strong> {{amount}}<br>
                                                <strong>Life Time:  </strong> {{life_time}}<br>
                                                <strong>AMC Covered:  </strong> {{amc_covered}}
                                          </div>
                                    </div>

                                    <h2 class="hdata topmargin" style="color: #797979;">Payment Status</h2>
                                    <!--                        <strong>Status: </strong>                    -->
                                    <div class=" " ng-if= "orderListModel.status" > Paid </div>
                                    <div class=" " ng-if= "!orderListModel.status" > Your invoice is awaiting payment. </div>                    
                                    <br/>
                                    <strong>Paid Amount: </strong> {{orderListModel.paid_amount}} <br/>

                                    <!--                        <div class="rec-payment " data-ng-hide="orderListModel.invoiceDetail.status.toLowerCase() == 'invoiced'">
                                                                <a href="javascript:void(0)" data-ng-click="showPaymentPopup()" class="btn " >Make Payment</a>
                                                            </div>-->
                                    <div class="payment-list clearfix ">
                                          <strong>Payable :</strong>
                                          <ul data-ng-repeat="order in orderListModel.paymentList">
                                                <li>
                                                      {{order.newdate}} - A payment for <strong>{{currencyFormat}}.{{order.amount}}</strong> was made by {{order.payment_mode}}.<br/>
                                                      <!--  <a href="javascript:void(0)" data-ng-click="showPopup(order.id)">Send a Receipt</a> -                                                              
                                                      <a href="javascript:void(0)"data-ng-click="showPaymentPopup(order.id)">Edit</a> -  -->
                                                      <a href="javascript:void(0)" data-ng-show="order.invoice_id == 0" data-ng-hide="orderListModel.invoiceDetail.status.toLowerCase() == 'invoiced'" data-ng-click="showRemovePaymentPopup(order.id)" >Remove Payment</a>                                
                                                      <!--<a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a>-->                                
                                                      <!--                                <div class="rec-payment ">
                                                                                          <a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a>                                                                    
                                                                                      </div>                                -->
                                                </li>                            
                                          </ul>                               
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

            <!--    <div class="wrapper-md animated fadeInUp clearfix " >
                <form name="order_view_form" angular-validator-submit="updateOrder()" class="form-horizontal  clearfix" novalidate angular-validator >
                    <div class=" panel-default clearfix ">
                        <div class="cust-info clearfix ">
                            <div class="sea">
                                    <label>Customer Name:* </label>
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_0"
                                       ng-model="orderListModel.customerInfo"
                                       placeholder="Customer Details..."
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                       typeahead-min-length="0"
                                       typeahead-editable="true"
                                       typeahead-template-url="customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       required
                                       />
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div>
                                </div>
                            <div class="sea">
                                    <label>Address</label>
                                <textarea class="form-control"
                                          name = "Address"
                                          ng-model = "orderListModel.customerInfo.address"
                                          placeholder="Description"
                                          ></textarea>
                        </div>
                            </div>
            
                        <div class="bill-info col clearfix ">
                            <ul class="  clearfix ">
                                <li class="ship-date clearfix ">
                                <li class="ship-amnt clearfix ">
                                    <span class="tit ">Subtotal: </span>
                                    <span class="tit-desc a-right "  >
                                        {{currencyFormat}}.{{orderListModel.subtotal}}
                                    </span>
                                </li>
                                <li class="total-amnt clearfix ">
                                    <span class="tit ">Tax Amount: </span>
                                    <span class="tit-desc a-right " >
                                        {{currencyFormat}}.{{orderListModel.taxAmt}}
                                    </span>
                                </li>
                                <li class="total-amnt clearfix ">
                                    <span class="tit ">Discount Amount: </span>
                                    <span class="tit-desc a-right " >
                                        {{currencyFormat}}.{{orderListModel.discountAmt}}
                                    </span>
                                    </li>
                                <li class="ship-amnt clearfix ">
                                    <span class="tit ">Total: </span>
                                    <span class="tit-desc a-right "  >
                                        {{currencyFormat}}.{{orderListModel.total}}
                                    </span>
                                    </li>
                                <li class="ship-amnt clearfix ">
                                    <span class="tit ">Paid Amount: </span>
                                    <span class="tit-desc a-right "  >
                                        {{currencyFormat}}.{{orderListModel.paid_amount}}
                                    </span>
                                    </li>
                                <li class="ship-amnt clearfix ">
                                    <span class="tit ">Balance Amount: </span>
                                    <span class="tit-desc a-right "  >
                                        {{currencyFormat}}.{{orderListModel.balance_amount}}
                                    </span>
                                    </li>
                            </ul>
                        </div>
                        <div class="date-info ">
                            <ul class="  clearfix ">
                                <li class="ship-date clearfix ">
                                    <span class="tit ">Invoice Prefix</span>
                                    <span class="tit-desc ">
                                        <input type="text" size="20"
                                               class="form-control"
                                               name = "invoicePrefix"
                                               ng-model = "orderListModel.invoicePrefix"
                                               />
                                    </span>
                                    </li>
                                <li class="ship-date clearfix ">
                                    <span class="tit ">From Date*</span>
                                    <span class="tit-desc ">
                                        <input name="billdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="orderListModel.billdate" is-open="startDateOpen"
                                               min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                               required close-text="Close"  />
                                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </li>
                                <li class="ship-date clearfix ">
                                    <span class="tit ">Valid Until*</span>
                                    <span class="tit-desc ">
                                        <input name="duedate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="orderListModel.duedate" is-open="dueDateOpen"
                                               min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                               required close-text="Close"  />
                                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </li>
                                <li class="ship-date clearfix ">
                                    <span class="tit ">Tax </span>
                                        <span class="tit-desc ">
                                            <select name="taxDropDown"
                                                    type = "text"
                                                    ng-model="orderListModel.tax_id"
                                                class="form-control"
                                                ng-change="updateInvoiceTotal()">
                                            <option value="">-None-</option>
                                            <option value="{{tax.id}}" data-ng-repeat="tax in orderListModel.taxInfo">{{tax.tax_name}}-{{tax.tax_percentage}}%</option>
                                            </select>
                                        </span>
                                </li>
                                <li class="ship-date clearfix ">
                                    <span class="tit ">Discount %</span>
                                    <span class="tit-desc ">
                                        <input type="text" size="20"
                                               class="form-control"
                                               name = "discountPercentage"
                                               ng-model = "orderListModel.discountPercentage"
                                               ng-change="updateInvoiceTotal()"
                                               validator = "validationFactory.isPositiveNumber(orderListModel.discountPercentage) === true"
                                               />
                                    </span>
                                    </li>
                            </ul>
                        </div>
            
                            <div class="" style="clear: both;"></div>
                        <br/>
                        <div class="panel panel-default">
                            <div class=" ">
                                Added Product List
                                <div class="table-responsive ">
                                        <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                    <th style="width: 100px;"  >
                                                    #
                                                </th>
                                                    <th class="a-left" style="width: 150px;">
                                                    Product Name
                                                </th>
                                                    <th style="width: 150px;">
                                                    SKU
                                                </th>
                                                    <th style="width: 150px;">
                                                        UOM
                                                    </th>
                                                    <th style="width: 200px;">
                                                    Qty
                                                    </th>
                                                    <th style="width: 200px;">
                                                    Price
                                                </th>
                                                    <th style="width: 200px;">
                                                    Row Total
                                                </th>
                                                    <th style="width: 150px;">
            
                                                </th>
                                            </tr>
                                        <tbody>
                                            <tr data-ng-repeat="order in orderListModel.list">
                                                <td>{{$index + 1}}</td>
                                                <td class="prod-detail">
                                                    {{order.productName}}
                                                </td>
                                                <td class="a-center ">
                                                    {{order.sku}}
                                                </td>
                                                <td class="prod-detail">
                                                    {{order.uom}}
                                                </td>
                                                <td  class="a-center ">
                                                    <input
                                                        name="qty_{{$index}}"
                                                        type="text"
                                                        class="form-control qty a-right "
                                                        data-ng-model="$parent.orderListModel.list[$index].qty"
                                                        validator = "validationFactory.isNumber($parent.orderListModel.list[$index].qty)"
                                                        data-ng-change="updateInvoiceTotal()"
                                                        angular-validator-field
                                                        />
                                                    </td>
                                                <td  class="a-center ">
                                                    <input
                                                        name="sales_price_{{$index}}"
                                                        type="text"
                                                        class="form-control qty a-right "
                                                        data-ng-model="order.sales_price"
                                                        validator = "validationFactory.isNumber($parent.orderListModel.list[$index].sales_price)"
                                                        angular-validator-field
                                                        />
                                                </td>
                                                <td  class="a-center ">
                                                    <input
                                                        name="rowtotal"
                                                        type="text"
                                                        class="form-control qty a-right "
                                                        data-ng-model=order.rowtotal
                                                        data-ng-change="updateInvoiceTotal()"
                                                        data-ng-disabled="true"
                                                        />
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" data-ng-click="deleteProduct($parent.orderListModel.list[$index].id)" ui-toggle-class="" class="">X
                                                        <i class="fa fa-check text-success text-active"></i>
                                                        <i class="fa fa-times text-danger text"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a class="add-more-prod panel btn panel-default glyphicon glyphicon-plus " ng-click="prodSearchOpen = !prodSearchOpen" >
                                </a>
                                <div class="form-group full_w btn_group">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' >Save</button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="prod-list-search clearfix " data-ng-class="{'open':prodSearchOpen}">
                    <div data-ng-include=" 'tpl/productselect.html'" ng-if="true"  >
                    </div>
                </div>
                </div>-->
            <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
            <div class="model_popup" ng-if="showpopup" >        
                  <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
                  </div>
            </div>        

            <div class="model_overlay" ng-if="showSendInvoicePopup" ng-click="closePopup()" ></div>
            <div class="model_popup" ng-if="showSendInvoicePopup" >        
                  <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
                  </div>
            </div>            

            <div class="model_overlay" ng-if="paymentRemovePopup" ></div>
            <div class="model_popup add_review_popup" ng-if="paymentRemovePopup">
                  <form name="remove_payment_form" angular-validator-submit="removePayment()" class="form-horizontal clearfix " novalidate angular-validator >
                        <a href="javascript:void(0)" ng-click="closeRemovePaymentPopup()" class="glyphicon glyphicon-remove close " ></a>
                        <h2>Remove Invoice Payment</h2>
                        <div class="form-group">
                              <p> Payment for Rs. {{removePaymentAmount}}. <br/><br/>         
                                    Are you sure you want to remove this invoice payment?                
                              </p>
                        </div>                                 
                        <li>
                              <div class="form-group full_w btn_group">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataDeletingProcess"  data-ng-class='{"btn-loader":isDataDeletingProcess}' >Remove</button>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closeRemovePaymentPopup()">Cancel</a>
                              </div>
                        </li>
                  </form>
            </div>

      </div>
      <div class="model_overlay" ng-if="showPayPopup" ></div>
      <div class="model_popup delet-popup add_review_popup" ng-if="showPayPopup">
            <form name="save_payment_form" angular-validator-submit="savePayment()" class="form-horizontal clearfix " novalidate angular-validator >
                  <a href="javascript:void(0)" ng-click="closePaymentPopup()" class="glyphicon glyphicon-remove close " ></a>
                  <h2>Advance Payment</h2>

                  <div class="row">
                        <div class="col-sm-12 form-group">
                              <label>Customer Name : </label>
                              <input  type = "text"
                                      class=""
                                      ng-disabled="true"
                                      name = "account"
                                      ng-model = "paymentAddModel.account"
                                      placeholder="account"
                                      disabled
                                      />
                        </div>                  
                        <div class="col-sm-6 form-group">
                              <label>Payment Date*</label>
                              <input name="invoicedate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                     ng-model="paymentAddModel.invoicedate" readonly is-open="$parent.invoiceDateOpen"  
                                     show-weeks="false" datepicker-options="dateOptions"
                                     close-text="Close" required/>
                              <button type="button" class="btn btn-default btn-choose" ng-click="openDate(2)" >
                                    <i class="glyphicon glyphicon-calendar"></i>                
                              </button>
                        </div>
                        <div class="col-sm-6 form-group">
                              <label>Enter the Amount*</label>
                              <input  type = "text"
                                      class="form-control"
                                      name = "Amount"
                                      ng-model = "paymentAddModel.amount"
                                      placeholder="Amount"
                                      validator = "validationFactory.isNumber(paymentAddModel.amount) === true && (paymentAddModel.amount>0?true:false)"
                                      maxlength="20"
                                      required/>
                        </div>                    
                        <div class="col-sm-6 form-group">
                              <label>Payment Terms*</label>
                              <select  name="paymentdefault" ng-model="paymentAddModel.payment_mode" class="form-control" required>
                                    <option value="">-Select-</option>
                                    <option value="{{paymentterms.name}}" data-ng-repeat="paymentterms in paymentAddModel.paymentlist">{{paymentterms.name}}</option>
                              </select>
                        </div>                    
                        <div class="col-sm-6 form-group">
                              <label>Category</label>
                              <select name="category" ng-model="paymentAddModel.category"  class="form-control" >
                                    <option value="">Select Category </option>
                                    <option value={{category.name}} data-ng-repeat="category in paymentAddModel.categoryList">{{category.name}}</option>
                              </select>
                        </div> 
                        <div class="col-sm-6 form-group">
                              <label>Accounts*</label>
                              <select name="accounts" ng-model="paymentAddModel.accouts"  class="form-control" required>
                                    <option value="">Select Accounts </option>
                                    <option value={{accouts.id}} data-ng-repeat="accouts in paymentAddModel.accountsList">{{accouts.account}}</option>
                              </select>
                        </div> 
                        <div class="col-sm-6 form-group">
                              <label>Comments</label>
                              <textarea rows="4" cols="50"
                                        class="form-control"
                                        name = "comments"
                                        ng-model = "paymentAddModel.comments"
                                        placeholder="Comments"
                                        ></textarea>  
                        </div> 
                        <div class="col-sm-6 form-group" data-ng-show="paymentAddModel.payment_mode.toLowerCase() == 'cheque'" >  
                              <label>Cheque No</label>                                       
                              <input type="text"
                                     name = "chequeNo"
                                     class="form-control"
                                     placeholder="cheque no"
                                     ng-model = "paymentAddModel.cheque_no"
                                     validator = "validationChequeNo( )"
                                     />
                        </div>

                  </div>
                  <div class="row" style="margin-top: 20px;">


                        <div class="form-group full_w btn_group">
                              <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Save</button>
                              <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closePaymentPopup()">Cancel</a>
                        </div>

                  </div>
            </form>
      </div>
</div>
