<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="salesCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2>Sales Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <a href="{{APP_CONST.API.INVOICE_SALES_DOWN}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&customer_id={{searchFilter.customerInfo.id}}&is_active=1&mode=1&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="sales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               name="customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               placeholder ="Customer Id"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="true"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatcustomerModel($model)"
                               autocomplete="off"
                               />
                         <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noResults">
                                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                                            </div>
                    </div>
                    <div class="col-sm-1 ">
                        <div>
                            <input type = "checkbox"
                                   class=""
                                   id="showAll"
                                   name="showall"
                                   data-ng-model = "showDetail"
                                   data-ng-change ="initTableFilter()"
                                   />
                            <label for="showAll" class="detailchk">Show Detail</label>
<!--                            <input type="checkbox">
                            <label class="detailchk">Detail</label>-->
                        </div>
                    </div>
                    <div class="col-sm-2 " style="margin-top: 4px;">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="salesModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":salesModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="print-info">
                    <li style="font-size: 17px;font-weight: bold;">{{company_name}}</li>
                    <li style="font-size: 14px;">{{company_address}}</li>
                    <li style="font-size: 14px;">Sales Report</li>
                    <li data-ng-show="showDetail==true" style="font-size: 14px;">Detail Report</li>
                    <li data-ng-show="showDetail==false" style="font-size: 14px;">Summary Report</li>
                </ul>
                <ul class="search-filters clearfix">
                    <li class="col-sm-4" style="width: 100%;">Company Name: {{company_name}}</li>
                    <li class="col-sm-4" style="width: 100%;margin-bottom: 10px;">Company Address : {{company_address}}</li>
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Customer Name:{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:50px; text-align: right;"  rowspan="1" colspan="1" >
                                #
                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1" >
                                Date
                            </th>
                            <th style="width: 300px;"  rowspan="1" colspan="1" >
                                Invoice code
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1">
                                Customer Name
                            </th>
                            <th style="width: 200px;text-align: right"   rowspan="1" colspan="1">
                                Paid Amount
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Amount
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="salesModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="salesModel.list.length === 0">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr ng-repeat-start="sales in salesModel.list">
                            <td style="width:50px; text-align: right;" >
                                {{$index + 1}}
                            </td>
                            <td>
                                {{sales.date}}
                            </td>
                            <td>
                                {{sales.invoice_code}}
                            </td>
                            <td>
                                {{sales.customer_fname}} {{sales.customer_lname}}
                            </td>
                            <td style="text-align: right;">
                                {{sales.paid_amount}}
                            </td>
                            <td style="text-align: right;">
                                {{sales.total_amount}}
                            </td>

                        </tr>
                        <tr class="d0" ng-repeat-end ng-show="showDetail" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="6" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Product Name
                                            </th>
                                            <th style="width: 175px;"  rowspan="1" colspan="1" >
                                                Qty
                                            </th>
                                            <th style="width: 320px;padding-right: 15px;"   rowspan="1" colspan="1" class="right">
                                                Unit Price
                                            </th>
                                            <th style="width: 265px;padding-right: 15px;"  rowspan="1" colspan="1"  class="right">
                                                Row Total
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in sales.item" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 10px;" >
                                                {{product.product_name}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{product.qty}}&nbsp;{{product.uom_name}}
                                            </td>
                                            <td colspan="1" class="right" >
                                                {{product.unit_price}}
                                            </td>
                                            <td colspan="1" class="right" >
                                                {{product.rowtotal.toFixed(2)}}
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="salesModel.list.length === 0" >
                        <tr>
                            <td colspan="6" class="text-left right" >
                                Total :&nbsp;&nbsp;&nbsp;&nbsp; {{salesModel.total_Amount}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

