
<div class="app-content-body fade-in-up req-stock " data-ng-controller="salesquoteCtrl">
    <div class="panel panel-default hide-print ">
        <div class="panel-heading clearfix ">
            <h2>Sales Order</h2>            
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default hide-print ">
            <div class="head_right wrapper-sm clearfix ">
                <div class="sea" style='width:197px;'>
                    <input type="text"
                           placeholder="account"
                           data-ng-model="searchFilter.account"
                           class="form-control " data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>
                <div class="sea" style='width:197px;'>
                    <input type="text"
                           placeholder="subject"
                           data-ng-model="searchFilter.subject"
                           class="form-control " data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>
            </div>
            <div class="table-responsive ">
                <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 100px;"  rowspan="1" colspan="1" >
                                ID
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Account
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Subject
                            </th>                            
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Amount
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Date Created
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Expiry Date
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Stage
                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                Manage
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="salesquoteModel.isLoadingProgress">
                            <td colspan="10" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="salesquoteModel.list.total == 0">
                            <td colspan="10" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="salesquote in salesquoteModel.list">
                            <td>  {{salesquote.id}}  </td>
                            <td>  {{salesquote.account }}  </td>
                            <td>  {{salesquote.subject}}    </td>
                            <td>  {{salesquote.amount}}    </td>
                            <td>  {{salesquote.dateCreated}}    </td>
                            <td>  {{salesquote.expiryDate}}    </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="salesquoteModel.list.total == 0" >
                        <tr>
                            <td colspan="2" class="text-left" >
                                <label>Show</label>
                                <select firstName = "perpage"
                                        ng-model="salesquoteModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="7" class="text-right">
                    <ul uib-pagination total-items="salesquoteModel.total" ng-model="salesquoteModel.currentPage" ng-change="getList()" items-per-page="salesquoteModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
