<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
   <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="company_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body req-stock " id="invoice_edit_product_container" data-ng-controller="salesorderEditCtrl">
    <div class="panel panel-default ">
        <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
    </div>
    <form name="order_edit_form"  angular-validator-submit="updateOrder(forceSave)" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>{{pageHeading}} Edit </h2>
                <div class=" right action-links ">
                    <!--                    <a href="javascript:void(0)" class=" ">
                                            Preview
                                        </a>-->
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                "btn-loader":isDataSavingProcess}' >Save
                    </button>
                    <!--                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' ng-submit="createOrder('Mail')" >Save and Send
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng" data-ng-click="showPopup()">
                                            Save and Send
                                        </a>-->
                    <a data-ng-show="currenPageName != 'spareRequest'" ui-sref="app.salesorder" ui-scroll-to="app">
                        Back to List
                    </a>
                    <a data-ng-show="currenPageName == 'spareRequest'" ui-sref="app.spareRequest" ui-scroll-to="app">
                        Back to List
                    </a>
                </div>
            </div>
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-4 ">
                                <strong class="bottommarginxs ">TO</strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="orderListModel.customerInfo"
                                       placeholder="Customer Details..."
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingCustomerLocations"
                                       typeahead-no-results="noCustomerResults"
                                       typeahead-min-length="0"
                                       typeahead-editable="true"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       required
                                       />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingCustomerLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noCustomerResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <br/>
                                <textarea class="form-control"
                                          name = "Address"
                                          ng-model = "orderListModel.customerInfo.shopping_address"
                                          placeholder="Customer Details ... "
                                          ></textarea>
                                <br/>
                                <strong class="bottommarginxs ">Company</strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="company_dropdown_{{$index}}"
                                       ng-model="orderListModel.companyInfo"
                                       placeholder="Company Details"
                                       uib-typeahead="company for company in getCompanyList($viewValue)"
                                       typeahead-loading="loadingCompany"
                                       typeahead-no-results="noCompanyResults"
                                       typeahead-min-length="0"
                                       typeahead-editable="false"
                                       typeahead-template-url="company_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCompanyModel($model)"
                                       autocomplete="off"
                                       />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingCompany" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noCompanyResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <strong class="bottommarginxs ">Payee</strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="payee_dropdown_{{$index}}"
                                       ng-model="orderListModel.payeeInfo"
                                       placeholder="Payee Details"
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingPayeeLocations"
                                       typeahead-no-results="noPayeeResults"
                                       typeahead-min-length="0"
                                       typeahead-editable="false"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingPayeeLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noPayeeResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <strong class="bottommarginxs topmarginsm">Delivery Detail</strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="consignee_dropdown_{{$index}}"
                                       ng-model="orderListModel.consigneeInfo"
                                       placeholder="Delivery Detail Details"
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingConsigneeLocations"
                                       typeahead-no-results="noConsigneeResults"
                                       typeahead-min-length="0"
                                       typeahead-editable="false"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingConsigneeLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noConsigneeResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class=" col-sm-3 ">&nbsp;</div>
                            <div class=" col-sm-5 right form ">
                                <ul class="invoice-date-info ">
                                    <li class="bottommarginsm ">
                                        <span class="tit ">Order Code</span>
                                        <span class="tit-desc ">
                                            <input type="text"
                                                   class="form-control "
                                                   ng-model = "orderListModel.invoiceCode"
                                                   name="invoicecode"
                                                   data-ng-disabled = "true"
                                                   placeholder="Order Code"
                                                   value="10"
                                                   />
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit ">Order No</span>
                                        <span class="tit-desc ">
                                            <input type="text"
                                                   class="form-control "
                                                   ng-model = "orderListModel.invoiceNo"
                                                   name="invoiceno"
                                                   validator = "validationFactory.hasRequired(orderListModel.invoiceNo) == false ||validationFactory.isPositiveNumber(orderListModel.invoiceNo) === true"
                                                   placeholder="Order No"
                                                   value="10"
                                                   />
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit ">Order Prefix </span>
                                        <span class="tit-desc ">
                                            <select ng-model="orderListModel.invoicePrefix" name="prefix" class="form-control">
                                                <option value="">-None-</option>
                                                <option value="{{prefix + ''}}" data-ng-repeat="prefix in orderListModel.prefixList">{{prefix}}</option>
                                            </select>

                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit ">Order Date </span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                                   ng-model="orderListModel.billdate" readonly is-open="startDateOpen"
                                                   min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close"  />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit ">Due Date </span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                                   ng-model="orderListModel.duedate" readonly is-open="dueDateOpen"
                                                   min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close"
                                                   />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>
<!--                                    <li class="bottommarginsm ">
                                        <span class="tit ">Expiry Date </span>
                                        <span class="tit-desc ">
                                            <input name="expiry_date" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                                   ng-model="orderListModel.expiry_date" readonly is-open="expiryDateOpen"
                                                   min-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                                   close-text="Close"  />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(2)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>-->
                                    <li class="bottommarginsm   ship-date clearfix ">
                                        <span class="tit ">Tax </span>
                                        <span class="tit-desc ">
                                            <select name="taxDropDown"
                                                    type = "text"
                                                    ng-model="orderListModel.tax_id"
                                                    class="form-control"
                                                    ng-change="updateInvoiceTotal(); calculateTaxAmt()">
                                                <option value="">-None-</option>
                                                <option value="{{tax.id}}" data-ng-repeat="tax in orderListModel.taxInfo">{{tax.tax_name}}{{tax.is_group == 1 ? ('Group') : ''}}-{{tax.tax_percentage}}%</option>
                                            </select>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ship-date clearfix ">
                                        <span class="tit ">Discount Mode </span>
                                        <span class="tit-desc ">
                                            <select ng-model="orderListModel.discountMode" ng-change="updateInvoiceTotal()" class="form-control">
                                                <option value="%">%</option>
                                                <option value="amount">Amount</option>
                                            </select>
                                        </span>
                                    </li>
                                    <li class=" bottommarginsm ship-date clearfix ">
                                        <span class="tit ">Discount</span>
                                        <span class="tit-desc ">
                                            <input type="text" size="20"
                                                   class="form-control"
                                                   name = "discountPercentage"
                                                   ng-model = "orderListModel.discountPercentage"
                                                   ng-change="updateInvoiceTotal()"
                                                   validator = "validationFactory.isPositiveNumber(orderListModel.discountPercentage) === true"
                                                   />
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ship-date clearfix ">
                                        <span class="tit ">Insurance Charge</span>
                                        <span class="tit-desc ">
                                            <input type="text" size="20"
                                                   class="form-control"
                                                   name="insuranceCharge"
                                                   ng-model = "orderListModel.insuranceCharge"
                                                   ng-change="updateInvoiceTotal()"
                                                   validator = "validationFactory.isPositiveNumber(orderListModel.insuranceCharge) === true"
                                                   />
                                        </span>
                                    </li>
                                    <li class=" bottommarginsm ship-date clearfix ">
                                        <span class="tit ">Packing Charge</span>
                                        <span class="tit-desc ">
                                            <input type="text" size="20"
                                                   class="form-control"
                                                   name="packing"
                                                   ng-model="orderListModel.packagingCharge"
                                                   ng-change="updateInvoiceTotal()"
                                                   validator = "validationFactory.isPositiveNumber(orderListModel.packagingCharge) === true"
                                                   />
                                        </span>
                                    </li>
                                    <li class=" bottommarginsm ship-date clearfix ">
                                        <span class="tit ">Status</span>
                                        <span class="tit-desc ">
                                            <select class="form-control "
                                                    ng-model="orderListModel.status"
                                                    name="statusdropdown"
                                                    >
                                                <option value="">All Status</option>
                                                <option value= "new">New</option>
                                                <option value= "pending">Pending</option>
                                                <option value= "invoiced">Invoiced</option>
                                            </select>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-12  ">
                                <div class="product-add topmargin  ">

                                    <ul class="ul-list-wrapper ul-table-head clearfix ">
                                        <li class="num ">
                                            #
                                        </li>
                                        <li class="name ">
                                            Name
                                        </li>
                                        <!--                                        <li class="sku left ">
                                                                                    SKU
                                                                                </li>-->
                                        <li class="right uom " data-ng-hide="!appConfig.uomdisplay">
                                            {{appConfig.uomlabel}}
                                        </li>
                                        <li class="right qty ">
                                            Qty
                                        </li>
                                        <li class="right price ">
                                            Price
                                        </li>
                                        <li class="right f-right action ">
                                            &nbsp;
                                        </li>
                                        <li class="right f-right row-total ">
                                            Row Total
                                        </li>
                                    </ul>
                                    <div class="invoice-prod-list table-responsive ">
                                        <ul class="ul-list-wrapper ul-table-details clearfix " data-ng-repeat="order in orderListModel.list">
                                            <li class="num center ">
                                                {{$index + 1}}
                                            </li>
                                            <li class="name ">
                                                <input type="text"
                                                       ng-model="order.productname"
                                                       placeholder="Product list.."
                                                       uib-typeahead="itemList  as itemList.name for itemList in orderListModel.productList | filter:{name:$viewValue}"
                                                       typeahead-loading="loadingProductLocations"
                                                       typeahead-template-url="product_dropdown__tpl.html"
                                                       class="form-control"
                                                       typeahead-editable="true"
                                                       typeahead-no-results="noProductResults"
                                                       typeahead-show-hint="true"
                                                       typeahead-input-formatter="formatProductModel($model,$index)"
                                                       typeahead-min-length="0"
                                                       ng-blur="initValidateProductDataAndAddNew($index)">
                                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                                <!--                                                <div ng-show="noProductResults">
                                                                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                                                </div>-->
                                            </li>
                                            <!--                                            <li class="sku ">
                                                                                            <input
                                                                                                name="sku_{{$index}}"
                                                                                                type="text"
                                                                                                class="form-control qty left "
                                                                                                data-ng-model="orderListModel.list[$index].sku"
                                                                                                placeholder="sku"
                                                                                                angular-validator-field
                                                                                                />
                                                                                        </li>-->
                                            <li class="uom right " data-ng-hide="!appConfig.uomdisplay">
                                                <input type="text"
                                                       class="form-control"
                                                       name="uom_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].uomInfo"
                                                       placeholder="Uom Details..."
                                                       uib-typeahead="uom for uom in getUomList($viewValue)"
                                                       typeahead-loading="loadingLocations"
                                                       typeahead-no-results="noResults"
                                                       typeahead-min-length="0"
                                                       typeahead-editable="true"
                                                       typeahead-template-url="uom_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatUomModel($model)"
                                                       autocomplete="off"   angular-validator-field
                                                       />
                                                <span class="glyphicon glyphicon-search box-search "></span>
                                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                            </li>
                                            <li  class="qty right ">
                                                <input
                                                    name="qty_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right in-add"
                                                    data-ng-model="orderListModel.list[$index].qty"
                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].qty)"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    placeholder="qty"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li class="price right ">
                                                <input
                                                    name="sales_price_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right in-add1"
                                                    data-ng-model="order.sales_price"
                                                    validator = "validationFactory.isNumber($parent.orderListModel.list[$index].sales_price)"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    placeholder="Price"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li class="action f-right right ">
                                                <a href="javascript:void(0)" data-ng-if="$index != (orderListModel.list.length - 1)" data-ng-click="deleteProduct($parent.orderListModel.list[$index].id)" ui-toggle-class="" style="padding: 0;">
                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                </a>
                                            </li>
                                            <li class="row-total  f-right right ">
                                                <input
                                                    name="rowtotal"
                                                    type="text"
                                                    class="form-control qty right in-row-total "
                                                    data-ng-model=order.rowtotal
                                                    data-ng-change="updateInvoiceTotal()"
                                                    data-ng-disabled="true"
                                                    />
                                            </li>
                                            <li class="ul-table-inner-wrapper clearfix ">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="ul-table-inner clearfix  ">
                                                    <li class="" data-ng-show="appConfig.invoice_item_custom1 == true">
                                                        {{appConfig.invoice_item_custom1_label}}
                                                        <input
                                                            name="invoice_item_custom1_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt1"
                                                            placeholder="Type Value"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom2 == true">
                                                        {{(appConfig.invoice_item_custom2_label)}}
                                                        <input
                                                            name="invoice_item_custom2_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt2"
                                                            placeholder="Type Value"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom3 == true">
                                                        {{(appConfig.invoice_item_custom3_label)}}
                                                        <input
                                                            name="invoice_item_custom3_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt3"
                                                            placeholder="Type Value"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom4 == true">
                                                        {{appConfig.invoice_item_custom4_label}}
                                                        <input
                                                            name="invoice_item_custom4_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt4"
                                                            placeholder="Type Value"
                                                            angular-validator-field
                                                            /></br></li>
                                                    <li data-ng-show="appConfig.invoice_item_custom5 == true">
                                                        {{appConfig.invoice_item_custom5_label}}
                                                        <input
                                                            name="invoice_item_custom5_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt5"
                                                            placeholder="Type Value"
                                                            angular-validator-field
                                                            />
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <a class="add-more-prod panel panel-default glyphicon glyphicon-plus " href="javascript:void(0)" data-ng-click="addNewProduct()"></a>
                                        </ul>
                                        <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">

                                            <tfoot>
                                                <tr>
                                                    <td class="right " colspan="6"><br>
                                                        <strong>Sub Total:</strong>
                                                    </td>
                                                    <td class="right " colspan="1"><br>
                                                        <strong>{{currencyFormat}}.{{orderListModel.subtotal}}</strong>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6">
                                                        Discount:
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.discountAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6">
                                                        Tax:
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.taxAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6">
                                                        Insurance Charge:
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.insuranceAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6">
                                                        Packing Charge:
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.packagingAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="right " colspan="6">
                                                        Round off:
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.roundoff}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6"><br/>
                                                        <strong>Grand Total({{currencyFormat}}):</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1"><br/>
                                                        <strong>{{currencyFormat}}.{{orderListModel.round}}</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
                                <div class="model_popup" ng-if="showpopup" >
                                    <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
                                    </div>
                                </div>
                                <div class=" attr-groups topmargin toppadding  " >
                                    <div class=" row " >
                                        <div class="col-sm-3 " data-ng-repeat="attribute in customAttributeList">
                                            <div class="row ">
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'checkbox'">
                                                    <custom-checkbox name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="order_edit_form"></custom-checkbox>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'dropdown'">
                                                    <custom-selectoption name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="order_edit_form"></custom-selectoption>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'multiselect'">
                                                    <custom-multiselect name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="order_edit_form"></custom-multiselect>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'YesOrNo'">
                                                    <custom-yes-or-no name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="order_edit_form"></custom-yes-or-no>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                                    <custom-textinput name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="order_edit_form"></custom-textinput>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="notes ">
                                    <div class="row ">
                                        <div class="col-sm-12 ">
                                            <strong>NOTES</strong>
                                            <textarea class="form-control"
                                                      name = "Notes"
                                                      ng-model = "orderListModel.notes"
                                                      placeholder="Enter notes that are visible to your customer"
                                                      ></textarea>
                                        </div>
                                    </div>
                                </div>-->
            </div>
        </div>
    </form>
    <div class="model_overlay" ng-if="showMachinePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showMachinePopup" >
        <a href="javascript:void(0)" ng-click="closeMachineInfoPopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 class="center" style="font-size: 20px;">Service Machine Details</h2>
        <br>
        <div class="row topmarginsm bottommarginsm pos-shadow">
            <div class="col-sm-12" style="margin-bottom: 10px;">
                <div class="col-sm-12">
                    <label style="margin-left: 0px;">Machine Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{posModel.cusPurDetail.billing_count}}</label>
                </div>
                <div class="col-sm-12">
                    <label>Sold On&nbsp;&nbsp;&nbsp; : {{posModel.cusPurDetail.total_amount}}</label>
                </div>
                <div class="col-sm-12">
                    <label>Period till now&nbsp;&nbsp;&nbsp; : {{posModel.cusPurDetail.total_amount}}</label>
                </div>
                <div class="col-sm-12">
                    <label>Tot Purchased Amt({{currencyFormat}}.)&nbsp;&nbsp;&nbsp; : {{posModel.cusPurDetail.total_amount}}</label>
                </div>
                <div class="col-sm-12">
                    <label style="margin-left: 0px;">AMC Covered &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{posModel.cusPurDetail.last_date_of_billing}}</label>
                </div>
            </div>
        </div>
    </div>
</div>

