<script type="text/ng-template" id="incomecategory_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<script type="text/ng-template" id="city_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="salesorderpendingreportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Sales Order Pending Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <!--<a href="{{APP_CONST.API.CUSTOMER_EXCEPT_SALES_ORDER_CSVREPORT}}" ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="sales_order_pending_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="salesPending_customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               placeholder="Customer Name"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="pendingSalesloadingLocations"
                               typeahead-no-results="noPendingResultsFound"                               
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               angular-validator-field/>
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                        <i ng-show="pendingSalesloadingLocations" class="glyphicon glyphicon-refresh"></i>   
                        <div ng-show="noPendingResultsFound" class="result-dis" style="text-align: left; margin-left: 0px;">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="sea">
                        <input type="text"
                               name="city_dropdown"
                               ng-model="searchFilter.city"
                               placeholder ="City"
                               uib-typeahead="city for city in getCityList($viewValue)"
                               typeahead-loading="loadingCity"
                               typeahead-no-results="noCityResults"
                               typeahead-on-select="noCityResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="true"
                               typeahead-template-url="city_dropdown__tpl.html"
                               typeahead-input-formatter="formatcityModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingCity" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noCityResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" angular-validator-field
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" angular-validator-field
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary" data-ng-disabled="salesOrderPendingModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":salesOrderPendingModel.isSearchLoadingProgress}'>
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary "  data-ng-click="clearFilters()" angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>   
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate|date:'dd-MM-yyyy'}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:'dd-MM-yyyy'}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:'dd-MM-yyyy'}}</li>
                    <li class="col-sm-4 ">Customer Name:{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                    <!--<li class="col-sm-4 ">User Name:{{salesOrderPendingModel.userName == '' ? '-' : salesOrderPendingModel.userName}}</li>-->

                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table  no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Date
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Customer Code
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Customer Name
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Product Name
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Company
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                City
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Mobile No
                            </th>                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="salesOrderPendingModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="salesOrderPendingModel.list.length == 0">
                            <td colspan="7" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="salesorderpending in salesOrderPendingModel.list">
                            <td>
                                {{salesorderpending.date}}
                            </td>
                            <td>
                                {{salesorderpending.customer_code}}
                            </td>
                            <td>
                                {{salesorderpending.customer_name}}
                            </td>                            
                            <td>
                                {{salesorderpending.product_name}}
                            </td>
                            <td>
                                {{salesorderpending.company}}
                            </td>
                            <td>
                                {{salesorderpending.billing_city}}
                            </td>
                            <td>
                                {{salesorderpending.phone}}
                            </td>                           
                        </tr>
                    </tbody>                                    
                </table>
            </div>
        </div>
    </div>
</div>