
<div class="app-content-body fade-in-up"  data-ng-controller="screenAccessEditCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Screen Access - {{roleName}}</h2>
                <a ui-sref="app.userrole" class="add_button" ui-scroll-to="app">Back to Role List</a>
            </div>
        </div>
        <div class="model_overlay" ng-show="screenAccessModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
        <div class="wrapper-md role-access-edit ">
            <div class="  clearfix form-wrapper">
                <form name="modify_screen_access_form" angular-validator-submit="modifyUserScreenAccess()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="table-responsive ">
                        <table class="table nolink table-striped b-t  dataTable no-footer screenAccess" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row" >
                                    <th style="width:250px;" rowspan="1" colspan="1" >
                                        Screen Name
                                    </th>
                                    <th  style="width:180px;" rowspan="1" colspan="1" >
                                        <input type="checkbox"
                                               class=" "
                                               id="is_createall"
                                               name="is_createall"
                                               data-ng-model="screenAccessModel.createall"
                                               data-ng-change="selectCreateAll()"
                                               style="top: -10px !important;"
                                               />
                                        <label for="is_createall" class="create-role"></label>
                                        Create
                                    </th>
                                    <th style="width:180px;" rowspan="1" colspan="1">
                                        <input type="checkbox"
                                               class=" "
                                               id="is_modifyall"
                                               name="is_modifyall"
                                               data-ng-model="screenAccessModel.modifyall"
                                               data-ng-change="selectModifyAll()"
                                               />
                                        <label for="is_modifyall" class="create-role"></label>
                                        Modify
                                    </th>
                                    <th style="width:180px;" rowspan="1" colspan="1">
                                        <input type="checkbox"
                                               class=" "
                                               id="is_viewall"
                                               name="is_viewall"
                                               data-ng-model="screenAccessModel.viewall"
                                               data-ng-change="selectViewAll()"
                                               />
                                        <label for="is_viewall" class="create-role"></label>
                                        View
                                    </th>
                                    <th style="width:180px;" rowspan="1" colspan="1">
                                        <input type="checkbox"
                                               class=" "
                                               id="is_deleteall"
                                               name="is_deleteall"
                                               data-ng-model="screenAccessModel.deleteall"
                                               data-ng-change="selectDeleteAll()"
                                               />
                                        <label for="is_deleteall" class="create-role"></label>
                                        Delete
                                    </th>
                                    <th style="width:180px;" rowspan="1" colspan="1">
                                        Fetch Records
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Dashboard</b></td>
                                </tr>
                                <tr class="lable-align  " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Dashboard'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_d"
                                               name="is_create_{{$index}}_d"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_d"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_d"
                                               name="is_modify_{{$index}}_d"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_d"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_d"
                                               name="is_view_{{$index}}_d"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_d"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_d"
                                               name="is_delete_{{$index}}_d"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_d"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_d" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Task Management</b></td>
                                </tr>
                                <tr class="lable-align  " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Task Management'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_taskManagement"
                                               name="is_create_{{$index}}_taskManagement"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_taskManagement"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_taskManagement"
                                               name="is_modify_{{$index}}_taskManagement"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_taskManagement"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_taskManagement"
                                               name="is_view_{{$index}}_taskManagement"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_taskManagement"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_taskManagement"
                                               name="is_delete_{{$index}}_taskManagement"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_taskManagement"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_taskManagement" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Service Request</b></td>
                                </tr>
                                <tr class="lable-align  " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Service Request'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_servicerequest"
                                               name="is_create_{{$index}}_servicerequest"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_servicerequest"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_servicerequest"
                                               name="is_modify_{{$index}}_servicerequest"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_servicerequest"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_servicerequest"
                                               name="is_view_{{$index}}_servicerequest"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_servicerequest"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_servicerequest"
                                               name="is_delete_{{$index}}_servicerequest"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_servicerequest"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_servicerequest" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Customer</b></td>
                                </tr>
                                <tr class="lable-align " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Customer'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_c"
                                               name="is_create_{{$index}}_c"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_c"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_c"
                                               name="is_modify_{{$index}}_c"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_c"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_c"
                                               name="is_view_{{$index}}_c"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_c"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_c"
                                               name="is_delete_{{$index}}_c"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_c"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_c" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Purchase</b></td>
                                </tr>
                                <tr class="lable-align " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Purchase'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_p"
                                               name="is_create_{{$index}}_p"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_p"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_p"
                                               name="is_modify_{{$index}}_p"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_p"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_p"
                                               name="is_view_{{$index}}_p"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_p"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_p"
                                               name="is_delete_{{$index}}_p"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_p"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_p" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Sales</b></td>
                                </tr>
                                <tr class="lable-align " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Sales'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_s"
                                               name="is_create_{{$index}}_s"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_s"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_s"
                                               name="is_modify_{{$index}}_s"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_s"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_s"
                                               name="is_view_{{$index}}_s"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_s"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_s"
                                               name="is_delete_{{$index}}_s"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_s"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_s" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Inventory</b></td>
                                </tr>
                                <tr class="lable-align " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Inventory'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_i"
                                               name="is_create_{{$index}}_i"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_i"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_i"
                                               name="is_modify_{{$index}}_i"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_i"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_i"
                                               name="is_view_{{$index}}_i"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_i"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_i"
                                               name="is_delete_{{$index}}_i"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_i"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_i" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Bank & Cash</b></td>
                                </tr>
                                <tr class="lable-align " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Bank & Cash'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_bc"
                                               name="is_create_{{$index}}_bc"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_bc"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_bc"
                                               name="is_modify_{{$index}}_bc"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_bc"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_bc"
                                               name="is_view_{{$index}}_bc"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_bc"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_bc"
                                               name="is_delete_{{$index}}_bc"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_bc"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_bc" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Accounts</b></td>
                                </tr>
                                <tr class="lable-align " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Accounts'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_t"
                                               name="is_create_{{$index}}_t"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_t"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_t"
                                               name="is_modify_{{$index}}_t"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_t"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_t"
                                               name="is_view_{{$index}}_t"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_t"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_t"
                                               name="is_delete_{{$index}}_t"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_t"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_t" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Products & Services</b></td>
                                </tr>
                                <tr class="lable-align " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Products & Services'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_ps"
                                               name="is_create_{{$index}}_ps"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_ps"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_ps"
                                               name="is_modify_{{$index}}_ps"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_ps"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_ps"
                                               name="is_view_{{$index}}_ps"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_ps"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_ps"
                                               name="is_delete_{{$index}}_ps"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_ps"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_ps" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Settings</b></td>
                                </tr>
                                <tr class="lable-align " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Settings'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_set"
                                               name="is_create_{{$index}}_set"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_set"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_set"
                                               name="is_modify_{{$index}}_set"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_set"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_set"
                                               name="is_view_{{$index}}_set"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_set"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_set"
                                               name="is_delete_{{$index}}_set"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_set"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_set" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Reports</b></td>
                                </tr>
                                <tr class="lable-align " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Reports'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_rep"
                                               name="is_create_{{$index}}_rep"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_rep"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_rep"
                                               name="is_modify_{{$index}}_rep"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_rep"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_rep"
                                               name="is_view_{{$index}}_rep"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_rep"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_rep"
                                               name="is_delete_{{$index}}_rep"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_rep"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_rep" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Utilities</b></td>
                                </tr>
                                <tr class="lable-align  " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Utilities'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_util"
                                               name="is_create_{{$index}}_util"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_util"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_util"
                                               name="is_modify_{{$index}}_util"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_util"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_util"
                                               name="is_view_{{$index}}_util"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_util"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_util"
                                               name="is_delete_{{$index}}_util"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_util"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_util" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Photography</b></td>
                                </tr>
                                <tr class="lable-align  " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Photography'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_album"
                                               name="is_create_{{$index}}_album"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_album"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_album"
                                               name="is_modify_{{$index}}_album"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_album"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_album"
                                               name="is_view_{{$index}}_album"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_album"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_album"
                                               name="is_delete_{{$index}}_album"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_album"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_album" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Change Password</b></td>
                                </tr>
                                <tr class="lable-align " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Change Password'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_pass"
                                               name="is_create_{{$index}}_pass"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_pass"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_pass"
                                               name="is_modify_{{$index}}_pass"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_pass"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_pass"
                                               name="is_view_{{$index}}_pass"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_pass"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_pass"
                                               name="is_delete_{{$index}}_pass"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_pass"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_pass" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>CRM</b></td>
                                </tr>
                                <tr class="lable-align  " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'CRM'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_stage"
                                               name="is_create_{{$index}}_stage"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_stage"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_stage"
                                               name="is_modify_{{$index}}_stage"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_stage"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_stage"
                                               name="is_view_{{$index}}_stage"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_stage"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_stage"
                                               name="is_delete_{{$index}}_stage"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_stage"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_stage" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Human Resource</b></td>
                                </tr>
                                <tr class="lable-align  " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Human Resource'}">
                                    <td>
                                        {{accessInfo.name}}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_hr"
                                               name="is_create_{{$index}}_hr"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_hr"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_hr"
                                               name="is_modify_{{$index}}_hr"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_hr"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_hr"
                                               name="is_view_{{$index}}_hr"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_hr"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_hr"
                                               name="is_delete_{{$index}}_hr"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_hr"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_hr" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="lable-align tite-rol">
                                    <td colspan="5"><b>Manufacturing</b></td>
                                </tr>
                                <tr class="lable-align  " data-ng-repeat="accessInfo in screenAccessModel.userScreenList | filter:{section_name:'Manufacturing'}">
                                    <td>
                                        {{accessInfo.name}}                                                                               
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="createactive_{{$index}}_manufacture"
                                               name="is_create_{{$index}}_manufacture"
                                               data-ng-model="accessInfo.is_create"
                                               />
                                        <label for="createactive_{{$index}}_manufacture"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="modifyactive_{{$index}}_manufacture"
                                               name="is_modify_{{$index}}_manufacture"
                                               data-ng-model="accessInfo.is_modify"
                                               />
                                        <label for="modifyactive_{{$index}}_manufacture"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="viewactive_{{$index}}_manufacture"
                                               name="is_view_{{$index}}_manufacture"
                                               data-ng-model="accessInfo.is_view"
                                               />
                                        <label for="viewactive_{{$index}}_manufacture"></label>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               class=" "
                                               id="deleteactive_{{$index}}_manufacture"
                                               name="is_delete_{{$index}}_manufacture"
                                               data-ng-model="accessInfo.is_delete"
                                               />
                                        <label for="deleteactive_{{$index}}_manufacture"></label>
                                    </td>
                                    <td>
                                        <select  name="fetch_data_{{$index}}_manufacture" data-ng-model="accessInfo.is_visible_to"  class="form-control">
                                            <option value="All">All</option>
                                            <option value="Mine">Mine</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()">Reset</a>
                    </div>
                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md ">
            </div>
        </div>
    </div>
</div>