<div class="panel panel-default " data-ng-controller="sendMailCtrl">
    <div class="panel-heading clearfix " >
        {{mailHeader}}
        <form name="send_mail_form" angular-validator-submit="sendEmail()" class="form-horizontal  clearfix" novalidate angular-validator >       
            <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <div class="head_right clearfix ">
            <div class="form-group">
                <label>From </label>
                <input  type = "text"
                        class="form-control"
                        name = "Sender"
                        ng-model = "senderEmail"
                        placeholder="Sender"
                        />
            </div>                        
                <li data-ng-repeat="toEmail in $parent.receiver">                
            <div class="form-group">
                    <label>To </label>    
                <input  type = "text"
                        class="form-control"
                                name = "Receiver_{{$index}}"
                                ng-model = "toEmail.email"
                        placeholder="Receiver"
                        />
            </div>
                </li>
                <a href="javascript:void(0)" class="add-more" data-ng-click="addMoreReceiverEmail()"><span>+ </span></a>                
            <div class="form-group">
                <label>Cc </label>
                <input  type = "text"
                        class="form-control"
                        name = "cc-mail"
                        ng-model = "ccEmail"
                        placeholder="cc-mail"
                        />
            </div>                      
               <div class="form-group">
                    <label>Subject </label>
                    <input  type = "text"
                            class="form-control"
                            name = "subject"
                            ng-model = "subject"
                            placeholder="Subject"
                            />
                </div>                                 
               <!-- <div class="form-group">
                    <label>Message</label>             
                    <textarea rows="17" cols="70"  maxlength="150"
                              class="form-control "
                              name = "message"
                              ng-model = "$parent.sendMsg"
                              placeholder="Send Message"
                              ></textarea>                    
                </div>         -->
                <div class="form-group clearfix ">
                    <label style="width: 100%;"></label>
                    <input type="checkbox"
                           class=" "
                           id="sendWithCopy"
                           name="is_active"
                           data-ng-model="$parent.sendWithCopy"
                           />
                    <label for="sendWithCopy">Attached files</label>                    
                </div>         
                <div class=" " ng-if="$parent.isAttachInvoicePDF">
                    <div class="form-group clearfix ">
                        <label style="width: 100%;"></label>
                        <input type="checkbox"
                               class=" "
                               id="AttachInvoicePDF"
                               name="is_active"
                               data-ng-model="attahed_pdf_copy"
                               />
                        <label for="AttachInvoicePDF">Attach invoice as a PDF</label>
                    </div>                         
                </div>
            <li>
                <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn"   data-ng-class='{"btn-loader":isLoadingProgress}' >Send</button>                        
                        <!--<a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closePopup()">Cancel</a>-->
                        <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>                        
                </div>
            </li>            
        </div>
        </form>
    </div>  
</div>