<script type="text/ng-template" id="employee_dropdown__tpl.html">
      <a>
      <span ng-bind-html="match.model.f_name + '(' + match.model.id + ',' + match.model.emp_code + ')' | uibTypeaheadHighlight:query"></span>
      </a>
</script>
<script type="text/ng-template" id="product_dropdown__tpl.html">
      <a>
      <span ng-bind-html="match.model.product_name | uibTypeaheadHighlight:query"></span><br>
      <span ng-bind-html="match.model.serial_no | uibTypeaheadHighlight:query"></span>
      </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="serviceRequestAddCtrl">

      <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                  <h2>Service Request Add</h2>
                  <a ui-sref="app.servicerequest" class="add_button" ui-scroll-to="app">Back to List</a>
            </div>
      </div>
      <div class="container animated fadeInUp clearfix topmarginsm  ">
            <div class="wrapper-md bg-white topmargin invoice-add ">
                  <div class="  clearfix add-form form-wrapper">
                        <form name="create_servicerequest_form" autoComplete="off" angular-validator-submit="createServiceRequest()" class="form-horizontal clearfix " novalidate angular-validator >
                              <div class="row ">
                                    <div class="col-sm-5 ">
                                          <div class="row ">    
                                                <div class="col-sm-5 topmarginxs right ">
                                                      <label>Date*</label>
                                                </div>
                                                <div class="col-sm-7 ">
                                                      <input name="date" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                                             ng-model="serviceModel.date" readonly is-open="startDateOpen"
                                                             min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                                             required close-text="Close"  />
                                                      <button type="button" class="btn btn-default btn-choose date-btn" ng-click="openDate(0)">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                      </button>
                                                </div>
                                                <div class="col-sm-5 topmarginxs right ">
                                                      <label>Customer Detail*</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <input type="text"
                                                             class="form-control"
                                                             name="customer_dropdown_{{$index}}"
                                                             ng-model="serviceModel.customerInfo"
                                                             placeholder="Customer Details"
                                                             ng-change ="updateProductDetails()"
                                                             uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                                             typeahead-loading="loadingCustLocations"
                                                             typeahead-no-results="noCustResults"
                                                             typeahead-min-length="0"
                                                             typeahead-editable="false"
                                                             typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                                             typeahead-input-formatter="formatCustomerModel($model)"
                                                             typeahead-on-select="getServiceRequestList();getProductList()"
                                                             autocomplete="off"
                                                             required
                                                             />
                                                      <span class="glyphicon glyphicon-search box-search "></span>
                                                      <i ng-show="loadingCustLocations" class="glyphicon glyphicon-refresh"></i>
                                                      <div ng-show="noCustResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                      </div>
                                                </div>
                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Assigned Employee*</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <input type="text"
                                                             class="form-control"
                                                             name="employee_dropdown"
                                                             ng-model="serviceModel.empInfo"
                                                             placeholder="Employee Name"
                                                             uib-typeahead="employee for employee in getEmployeeList($viewValue)"
                                                             typeahead-loading="loadingLocations"
                                                             typeahead-no-results="noResults"
                                                             typeahead-min-length="0"
                                                             typeahead-editable="false"
                                                             typeahead-template-url="employee_dropdown__tpl.html"
                                                             typeahead-input-formatter="formatEmployeeModel($model)"
                                                             required/>
                                                      <span class="glyphicon glyphicon-search box-search "></span>
                                                      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                      <div ng-show="noResults">
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                      </div>  
                                                </div>
                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Machine Status*</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <select name="machine_dropdown" ng-model="serviceModel.machine_status" required class="form-control">
                                                            <option value="">-Select-</option>
                                                            <option value="installation">Installation</option>
                                                            <option value="i/w">In Warranty</option>
                                                            <option value="amc">AMC</option>
                                                            <option value="o/w">Out of Warranty</option>
                                                      </select>
                                                </div>
                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Model</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <input type="text" name="model_name" class="form-control"
                                                             placeholder="Model"
                                                             ng-model="serviceModel.model_name"/>
                                                </div>
                                                <div class="col-sm-5 topmarginxs right">
                                                      <label>Status</label>
                                                </div>
                                                <div class="col-sm-7 bottommargin">
                                                      <select name="status_dropdown" class="form-control" ng-model="serviceModel.status">
                                                            <option value="New" >New</option>
                                                            <option value="In Progress">In Progress</option>
                                                            <option value="Completed">Completed</option>
                                                      </select>
                                                </div>

                                          </div>
                                    </div>
                                    <div class="col-sm-5">
                                          <div class="col-sm-5 topmarginxs right ">
                                                <label>Machine*</label>
                                          </div>
                                          <div class="col-sm-7 bottommargin">
                                                <input type="text"
                                                       name="product_dropdown"
                                                       ng-model="serviceModel.productname"
                                                       placeholder="Product list.."
                                                       uib-typeahead="itemList for itemList in getProductList($viewValue)"
                                                       typeahead-loading="loadingProductLocations"
                                                       typeahead-on-select='updateProductInfo()'
                                                       ng-change='updateStatusInfo()'
                                                       typeahead-no-results="noProductResults"
                                                       typeahead-template-url="product_dropdown__tpl.html"
                                                       class="form-control"
                                                       typeahead-editable="false"
                                                       typeahead-min-length="0"
                                                       typeahead-input-formatter="formatProductModel($model)"
                                                       required
                                                       />
                                                <span class="glyphicon glyphicon-search box-search "></span>
                                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noProductResults">
                                                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                          </div> 
                                          <div class="padding-xs" >
                                                <div class="  clearfix add-form form-wrapper">
                                                      <div class="row lead-info bottommarginsm" style="margin-left: 23%;margin-top: 75px;" >
                                                            <div class="bg-style">
                                                                  <h4>Service Request Info</h4>                                             
                                                            </div>
                                                            <div class="lead-box" >
                                                                  <table >
                                                                        <tr style="background-color: #fff;">
                                                                              <td class="wrapper-xs">Name</td>
                                                                              <td class="wrapper-xs" ng-show="serviceModel.productname.invoice_item_id != 0">:&nbsp;&nbsp;{{serviceModel.productname.product_name}}</td>
                                                                        </tr>
                                                                        <tr style="background-color: #fff;">
                                                                              <td class="wrapper-xs">Date Sold</td>
                                                                              <td class="wrapper-xs" ng-show="serviceModel.productname.invoice_item_id != 0">:&nbsp;&nbsp;{{serviceModel.productname.date}}</td>
                                                                        </tr>
                                                                        <!--                                                <tr style="background-color: #fff;">
                                                                                                                            <td class="wrapper-xs">Amount</td>
                                                                                                                            <td class="wrapper-xs" ng-show="serviceModel.productname.invoice_item_id != 0">:&nbsp;&nbsp;{{serviceModel.productname.amount}}</td>
                                                                                                                        </tr>-->
                                                                        <tr style="background-color: #fff;">
                                                                              <td class="wrapper-xs">Life Time</td>
                                                                              <td class="wrapper-xs" ng-show="serviceModel.productname.invoice_item_id != 0">:&nbsp;&nbsp;{{serviceModel.productname.life_time}}</td>
                                                                        </tr>
                                                                        <tr style="background-color: #fff;">
                                                                              <td class="wrapper-xs">AMC Covered</td>
                                                                              <td class="wrapper-xs" ng-show="serviceModel.productname.invoice_item_id != 0">:&nbsp;&nbsp;{{serviceModel.productname.amc_covered}}</td>
                                                                        </tr>
                                                                  </table>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-sm-1" data-ng-show="serviceModel.customerInfo != '' && serviceModel.customerInfo != 'undefined' && serviceModel.customerInfo != null && serviceModel.customerInfo.id != 'undefined'">
                                          <button type="button" class="btn btn-sm btn-primary btn_grn" data-ng-click="openServiceRequestPopup()" style="font-size: 12px;" >Service Request Details</button>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="row">
                                          <div class="col-sm-1">&nbsp;</div>
                                          <div class="col-sm-10"><label>Problem*</label></div>
                                          <div class="col-sm-1">&nbsp;</div>                            
                                    </div>
                                    <div class="col-sm-1">&nbsp;</div>
                                    <div class="col-sm-10 center bottommargin">
                                          <textarea type="text" 
                                                    class="form-control"
                                                    name="problem_txt"
                                                    ng-model="serviceModel.problem"
                                                    placeholder="Problem"
                                                    required>
                                          </textarea>
                                    </div>
                                    <div class="col-sm-1">&nbsp;</div>
                              </div>
                              <div class="form-group full_w btn_group">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                    "btn-loader":isDataSavingProcess}' >Submit</button>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" angular-validator-form-reset data-ng-click="formReset()">Reset</a>
                              </div>

                        </form>
                        <div style="clear: both;"></div>
                        <div class="wrapper-md ">
                        </div>
                  </div>
            </div>
      </div>
      <div class="model_overlay" ng-if="showServiceRequestPopup" ></div>
      <div class="model_popup delet-popup add_review_popup" ng-if="showServiceRequestPopup" >
            <a href="javascript:void(0)" ng-click="closeServiceRequestPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2 class="pop-head">Service Request Details</h2>
            <form name="dayclose_form" angular-validator-submit="saveDaycode()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                  <div class="row scrol-popup">
                        <div class="col-sm-12 topmargin">
                              <div class="col-sm-12 clearfix bottommarginsm box-shadow-single" data-ng-repeat="service in serviceModel.serviceList">
                                    <div class="row bottommarginsm topmarginsm">  
                                          <div class="col-sm-5">
                                                <div class="row">
                                                      <div class="col-sm-6">
                                                            Product
                                                      </div>
                                                      <div class="col-sm-6">
                                                            : {{service.product_name}}
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-sm-5 f-right">
                                                <div class="row">
                                                      <div class="col-sm-6">
                                                            Date 
                                                      </div>
                                                      <div class="col-sm-5">
                                                            : {{service.date}}
                                                      </div>
                                                      <div class="col-sm-1">
                                                            <a target="_blank" data-ui-sref="app.servicerequestEdit({id: '{{service.id}}'})" ui-scroll-to="app" >
                                                                  <img style="height: 17px; float: right;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAG4SURBVGhD7Zk9LwRBHIcvIiqtj6EgPgGFloaERoGISLRqOqdXiQaNhJZINGqR6ISemkbh7fkV/2SzmbidndlZJ/MkT3Fzm5l7si+X7HQymUzmXzKMK3iEVw15iYe4iEMYnWl8xu+EPuI4RkMRH+harGnfcBSD0eX0gjbxO+7jOq424Abq0v1EW/MOBzCIZSxGTGAKZvALbe0pDOIEbTKdiZToxre1dzQQwjXaZDo7KdGPt7X1JAviBm2yBQ0kZAtt7WMNhJBDIpBDXOSQCOQQFzkkAjnERQ6JQNKQLtr3vfQl+RmpGuNLK5dWlRhfWrtHesX40lqIXt88oR1f1pdWQhRxjnasS1+Sh7giXGfGl8ZC5jVQwhWhzxov3zO+NBJyioMaKPBbhFGM8SV6SN0Iw2J8iRqyiSERhmJ8iRpSpk5EXRoLSRkhttHWCX5BZ6SOEFFfmYo2Imax+BJ7EoOoGqEHwhK6tgp81LaC7ofitsItBm0r+EToEV08LpavGLTRox97hsVJU0c84BjWxhWhz+UIsYauTc26XuABzmH5/8ubXawS8ecZwXvs6whDMXvY1xGZTBQ6nR+PcdSxQg3JugAAAABJRU5ErkJggg==">
                                                            </a>
                                                      </div>
                                                </div>
                                          </div>                            
                                    </div>
                                    <div class="row bottommarginsm border">
                                          <div class="col-sm-5 f-right">
                                                <div class="row">
                                                      <div class="col-sm-6">
                                                            Status 
                                                      </div>
                                                      <div class="col-sm-6">
                                                            : {{service.status}}
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-sm-5">
                                                <div class="row">
                                                      <div class="col-sm-6">
                                                            Employee 
                                                      </div>
                                                      <div class="col-sm-6">
                                                            : {{service.employee_name}}
                                                      </div>
                                                </div>
                                          </div>  
                                    </div>
                                    <div class="row bottommarginsm">
                                          <div class="col-sm-12">                                                             
                                                Problem &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                : {{service.problem}}
                                          </div>
                                    </div>
                                    <div class="row bottommarginsm">
                                          <div class="col-sm-12">
                                                Solution &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                : {{service.solution}}
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!--                <div class="col-sm-6">
                                      <div class="col-sm-12 clearfix bottommarginsm">
                                          <div class="col-sm-6">
                                              Cash Amount
                                          </div>
                                          <div class="col-sm-6">
                                              <input
                                                  type="text"
                                                  ng-model="posModel.cashamount"
                                                  validator = "validationFactory.isNumber(posModel.cashamount)"
                                                  name="cashamount" 
                                                  ng-readonly="true" class="txt-width"
                                                  />
                                          </div></div>
                                      <div class="col-sm-12 clearfix bottommarginsm">
                                          <div class="col-sm-6">
                                              Credit Amount
                                          </div>
                                          <div class="col-sm-6">
                                              <input
                                                  type="text"
                                                  ng-model="posModel.cardamount"
                                                  validator = "validationFactory.hasRequired(posModel.cardamount) == false || validationFactory.isNumber(posModel.cardamount)"
                                                  name="cardamount" class="txt-width"
                                                  />
                                          </div> 
                                      </div>
                                  </div>-->   
            </form>
      </div>

</div>