<div class="app-content-body fade-in-up req-stock " data-ng-controller="serviceListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Service List</h2>
            <custom-add redirect="app.serviceAdd" screencode="service"></custom-add>
            <!--<a data-ui-sref="app.serviceAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
             <a href="{{APP_CONST.API.SERVICE_DOWN}}?name={{searchFilter.name}}&type=Service&is_active=1&limit=0&start=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="panel panel-default ">
                <div class="head_right table-search wrapper-sm clearfix ">
                    <div class="sea">
                        <input type="text"
                               placeholder="Name"
                               data-ng-model="searchFilter.name"
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea" >
                        <select class="form-control "
                                ng-model="searchFilter.salesOrPurchase"
                                data-ng-change="initTableFilter()"
                                name="salesPurchaseDropDown"
                                >
                            <option value ="">All</option>
                            <option value="1">Sales</option>
                            <option value="2">Purchase</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive ">
                    <table class="table  no-link  table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 75px;" rowspan="1" colspan="1" >
                                    #
                                </th>
                                <th rowspan="1" colspan="1" >
                                    Name
                                </th>
                                <th style="width: 180px;" rowspan="1" colspan="1">
                                    SKU
                                </th>
                                <th style="width: 180px;" rowspan="1" colspan="1">
                                    HSN/Legal Code
                                </th>
                                <th style="width: 160px;" rowspan="1" colspan="1">
                                    Sales Price
                                </th>
                                <th style="width: 300px;" rowspan="1" colspan="1">
                                    Description
                                </th>
                                <th style="width: 150px;" rowspan="1" colspan="1">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="serviceModel.isLoadingProgress">
                                <td colspan="7" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>

                            <tr data-ng-if="serviceModel.list.length == 0">
                                <td colspan="7" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="service in serviceModel.list">
                                <td>
                                    <a data-ui-sref="app.serviceEdit({id: '{{service.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{service.id}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.serviceEdit({id: '{{service.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{service.name}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.serviceEdit({id: '{{service.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{service.sku}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.serviceEdit({id: '{{service.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{service.hsn_code}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.serviceEdit({id: '{{service.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{service.sales_price}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.serviceEdit({id: '{{service.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{service.description}}
                                    </a>
                                </td>
                                <td>
                                    <a  data-ui-sref="app.serviceEdit({id: '{{service.id}}'})" ui-scroll-to="app" >
                                        <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                    </a>
                                    <a class="chel-edit-add add-dash" data-ng-click="showPopup(service.id)">
                                        <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot data-ng-hide="serviceModel.list.length == 0">
                            <tr>
                                <td colspan="2" class="text-left" >
                                    <label class="show_count_label ">Show</label>
                                    <select name = "perpage"
                                            ng-model="serviceModel.limit"
                                            data-ng-hide="serviceModel.list.length == 0"
                                            ng-options="page for page in pagePerCount"
                                            class="form-control show_count"
                                            ng-change="initTableFilter()"
                                            >
                                    </select>
                                </td>
                                <td colspan="5" class="text-right">
                        <ul uib-pagination  data-ng-hide="serviceModel.list.length == 0" total-items="serviceModel.total" ng-model="serviceModel.currentPage" ng-change="getServiceListInfo()" items-per-page="serviceModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                        </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteServiceInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
</div>

