<div class="app-content-body fade-in-up"  data-ng-controller="serviceAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Service Add</h2>
            <a ui-sref="app.serviceList" class="add_button" ui-scroll-to="app">Back to Service List</a>
        </div>
    </div>

    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">

                <form name="service_add_form" angular-validator-submit="addServiceInfo()" class="form-horizontal material-form clearfix " novalidate angular-validator >


                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="servicename"
                                           class="form-control "
                                           placeholder="Name"
                                           data-ng-model="serviceModel.name"
                                           maxlength="100"
                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>SKU*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="sku"
                                           class="form-control "
                                           placeholder="SKU"
                                           data-ng-model="serviceModel.sku"
                                            maxlength="40"
                                            required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                            <label>HSN/Legal Code</label>
                                        </div>
                                        <div class="col-sm-7 bottommargin">
                                             <input type="text"
                                                   name="hsn"
                                                   class="form-control "
                                                   placeholder="HSN/Legal Code"
                                                   data-ng-model="serviceModel.hsncode"
                                                   maxlength="40"
                                                   />
                                        </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>UOM</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select type = "text" ng-model="serviceModel.uomName" class="form-control" >
                                        <option value="">-Select-</option>
                                        <option value="{{uomlist.name}}" data-ng-repeat="uomlist in serviceModel.uomList">{{uomlist.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Sales Price*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="salesPrice"
                                           class="form-control "
                                           placeholder ="Sales Price "
                                           data-ng-model="serviceModel.salesPrice"
                                           validator = "validationFactory.isNumber(serviceModel.salesPrice) === true"
                                           required
                                           />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Description</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea class="form-control"
                                              name = "Description"
                                              ng-model = "serviceModel.description"
                                              placeholder="Description"
                                              >
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label style="width: 100%;"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           id="productisSale"
                                           name="isSale"
                                           data-ng-model="serviceModel.isSale"
                                           />
                                    <label for="productisSale">Sales</label>

                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           id="productisPurchase"
                                           name="isPurchase"
                                           data-ng-model="serviceModel.isPurchase"
                                           />
                                    <label for="productisPurchase">Purchase</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()">Reset</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>