<script type="text/ng-template" id="employee_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.f_name + '(' + match.model.id + ',' + match.model.emp_code + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="city_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="serviceRequestListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Service Request</h2>
            <custom-add redirect="app.servicerequestAdd" screencode="servicerequest"></custom-add>
            <!--<a data-ui-sref="app.servicerequestAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->  
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix invoiceScreen" >
        <div class="panel panel-default ">
            <form name="servicerequest_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix expand ">
                    <div class="sea">
                        <input type="text"
                               placeholder="Id"
                               name="customerId"
                               data-ng-model="searchFilter.customerId"
                               angular-localstorage-field='true'
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea ">
                        <input type="text"
                               class="form-control"
                               name="spare_customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               placeholder="Customer Name"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingCustomerLocations"
                               typeahead-no-results="noCustomerResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"
                               angular-localstorage-field='true'/>
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingCustomerLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noCustomerResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div> 
                    </div>
                    <div class="sea ">
                        <input type="text"
                               class="form-control"
                               name="spare_product_dropdown"
                               ng-model="searchFilter.productInfo"
                               placeholder="Product Name"
                               uib-typeahead="employee for employee in getProductList($viewValue)"
                               typeahead-loading="loadingProductLocations"
                               typeahead-no-results="noProductResults"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-on-select="initTableFilter()"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatProductModel($model)"
                               autocomplete="off"
                               angular-localstorage-field='true'/>
                        <!--uib-typeahead="itemList  as itemList.name for itemList in orderListModel.productList | filter:{name:$viewValue}"-->

                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noProductResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div> 
                    </div>

                    <div class="sea ">
                        <input type="text"
                               class="form-control"
                               name="spare_employee_dropdown"
                               ng-model="searchFilter.empInfo"
                               placeholder="Employee Name"
                               uib-typeahead="employee for employee in getEmployeeList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-on-select="initTableFilter()"
                               typeahead-template-url="employee_dropdown__tpl.html"
                               typeahead-input-formatter="formatEmployeeModel($model)"
                               autocomplete="off"
                               angular-localstorage-field='true'/>
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div> 
                    </div>
                    <div class="sea ">
                        <select class="form-control " ng-model="searchFilter.machine_status" data-ng-change="initTableFilter()" name="machinestatus" angular-localstorage-field='true'>
                            <option value="">--Machine Status--</option>
                            <option value="installation">Installation</option>
                            <option value="i/w">In Warranty</option>
                            <option value="amc">AMC</option>
                            <option value="o/w">Out of Warranty</option>
                        </select>

                    </div>

                    <div class="sea expand-icon" style="float: right">
                        <a><img data-ng-click="viewfilter()" width="25"  height="25" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEgSURBVFhH7ZNBDoJADEXxHLqAuPSURI0QNUQFPKNbJq6xlaKkMAg6IyT0JZPA0P7/NjiCIAiCMFEW1/vcyfMZvdoDOp5dfVjGauUm2Q3OxaokZGMHdmEn3bZTynmpyvHAc2xFspCLKz3dJN1UbcqlyrJZSSb36oFummgBlr00O9eWTUlq5LCzez5KJtmJh/wsqZODrv65hWTEw76W1MtFX+WVGJFskzOBm2ZHHt5ZUiOHmTRhBig51Eo+SerkIIsmzAJ/2r6hrFlSI4cZNGEHKAl5aU1SK6dCmrALFAWs+C2plwto/T+4idpxCRRrksNZWvsvULzlMvzgDI0PQ5vk4HIlXqLWNUG4o8/jAKT8iqBP1+OCJMcpJwiCIEwSx3kAGBv/LBf9kVwAAAAASUVORK5CYII=">
                        </a>
                    </div>
                    <div class="row clear_b">
                        <div class="sea" ng-show="isView == true">
                            <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From Date'
                                   data-ng-change="initTableFilter()"
                                   show-weeks="false"
                                   close-text="Close" 
                                   angular-localstorage-field='true'/>
                            <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(0)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="sea" ng-show="isView == true">
                            <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To Date'
                                   data-ng-change="initTableFilter()"
                                   show-weeks="false"
                                   close-text="Close" 
                                   angular-localstorage-field='true'/>
                            <button type="button" class="btn btn-default btn-choose" style="height: 37px;" ng-click="openDate(1)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="sea" ng-show="isView == true">
                            <div  style="float: initial;">
                                <select class="form-control " ng-model="searchFilter.service_status" data-ng-change="initTableFilter()" name="servicestatus" angular-localstorage-field='true'>
                                    <option value="">--Service Status--</option>
                                    <option value="New">New</option>
                                    <option value="In Progress">In progress</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Invoiced">Invoiced</option>
                                </select>
                            </div>
                        </div>
                        <div class="sea" ng-show="isView == true">
                            <input type="text"
                                   placeholder="City"
                                   name="city"
                                   data-ng-model="searchFilter.city"
                                   angular-localstorage-field='true'
                                   class="form-control " data-ng-change="initTableFilter()" />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                        </div>
                    </div>
                    <div class="sea">

                    </div>
                </div>  
            </form>
        </div>
        <div class="table-responsive ">
            <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Id
                        </th>

                        <th style="width: 200px;" rowspan="1" colspan="1" >
                            Date
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Customer Name
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Company Name
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Product Name
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Employee Name
                        </th>
                        <!--                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                                                    Model Name
                                                </th>-->
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Machine Status
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Status
                        </th>
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            City
                        </th>
                        <th style="width: 200px;" rowspan="1" colspan="1">
                            Action
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="serviceModel.isLoadingProgress">
                        <td colspan="10" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-if="serviceModel.list.length == 0">
                        <td colspan="10" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>
                    <tr data-ng-repeat="team in serviceModel.list">
                        <td>
                            <a data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.id}}
                            </a>
                        </td>

                        <td>
                            <a data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.date|date:dateFormat}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.customer_name}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.company_name}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.product_name}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.employee_name}}
                            </a>
                        </td>
                        <!--                        <td>
                                                    <a data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                                        {{team.model}}
                                                    </a>
                                                </td>-->
                        <td>
                            <a data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.machine_status}}
                            </a>
                        </td>    
                        <td>
                            <a data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.status}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{team.billing_city}}
                            </a>
                        </td>
                        <td>
                            <a ng-if="team.status!='Invoiced'"data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})" ui-scroll-to="app" >
                                <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                            </a>
                            <a ng-if="team.status == 'Invoiced'"data-ui-sref="app.servicerequestEdit({id: '{{team.id}}'})" ui-scroll-to="app" >
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </a>
                            <a class="chel-edit-add add-dash" data-ng-click="showPopup(team.id)">
                                <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot  data-ng-hide="serviceModel.list.length == 0" >
                    <tr>
                        <td colspan="4" class="text-left" >
                            <label>Show</label>
                            <select firstName = "perpage"
                                    ng-model="serviceModel.limit"
                                    ng-options="page for page in pagePerCount"
                                    class="form-control show_count"
                                    ng-change="initTableFilter()"
                                    >
                            </select>
                        </td>
                        <td colspan="6" class="text-right">
                            <ul uib-pagination total-items="serviceModel.total" ng-model="serviceModel.currentPage" ng-change="getList()" items-per-page="serviceModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                        </td>
                    </tr>
                </tfoot>                  
            </table>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteServiceRequestInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>

</div>   