<script type="text/ng-template" id="employee_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.f_name + '(' + match.model.id + ',' + match.model.emp_code + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.product_name | uibTypeaheadHighlight:query"></span><br>
        <span ng-bind-html="match.model.serial_no | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="serviceRequestEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Service Request Detailed Entry</h2>
            <a ui-sref="app.servicerequest" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="edit_servicerequest_form" autoComplete="off" angular-validator-submit="modifyServiceRequest()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">   
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Date*</label>
                                </div>
                                <div class="col-sm-7 ">
                                    <input name="date" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                           ng-model="serviceModel.date" readonly is-open="startDateOpen"
                                           min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                           required close-text="Close" 
                                           ng-readonly="serviceModel.status=='Invoiced'"/>
                                    <button type="button" class="btn btn-default btn-choose date-btn" data-ng-disabled="serviceModel.status=='Invoiced'" ng-click="openDate(0)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Customer Detail*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name="customer_dropdown_{{$index}}"
                                           ng-model="serviceModel.customerInfo"
                                           placeholder="Customer Details"
                                           uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                           typeahead-loading="loadingCustLocations"
                                           typeahead-no-results="noCustResults"
                                           typeahead-min-length="0"
                                           typeahead-editable="false"
                                           typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                           typeahead-input-formatter="formatCustomerModel($model)"
                                           typeahead-on-select="getProductList()"
                                           ng-change="updateProductDetails()"
                                           autocomplete="off"
                                           required
                                           ng-readonly="serviceModel.status=='Invoiced'"
                                           />
                                    <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingCustLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noCustResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Assigned Employee*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name="customer_dropdown_{{$index}}"
                                           ng-model="serviceModel.empInfo"
                                           placeholder="Employee Name"
                                           uib-typeahead="employee for employee in getEmployeeList($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-min-length="0"
                                           typeahead-editable="false"
                                           typeahead-template-url="employee_dropdown__tpl.html"
                                           typeahead-input-formatter="formatEmployeeModel($model)"
                                           autocomplete="off"
                                           required
                                           ng-readonly="serviceModel.status=='Invoiced'"/>
                                    <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>  
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Machine Status*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select name="machine_dropdown" ng-model="serviceModel.machine_status" class="form-control" required
                                            data-ng-disabled="serviceModel.status=='Invoiced'" >
                                        <option value="">-Select-</option>
                                        <option value="installation">Installation</option>
                                        <option value="i/w">In Warranty</option>
                                        <option value="amc">AMC</option>
                                        <option value="o/w">Out of Warranty</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label>Problem*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea type="text" 
                                              class="form-control"
                                              name="problem_txt"
                                              ng-model="serviceModel.problem"
                                              placeholder="Problem"
                                              required
                                              ng-readonly="serviceModel.status=='Invoiced'"
                                              >

                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Machine*</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text"
                                       ng-model="serviceModel.productname"
                                       placeholder="Product list.."
                                       uib-typeahead="itemList for itemList in getProductList($viewValue)"
                                       typeahead-loading="loadingProductLocations"
                                       typeahead-no-results="noProductResults"
                                       typeahead-template-url="product_dropdown__tpl.html"
                                       class="form-control"
                                       typeahead-editable="false"
                                       name="product_typeahead"
                                       typeahead-input-formatter="formatProductModel($model)"
                                       typeahead-min-length="0"
                                       autocomplete="off"
                                       required
                                       ng-readonly="serviceModel.status=='Invoiced'"/>
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noProductResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class="col-sm-5 topmarginxs right">
                                <label>Model</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text" name="modelname" class="form-control"
                                       placeholder="Model"
                                       ng-model="serviceModel.model_name"
                                       ng-readonly="serviceModel.status=='Invoiced'"/>
                            </div>
                            <div class="col-sm-5 topmarginxs right">
                                <label>Status</label>
                            </div>
                            <div class="col-sm-7 bottommargin" data-ng-hide="serviceModel.status=='Invoiced'">
                                <select name="status_dropdown" class="form-control" ng-model="serviceModel.status">
                                    <option value="New">New</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <div class="col-sm-7 bottommargin" data-ng-show="serviceModel.status=='Invoiced'">
                                <input type="text" name="status" class="form-control"
                                       placeholder="Status"
                                       ng-model="serviceModel.status"
                                       ng-readonly="serviceModel.status=='Invoiced'"/>
                            </div>
                            <div class="col-sm-5 topmarginxs right">
                                <label>Service Charge</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text" name="service_charge" class="form-control"
                                       placeholder="Model"
                                       ng-model="serviceModel.service_charge"
                                       ng-change="totalcharge()"
                                       validator = "validationFactory.isNumber(serviceModel.service_charge) === true"
                                       ng-readonly="serviceModel.status=='Invoiced'"/>
                            </div>
                            <div class="col-sm-5 topmarginxs right">
                                <label>Spare Charge</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text" name="spare_charge" class="form-control"
                                       placeholder="Model"
                                       ng-model="serviceModel.spare_charge"
                                       ng-change="totalcharge()"
                                       validator = "validationFactory.isNumber(serviceModel.spare_charge) === true"
                                       ng-readonly="serviceModel.status=='Invoiced'"/>
                            </div>
                            <div class="col-sm-5 topmarginxs right">
                                <label>Total Charge</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text" name="total_charge" class="form-control"
                                       placeholder="Model"
                                       ng-model="serviceModel.total_charge" readonly/>
                            </div>
                        </div>
                        <div class="row" style="clear: both;">
                            <div class="col-sm-2 topmarginxs right">
                                <label>Solution</label>
                            </div>
                            <div class="col-sm-8 bottommargin">
                                <textarea type="text"
                                          class="form-control"
                                          name="solution"
                                          placeholder="Solution"
                                          ng-model="serviceModel.solution"
                                          ng-readonly="serviceModel.status=='Invoiced'"
                                          >
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row bottommargin" data-ng-hide="serviceModel.status=='invoiced'">
                        <div data-ng-hide="serviceModel.status=='Invoiced'" class="form-group full_w btn_group">
                            <a href="javascript:void(0)" class="upload-all-photo topmargin" data-ng-click="showPopup('morefileupload')">Upload Photo</a>
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                    "btn-loader":isDataSavingProcess}' >Submit</button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" angular-validator-form-reset data-ng-click="formReset()">Reset</a>
                            <a ng-if="screenAccessDetail.salesinvoice.is_create == true" data-ui-sref="app.serviceInvoiceAdd({service_id: '{{$stateParams.id}}'})" ui-scroll-to="app" class="btn btn-sm btn-primary btn_grn">
                                Create Invoice
                            </a>
                        </div>
                        <div class="row date-details">                               
                            <div class="form-group" >
                                <div class=" bg-white avt avt1" data-ng-click="showPopup('photogalary')">                                        
                                    <div class="form-container prof profile-photo" data-ng-repeat="image in serviceModel.attachments">
                                        <cloud-image-loader urlpath="image.url" preview="false"></cloud-image-loader>                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row topmargin bottommargin">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="ed " style="margin-left: 0px;margin-right: 0px;">
                                    <h3 class="head-log">Work Log<a ng-click="showWorkLogPopup()"><img data-ng-show="serviceModel.status!='Invoiced'" style="vertical-align: middle;" height="20" width="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADuSURBVFhH7ZUxDgFRFEWnU8xqqOh1otSo2QK2IZkt0IlGZwGi0FCKFdjDjCNuM0N+JI/5yeSd5GaS5755pzKJ4zSBoij6eZ7PyFyZklQ/xwWRNsmRLMEoUyUuiIzlVIL5TpW4uKAVF7TiglZc0EoUQV7e4cbom9Bd8nyD+YnHx51q6A5IS+fDsPD88L99W/8NJ9dSCENxpp1a4e5ZCmHoLl4r9dIcQYoT7dQKdw9SCEMxJRnZf5mLbpRgfq/0QtmSrhR+Cy/2P2oTLmjFBa24oBUXtILIUE4lmG9UiQsiLbIiV3JTjqSniuM4/yNJHpEsvS2sr0WDAAAAAElFTkSuQmCC"></a></h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Comment</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>                                
                                            <tr data-ng-show="serviceModel.isLoadingProgress">
                                                <td colspan="5" class="text-left" style="padding: 0;" >
                                                    <p class="loader-icon" >
                                                        <img alt="loader" src="../img/loading.gif" />
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr data-ng-if="serviceModel.workList.length == 0">
                                                <td colspan="4" style="padding: 0;text-align: center;" >
                                                    -No Data Found-
                                                </td>
                                            </tr>
                                            <tr data-ng-repeat="work in serviceModel.workList">
                                                <td>{{work.start_date|date:appConfig.date_format}}</td>
                                                <td>{{work.startTime}}</td>
                                                <td>{{work.endTime}}</td>
                                                <td>{{work.comments}}</td>
                                                <td>
                                                    <a  class="location" href="javascript:void(0)" data-ng-click="showLocationPopup($index)">
                                                        <img src="/img/marker2.png">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot  data-ng-hide="serviceModel.workList.length == 0" >
                                            <tr>
                                                <td colspan="2" class="text-left" >
                                                    <label>Show</label>
                                                    <select firstName = "perpage"
                                                            ng-model="serviceModel.limit"
                                                            ng-options="page for page in pagePerCount"
                                                            class="form-control show_count"
                                                            ng-change="getworkLoglist()"
                                                            />
                                                    </select>
                                                </td>
                                                <td colspan="3" class="text-right">
                                                    <ul uib-pagination total-items="serviceModel.total" ng-model="serviceModel.currentPage" ng-change="getworkLoglist()" items-per-page="serviceModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                                </td>
                                            </tr>
                                        </tfoot> 
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="ed " style="margin-left: 0px;margin-right: 0px;">
                                    <h3 class="head-log">Spare Request<a data-ui-sref="app.spareRequestAdd({service_id: '{{$stateParams.id}}'})" ui-scroll-to="app"  ><img data-ng-show="serviceModel.status!='Invoiced'" style="vertical-align: middle;" height="20" width="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADuSURBVFhH7ZUxDgFRFEWnU8xqqOh1otSo2QK2IZkt0IlGZwGi0FCKFdjDjCNuM0N+JI/5yeSd5GaS5755pzKJ4zSBoij6eZ7PyFyZklQ/xwWRNsmRLMEoUyUuiIzlVIL5TpW4uKAVF7TiglZc0EoUQV7e4cbom9Bd8nyD+YnHx51q6A5IS+fDsPD88L99W/8NJ9dSCENxpp1a4e5ZCmHoLl4r9dIcQYoT7dQKdw9SCEMxJRnZf5mLbpRgfq/0QtmSrhR+Cy/2P2oTLmjFBa24oBUXtILIUE4lmG9UiQsiLbIiV3JTjqSniuM4/yNJHpEsvS2sr0WDAAAAAElFTkSuQmCC"></a></h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Order Date</th>
                                                <th>Due Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                
                                            <tr data-ng-show="serviceModel.isLoadingProgress">
                                                <td colspan="5" class="text-left" style="padding: 0;" >
                                                    <p class="loader-icon" >
                                                        <img alt="loader" src="../img/loading.gif" />
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr data-ng-if="serviceModel.spareRequestList.length == 0">
                                                <td colspan="5" style="padding: 0;text-align: center;" >
                                                    -No Data Found-
                                                </td>
                                            </tr>
                                            <tr data-ng-repeat="spare in serviceModel.spareRequestList">
                                                <td>
                                                    <a ng-if="spare.status=='invoiced'" data-ui-sref="app.salesorderView({id: '{{spare.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%;margin-left: -50%;">
                                                        {{spare.sales_order_no}}
                                                    </a>
                                                    <a ng-if="spare.status!='invoiced'" data-ui-sref="app.salesorderEdit({id: '{{spare.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%;margin-left: -50%;">
                                                        {{spare.sales_order_no}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a ng-if="spare.status=='invoiced'" data-ui-sref="app.salesorderView({id: '{{spare.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%;margin-left: -25%;">
                                                        {{spare.date}}
                                                    </a>
                                                    <a ng-if="spare.status!='invoiced'" data-ui-sref="app.salesorderEdit({id: '{{spare.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%;margin-left: -25%;">
                                                        {{spare.date}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a ng-if="spare.status=='invoiced'" data-ui-sref="app.salesorderView({id: '{{spare.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%;margin-left: -30%;">
                                                        {{spare.validuntil}}
                                                    </a>
                                                    <a ng-if="spare.status!='invoiced'" data-ui-sref="app.salesorderEdit({id: '{{spare.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%;margin-left: -30%;">
                                                        {{spare.validuntil}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a ng-if="spare.status=='invoiced'" data-ui-sref="app.salesorderView({id: '{{spare.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%;margin-left: -58%;">
                                                        {{spare.status}}
                                                    </a>
                                                    <a ng-if="spare.status!='invoiced'" data-ui-sref="app.salesorderEdit({id: '{{spare.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%;margin-left: -58%;">
                                                        {{spare.status}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a  ui-scroll-to="app" data-ui-sref="app.salesorderView({id: '{{spare.id}}'})">
                                                        <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                                    </a>
                                                    <a data-ng-show="spare.status!='invoiced'" data-ui-sref="app.salesorderEdit({id: '{{spare.id}}'})" ui-scroll-to="app" >
                                                        <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot  data-ng-hide="serviceModel.spareRequestList.length == 0" >
                                            <tr>
                                                <td colspan="2" class="text-left" >
                                                    <label>Show</label>
                                                    <select firstName = "perpage"
                                                            ng-model="serviceModel.limit"
                                                            ng-options="page for page in pagePerCount"
                                                            class="form-control show_count"
                                                            ng-change="getspareRequestList()"
                                                            />
                                                    </select>
                                                </td>
                                                <td colspan="3" class="text-right">
                                                    <ul uib-pagination total-items="serviceModel.total" ng-model="serviceModel.currentPage" ng-change="getspareRequestList()" items-per-page="serviceModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                                </td>
                                            </tr>
                                        </tfoot> 
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
                <div style="clear: both;"></div>
                <div class="wrapper-md ">
                </div>
            </div>
        </div>
    </div>

    <div class="model_overlay" ng-show="showWorklogAddPopup" ng-click="closeWorkLogPopup()" ></div>
    <div class="popups">
        <div class="model_popup" ng-show="showWorklogAddPopup" style="position: fixed;">
            <a href="javascript:void(0)" ng-click="closeWorkLogPopup();
               formReset();" class="glyphicon glyphicon-remove close " ></a>
            <form name="create_worklog_form" angular-validator-submit="createworklog()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="row">
                    <h2 class="bottommarginsm center">Add WorkLog</h2>
                    <div class="col-sm-5 topmarginxs right">
                        <label>Date*</label>
                    </div>
                    <div class="col-sm-3 bottommargin">
                        <input name="date" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="serviceModel.workdate" readonly is-open="workDateOpen"
                               min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                               required close-text="Close"  />
                        <button type="button" class="btn btn-default btn-choose date-btn" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="col-sm-5 topmarginxs right">
                        <label>Start Time*</label>
                    </div>
                    <div class="col-sm-7  bottommargin">
                        <div uib-timepicker ng-model="serviceModel.start_time" hour-step="1" minute-step="1" show-meridian="true" required></div>
                    </div>
                    <div class="col-sm-5 topmarginxs right">
                        <label>End Time*</label>
                    </div>
                    <div class="col-sm-7 bottommargin">
                        <div uib-timepicker ng-model="serviceModel.end_time" hour-step="1" minute-step="1" show-meridian="true" required></div>
                    </div>
                    <div class="col-sm-5 topmarginxs right">
                        <label>Comment*</label>
                    </div>
                    <div class="col-sm-4 bottommargin">
                        <textarea type="text" name="comment"
                                  placeholder="Comment"
                                  class="form-control"
                                  ng-model="serviceModel.comment"
                                  required>
                        </textarea>
                    </div>
                </div>
                <div class="form-group full_w btn_group">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                    <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="clear()">Clear</a>
                </div>
            </form>
        </div>
    </div>

    <div class="model_overlay ng-hide" ng-show="showUploadMoreFilePopup" ></div>
    <div class="model_popup model-photo  add_review_popup ng-hide popup-fixed" ng-show="showUploadMoreFilePopup" style="position: fixed;">
        <a href="javascript:void(0)" ng-click="closePopup('morefileupload')" class="glyphicon glyphicon-remove close close1 " ></a>
        <h3>File Upload</h3>
        <div class="form-container " ng-if="showUploadMoreFilePopup" >
            <fileupload cloud-upload-path="servicerequest/{{serviceModel.id}}" image-list="serviceModel.attachments" has-limit="false"></fileupload>
            <ul class="form-editable">
                <li class="a-right btn-wrapper ">
                    <button type="button" class="btn btn-sm btn-orng ripple ripple-light "
                            data-ng-disabled="isImageSavingProcess"
                            data-ng-class='{"btn-loader":isImageSavingProcess}'
                            data-ng-click="saveImagePath()"
                            >Save</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="model_overlay ng-hide" ng-show="showPhotoGalaryPopup" ></div>
    <div class="model_popup model_popup_fixed add_review_popup ng-hide pgal popup-fixed" data-ng-show="showPhotoGalaryPopup" >
        <a href="javascript:void(0)" ng-click="closePopup('photogalary')" class="glyphicon glyphicon-remove close " ></a>
        <div class="form-container">
            <photo-gallery  image-list="serviceModel.attachments" attachment-view="true" image-width="600" ></photo-gallery>
        </div>
    </div> 
    <div class="model_overlay" ng-show="showExistingLocationPopup" ng-click="closeLocationPopup()" ></div>
    <div class="model_popup mpop model_popup1" ng-show="showExistingLocationPopup" >
          <a href="javascript:void(0)" ng-click="closeLocationPopup()" class="glyphicon glyphicon-remove close " ></a>            
          <ng-map id="vm1" center="{{actCenterLat}},{{actCenterLng}}" zoom="16" >
                <marker ng-repeat="pos in vm1.positions" position="{{pos.lat}}, {{pos.lng}}"
                        ></marker>
          </ng-map>           
    </div> 
</div>