
<div class="app-content-body fade-in-up"  data-ng-controller="smsSettingsCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>SMS Settings</h2>
              <a data-ui-sref="app.smssettings" class="add_button add-dash" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="smsSettingsModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <form name="sms_settings_form" angular-validator-submit="updateAppSettings()" class="form-horizontal clearfix " novalidate angular-validator >

                <div class="row ">
                    <div class="col-sm-1 ">&nbsp;</div>

                    <div class="col-sm-8 ">
                        <div class="col-sm-4 topmargin right ">
                            <label>Sms Gateway URL</label>
                        </div>
                        <div class="col-sm-8 topmarginsm ">
                            <textarea class="form-control"
                                      name = "smssetting"
                                      ng-model = "smsSettingsModel.sms_gateway_url"
                                      placeholder="Sms_gateway_url"
                                      >
                            </textarea>
                        </div><br>
                        <div class="row topmargin " data-ng-repeat="sms in smsSettingsModel.list" >
                            <div class="col-sm-4 topmargin right ">
                            </div>
                            <div class="col-sm-8  topmarginsm ">
                                Variable parameters:  { {phoneno} }, { {sms message} }
                            </div>
                            <div class="col-sm-4 topmargin right ">
                                <label>{{sms.label}}</label>
                            </div>
                            <div class="col-sm-8 topmarginsm ">
                                <textarea rows="7" cols="70"
                                          style="height: 110px;"
                                                                                  class="form-control"
                                          name = "message_{{$index}}"
                                          ng-model = "sms.message"
                                          placeholder="Message"
                                          ></textarea>
                            </div>
                            <div class="col-sm-4 topmargin right ">
                            </div>
                            <div class="col-sm-8 topmargin ">
                                Variable parameters:  { {invoiceid} }, { {invoice_amount} }, { {payment_id} }, { {payment_amount} }
                            </div>
                        </div>

                    </div>



                    <div class="col-sm-12 topmargin toppadding center ">
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()">Reset</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>