<div class="app-content-body fade-in-up"  data-ng-controller="stageEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>  Edit CRM Stage</h2>
            <a data-ui-sref="app.stage" class="add_button add-dash" ui-scroll-to="app">Back to Stage List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="stageModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">

                <form name="add_stage_form" angular-validator-submit="modifystage()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                    <div class="row">
                        <div class=" col-sm-4">
                            <div class="form-group clearfix">
                                <label>Stage Name*</label>
                                <input type="text"
                                       class="form-control"
                                       name = "stagename"
                                       ng-model = "stageModel.name"
                                       placeholder="Stage Name"
                                       required

                                       />
                            </div> 
                        </div>
                        <div class=" col-sm-4">
                            <div class="form-group clearfix col-sm-6">
                                <label>Level*</label>
                                <input type="number"
                                       class="form-control"
                                       name = "stagename"
                                       ng-model = "stageModel.level"
                                       placeholder="Level"
                                       min="1"
                                       required
                                       />
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="form-group clearfix col-sm-6">
                                <label>Flag*</label>
                                <span class="tit-desc ">
                                    <select class="form-control "
                                            ng-model="stageModel.stageflag"
                                            name="stagedropdown"
                                            >
                                        <option value="">---Select Status---</option>
                                        <option value= "intermediate">Intermediate</option>
                                        <option value= "won">Won</option>
                                        <option value= "loss">Loss</option>
                                    </select>
                                </span>
                            </div>    
                        </div>    
                    </div>
                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Reset</button>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>
