<div class="app-content-body fade-in-up"  data-ng-controller="stateAddctrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>  State Add</h2>
            <a data-ui-sref="app.state" class="add_button add-dash" ui-scroll-to="app">Back to List</a>
        </div>
    </div>

    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">

                <form name="add_state_form" angular-validator-submit="createstate()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group clearfix">
                                <label>Name*</label>
                                <input type="text"
                                       class="form-control"
                                       name = "statename"
                                       ng-model = "stateModel.name"
                                       placeholder="State Name"
                                       required

                                       />
                            </div> 
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group clearfix col-sm-6">
                                <label>Code*</label>
                                <input type="text"
                                       class="form-control"
                                       name = "statename"
                                       ng-model = "stateModel.code"
                                       placeholder="state Code"
                                       required
                                       />
                            </div>

                        </div>
                        <div class="col-sm-4 ">
                             <div class="form-group clearfix col-sm-6">
                                <label>Country Name*</label>
<!--                                <select type = "text" ng-model="stateModel.country_id" name="countryname" class="form-control" required>
                                    <option value="">-Select-</option>
                                    <option value="{{country.id}}" data-ng-repeat="country in stateModel.country_list">{{country.name}}</option>
                                </select>-->
                                <ui-select ng-model="stateModel.country_id" theme="select2"  style="min-width: 300px;" title="" required>
                                            <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="country.id as country in stateModel.country_list | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                 </ui-select>
                            </div>
                        </div>

                      </div>

                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Cancel</button>
                        </div>

                   
                </form>

            </div>
        </div>
    </div>
</div>

