<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a> 	
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="stockReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Stock Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>  </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="sales_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea" >
                        <input type="text"
                               name="product_dropdown"
                               ng-model="searchFilter.productInfo"
                               placeholder ="Product Details"
                               uib-typeahead="product for product in getproductlist($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="true"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatproductlistModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary "  data-ng-click="initTableFilter()">
                                    Search 
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">Product Name:{{searchFilter.productname == '' ? '-' : searchFilter.productname}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <!--                            <th style="width:110px;" rowspan="1" colspan="1" >
                                                            #
                                                        </th>-->
                            <th  style="width:250px;" rowspan="1" colspan="1" >
                                Name
                            </th>
                            <th style="width:180px;" rowspan="1" colspan="1">
                                SKU
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Uom
                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1">
                                Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="stockReportModel.isLoadingProgress">
                            <td colspan="4" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="stockReportModel.list.length == 0">
                            <td colspan="4" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr   data-ng-repeat="product in stockReportModel.list">


                            <!--                        <li data-ng-if='$index == 0'>
                                                            <span> 
                                                                {{product.category_name}}
                                                            </span>
                                                        </li>
                                                        <td data-ng-if='$index != 0'>
                                                            <span> 
                                                                {{product.category_name != $parent.stockReportModel.list[$index-1].category_name ? product.category_name : ''}}
                                                            </span>
                                                        </td>-->
                            <!--                            <td> 
                                                            {{$index + 1}}
                                                        </td>-->

                            <td>
                                <span data-ng-if='$index == 0'> 
                                    <b>  {{product.category_name}}</b>
                                </span >

                                <span data-ng-if='$index != 0'> 
                                    <b>{{product.category_name != $parent.stockReportModel.list[$index-1].category_name ? product.category_name : ''}}</b>
                                </span>
                                <br>
                                {{product.index}} . {{product.name}} 

                            </td>
                            <td> 
                                <span> 
                                </span>
                                <br>
                                {{product.sku}} 
                            </td>
                            <td> 
                                <span> 
                                </span>
                                <br>
                                {{product.uom}}
                            </td>
                            <td class="right"> 
                                <span> 
                                </span>
                                <br>
                                {{product.quantity}} 
                            </td>
                        </tr>
                    </tbody>
                    <!--                    <tfoot  data-ng-hide="stockReportModel.list.total == 0" >
                                            <tr>
                                                <td colspan="2" class="text-left" >
                                                    <label>Show</label>
                                                    <select firstName = "perpage"
                                                            ng-model="stockReportModel.limit"
                                                            ng-options="page for page in pagePerCount"
                                                            class="form-control show_count"
                                                            ng-change="initTableFilter()"
                                                            >
                                                    </select>
                                                </td>
                                                <td colspan="5" class="text-right">
                                        <ul uib-pagination total-items="stockReportModel.total" ng-model="stockReportModel.currentPage" ng-change="getStockListInfo()" items-per-page="stockReportModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                        </td>
                                        </tr>
                                        </tfoot> -->
                </table>
            </div>
        </div>
    </div>
</div>


