<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="stockadjustmentCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Stock Adjustment</h2>
            <custom-add redirect="app.stockadjustmentAdd" screencode="stockadjustment"></custom-add>
            <!--            <a data-ng-show ="screenAccessDetail.stockadjustment.is_create == true" data-ui-sref="app.stockadjustmentAdd" ui-scroll-to="app" class="add_button add-dash" >-->
            <!--            <a data-ui-sref="app.stockadjustmentAdd" ui-scroll-to="app" class="add_button add-dash" >   
                            Add New 
                        </a>-->
            <a href="javascript:void(0)" data-ng-click="clearFilters()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <form name="stockadjustment_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
            <div class="panel panel-default ">
                <div class="head_right table-search wrapper-sm clearfix ">

                    <div class="sea" >
                        <input type="text"
                               name="product_dropdown"
                               ng-model="stockadjustmentModel.productInfo"
                               typeahead-on-select="initTableFilter()"
                               placeholder ="Product Name"
                               uib-typeahead="product for product in getProductList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="false"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatproductModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.from_date" readonly is-open="fromDateOpen" placeholder='From date'
                               min-date="minDate" show-weeks="false"  data-ng-change="initTableFilter()"
                               required close-text="Close"   validator = "validationFactory.hasRequired(searchFilter.from_date)== false ||validationFactory.minDate(searchFilter.from_date,searchFilter.to_date)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.to_date" readonly is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"  data-ng-change="initTableFilter()"
                               required close-text="Close"  validator = "validationFactory.hasRequired(searchFilter.to_date)== false ||validationFactory.maxDate(searchFilter.to_date,searchFilter.from_date)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>

                </div>
                <div class="table-responsive ">

                    <table class="table  no-link  table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width:110px;" rowspan="1" colspan="1" >
                                    #
                                </th>
                                <th  style="width:250px;" rowspan="1" colspan="1" >
                                    Product Name
                                </th>
                                <th  style="width:250px;" rowspan="1" colspan="1" >
                                    Date
                                </th>
                                <th style="width:250px;" rowspan="1" colspan="1">
                                    SKU
                                </th>
                                <th style="width:250px;" rowspan="1" colspan="1">
                                    UOM
                                </th>
                                <th style="width:200px;" rowspan="1" colspan="1" class="right">
                                    Quantity
                                </th>
                                <!--                            <th style="width:100px;" rowspan="1" colspan="1">
                                                                Action
                                                            </th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="stockadjustmentModel.isLoadingProgress">
                                <td colspan="6" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>

                            <tr data-ng-if="stockadjustmentModel.list.length === 0">
                                <td colspan="6" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr   data-ng-repeat="stockadjustment in stockadjustmentModel.list">
                                <td> 
                                    {{$index + 1}}
                                    <!--                                <a data-ui-sref="app.stockadjustmentEdit({id: '{{stockadjustment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                                                      {{$index + 1}}
                                                                    </a>-->
                                </td>
                                <td> 
                                    {{stockadjustment.name}} 
                                </td>
                                <td> 
                                    {{stockadjustment.created_at}} 
                                </td>
                                <td> 
                                    {{stockadjustment.sku}} 
                                </td>
                                <td> 
                                    {{stockadjustment.uom_name}}
                                </td>
                                <td class="right"> 
                                    {{stockadjustment.quantity_credit}} 
                                </td>
                                <!--                            <td>
                                                                <a  data-ui-sref="app.stockadjustmentEdit({id: '{{stockadjustment.id}}'})" data-ui-scroll-to="app">
                                                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                                                </a>
                                                                <a  class="chel-edit-add add-dash" data-ng-click="showPopup(stockadjustment.id)">
                                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                                </a>
                                                            </td>-->
                            </tr>
                        </tbody>
                        <tfoot data-ng-hide="stockadjustmentModel.list.length == 0" >
                            <tr>
                                <td colspan="2" class="text-left" >
                                    <label class="show_count_label ">Show</label>
                                    <select name = "perpage"
                                            ng-model="stockadjustmentModel.limit"
                                            data-ng-hide="stockadjustmentModel.list.length == 0"
                                            ng-options="page for page in pagePerCount"
                                            class="form-control show_count"
                                            ng-change="initTableFilter()"
                                            >
                                    </select>
                                </td>
                                <td colspan="4" class="text-right">
                                    <ul uib-pagination  data-ng-hide="stockadjustmentModel.list.length == 0" total-items="stockadjustmentModel.total" ng-model="stockadjustmentModel.currentPage" ng-change="getStockadjustmentListInfo()" items-per-page="stockadjustmentModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!--        <div class="model_overlay" ng-if="showdeletePopup" ></div>
                    <div class="model_popup add_review_popup" ng-if="showdeletePopup" >
                        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
                        <h2>Do you want to delete?</h2>
                        <br>
                        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteCategoryLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteStockadjustmentInfo()">OK</button>
                            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
                    </div>-->
        </form>
    </div>

</div>


