<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
   <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div data-ng-controller="stockadjustmentAddCtrl">
    <form name="order_add_form" id="invoice_product_container" angular-validator-submit="createOrder()" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="app-content-body fade-in-up req-stock " >
            <div class="panel panel-default ">
                <div class="panel-heading clearfix ">
                    <h2> Stock Adjustment Add </h2>
                    <div class=" right action-links ">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' >Save
                        </button>
                        <a ui-sref="app.stockadjustment" class="add_button" ui-scroll-to="app">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>

            <div class="container animated fadeInUp clearfix topmarginsm  ">
                <div class="wrapper-md bg-white topmargin stockadjustment-add ">
                    <div class="row ">
                        <div class="col-sm-12  ">
                            <div class="product-add topmargin  ">
                                <div class="stockadjustment-prod-list table-responsive ">
                                    <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th  class="left " style="width: 70px;">
                                                    #
                                                </th>
                                                <th class="left" style="width: 150px;">
                                                    Product Name
                                                </th>
                                                <th class="left" style="width: 50px;">
                                                    SKU
                                                </th>
                                                <th class="left" style="width: 70px;" data-ng-hide="!appConfig.uomdisplay">
                                                    {{appConfig.uomlabel}}
                                                </th>
                                                <th class="right" style="width:50px;">
                                                    Quantity
                                                </th>
                                                <th style="width: 75px;">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="order in orderListModel.list">
                                                <td>{{$index + 1}}</td>

                                                <td class="left fmprod" >
                                                    <input type="text"
                                                           name="productname_{{$index}}"
                                                           ng-model="order.productname"
                                                           placeholder="Product list.."
                                                           uib-typeahead="itemList  as itemList.name for itemList in orderListModel.productList | filter:{name:$viewValue}"
                                                           typeahead-loading="loadingProductLocations"
                                                           typeahead-template-url="product_dropdown__tpl.html"
                                                           class="form-control"
                                                           typeahead-editable="false"
                                                           typeahead-no-results="noProductResults"
                                                           typeahead-show-hint="true"
                                                           typeahead-input-formatter="formatProductModel($model,$index)"
                                                           typeahead-min-length="0"
                                                           ng-blur="initValidateProductDataAndAddNew($index)"
                                                           angular-validator-field>
                                                     <span class="glyphicon glyphicon-search box-search "></span>
                                                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                                                <div ng-show="noProductResults">
                                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                </div>
                                                </td>
                                                <td class="left">
                                                    <input
                                                        name="sku_{{$index}}"
                                                        type="text"
                                                        class="form-control qty left "
                                                        data-ng-model="orderListModel.list[$index].sku"
                                                        placeholder="sku"
                                                        angular-validator-field
                                                        data-ng-disabled="true"
                                                        />
                                                </td>
                                                <td class="right " data-ng-hide="!appConfig.uomdisplay">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="uom_dropdown_{{$index}}"
                                                           ng-model="orderListModel.list[$index].uomInfo"
                                                           placeholder="Uom Details..."
                                                           uib-typeahead="uom for uom in getUomList($viewValue)"
                                                           typeahead-loading="loadingLocations"
                                                           typeahead-no-results="noResults"
                                                           typeahead-min-length="0"
                                                           typeahead-editable="false"
                                                           typeahead-template-url="uom_dropdown__tpl.html"
                                                           typeahead-input-formatter="formatUomModel($model)"
                                                           autocomplete="off"   angular-validator-field
                                                           data-ng-disabled="true"
                                                           />
                                                     <span class="glyphicon glyphicon-search box-search "></span>
                                                           <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                            <div ng-show="noResults">
                                                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                            </div>
                                                </td>
                                                <td class="right">
                                                    <input
                                                        name="qty_{{$index}}"
                                                        type="text"
                                                        class="form-control qty right "
                                                        data-ng-model="orderListModel.list[$index].qty"
                                                        validator = "validationFactory.isNumber(orderListModel.list[$index].qty)"
                                                        data-ng-change="updateStockadjustmentTotal()"
                                                        placeholder="qty"
                                                        angular-validator-field
                                                        />
                                                </td>
                                                <td class="right ">
                                                    <a href="javascript:void(0)" data-ng-if="$index != (orderListModel.list.length - 1)" data-ng-click="deleteProduct($parent.orderListModel.list[$index].id)" ui-toggle-class="" style="padding: 0;">
                                                        <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>
</div>
