<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a> 	
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="stocktracelistCtrl">
    <div class="panel panel-default hide-print ">
        <div class="panel-heading clearfix ">
            <h2>Stock Trace</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
        </div>
    </div>

    <div class="wrapper-md animated fadeInUp clearfix ">
        <form name="stocktrace_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
            <div class="panel panel-default ">
                <div class="head_right table-search wrapper-sm clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" show-button-bar="false" 
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) &&validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" show-button-bar="false" 
                               close-text="Close"  validator="validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               name="product_dropdown"
                               ng-model="searchFilter.productInfo"
                               placeholder ="Product Details"
                               uib-typeahead="product for product in getproductlist($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="true"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatproductlistModel($model)"
                               autocomplete="off"
                               />
                         <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-disabled="stocktracelistModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":stocktracelistModel.isSearchLoadingProgress}'>
                                    Search 
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selected-date bottommargin print-show">
                    <ul class="search-filters clearfix">
                        <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                        <li class="col-sm-4 ">Product Name:{{searchFilter.productInfo == '' ? '-' : searchFilter.productInfo.name}}</li>
                        <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                        <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    </ul>
                </div>
                <div class="table-responsive ">
                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 60px; text-align: center;"  rowspan="1" colspan="1" >
                                    Id
                                </th>
                                <th style="width: 150px;"  rowspan="1" colspan="1" >
                                    Product Name
                                </th>
                                <th style="width: 100px;"   rowspan="1" colspan="1">
                                    SKU
                                </th>
                                <th style="width: 100px; "   rowspan="1" colspan="1">
                                    UOM Name
                                </th>

                                <th style="width: 150px;  "   rowspan="1" colspan="1">
                                    Description
                                </th>
                                <th style="width: 100px; "   rowspan="1" colspan="1">
                                    Quantity(+)
                                </th>
                                <th style="width: 100px; "   rowspan="1" colspan="1">
                                    Quantity(-)
                                </th>
                                <th style="width: 100px; "  rowspan="1" colspan="1">
                                    Current Stock
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="stocktracelistModel.isLoadingProgress">
                                <td colspan="8" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="stocktracelistModel.list.length == 0">
                                <td colspan="8" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="product in stocktracelistModel.list">


                                <td>

                                    {{product.id}}

                                </td>

                                <td>
                                    {{product.name}}

                                </td>
                                <td>

                                    {{product.sku}}

                                </td>
                                <td>

                                    {{product.uom_name}}

                                </td>

                                <td >

                                    {{product.comments}}  {{(product.ref_id != 0 && product.ref_id != null)? '#' +product.ref_id :'' }}

                                </td>
                                <td  class="right">
                                    {{product.quantity_credit}}


                                </td>
                                <td  class="right">

                                    {{product.quantity_debit}}

                                </td>
                                <td class="right">
                                    {{product.total_stock}}
                                </td>

                            </tr>
                        </tbody>
                        <!--                        <tfoot  data-ng-hide="stocktracelistModel.total == 0" >
                                                    <tr>
                                                        <td colspan="2" class="text-left" >
                                                            <label>Show</label>
                                                            <select firstName = "perpage"
                                                                    ng-model="stocktracelistModel.limit"
                                                                    ng-options="page for page in pagePerCount"
                                                                    class="form-control show_count"
                                                                    ng-change="initTableFilter()"
                                                                    >
                                                            </select>
                                                        </td>
                                                        <td colspan="6" class="text-right">
                                                <ul uib-pagination total-items="stocktracelistModel.total" ng-model="stocktracelistModel.currentPage" ng-change="getList()" items-per-page="productlistModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                                </td>
                                                </tr>
                                                </tfoot>-->
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>



