<script type="text/ng-template" id="task_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="taskTypeListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Task Type</h2>
            <a data-ui-sref="app.empTaskTypeAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>  
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="task_list_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input type="text"
                               class="form-control"
                               name="task_dropdown_{{$index}}"                      
                               ng-model="searchFilter.taskInfo"
                               placeholder="Parent Task Name"
                               uib-typeahead="task for task in getTaskList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-wait-ms="500"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="task_dropdown__tpl.html"
                               typeahead-input-formatter="formatTaskModel($model)"
                               autocomplete="off" />
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>                        
                    </div>
                    <div class="sea ">
                        <div class="col-sm-12 ">
                        <div class="row ">
<!--                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="taskModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":taskModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>-->
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilter()"  angular-validator-form-reset>
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>  
            </form>
        </div>
        <div class="table-responsive ">

            <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 60px;"  rowspan="1" colspan="1" >
                            Id
                        </th>
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            Task Name
                        </th>
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            Comments
                        </th>
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            Description
                        </th>
                        <th style="width: 70px;" rowspan="1" colspan="1">
                            Action
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="taskModel.isLoadingProgress">
                        <td colspan="4" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-if="taskModel.list.length == 0">
                        <td colspan="4" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>
                    <tr data-ng-repeat="taskType in taskModel.list">
                        <td>
                            <a data-ui-sref="app.empTaskTypeEdit({id: '{{taskType.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{taskType.id}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.empTaskTypeEdit({id: '{{taskType.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{taskType.name}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.empTaskTypeEdit({id: '{{taskType.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{taskType.comments}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.empTaskTypeEdit({id: '{{taskType.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{taskType.description}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.empTaskTypeEdit({id: '{{taskType.id}}'})" ui-scroll-to="app" >
                                <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                            </a>
                            <a class="chel-edit-add add-dash"  data-ng-click="showPopup(taskType.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot  data-ng-hide="taskModel.list.length == 0" >
                    <tr>
                        <td colspan="2" class="text-left" >
                            <label>Show</label>
                            <select firstName = "perpage"
                                    ng-model="taskModel.limit"
                                    ng-options="page for page in pagePerCount"
                                    class="form-control show_count"
                                    ng-change="initTableFilter()"
                                    >
                            </select>
                        </td>
                        <td colspan="5" class="text-right">
                <ul uib-pagination total-items="taskModel.total" ng-model="taskModel.currentPage" ng-change="getList()" items-per-page="taskModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                </td>
                </tr>
                </tfoot>                  
            </table>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteTaskTypeInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>

</div>   