<script type="text/ng-template" id="task_dropdown_tpl.html">
    <a>
        <span ng-bind-html="match.model.task_name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="employee_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.f_name + '(' + match.model.team_name + ',' + match.model.emp_code + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock calen" data-ng-controller="taskManagementAddCtrl">
    <div class="panel-heading panel-heading-overwrite clearfix bg-white">
        <h2>Task Management</h2>
        <!--        <div class=" right action-links ">
                    <a data-ng-show ="showDealInfo" data-ui-sref="app.dealedit({id: '{{$stateParams.deal_id}}'})" ui-scroll-to="app">
                        Back to Deal
                    </a>
                </div>-->
    </div>
    <div class=" clear clearfix " >
        <div class="row">         
            <div class="col-sm-11 wrapper-sm bg-light " style="margin-left: 1%;width: 98%;">                
                <div class="create-task-container fl crt_tsk m-cmn-flow" >
                    <form name="task_activity_add_form" angular-validator-submit="saveTaskMgt()" class="wrapper-md form-horizontal clearfix " novalidate angular-validator>                        
                        <div class="m-crt_task-width">                        
                            <div class="col-lg-12 bottommargin">
                                <div class="fl bottommargin">
                                    <h4 id="taskheading">Create Task</h4>
                                </div>
                                <button type="button" class="fr close close-icon bottommargin back-btn" rel="tooltip" title="Close" data-ng-click="closeAddPopup()"><i class="material-icons">✕</i></button>
                                <div class="cb"></div>
                            </div>
                            <div class="create-task-form col-lg-12  task-detail">
                                <div class="f1 clear_b">
                                    <h4 class="task-del">Task Details</h4>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="form-group label-floating custom-task-fld title-fld top-tsk-ttl ct-title is-empty">
                                            <span class="os_sprite crt-task-icon"></span>
                                            <label class="control-label" for="CS_title">Task Title*</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="CS_title"
                                                   name="task_dropdown"
                                                   ng-model="taskManagementAddModel.task"
                                                   uib-typeahead="task for task in getTaskInfo($viewValue)"
                                                   typeahead-loading="loading"
                                                   typeahead-no-results="noResults"
                                                   typeahead-min-length="0"                                                       
                                                   typeahead-editable="true"
                                                   placeholder="Select Task"
                                                   typeahead-template-url="task_dropdown_tpl.html"
                                                   typeahead-input-formatter="formatTaskModel($model)"
                                                   autocomplete="off" 
                                                   required      
                                                   style="color: rgb(0, 0, 0);"
                                                   />
                                            <!--<input class="form-control" id="CS_title" ng-model = "taskManagementAddModel.title" type="text" maxlength="240" style="color: rgb(0, 0, 0);">-->
                                            <span class="material-input"></span></div>
                                    </div>
                                </div>
                                <div class="row row1">                                    
                                    <div class="col-sm-3 padrht-non padrht-non1 custom-task-fld assign-to-fld labl-rt add_new_opt">                                                                             
                                        <div class="form-group label-floating">
                                            <span class="os_sprite assign-to-icon"></span>
                                            <label class="control-label">Assign To*</label>                                              
                                            <select class="crtskasgnusr form-control remove-dp" required name="assignto" ng-model="taskManagementAddModel.staffId" style="margin-left: -5px;">                                                
                                                <option value="" class="selected">Nobody</option>     
                                                <option value="{{staff.id}}"  ng-repeat="staff in taskManagementAddModel.staffList">{{staff.f_name}}</option>
                                            </select>                                                       
                                        </div>
                                    </div>                                         
                                    <div class="col-sm-3 padrht-non padrht-non2 custom-task-fld task-type-fld labl-rt task_type cstm-drop-pad" style="margin-left: 35px;">                                        
                                        <div class="form-group label-floating">
                                            <label for="inline-add-tsk" class="control-label">Task Type*</label>
                                            <span class="os_sprite task-type-icon"></span>
                                            <select class="tsktyp-select form-control" required name="tasktype" ng-model="taskManagementAddModel.typeId" id="inline-add-tsk">                                                
                                                <option value="" class="selected">-- Task Type --</option>  
                                                <option value="{{type.id}}"  ng-repeat="type in taskManagementAddModel.typeList">{{type.name}}</option>                                                
                                            </select> 
                                        </div>
                                    </div>     
                                    <div class="col-lg-1"></div>
                                    <div class="created col-lg-3 col-sm-3 col-xs-3 padrht-non custom-task-fld assign-to-fld labl-rt add_new_opt">                                                                             
                                        <div class="form-group label-floating">
                                            <span class="os_sprite assign-to-icon"></span>
                                            <label class="control-label">Created For*</label>                                              
                                            <select class="crtskasgnusr form-control remove-dp" required name="createdfor" ng-model="taskManagementAddModel.createdFor" style="margin-left: -5px;">                                                
                                                <option value="" class="selected">--Select--</option>      
                                                <option value="{{staff.id}}"  ng-repeat="staff in taskManagementAddModel.staffList">{{staff.f_name}}</option>                                                                                          
                                            </select>                                                       
                                        </div>
                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-sm-4 pririty-fld padrht-non3 labl-rt add_new_opt padrht-non create_priority mtop15" style="margin-left: 35px;margin-top: 11px;">                                        
                                        <div class="peri form-group">
                                            <span class="os_sprite prority-icon"></span>
                                            <label class="control-label">Priority</label>
                                            <div class="form-group pri-div ct-prior-lmh">                                            
                                                <span class="radio-div radio radio-primary custom-rdo" data-ng-repeat="priority in taskManagementAddModel.priorityList">
                                                    <label class="cont1">                                                      
                                                        <input type="radio" id="priority_{{$index}}" value="{{priority.name}}" data-ng-model="taskManagementAddModel.priority">                                    
                                                        <span class="checkmark1"></span>
                                                        <label for="priority_{{$index}}">{{priority.name}}</label>
                                                    </label>
                                                </span>                                                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pririty-fld padrht-non3 labl-rt add_new_opt padrht-non create_priority mtop15" style="margin-left: 35px;margin-top: 11px;">                                        
                                        <div class="form-group label-floating">
                                            <label class="control-label" data-ng-show ="showDealInfo">Deal Details</label>
                                            <input name="dealname" type="text" class="form-control" 
                                                   data-ng-show ="showDealInfo"
                                                   ng-model="taskManagementAddModel.dealName"  
                                                   placeholder='Deal Name' ng-readonly="true"
                                                   />
                                        </div>
                                    </div>
                                </div>
                                <div class="row date-details">
                                    <div class="col-sm-4">
                                        <div class="form-group label-floating date-align">
                                            <label class="control-label">Start Date</label>
                                            <input name="startdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="taskManagementAddModel.date" readonly is-open="startDateOpen" placeholder='Start Date'
                                                   validator = "validationFactory.minDate(taskManagementAddModel.date,taskManagementAddModel.estimatedDate)"
                                                   show-weeks="false" datepicker-options="dateOptions"
                                                   close-text="Close" />
                                            <button type="button" class="btn btn-default btn-choose bg-gray" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>    
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group label-floating date-align">
                                            <label class="control-label">Due Date</label>
                                            <input name="estimatedDate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="taskManagementAddModel.estimatedDate" readonly is-open="estiDateOpen" placeholder='Due Date'
                                                   show-weeks="false" datepicker-options="dateOptions"
                                                   validator = "validationFactory.maxDate(taskManagementAddModel.estimatedDate,taskManagementAddModel.date)"
                                                   close-text="Close" />
                                            <button type="button" class="btn btn-default btn-choose bg-gray" ng-click="openDate(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>    
                                        </div>
                                    </div>
                                    <div class="col-sm-4">                                        
                                        <div class="form-group label-floating">
                                            <label for="inline-add-tsk" class="control-label">Task Status</label>                                        
                                            <select class="tsktyp-select form-control" ng-model="taskManagementAddModel.status" id="inline-add-tsk">                                                
                                                <option value="" class="selected">-- Task status --</option>  
                                                <option value="{{status.name}}"  ng-repeat="status in taskManagementAddModel.statusList">{{status.name}}</option>                                                
                                            </select> 
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group label-floating custom-task-fld title-fld top-tsk-ttl ct-title is-empty">
                                    <!--                                    <span class="os_sprite crt-task-icon"></span>-->
                                    <img class="follower-icon" src="../img/user_gropu.png"/>
                                    <label class="control-label" for="CS_title">Followers</label>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <input type="text"
                                                   class="form-control"
                                                   id="CS_title"
                                                   name="follower_dropdown"
                                                   ng-model="taskManagementAddModel.employeeInfo"
                                                   placeholder ="Add Follower"
                                                   uib-typeahead="employee for employee in getEmployeeSearchList($viewValue)"
                                                   typeahead-loading="loadingLocations"
                                                   typeahead-no-results="noResultsemployee"
                                                   typeahead-on-select="initTableFilter()"
                                                   typeahead-min-length="0"                                        
                                                   typeahead-editable="true"
                                                   typeahead-template-url="employee_dropdown__tpl.html"
                                                   typeahead-input-formatter="formatEmployeModel($model)"
                                                   autocomplete="off"
                                                   />
                                            <span class="glyphicon glyphicon-search box-search "></span>
                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noResultsemployee">
                                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                                            </div>
                                            <!--<input class="form-control" id="CS_title" ng-model = "taskManagementAddModel.title" type="text" maxlength="240" style="color: rgb(0, 0, 0);">-->
                                            <!--                                    <span class="material-input"></span>-->
                                        </div>
                                        <div class="col-sm-4">
                                            <a type="button" class="add-follow-btn" data-ng-click="addNewFollower()">ADD</a>
                                        </div>
                                    </div>
                                    <ul class="followr" >
                                        <li data-ng-repeat="follower in taskManagementAddModel.followers">
                                            <div class="follower-round tooltip">
                                                <label class="f-name">{{follower.f_name.charAt(0)|uppercase}}</label>
                                                <span class="tooltiptext" data-ng-show="follower.f_name != null && follower.f_name != ''">{{follower.f_name}}</span>
                                            </div>
                                        </li>                                     
                                    </ul>

                                </div>
                                <div class="f-right  bottompaddingsm">                               
                                    <a type="reset" class="btn-reset btn btn-default btn_hover_link cmn_size" data-ng-disabled="isDataSavingProcess || isCommentSavingProcess"  ng-click="formReset()">Reset</a>
                                    <button type="submit" class="grp-submit"  data-ng-class='{"btn-loader":isDataSavingProcess}'data-ng-disabled="isDataSavingProcess || isCommentSavingProcess" >Submit</button>
                                    <!--                                <button class="btn btn-default btn_hover_link cmn_size" type="button">Cancel</button>
                                                                    <button class="grp-submit" type="submit">Submit</button>-->
                                </div>
                            </div>
                            <div class="clearfix"></div>                        
                        </div>
                        <div class="clearfix"></div>
                        <div class="multiple-file-upload up_file_list">
                            <table id="up_files" style="font-weight:normal;width: 100%;"></table>
                            <!--<form id="cloud_storage_form_0" name="cloud_storage_form_0" action="javascript:void(0)" method="POST">-->
                            <div style="float: left;margin-top: 7px;" id="cloud_storage_files_0"></div>
                            <!--</form>-->
                            <div style="clear: both;margin-bottom: 3px;"></div>
                        </div>

                    </form>
                </div>

            </div>   

        </div>
        <div class="model_overlay ng-hide" ng-show="showUploadMoreFilePopup" ></div>
        <div class="model_popup model-photo  add_review_popup ng-hide popup-fixed" ng-show="showUploadMoreFilePopup" >
            <a href="javascript:void(0)" ng-click="closePopup('morefileupload')" class="glyphicon glyphicon-remove close close1 " ></a>
            <h3>File Upload</h3>
            <div class="form-container " ng-if="showUploadMoreFilePopup" >
                <fileupload cloud-upload-path="taskManagement/{{taskManagementAddModel.id}}" image-list="taskManagementAddModel.attachments" has-limit="false"></fileupload>
                <ul class="form-editable">
                    <li class="a-right btn-wrapper ">
                        <button type="button" class="btn btn-sm btn-orng ripple ripple-light "
                                data-ng-disabled="isImageSavingProcess"
                                data-ng-class='{"btn-loader":isImageSavingProcess}'
                                data-ng-click="saveImagePath()"
                                >Save</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="model_overlay ng-hide" ng-show="showPhotoGalaryPopup" ></div>
        <div class="model_popup model_popup_fixed add_review_popup ng-hide pgal popup-fixed" data-ng-show="showPhotoGalaryPopup" >
            <a href="javascript:void(0)" ng-click="closePopup('photogalary')" class="glyphicon glyphicon-remove close " ></a>
            <div class="form-container">
                <photo-gallery  image-list="taskManagementAddModel.attachments" attachment-view="true" image-width="600" ></photo-gallery>
            </div>
        </div>  
    </div>  
</div>
<script>
    $(document).ready(function () {
        $(".i2").hide();
        $("#img-1").show();
        $("#img-2").hide();
        $("#a1").hide();
        $("#a2").hide();
        $("#a3").hide();
        $("#a4").hide();
        $("#a5").hide();
        $("#a6").hide();
        $("#img-21").hide();
        $("#img-t2").hide();
        $("#img-s2").hide();
        $("#img-p2").hide();
        $("#img-c2").hide();

        //        $("#img-1").click(function(){
        //            $("#img-1").hide();
        //            $("#img-2").show();
        //            $("#a1").show();
        //        });
        //        $("#img-2").click(function(){
        //            $("#img-1").show();
        //            $("#img-2").hide();
        //            $("#a1").hide();
        //               
        //        });
        //        $("#img-11").click(function(){
        //            $("#img-11").hide();
        //            $("#img-21").show();
        //            $("#a2").show();
        //        });
        //        $("#img-21").click(function(){
        //            $("#img-11").show();
        //            $("#img-21").hide();
        //            $("#a2").hide();
        //               
        //        });
        //        $("#img-t1").click(function(){
        //            $("#img-t1").hide();
        //            $("#img-t2").show();
        //            $("#a3").show();
        //        });
        //        $("#img-t2").click(function(){
        //            $("#img-t1").show();
        //            $("#img-t2").hide();
        //            $("#a3").hide();
        //               
        //        });
        //        $("#img-s1").click(function(){
        //            $("#img-s1").hide();
        //            $("#img-s2").show();
        //            $("#a4").show();
        //        });
        //        $("#img-s2").click(function(){
        //            $("#img-s1").show();
        //            $("#img-s2").hide();
        //            $("#a4").hide();
        //               
        //        });
        //        $("#img-p1").click(function(){
        //            $("#img-p1").hide();
        //            $("#img-p2").show();
        //            $("#a5").show();
        //        });
        //        $("#img-p2").click(function(){
        //            $("#img-p1").show();
        //            $("#img-p2").hide();
        //            $("#a5").hide();
        //               
        //        });
        //        $("#img-c1").click(function(){
        //            $("#img-c1").hide();
        //            $("#img-c2").show();
        //            $("#a6").show();
        //        });
        //        $("#img-c2").click(function(){
        //            $("#img-c1").show();
        //            $("#img-c2").hide();
        //            $("#a6").hide();
        //               
        //        });
        $(".left-head").click(function () {
            $("#img-2").toggle();
            $("#img-1").toggle();
            $("#a1").toggle();

        });
        $("#tog1").click(function () {
            $("#img-21").toggle();
            $("#img-11").toggle();
            $("#a2").toggle();
        });
        $("#tog2").click(function () {
            $("#img-t2").toggle();
            $("#img-t1").toggle();
            $("#a3").toggle();
        });
        $("#tog3").click(function () {
            $("#img-s2").toggle();
            $("#img-s1").toggle();
            $("#a4").toggle();
        });
        $("#tog4").click(function () {
            $("#img-p2").toggle();
            $("#img-p1").toggle();
            $("#a5").toggle();
        });
        $("#tog5").click(function () {
            $("#img-c2").toggle();
            $("#img-c1").toggle();
            $("#a6").toggle();
        });
    });
</script>
