
<div class="app-content-body fade-in-up req-stock " data-ng-controller="taxCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Tax Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <a href="{{APP_CONST.API.TAXREPORT_DOWN}}?from_Date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_Date={{searchFilter.todate|date:'yyyy-MM-dd'}}&tax_id={{searchFilter.tax_id}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default notopmargin">
            <form name="tax_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"
                                close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                                close-text="Close"  validator = "validationFactory. maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <select class="form-control "data-ng-change="findTaxName()"
                                ng-model="searchFilter.tax_id">
                            <option value="">-Tax-</option>
                            <option value="{{tax.id}}" data-ng-repeat="tax in taxModel.taxlist">{{tax.tax_name}}</option>
                        </select>
                    </div>

                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="taxModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":taxModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">Tax Name:{{taxModel.taxName == '' ? '-' : taxModel.taxName}}</li>

                </ul>
            </div>


            <div class="table-responsive ">

                <table class="table  no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 50px;"  rowspan="1" colspan="1" >
                                Sl No
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Tax Name
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Particular
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1" class="right">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="taxModel.isLoadingProgress">
                            <td colspan="4" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="taxModel.list.length === 0">
                            <td colspan="5" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="tax in taxModel.list">
                            <td>
                                {{$index+1}}
                            </td>
                            <td>
                                {{tax.tax_name}}
                            </td>
                            <td>
                                {{tax.particulare}}
                            </td>
                            <td  class="right">
                                {{tax.tax_amount}}
                            </td>
                            <!--td>
                                <a data-ui-sref="app.taxedit({id: '{{tax.taxCode}}'})" ui-scroll-to="app" class="glyphicon glyphicon-edit " style="display:block; width:100% ;height: 100%">
                                </a>
                            </td-->
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="taxModel.list.length === 0" >
                        <tr>
                            <td colspan="3" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="text-right">
                                {{taxModel.total_Amount}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


