<script type="text/ng-template" id="tax_dropdown_tpl.html">
    <a>
    <span ng-bind-html="match.model.tax_name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="taxGroupEditCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Tax Group Edit</h2>
                <a ui-sref="app.taxgroup" class="add_button" ui-scroll-to="app">Back to Tax List</a>
            </div>
        </div>
        <div class="container topmarginsm  ">
            <div class="wrapper-md bg-white  ">
                <!--            <div class="wrapper-md ">-->
                <div class="  clearfix add-form form-wrapper">
                    <form name="taxlist_edit_form" angular-validator-submit="modifyTaxGroup()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                        <div class="row ">

                            <div class="col-sm-8 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistaddname"
                                               ng-model = "taxGroupAddModel.tax_name"
                                               placeholder="Tax Name" 
                                               maxlength="35"
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Tax No*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistnumber"
                                               ng-model = "taxGroupAddModel.tax_no"
                                               placeholder="Tax No." 
                                               required
                                               />   
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Tax %*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistper"
                                               ng-model = "taxGroupAddModel.tax_percentage"
                                               placeholder="Tax %" 
                                               validator = "validationFactory.isNumber(taxGroupAddModel.tax_percentage) == true"
                                               required
                                               />  
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Tax Type*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="taxGroupAddModel.tax_type" name="typedropdown" class="form-control"  required>
                                            <option value ="">-Select Type-</option>
                                            <option value="tax">Tax</option>
                                            <option value="charge">Charge</option>
                                            <option value="tax&charge">Tax + Charge</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Group*</label>
                                    </div>

                                    <div class="col-sm-6 bottommargin">
                                        <input type="text"
                                               name="tax_dropdown"
                                               ng-model="taxGroupAddModel.tax"
                                               placeholder ="Select Tax"
                                               uib-typeahead="tax for tax in getTaxList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-no-results="noResults"
                                               typeahead-min-length="0"
                                               class="form-control"
                                               typeahead-editable="false"
                                               typeahead-template-url="tax_dropdown_tpl.html"
                                               typeahead-input-formatter="formatTaxModel($model)"
                                               autocomplete="off"
                                               />
                                         <span class="glyphicon glyphicon-search box-search "></span>
                                               <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                        <a ng-click="taxGroupMapping()" class="btn btn-sm btn-primary btn_grn">Add</a>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        &nbsp;                                    
                                    </div>
                                    <div class="col-sm-7 bottompadding bottommargin">

                                        <h4>Added Tax Group</h4>
                                        <ul class="bottompadding" dnd-list dnd-drop="onDrop(mappedTax, item, index)"  dnd-allowed-types="mappedTax.belongTo">
                                            <li data-ng-show="mappedTax.items.length == 0">
                                                <span>-No Data-</span>
                                            </li>
                                            <li ng-repeat="item in mappedTax.items"
                                                dnd-type="item.belongTo"
                                                dnd-draggable="getSelectedItemsIncluding(mappedTax, item)"
                                                dnd-dragstart="onDragstart(mappedTax, event)"
                                                dnd-moved="onMoved(mappedTax)"
                                                dnd-dragend="mappedTax.dragging = false"
                                                dnd-selected="item.selected = !item.selected"
                                                ng-class="{'selected': item.selected}"
                                                ng-hide="mappedTax.dragging && item.selected"
                                                class="lialign bottompadding"
                                                >
                                                <span >{{item.tax_name}}-{{item.tax_percentage}}</span>
                                                <div ng-click="removeTaxMapping(item.id)" class="remove glyphicon glyphicon-remove right-img"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Start Date</label>
                                    </div>
                                    <div class="col-sm-7 bottommarginsm">                                       
                                        <input name="tax_startdate" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                               ng-model="taxGroupAddModel.start_date" is-open="startDateOpen" placeholder='From date'
                                               validator = "validationFactory.minDate(taxGroupAddModel.start_date,taxGroupAddModel.end_date)"
                                               show-weeks="false" 
                                               close-text="Close"/>
                                        <button type="button" class="btn btn-default dob btn-choose" ng-click="openDate(1)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>End Date</label>
                                    </div>
                                    <div class="col-sm-7 bottommarginsm">                                       
                                        <input name="tax_enddate" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                               ng-model="taxGroupAddModel.end_date" is-open="endDateOpen" placeholder='To date'
                                               validator = "validationFactory.maxDate(taxGroupAddModel.end_date,taxGroupAddModel.start_date)"
                                               show-weeks="false" 
                                               close-text="Close"/>
                                        <button type="button" class="btn btn-default dob btn-choose" ng-click="openDate(2)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Notes</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea type="text"
                                                  class="form-control" 
                                                  name = "note"
                                                  ng-model = "taxGroupAddModel.comments"
                                                  placeholder="Comments" 
                                                  />  
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label style="width: 100%;"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="checkbox"
                                               class=" "
                                               id="taxisDisplay"
                                               name="isDisplay"
                                               data-ng-model="taxGroupAddModel.isdisplay"
                                               />
                                        <label for="taxisDisplay">Is Display</label> 
                                    </div>
                                </div>
                            </div>

                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                <a  class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
