

<div class="app-content-body fade-in-up"  data-ng-controller="taxlistEditCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Tax Edit</h2>
                <a ui-sref="app.taxlist" class="add_button" ui-scroll-to="app">Back to Tax List</a>
            </div>
        </div>
        <div class="model_overlay" ng-show="taxlistModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
        <div class="container topmarginsm  ">
            <div class="wrapper-md bg-white ">
                <div class="  clearfix add-form form-wrapper">
                    <form name="taxlist_edit_form" angular-validator-submit="editTax()" class="form-horizontal clearfix " novalidate angular-validator >

                        <div class="row ">

                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistaddname"
                                               ng-model = "taxlistModel.tax_name"
                                               placeholder="Tax Name" 
                                               maxlength="35"
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Tax No*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistnumber"
                                               ng-model = "taxlistModel.tax_no"
                                               placeholder="Tax No." 
                                               required
                                               />   
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Tax %*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistper"
                                               ng-model = "taxlistModel.tax_percentage"
                                               placeholder="Tax %" 
                                               validator = "validationFactory.isNumber(taxlistModel.tax_percentage) == true"
                                               required
                                               />  
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Tax Type*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="taxlistModel.tax_type"  class="form-control" name="typedropdown" required>
                                            <option value ="">-Select Type-</option>
                                            <option value="tax">Tax</option>
                                            <option value="charge">Charge</option>
                                            <option value="tax&charge">Tax + Charge</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Start Date</label>
                                    </div>
                                    <div class="col-sm-7 bottommarginsm">                                       
                                        <input name="tax_startdate" type="text" class="bottommarginsm form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                               ng-model="taxlistModel.start_date" is-open="startDateOpen" placeholder='From date'
                                               validator = "validationFactory.minDate(taxlistModel.start_date,taxlistModel.end_date)"
                                               show-weeks="false" 
                                               close-text="Close"/>
                                        <button type="button" class="btn btn-default btn-align btn-choose" ng-click="openDate(1)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>End Date</label>
                                    </div>
                                    <div class="col-sm-7 bottommarginsm">                                       
                                        <input name="tax_enddate" type="text" class="bottommarginsm form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                               ng-model="taxlistModel.end_date" is-open="endDateOpen" placeholder='To date'
                                               validator = "validationFactory.maxDate(taxlistModel.end_date,taxlistModel.start_date)"
                                               show-weeks="false" 
                                               close-text="Close"/>
                                        <button type="button" class="btn btn-default btn-align btn-choose" ng-click="openDate(2)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Notes</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea type="text"
                                                  class="form-control" 
                                                  name = "note"
                                                  ng-model = "taxlistModel.comments"
                                                  placeholder="Comments" 

                                                  />  
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label style="width: 100%;"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="checkbox"
                                               class=" "
                                               id="taxisDisplay"
                                               name="isDisplay"
                                               data-ng-model="taxlistModel.isdisplay"
                                               />
                                        <label for="taxisDisplay">Is Display</label> 
                                    </div>
                                </div>
                            </div>

                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                <a type="button" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
