
<div class="app-content-body fade-in-up req-stock "  data-ng-controller="taxsummaryCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Tax Summary Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <a href="{{APP_CONST.API.TAXSUMMARYREPORT_DOWN}}?from_Date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_Date={{searchFilter.todate|date:'yyyy-MM-dd'}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix ">
        <div class="panel panel-default notopmargin">
            <form name="payable_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.fromdate" readonly is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"
                               required close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.todate" readonly is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"
                               required close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="taxsummaryModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":taxsummaryModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>

            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 120px;"  rowspan="1" colspan="1" >
                                S.NO
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Tax Name
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1" class="right">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="taxsummaryModel.isLoadingProgress">
                            <td colspan="3" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="taxsummaryModel.list.length === 0">
                            <td colspan="3" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="taxsummary in taxsummaryModel.list">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{taxsummary.tax_name}}
                            </td>
                            <td class="right">
                                {{taxsummary.amount}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="taxsummaryModel.list.length === 0" >
                        <tr>
                            <td colspan="2" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="text-right">
                                {{taxsummaryModel.total_Amount}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


