<div class="app-content-body fade-in-up"  data-ng-controller="transportEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Transport Edit</h2>
            <a ui-sref="app.transport" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="transportModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="modify_transport_form" angular-validator-submit="modifyTransport()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "tname"
                                            ng-model = "transportModel.name"
                                            placeholder="Name"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Email</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "transportemail"
                                            ng-model = "transportModel.email"
                                            placeholder="Enter the Email"                                            
                                            validator = "validationFactory.emailValidator(transportModel.email) === true"
                                            maxlength="35"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Mobile*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "transportmobile"
                                            ng-model = "transportModel.mobile"
                                            placeholder="Enter the Mobile no"
                                            validator = "validationFactory.phoneNumberValidator(transportModel.mobile) == true"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Landline</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "transportlandline_no"
                                            ng-model = "transportModel.landline_no"
                                            placeholder="Enter the Landline no"
                                            validator = "validationFactory.hasRequired(transportModel.landline_no) == false || validationFactory.phoneNumberValidator(transportModel.landline_no) == true"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Comments</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea class="form-control"
                                              name = "comments"
                                              ng-model = "transportModel.comments"
                                              placeholder="Add comments ... "
                                              >                                  
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Address</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <textarea class="form-control"
                                          name = "address"
                                          ng-model = "transportModel.address"
                                          placeholder="Address ... "
                                          >                                  
                                </textarea>
                            </div>  
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Country</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <ui-select ng-model="transportModel.country_id" data-ng-change="countryChange();" theme="select2"  style="min-width: 300px;" title="">
                                    <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                    <ui-select-choices   repeat="country.id as country in transportModel.countryList | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label>State</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <ui-select ng-model="transportModel.state_id" data-ng-change="stateChange();" theme="select2"  style="min-width: 300px;" title="">
                                    <ui-select-match placeholder="Select State">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                    <ui-select-choices  refresh="initAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.id as state in transportModel.stateList ">
                                        <div ng-bind-html="state.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label>City</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <ui-select  ng-model="transportModel.city_id" theme="select2"  style="min-width: 300px;" title="">
                                    <ui-select-match placeholder="Select City">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                    <ui-select-choices  refresh="initAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.id as city in transportModel.cityList">
                                        <div ng-bind-html="city.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>                                                                                    
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Postcode</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "postcode"
                                        ng-model = "transportModel.postcode"
                                        placeholder="postcode"
                                        validator = "validationFactory.isAlbhaNumeric(transportModel.postcode) === true"
                                        />
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Landmark</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "land_mark"
                                        ng-model = "transportModel.land_mark"
                                        placeholder="Landmark"
                                        />
                            </div>
                        </div>                        
                    </div>

                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>                        
                        <a type="button" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</a>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
