<script type="text/ng-template" id="incomecategory_dropdown__tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="transferlistEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Journal Details</h2>
            <a ui-sref="app.transferlist" class="add_button" ui-scroll-to="app">Back to List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="transferlistModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="transferlist_edit_form" angular-validator-submit="modifyTransferlist()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-7 ">
                            <div class="row ">
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label>Date*</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin">
                                    <label>{{transferlistModel.transaction_date}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label>Account Name*</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin ">
                                    <label>{{transferlistModel.account}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label>Description</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin">
                                    <label>{{transferlistModel.particulars}}</label>
                                </div>

                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label>Amount*</label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{transferlistModel.credit}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>