<!--<script type="text/ng-template" id="incomecategory_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="transferlistCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Journal</h2>
            <custom-add redirect="app.transferlistAdd" screencode="transfer"></custom-add>
            <!--<a data-ui-sref="app.transferlistAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>-->  
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="transferlist_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.from_date" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"   data-ng-change="initTableFilter()"
                               close-text="Close"   validator = "validationFactory.hasRequired(searchFilter.from_date)== false || validationFactory.minDate(searchFilter.from_date,searchFilter.to_date)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.to_date" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"  data-ng-change="initTableFilter()"
                               close-text="Close"  validator = "validationFactory.hasRequired(searchFilter.to_date)== false || validationFactory.maxDate(searchFilter.to_date,searchFilter.from_date)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
<!--                    <div class="sea" >
                        <select class="form-control "data-ng-change="initTableFilter()"
                                ng-model="searchFilter.user">
                            <option value="">-User-</option>
                            <option value="{{user.id}}" ng-repeat=" user in transferlistModel.userlist">{{user.f_name}}({{user.username}})</option>
                        </select>
                    </div>-->
                </div>  
            </form>
        </div>
        <div class="table-responsive ">

            <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 200px;"  rowspan="1" colspan="1" >
                            Date
                        </th>
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            Account Name
                        </th>
                        <th style="width: 250px;"  rowspan="1" colspan="1" >
                            Description
                        </th>
                        <th style="width: 120px;" class="right" rowspan="1" colspan="1" >
                            Amount
                        </th>
                        <th style="width: 100px;"   rowspan="1" colspan="1">
                            Action
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="transferlistModel.isLoadingProgress">
                        <td colspan="5" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-if="transferlistModel.list.length == 0">
                        <td colspan="5" class="text-center" >
                            -No Data Found-
                        </td>
                    </tr>
                    <tr data-ng-repeat="transferlist in transferlistModel.list">
                        <td>
                            <a data-ui-sref="app.transferlistEdit({id: '{{transferlist.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{transferlist.transaction_date}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.transferlistEdit({id: '{{transferlist.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{transferlist.account}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.transferlistEdit({id: '{{transferlist.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{transferlist.particulars}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.transferlistEdit({id: '{{transferlist.id}}'})" class="right" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{transferlist.credit}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.transferlistEdit({id: '{{transferlist.id}}'})" ui-scroll-to="app" >
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </a>
                            <a class="chel-edit-add add-dash" data-ng-click="showPopup(transferlist.id, transferlist.voucher_number)">
                                <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot  data-ng-hide="transferlistModel.list.length == 0" >
                    <tr>
                        <td colspan="2" class="text-left" >
                            <label>Show</label>
                            <select firstName = "perpage"
                                    ng-model="transferlistModel.limit"
                                    ng-options="page for page in pagePerCount"
                                    class="form-control show_count"
                                    ng-change="initTableFilter()"
                                    >
                            </select>
                        </td>
                        <td colspan="3" class="text-right">
                <ul uib-pagination total-items="transferlistModel.total" ng-model="transferlistModel.currentPage" ng-change="getList()" items-per-page="transferlistModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                </td>
                </tr>
                </tfoot>                  
            </table>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deletetransferlistInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>

</div>   