
<div class="app-content-body fade-in-up req-stock " >
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Transaction Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " data-ng-controller="transactionCtrl">
        <div class="panel panel-default ">
            <form name="transaction_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right  table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.fromdate" readonly is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"   data-ng-change="initTableFilter()"
                               required close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.todate" readonly is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"   data-ng-change="initTableFilter()"
                               required close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <select class="form-control "
                                data-ng-change="initTableFilter()"
                                ng-model="searchFilter.user">
                            <option value="">-Select-</option>
                            <option value="{{user.id}}" ng-repeat=" user in transactionModel.userlist">{{user.f_name}}</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="table-responsive ">
                <table class="table  no-link   table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 120px;"  rowspan="1" colspan="1" >
                                Date
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Description
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Type
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Created_by
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Credit
                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                Debit
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="transactionModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="transactionModel.list.length === 0">
                            <td colspan="5" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="transaction in transactionModel.list">
                            <td>
                                {{transaction.created_at}}
                            </td>
                            <td>
                                {{transaction.particulars}}
                            </td>
                            <td>
                                {{transaction.paymentmode}}
                            </td>
                            <td>
                                {{transaction.created_by_name}}
                            </td>
                            <td>
                                {{transaction.credit}}
                            </td>
                            <td>
                                {{transaction.debit}}
                            </td>
                        </tr>
                    </tbody>
                    <!--                    <tfoot  data-ng-hide="transactionModel.list.length == 0" >
                                            <tr>
                                                <td colspan="2" class="text-left" >
                                                    <label>Show</label>
                                                    <select name = "perpage"
                                                            ng-model="transactionModel.limit"
                                                            ng-options="page for page in pagePerCount"
                                                            class="form-control show_count"
                                                            ng-change="initTableFilter()"
                                                            ></select>
                                                </td>
                                                <td colspan="4" class="text-right">
                                        <ul uib-pagination total-items="transactionModel.total" ng-model="transactionModel.currentPage" ng-change="getList()" items-per-page="transactionModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                        </td>
                                        </tr>
                                        </tfoot>-->
                </table>
            </div>
        </div>
    </div>
</div>


