<div class="app-content-body fade-in-up"  data-ng-controller="uomAddCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Add UOM</h2>
            <a ui-sref="app.uom" class="add_button" ui-scroll-to="app">Back to UOM</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">
                <form name="uom_add_form" angular-validator-submit="createUom()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "uomname"
                                           data-ng-model = "uomAddModel.uomname"
                                           placeholder="UOM Name"
                                           maxlength="35"
                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Note </label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <p ng-bind-html="trustedInputHtml"></p>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Sample </label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <p ng-bind-html="trustedInputHtml"></p>
                                </div>
                                <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                        <label>&nbsp;</label>
                                                                    </div>
                                                                    <div class="col-sm-7 bottommargin">
                                                                        <input type="checkbox"
                                                                               name="isActive"
                                                                               class =" "
                                                                               data-ng-model = "uomAddModel.isActive"
                                                                               value="uomAddModel.isActive"
                                                                               id ="isActive"
                                                                               />
                                                                        <label for="isActive">is Active</label>
                                                                    </div>-->
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    <div class="form-group full_w btn_group">
                                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}'>Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

