<div class="app-content-body fade-in-up"  data-ng-controller="userAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>User Add</h2>
            <a ui-sref="app.userlist" class="add_button" ui-scroll-to="app">Back to User  List</a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_user_form" angular-validator-submit="createUser()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>First name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "fname"
                                            ng-model = "userAddModel.fname"
                                            placeholder="First name"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Last name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "lname"
                                            ng-model = "userAddModel.lname"
                                            placeholder="Last name"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>DOB</label>
                                </div>
                                <div class="col-sm-7 bottommargin dob ">
                                    <input name="dob" type="text" class="form-control" uib-datepicker-popup="{{appConfig.date_format}}"
                                           ng-model="userAddModel.dob" readonly is-open="startDateOpen"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Gender</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select ng-model="userAddModel.gender"  class="form-control"   >
                                        <option value="">--Select--</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Mobile*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "usermobile"
                                            ng-model = "userAddModel.mobile"
                                            placeholder="Enter the Mobile no"
                                            validator = "validationFactory.phoneNumberValidator(userAddModel.mobile) == true"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Email*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "useremail"
                                            ng-model = "userAddModel.email"
                                            placeholder="Enter the Email"
                                            required
                                            validator = "validationFactory.emailValidator(userAddModel.email) === true"
                                            maxlength="35"
                                            />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5 ">

                            <div class="col-sm-5 topmarginxs right ">
                                <label>Address</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "Address"
                                        ng-model = "userAddModel.address"
                                        placeholder="Address"
                                        />
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label>City</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "City"
                                        ng-model = "userAddModel.city"
                                        placeholder="City"
                                        validator = "validationFactory.isAlbhaNumeric(userAddModel.city) === true"
                                        maxlength="20"
                                        />
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Postcode</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "postcode"
                                        ng-model = "userAddModel.postcode"
                                        placeholder="postcode"
                                        validator = "validationFactory.isAlbhaNumeric(userAddModel.postcode) === true"
                                        />
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label>State</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "State"
                                        ng-model = "userAddModel.state"
                                        placeholder="State"
                                        validator = "validationFactory.isAlbhaNumeric(userAddModel.state) === true"
                                        />
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label>Country</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "Country"
                                        ng-model = "userAddModel.country"
                                        placeholder="Country"
                                        validator = "validationFactory.isAlbhaNumeric(userAddModel.country) === true"
                                        maxlength="20"
                                        />
                            </div>

                        </div>

                        <div class="col-sm-12 topmarginxs ">&nbsp;</div>
                        <div class="col-sm-5 ">
                            <div class="row ">
<!--                                <div class="col-sm-5 topmarginxs right ">
                                    <label>User Name*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "username"
                                            ng-model = "userAddModel.username"
                                            placeholder="Enter User Name"
                                            validator = "validationFactory.isAlbhaNumeric(userAddModel.username) === true"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>Password*</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "{{ userAddModel.showPassword ? 'text':'password' }}"
                                            class="form-control"
                                            name = "userpassword"
                                            ng-model = "userAddModel.password"
                                            placeholder="password"
                                            validator = "validationFactory.passwordValidator(userAddModel.password) === true"
                                            invalid-message = "validationFactory.passwordValidator(userAddModel.password)"
                                            required/>
                                    <input  type = "checkbox"
                                            class=" "
                                            id="showPasswordchk"
                                            ng-model = "userAddModel.showPassword"
                                            />
                                    <label for="showPasswordchk">Show Password </label>
                                </div>-->

                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="col-sm-5 topmarginxs right ">
                                <label>User Role*</label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <select type = "text" ng-model="userAddModel.role" name="userrole" class="form-control" required>
                                    <option value="">-Select-</option>
                                    <option value="{{role.id}}" data-ng-repeat="role in userAddModel.roleList">{{role.name}}</option>
                                </select>
                            </div>
                        </div>


                    </div>

                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                    </div>

                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md ">
            </div>
        </div>
    </div>

</div>
