<script type="text/ng-template" id="bomTask_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body req-stock " id="salesorder_product_container" data-ng-controller="workorderAddCtrl">
    <form name="work_add_form"  angular-validator-submit="createorder()" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Manufacturing Order Add </h2>
                <div class=" right action-links ">
                    <!--                    <a href="javascript:void(0)" class=" ">
                                            Preview
                                        </a>-->
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' >Save
                    </button>
                    <!--                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' ng-submit="createOrder('Mail')" >Save and Send
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng" data-ng-click="showPopup()">
                                            Save and Send
                                        </a>-->
                    <a ui-sref="app.workorder" ui-scroll-to="app">
                        Back to List
                    </a>
                </div>
            </div>
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-5">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label class="bottommarginxs ">BOM Name*</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text"
                                               class="form-control bottommarginxs"
                                               name="bom_taskname_{{$index}}"
                                               ng-model="workModel.bomTaskInfo"
                                               placeholder="BOM Name..."
                                               uib-typeahead="bomTask for bomTask in getTaskList($viewValue)"
                                               typeahead-loading="loadingBomTaskLocations"
                                               typeahead-no-results="noBomTaskResults"
                                               typeahead-min-length="0"
                                               typeahead-editable="true"
                                               typeahead-template-url="bomTask_dropdown__tpl.html"
                                               typeahead-input-formatter="formatTaskModel($model)"
                                               autocomplete="off"
                                               required
                                               />
                                        <span class="glyphicon glyphicon-search box-search "></span>

                                        <div ng-show="noBomTaskResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div> 
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Quantity to Produce*</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"
                                               name="qty_toProduce"
                                               ng-model="workModel.qtyToProduce"
                                               placeholder="Qty"
                                               required
                                               validator="validationFactory.isPositiveNumber(workModel.qtyToProduce)"/>
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Task Group</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"
                                               name="task_group"
                                               ng-model="workModel.task_group_name"
                                               placeholder="Qty"
                                               data-ng-readonly="true"
                                               />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Deadline Date*</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                               ng-model="workModel.date" readonly is-open="startDateOpen"
                                               min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                               required close-text="Close"  />
                                        <button type="button" class="btn btn-default btn-choose" style="position: relative;
                                                float: right;
                                                margin-top: -57px;" ng-click="openDate(0)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Responsible</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <select ng-model="workModel.userId" name="userdropdown" class="form-control">
                                            <option value ="">-Select User-</option>
                                            <option value="{{user.id}}" data-ng-repeat="user in workModel.userList">{{user.f_name}}</option>
                                        </select>                                                                
                                    </div>
                                </div>
<!--                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Comments</label>
                                    </div>
                                    <div class="col-sm-7">                                       
                                        <textarea type="text" class="form-control"
                                                  ng-model="workModel.comments"
                                                  name="comments"
                                                  placeholder="comments"/>
                                        </textarea>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <!--                            <div class="col-sm-12  ">
                                                        <div class="product-add topmargin  ">
                        
                                                            <ul class="ul-list-wrapper ul-table-head clearfix ">
                                                                <li class="num ">
                                                                    #
                                                                </li>
                                                                <li class="name ">
                                                                    Name
                                                                </li>                                  
                                                                <li class="right qty ">
                                                                    Products
                                                                </li>
                                                                <li class="right f-right action ">
                                                                    &nbsp;
                                                                </li>
                                                            </ul>
                                                            <div class="invoice-prod-list table-responsive ">
                                                                <ul class="ul-list-wrapper ul-table-details clearfix " data-ng-repeat="task in workModel.taskList">
                                                                    <li class="num center ">
                                                                        {{$index + 1}}
                                                                    </li>
                                                                    <li class="task-name" style="width: 30%;">
                                                                         <label>Task Name</label><br>                                                        
                                                                        <input type="text"
                                                                               ng-model="workModel.taskList[$index].taskInfo"
                                                                               name="task_dropdown_{{$index}}"
                                                                               placeholder="Task list.."
                                                                               uib-typeahead="task for task in getTaskList($viewValue)"
                                                                               typeahead-loading="loadingTaskLocations"
                                                                               typeahead-template-url="task_dropdown__tpl.html"
                                                                               class="form-control date-in"
                                                                               typeahead-editable="false"
                                                                               typeahead-no-results="noTaskResults"
                                                                               angular-validator-field
                                                                               typeahead-input-formatter="formatTaskModel($model,$index)"
                                                                               typeahead-on-select="getProdTaskDetail($index)"
                                                                               data-ng-change="checkTaskInfo($index)"
                                                                               typeahead-min-length="0"
                                                                               style="width:100%;"
                                                                               required
                                                                               >
                                                                        <span class="glyphicon glyphicon-search box-search "></span>
                                                                        <i ng-show="loadingTaskLocations" class="glyphicon glyphicon-refresh"></i>
                                                                        <div ng-show="noTaskResults">
                                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                        </div>
                                                                    </li>                                          
                        
                                                                    <li  class="qty right ">
                                                                        <label class="production-label">{{task.product_for_name}}</label>
                                                                    </li>
                                                                    <li class="action f-right right ">
                                                                        <a href="javascript:void(0)" data-ng-click="deleteProduct($index)" ui-toggle-class="" style="padding: 0;">
                                                                            <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                                        </a>
                                                                    </li>
                                                                    <div class="clearfix row prod clear_b" >
                        
                                                                        <div class="col-sm-6 clearfix l-pad">
                                                                            <label class="black"><strong>Consumed Products:</strong></label>
                                                                            <div class="row align-vt" data-ng-repeat="product in task.input">
                                                                                <div class="col-sm-1">
                                                                                    <label>{{$index + 1}}</label>
                                                                                </div>
                                                                                <div class="col-sm-5 ">
                                                                                    <label>{{product.input_pdt_name}}</label>
                                                                                </div>
                                                                                <div class="col-sm-4 f-right">                                                                    
                                                                                    <input
                                                                                        name="consumed_qty_{{$parent.$index}}_{{$index}}"
                                                                                        type="text"
                                                                                        class="form-control date-in1 right"
                                                                                        data-ng-model="workModel.taskList[product.taskIndex].input[$index].input_qty"
                                                                                        placeholder="Consumed Quantity"
                                                                                        validator = "validationFactory.isNumber(workModel.taskList[product.taskIndex].input[$index].input_qty) == true"
                                                                                        angular-validator-field
                                                                                        />
                                                                                </div>
                                                                                <div class="col-sm-2 ">
                                                                                    <label>{{product.input_pdt_uom}}</label>
                                                                                </div>
                                                                            </div>                                                            
                                                                        </div>
                                                                        <div class="col-sm-5 clearfix l-pad">
                                                                            <label class="black"><b>Produced Products:</b></label>
                                                                            <div class="row clearfix align-vt" >                                                                
                                                                                <div class="col-sm-5">
                                                                                    <label>{{task.output_pdt_name}}</label>
                                                                                </div>                                                                
                                                                                <div class="col-sm-3">                                                                    
                                                                                    <input
                                                                                        name="produced_value_{{$index}}"
                                                                                        type="text"
                                                                                        class="form-control date-in1 right"
                                                                                        data-ng-model="task.output_pdt_qty"                                                                           
                                                                                        placeholder="Qty"
                                                                                        validator = "validationFactory.isNumber(task.output_pdt_qty) == true"
                                                                                        angular-validator-field
                                                                                        data-ng-change="updateInputQty($index);"
                                                                                        />
                                                                                </div>
                                                                                <div class="col-sm-1">
                                                                                    <label>{{task.output_pdt_uom}}</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                        
                        
                                                                </ul>
                                                                <ul>
                                                                    <a class="add-more-prod panel panel-default glyphicon glyphicon-plus " href="javascript:void(0)" data-ng-click="addNewWork()"></a>
                                                                </ul>                                        
                                                            </div>
                                                        </div>
                                                        <div class="row topmargin bottommargin">
                                                            <div class="col-sm-6 con">
                                                                <p class="con-title bottommargin">Consumed Products</p>
                                                                <table class="table no-link cons-tab" id="DataTables_Table_0" role="grid" style="width: 100%;">
                                                                    <thead class="con-head">
                                                                        <tr>
                                                                            <td>
                                                                                S.No
                                                                            </td>
                                                                            <td>
                                                                                Name
                                                                            </td>
                                                                            <td>
                                                                                Qty
                                                                            </td>
                                                                            <td>
                                                                                UOM
                                                                            </td>                                                   
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr data-ng-repeat="inputMaterial in workModel.inputProducts">
                                                                            <td>
                                                                                <strong>{{$index + 1}}</strong>
                                                                            </td>
                                                                            <td>
                                                                                <strong>{{inputMaterial.input_pdt_name}}</strong>
                                                                            </td>
                                                                            <td>
                                                                                <strong>{{inputMaterial.input_qty}}</strong>
                                                                            </td>
                                                                            <td>
                                                                                <strong>{{inputMaterial.input_pdt_uom}}</strong>
                                                                            </td>                                                    
                                                                        </tr>                                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="col-sm-1 con1">&nbsp;</div>
                                                            <div class="col-sm-6 con">
                                                                <p class="con-title bottommargin">Produced Products</p>
                                                                <table class="table no-link cons-tab" id="DataTables_Table_0" role="grid" style="width: 100%;">
                                                                    <thead class="con-head">
                                                                        <tr>
                                                                            <td>
                                                                                S.No
                                                                            </td>
                                                                            <td>
                                                                                Name
                                                                            </td>
                                                                            <td>
                                                                                Qty
                                                                            </td>
                                                                            <td>
                                                                                UOM
                                                                            </td>                                                   
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr data-ng-repeat="outputMaterial in workModel.outputProducts">
                                                                            <td>
                                                                                <strong>{{$index + 1}}</strong>
                                                                            </td>
                                                                            <td>
                                                                                <strong>{{outputMaterial.output_pdt_name}}</strong>
                                                                            </td>
                                                                            <td>
                                                                                <strong>{{outputMaterial.output_pdt_qty}}</strong>
                                                                            </td>
                                                                            <td>
                                                                                <strong>{{outputMaterial.output_pdt_uom}}</strong>
                                                                            </td>                                                   
                                                                        </tr>                                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
                                                        <div class="model_popup" ng-if="showpopup" >
                                                            <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
                                                            </div>
                                                        </div>
                        
                                                    </div>-->
                    </div>
                </div>
            </div>
        </div>
    </form>        
</div>

