<script type="text/ng-template" id="bomTask_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="workorderListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Manufacturing Order</h2>
            <a data-ui-sref="app.workorderAdd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>    

    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="work_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm clearfix ">                    
                    <div class="sea">
                        <input type="text" class="form-control"
                               placeholder="Id"
                               ng-model="searchFilter.id"
                               data-ng-change="initTableFilter()"/>
                    </div>
                    <div class="sea ">                                                      
                        <input name="fromDate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromDate" is-open="fromdateOpen" placeholder='From Date'
                               min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                               close-text="Close" validator = "validationFactory.hasRequired(searchFilter.fromDate)== false || validationFactory.minDate(searchFilter.fromDate,searchFilter.toDate)"
                               data-ng-change="initTableFilter()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>                    
                    </div>
                    <div class="sea ">                                                      
                        <input name="toDate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.toDate" is-open="todateOpen" placeholder='To Date'
                               min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                               close-text="Close" validator = "validationFactory.hasRequired(searchFilter.toDate)== false || validationFactory.maxDate(searchFilter.toDate,searchFilter.fromDate)"
                               data-ng-change="initTableFilter()"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>                    
                    </div>
                    <div class="sea">
                        <input type="text"
                               class="form-control bottommarginxs"
                               name="bom_taskname_{{$index}}"
                               ng-model="searchFilter.bomTaskInfo"
                               placeholder="BOM Name..."
                               uib-typeahead="bomTask for bomTask in getTaskList($viewValue)"
                               typeahead-loading="loadingBomTaskLocations"
                               typeahead-no-results="noBomTaskResults"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-template-url="bomTask_dropdown__tpl.html"
                               typeahead-input-formatter="formatTaskModel($model)"
                               autocomplete="off"
                               typeahead-on-select="initTableFilter()"
                               required
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>

                        <div ng-show="noBomTaskResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>                
                    </div>                     
                    <div class="sea ">                                                      
                        <select ng-model="searchFilter.userId" name="userdropdown" class="form-control" data-ng-change="initTableFilter()">
                            <option value ="">-Select User-</option>
                            <option value="{{user.id}}" data-ng-repeat="user in workOrderModel.userList">{{user.f_name}}</option>
                        </select>                    
                    </div>
                    <div class="row clear_b">
                        <div class="sea">
                            <select name="status_dropdown" ng-model="searchFilter.status" class="form-control" data-ng-change="initTableFilter()">
                                <option value="">-Select Status-</option>
                                <option value="initiated">Initiated</option>
                                <option value="planned">Planned</option>
                                <option value="produced">Produced</option>
                                <option value="inprogress">InProgress</option>
                                <option value="completed">Completed</option>
                            </select>
                        </div>
                        <div class="sea">
                            <select name="select_dropdown" ng-model="searchFilter.productStatus" class="form-control" data-ng-change="initTableFilter()">
                                <option value="">-Select-</option>
                                <option value="waiting">Waiting</option>
                                <option value="available">Available</option>
                                <option value="partially">Partially</option>
                            </select>
                        </div>
                    </div>
                </div> 
            </form>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:80px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:200px;" rowspan="1" colspan="1" >
                                Deadline Date
                            </th>
                            <th style="width:330px;" rowspan="1" colspan="1">
                                BOM Name
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Quantity
                            </th> 
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Responsible
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Type
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Last
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Current
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Next
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1">
                                Availability
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Status
                            </th>
                            <th style="width:80px;" rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="workOrderModel.isLoadingProgress">
                            <td colspan="9" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="workOrderModel.list.length == 0">
                            <td colspan="9" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="work in workOrderModel.list">
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.deadline_date}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.bomName}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.qty}}
                                </a>
                            </td>  
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.userName}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.work_type}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.last}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.current}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.next}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.productStatus}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{work.status}}
                                </a>
                            </td>
                            <td>
                                <!--                                <a data-ui-sref="app.workorderView({id: '{{work.id}}'})" ui-scroll-to="app" >
                                                                    <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                                                </a>-->
                                <a data-ui-sref="app.workorderEdit({id: '{{work.id}}'})" ui-scroll-to="app"  >
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a data-ng-show="work.status == 'initiated'" class="chel-edit-add add-dash" data-ng-click="showPopup(work.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>                                
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="workOrderModel.list.length == 0">
                        <tr>
                            <td colspan="4" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="workOrderModel.limit"
                                        data-ng-hide="workOrderModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="8" class="text-right">
                                <ul uib-pagination  data-ng-hide="workOrderModel.list.length == 0" total-items="workOrderModel.total" ng-model="workOrderModel.currentPage" ng-change="getworkList()" items-per-page="workOrderModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup  delet-popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>    
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteworkorder()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>  
</div>



