<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->
<script type="text/ng-template" id="task_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="bomTask_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body req-stock " id="salesorder_product_container" data-ng-controller="workorderEditCtrl">
    <form name="work_edit_form"  angular-validator-submit="modifyWork()" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Manufacturing Order Edit </h2>
                <div class=" right action-links ">
                    <!--                    <a href="javascript:void(0)" class=" ">
                                            Preview
                                        </a>-->
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="planOrder()" data-ng-disabled="isPlanDataSavingProcess || isDataSavingProcess" data-ng-show="workModel.status == 'initiated' && (workModel.task_group_id != '' && workModel.task_group_id != null && workModel.task_group_id != 'undefined')" data-ng-class='{
                            "btn-loader":isPlanDataSavingProcess}' >Plan
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="produceOrder()" data-ng-disabled="isDataSavingProcess || isPlanDataSavingProcess" data-ng-show=" workModel.status == 'initiated' && workModel.list.work_type == 'internal' && (workModel.task_group_id == '')" data-ng-class='{
                            "btn-loader":isPlanDataSavingProcess}' >Produce
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="markAsDone()" data-ng-disabled="isDataSavingProcess || isPlanDataSavingProcess" data-ng-show="workModel.isCompleted == true && workModel.status != 'completed'" data-ng-class='{
                            "btn-loader":isPlanDataSavingProcess}' >Mark as Done
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="qualityCheck ()" data-ng-disabled="isDataSavingProcess || isPlanDataSavingProcess" data-ng-show="workModel.isCompleted == true && workModel.status != 'completed' && workModel.qc_status == 'required'" data-ng-class='{
                            "btn-loader":isPlanDataSavingProcess}' >Quality Check
                    </button>
                    <!--<a href="javascript:void(0)" class="btn btn-sm btn-primary" data-ng-show="workModel.list.work_type == 'external'" data-ng-click="showCustomerPopup()">Send</a>-->

                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess || isPlanDataSavingProcess" data-ng-hide="workModel.status == 'completed'" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' >Save
                    </button>
                    <!--                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' ng-submit="createOrder('Mail')" >Save and Send
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng" data-ng-click="showPopup()">
                                            Save and Send
                                        </a>-->
                    <a ui-sref="app.workorder" ui-scroll-to="app">
                        Back to List
                    </a>
                </div>
            </div>
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-5">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label class="bottommarginxs ">BOM Name*</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text"
                                               class="form-control"
                                               name="bom_taskname_{{$index}}"
                                               ng-model="workModel.bomTaskInfo"
                                               placeholder="BOM Details..."
                                               uib-typeahead="bomTask for bomTask in getBomTaskList($viewValue)"
                                               typeahead-loading="loadingBomTaskLocations"
                                               typeahead-no-results="noBomTaskResults"
                                               typeahead-min-length="0"
                                               typeahead-editable="true"
                                               typeahead-template-url="/public/admin/tpl/bomTask_dropdown__tpl.html"
                                               typeahead-input-formatter="formatTaskModel($model)"
                                               autocomplete="off"
                                               required
                                               data-ng-readonly="true"
                                               />
                                        <span class="glyphicon glyphicon-search box-search "></span>
                                        <i ng-show="loadingBomTaskLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noBomTaskResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div> 
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginsm right">
                                        <label>Quantity to Produce</label>
                                    </div>
                                    <div class="col-sm-7 topmarginxs">
                                        <input type="text" class="form-control"
                                               name="qty_toProduce"
                                               ng-model="workModel.qtyToProduce"
                                               placeholder="Qty"
                                               validator="validationFactory.isPositiveNumber(workModel.qtyToProduce)"
                                               angular-validator-field 
                                               data-ng-readonly="!qtyEdit" 
                                               />
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Task Group</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"
                                               name="taskgroup"
                                               ng-model="workModel.task_group_name"
                                               placeholder="task_group_name"
                                               readonly
                                               />
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"
                                               name="status"
                                               ng-model="workModel.status"
                                               placeholder="Status"
                                               readonly
                                               />
                                    </div>
                                </div>
                                <!--                                <div class="row bottommargin">
                                                                    <div class="col-sm-5 right">
                                                                        <label>Type</label>
                                                                    </div>
                                                                    <div class="col-sm-7">
                                                                        <span>
                                                                            <input class="form-control" type="radio" id="internal" value="internal" name="externalCheck" data-ng-model="workModel.work_type">                                                                                          
                                                                            <label for="internal">Internal</label>
                                                                        </span>
                                                                        <span>
                                                                            <input class="form-control" type="radio" id="external" value="external" name="externalCheck" data-ng-model="workModel.work_type">                                                                                          
                                                                            <label for="external">External</label>
                                                                        </span>
                                                                    </div>
                                                                </div>-->
                            </div>
                            <div class="col-sm-5">
                                <div class="row bottommargin">
                                    <div class="col-sm-5  right topmarginxs">
                                        <label>Output Product</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"
                                               name="output_pdt_name "
                                               ng-model="workModel.output_pdt_name"
                                               placeholder="Output Product Name"
                                               readonly
                                               />
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Deadline Date*</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                               ng-model="workModel.date" readonly is-open="startDateOpen"
                                               min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                               required close-text="Close"  />
                                        <button type="button" class="btn btn-default btn-choose" style="position: relative;
                                                float: right; 
                                                margin-top: -57px;" ng-click="openDate(0)" data-ng-disabled="workModel.status == 'completed'">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Responsible</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <select ng-model="workModel.userId" name="userdropdown" class="form-control" data-ng-disabled="workModel.status == 'completed'"
                                                >
                                            <option value ="">-Select User-</option>
                                            <option value="{{user.id}}" data-ng-repeat="user in workModel.userList">{{user.f_name}}</option>
                                        </select>                                                                
                                    </div>
                                </div>
<!--                                <div class="row bottommargin">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Comments</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <textarea type="text" class="form-control"
                                                  ng-model="workModel.comments"
                                                  name="comments"
                                                  data-ng-disabled="workModel.status == 'completed'"
                                                  placeholder="comments"/>
                                        </textarea>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <!--                        <div class="row topmarginsm bottommarginsm">
                                                    <div class="col-sm-10 center">
                                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary" data-ng-show="workModel.work_type == 'internal' && (workModel.task_group_id != '' && workModel.task_group_id != null && workModel.task_group_id != 'undefined')">Plan</a>
                                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary" data-ng-show="workModel.work_type == 'internal' && (workModel.task_group_id == '')">Produce</a>
                                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary" data-ng-show="workModel.work_type == 'external'">Send</a>
                                                    </div>
                                                </div>-->
                        <div class="row topmarginsm">                            
                            <!--Tabs-->
                            <uib-tabset class="dash-tabs  new-steps clinic-edit-wrap " justified="true">
                                <uib-tab class="today-appoin-tab clearfix" select="tabChange(1)" >
                                    <uib-tab-heading style="margin-left: 15px;">                                            
                                        <span class="tab-title" style="margin-left: 10px;">Input Material</span>
                                    </uib-tab-heading>
                                </uib-tab>
                                <uib-tab class="today-appoin-tab clearfix" data-ng-show="workModel.task_group_id != '' && workModel.task_group_id != null && workModel.task_group_id != 'undefined'" select="tabChange(2)" >
                                    <uib-tab-heading>                                            
                                        <span class="tab-title" style="margin-left: 35px;">Work Order</span>
                                    </uib-tab-heading>
                                </uib-tab>
                            </uib-tabset>
                            <div class="invoice-add2" static-include="tpl/moInputMaterial.html" data-ng-show="currentStep == 1"></div>
                            <div class="invoice-add2" static-include="tpl/moWorkorder.html" data-ng-show="currentStep == 2"></div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="model_overlay" ng-show="showWorkorder" ng-click="closeWorkorderPopup()" ></div>
    <div class="model_popup add_review_popup delet-popup " ng-if="showWorkorder" style="left: 46%; position: fixed; width: 765px;">
        <!--<div class="model_popup popup-height" ng-show="showWorkorder" style="position: fixed;">-->
        <a href="javascript:void(0)" ng-click="closeWorkorderPopup()" class="glyphicon glyphicon-remove close " ></a>
        <h4 class="center" style="font-size: 20px; font-weight: 500; letter-spacing: 1px;">Work Order Detail</h4>
        <div class="row popup-height">
            <form name="wo_production_form"  angular-validator-submit="createWorkOrderProduction()" class="form-horizontal  clearfix" novalidate angular-validator >

                <div class="row bottommarginsm topmargin">
                    <div class="col-sm-12 bottommarginsm">
                        <label>Work Order &nbsp; : &nbsp; {{selectedOrderDetail.taskGroupDetailName}}</label>
                    </div> 
                    <div class="col-sm-6 bottommarginsm">
                        <label>To Produce &nbsp; : &nbsp; {{selectedOrderDetail.original_production_qty}}</label>
                    </div>

                    <div class="col-sm-6 bottommarginsm">
                        <label>Produced Quantity &nbsp; : &nbsp; {{selectedOrderDetail.produced_qty}}</label>
                    </div> 

                    <div class="col-sm-12 bottommarginsm" data-ng-show="selectedOrderDetail.type == 'external' && selectedOrderDetail.status != 'ready' && selectedOrderDetail.status != 'pending'">
                        <label>Customer &nbsp;&nbsp;&nbsp; : &nbsp;{{selectedOrderDetail.customerName}}
                        </label>
                    </div> 
                    <!--<div class="col-sm-12 bottommarginsm" data-ng-show="selectedOrderDetail.type == 'external' && selectedOrderDetail.customer_id === null && (selectedOrderDetail.status == 'ready' || selectedOrderDetail.status == 'pending')">-->
                    <div ng-hide="customerHide || workModel.type == 'internal'">
                        <div class="col-sm-2 bottommarginsm topmarginxs" data-ng-show="selectedOrderDetail.status == 'ready' || selectedOrderDetail.status == 'pending'">
                        <label>Customer &nbsp;&nbsp;&nbsp; :
                        </label>
                    </div>
                        <div class="col-sm-10" style="margin-left: -23px;" data-ng-show="selectedOrderDetail.status == 'ready' || selectedOrderDetail.status == 'pending' || workModel.work_type == 'external'">
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown_{{$index}}"
                               ng-model="selectedOrderDetail.customerInfo"
                               placeholder="Customer Details..."
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingCustLocations"
                               typeahead-no-results="noCustResults"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"
                               ng-required="selectedOrderDetail.type == 'external' && (selectedOrderDetail.status == 'ready' || selectedOrderDetail.status == 'pending')"
                               angular-validator-field
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <div ng-show="noCustResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    </div>
<!--                    <div class="col-sm-8">
                        <div class="row bottommargin popupType">
                            <div class="col-sm-3">
                                <label>Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;:</label>
                            </div>
                            <div class="col-sm-9">
                                <span>
                                    <input data-ng-change="checkCustomerType('internal')" class="form-control" type="radio" id="internal" value="internal" name="externalCheck" data-ng-model="workModel.type">                                                                                          
                                    <label for="internal">Internal</label>
                                </span>
                                <span>
                                    <input data-ng-change="checkCustomerType('external')" class="form-control" type="radio" id="external" value="external" name="externalCheck" data-ng-model="workModel.type">                                                                                          
                                    <label for="external">External</label>
                                </span>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-sm-4" ng-if="selectedOrderDetail.type == 'external'" data-ng-show="selectedOrderDetail.status == 'ready' || selectedOrderDetail.status == 'pending'">
                        <a  href="javascript:void(0)" class="btn btn-sm btn-primary btn_grn f-right" data-ng-click="customerWorkorderUpdate()" data-ng-class='{"btn-loader":isProductionDataSavingProcess}' style="margin-right: 21px;">Submit</a>
                    </div>
                    <!--</div>-->
                </div>
                <div class="row topmarginsm">                            
                    <!--Tabs-->
                    <uib-tabset class="dash-tabs  new-steps clinic-edit-wrap tabWidth" justified="true">
                        <uib-tab class="today-appoin-tab clearfix" ng-hide="selectedOrderDetail.status == 'completed'" select="sessiontabChange(1)">
                            <uib-tab-heading>                                            
                                <span class="tab-title">Production</span>
                            </uib-tab-heading>
                        </uib-tab>
                        <uib-tab class="today-appoin-tab clearfix" select="sessiontabChange(2)">
                            <uib-tab-heading>                                            
                                <span class="tab-title">Time Tracking</span>
                            </uib-tab-heading>
                        </uib-tab>
                        <uib-tab class="today-appoin-tab clearfix" select="sessiontabChange(3)">
                            <uib-tab-heading>                                            
                                <span class="tab-title">Miscellaneous</span>
                            </uib-tab-heading>
                        </uib-tab>
                    </uib-tabset>
                    <div class="invoice-add2" data-ng-show="sessionStep == 1 && selectedOrderDetail.status != 'completed'">
                        <div class="row wrapper-md">
                            <div class="col-sm-12">
                                <div class="col-sm-6 ">
                                    <label>Start Date</label>
                                    <div class="row bottommargin">
                                        <!--<div class="col-sm-3" style="margin-top: 23px;">-->
                                        <!--                                            <label>Start Date</label>-->
                                        <!--</div>-->
                                        <div class="col-sm-6" style="margin-top: 23px;">
                                            <input name="sessionstartdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="selectedOrderDetail.startDate"  is-open="popup1.opened"
                                                   show-weeks="false" datepicker-options="dateOptions"

                                                   required close-text="Close"  readonly/>
                                            <button type="button" class="btn btn-default btn-choose" style=" position: relative;float: right;margin-top: -58px;" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-6">
                                            <div uib-timepicker ng-model="selectedOrderDetail.startTime" hour-step="1" minute-step="1" show-meridian="true" required></div>
                                        </div>    
                                    </div>
                                </div>
                                <div class="col-sm-6 ">
                                    <label>End Date</label>
                                    <div class="row bottommargin">
                                        <!--<div class="col-sm-3" style="margin-top: 23px;">-->
                                        <!--                                        <label>End Date</label>-->
                                        <!--</div>-->
                                        <div class="col-sm-6" style="margin-top: 23px;">
                                            <input name="sessionenddate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="selectedOrderDetail.endDate"  is-open="popup2.opened"
                                                   show-weeks="false" datepicker-options="dateOptions"

                                                   required close-text="Close" readonly />
                                            <button type="button" class="btn btn-default btn-choose" style="position: relative;margin-top: -58px;float: right;" ng-click="open2()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-6">
                                            <div uib-timepicker ng-model="selectedOrderDetail.endTime" hour-step="1" minute-step="1" show-meridian="true" required></div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="row bottommargin">
                                        <div class="col-sm-6">
                                            <div class="col-sm-3 topmarginsm">
                                                <label>Quantity</label>
                                            </div>
                                            <div class= "col-sm-9">
                                                <input type="text" class="form-control col-sm-10"
                                                       name="wo_current_production"
                                                       ng-model="selectedOrderDetail.currentProducedQty"
                                                       placeholder="Qty"
                                                       required
                                                       validator="validationFactory.isPositiveNumber(selectedOrderDetail.currentProducedQty) && (selectedOrderDetail.currentProducedQty <= selectedOrderDetail.balanceToProduce)"
                                                       data-ng-blur="checkQuantity()"
                                                       />
                                                <label class="col-sm-2 topmarginsm">/{{selectedOrderDetail.balanceToProduce}}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row bottommargin">

                                                <div class="col-sm-6 right">
                                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-show="showWorkOrderCompleteButton" data-ng-disabled="isProductionDataSavingProcess" data-ng-class='{
                                                            "btn-loader":isProductionDataSavingProcess}' >Mark as Complete</button>
                                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-show="!showWorkOrderCompleteButton" data-ng-disabled="isProductionDataSavingProcess" data-ng-class='{
                                                            "btn-loader":isProductionDataSavingProcess}' >Record Production</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="col-sm-12">
                                                            <div class="col-sm-5">
                                                                <div class="row bottommargin">
                            
                                                                    <div class="col-sm-6 right">
                                                                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-show="showWorkOrderCompleteButton" data-ng-disabled="isProductionDataSavingProcess" data-ng-class='{
                                                                                "btn-loader":isProductionDataSavingProcess}' >Mark as Complete</button>
                                                                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-show="!showWorkOrderCompleteButton" data-ng-disabled="isProductionDataSavingProcess" data-ng-class='{
                                                                                "btn-loader":isProductionDataSavingProcess}' >Record Production</button>
                            
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>-->

                        </div>
                    </div>

                    <div class="invoice-add2" data-ng-show="sessionStep == 2">
                        <div class="row wrapper-md">
                            <div class="table-responsive tab-tr">
                                <table class="table no-link table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th style="width: 150px;"  rowspan="1" colspan="1" >
                                                Start Date
                                            </th>
                                            <th style="width: 150px;"  rowspan="1" colspan="1" >
                                                End Date
                                            </th>
                                            <th style="width: 150px;"  rowspan="1" colspan="1" >
                                                Start Time
                                            </th>
                                            <th style="width: 150px;"  rowspan="1" colspan="1" >
                                                End Time
                                            </th>
                                            <th style="width: 150px;"  rowspan="1" colspan="1" >
                                                Duration
                                            </th>
                                            <th style="width: 150px;"  rowspan="1" colspan="1" >
                                                Qty
                                            </th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="session in workModel.sessionList">
                                            <td>
                                                {{session.start_date}} 
                                            </td>
                                            <td>
                                                {{session.end_date}} 
                                            </td>
                                            <td>
                                                {{session.start_time}} 
                                            </td>
                                            <td>
                                                {{session.end_time}}
                                            </td>
                                            <td>
                                                {{session.duration}} 
                                            </td>
                                            <td>
                                                {{session.qty}} 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>   
                            </div>
                        </div>
                    </div>          
                    <div class="invoice-add2" data-ng-show="sessionStep == 3">
                        <div class="row wrapper-md">
                            <div class="col-sm-6">
                                <div class="row bottommargin">
                                    <div class="col-sm-5">
                                        <label>Start Date</label>
                                    </div>
                                    <div class="col-sm-7">
                                        : {{selectedOrderDetail.start_date|date:adminService.appConfig.date_format}}
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5">
                                        <label>Completed Date</label>
                                    </div>
                                    <div class="col-sm-7">
                                        : {{selectedOrderDetail.end_date|date:adminService.appConfig.date_format}}
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5">
                                        <label>Work Center</label>
                                    </div>
                                    <div class="col-sm-7">
                                        : {{selectedOrderDetail.workCenterName}}
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5">
                                        <label>Consumed Product</label>
                                    </div>
                                    <div class="col-sm-7">
                                        : {{selectedOrderDetail.produced_qty}}
                                    </div>
                                </div>
                                <div class="row bottommargin">
                                    <div class="col-sm-5">
                                        <label>Department</label>
                                    </div>
                                    <div class="col-sm-7">
                                        : {{selectedOrderDetail.department_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </form>
        </div>
    </div>
    <div class="model_overlay" ng-if="showCustomerAddPopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showCustomerAddPopup" style="width:400px;left:60%;" >
        <a href="javascript:void(0)" ng-click="closeCustomerPopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Customer Selection</h2>
        <br>
        <form name="verfication_form" angular-validator-submit="modifyWork()" class="form-horizontal category-form clearfix " novalidate angular-validator >
            <div class="row m-left-right">
                <div class="col-sm-6 pop-shadow">
                    <div class="col-sm-12 pos-cus bottommargin"  data-ng-show="showCustomerAddPopup" style="text-align: center">
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown_{{$index}}"
                               ng-model="workModel.customerInfo"
                               placeholder="Select Customer..."
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResult"
                               typeahead-min-length="0"
                               typeahead-editable="true"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"
                               required
                               />
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                        <div ng-show="noResult" class="pos-no-result-found">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="col-sm-12 bottommargin center">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                "btn-loader":isDataSavingProcess}' >Send</button>
                        <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="closeCustomerPopup()">Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="model_overlay" ng-if="showQualityControlPopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showQualityControlPopup" style="width:400px;left:60%;" >
        <a href="javascript:void(0)" ng-click="closeQualityCheckPopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Quality Check</h2>
        <br>
        <form name="qcq_form" angular-validator-submit="checkQuality()" class="form-horizontal category-form clearfix " novalidate angular-validator >
            <div class="row m-left-right">
                <div class="col-sm-12 bottommargin">
                   <div class="col-sm-5 topmarginxs right">
                        <label>QC Passed Qty</label>
                    </div>
                    <div class="col-sm-7 topmarginxs right">
                        <input type="text" class="form-control"
                        ng-model="workModel.qc_passed_qty"
                        name="qc_passed_qty"
                        validator="validationFactory.integerValidator(workModel.qc_passed_qty) == true"
                        required
                        angular-validator-field 
                        placeholder="Qc Passed Qty"
                        
                        />
                    </div>
                    <div class="col-sm-5 topmarginxs right">
                        <label>QC Failed Qty</label>
                    </div>
                    <div class="col-sm-7 topmarginxs right">
                         <input type="text" class="form-control"
                        name="qc_failed_qty"
                        ng-model="workModel.qc_failed_qty"
                        required
                        validator="validationFactory.integerValidator(workModel.qc_failed_qty) == true "
                        angular-validator-field 
                        placeholder="Qc Failed Qty"
                        
                        />
                    </div>
                    <div class="col-sm-5 topmarginxs right">
                        <label>Total Qty</label>
                    </div>
                    <div class="col-sm-7 topmarginxs right">
                        <input type="text" class="form-control"
                        ng-model="workModel.total_qty"
                        name="total_qty"
                        validator="validationFactory.isPositiveNumber(workModel.total_qty)== true && validateTotalQty()"
                        angular-validator-field 
                        placeholder="Total" readonly
                        
                        />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 center">
                <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                        "btn-loader":isDataSavingProcess}' >Submit</button>
                <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="closeQualityCheckPopup()">Close</a>
            </div>
        </form>
    </div>
                    </div>
                        
                        
