<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
        <span style="text-transform: capitalize;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span> <br/>
        <div>    <span style="font-size: 11px;text-transform: capitalize;" ng-if="match.model.company != ''">{{match.model.company}}</span>  <br ng-if="match.model.company != ''"/></div>
        <div style="margin-top: -4px;">    <span style="font-size: 11px;" ng-bind-html="match.model.phone  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span> 
            <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >{{match.model.billing_city}}</span><span ng-if="match.model.billing_city != ''"/></span>
            <span style="font-size: 11px;" ng-if="match.model.billing_pincode != ''">{{match.model.billing_pincode}}</span> <br ng-if="match.model.billing_pincode != ''"/></div>
    </a>
    <div style=" width: 100%;border-bottom: 1px solid #f7f7f7;"></div>
</script>-->


<div class="app-content-body invoice-container  req-stock " data-ng-controller="workorderViewCtrl" >
    <div class="panel panel-default hide-print ">
        <div class="panel-heading clearfix ">
            <h2>Work Order View</h2>
            <div class=" right action-links " >
                <!--<button id="cmd">generate PDF</button>-->
                <!--                <a href="javascript:void(0)" class=" " data-ng-click="exportAsPDF()">
                                    Export As PDF
                                </a>-->
                <!--                <a href="javascript:void(0)" ng-show="appConfig.invoice_print_template == 't1' || appConfig.invoice_print_template == 't2'"  class="btn btn-sm btn-primary btn_grn" data-ng-click="print()">
                                    Print
                                </a>-->
                <!--                <a href="{{APP_CONST.INVOICE_PAY_SLIP_PRINT}}?invoice_id={{orderListModel.invoiceDetail.id}}" class="btn btn-sm btn-primary btn_grn" target="_blank">
                                    Pay Slip
                                </a>
                                <a href="{{APP_CONST.INVOICE_PRINT_URL}}?no={{orderListModel.invoiceDetail.id}}" class="btn btn-sm btn-primary btn_grn" target="_blank">
                                    Print
                                </a>-->
                <a data-ui-sref="app.workorderEdit({id: '{{stateParamData}}'})" ui-scroll-to="app" class="btn btn-sm btn-primary btn_orng" >
                    Edit
                </a>
                <a ui-sref="app.workorder" ui-scroll-to="app">
                    Back to List
                </a>
            </div>
        </div>
        <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
                <img alt="loader" src="../img/loading.gif" />
            </p>
        </div>
    </div>

    <div class="animated fadeInUp  clearfix ">
        <div class="container invoice-wrapper clearfix ">
            <div class="row clearfix ">
                <div class="col-sm-10 print-invoice-view  ">
                    <div class="invoice-view invoice-view1 ">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="invoice-top-head   clearfix ">
                                    <div class="row flex clearfix ">                                        
                                    </div>
                                </div>
                            </div>
                            <div class=" row  ">
                                <div class="row">
                                    <div class="invoice-top-head clearfix ">
                                        <div class="row flex clearfix ">
                                            <div class="col-sm-5 invoice-top-head-title wrapper-md">
                                                <img ng-src="../img/logo/lbscs.png" src="../img/logo/lbs.png">
                                                <h2>Work Order </h2>
                                                <!-- <h2>Invoice : {{(orderListModel.invoiceDetail.prefix != '' ? orderListModel.invoiceDetail.prefix+'-' :'' )}}{{orderListModel.invoiceDetail.id}} </h2>-->
                                            </div>                                                
                                        </div>
                                    </div>
                                </div>
                                <div class="invoice-top-info clearfix ">
                                    <div class="col-sm-7  ">
                                        <div class=" wrapper-md ">
                                            <p><b>Bill To:</b>
                                           
                                                <strong>{{workModel.list.customer_fname}}</strong>
                                            </p>                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-5 ">
                                        <div class=" wrapper-md ">
                                            <p>
                                                <strong>Date: </strong>{{workModel.date|date:appConfig.date_format}}
                                                <!--Feb 5, 2017-->
                                            </p>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="invoice-prod-list invoicepl table-responsive ">
                                <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                    <thead>

                                        <tr role="row">
                                            <th style="width: 70px;"  >
                                                #
                                            </th>
                                            <th class="left" style="width: 200px;">
                                                Name
                                            </th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr data-ng-repeat="task in workModel.details">
                                            <td class="center ">
                                                {{$index + 1}}
                                            </td>
                                            <td  class="left " >
                                                {{task.taskInfo.name}}
                                            </td>                                            
                                        </tr>
                                    </tbody>                                    
                                </table>
                            </div>

                            <div class="col-sm-6 topmargin cons clearfix">
                                <label class="cons-head"><strong>Consumed Products:</strong></label>
                                <table class="table table-striped cons-table">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Name</td>
                                            <td>Qty</td>
                                            <td>UOM</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="product in workModel.inputProducts">
                                            <td> {{$index+1}}</td>
                                            <td>{{product.input_pdt_name}}</td>
                                            <td>{{product.input_qty}}</td>
                                            <td>{{product.input_pdt_uom}}</td>
                                        </tr>
                                    </tbody>
                                </table>                                                                                                                    
                            </div> 
                            <div class="cons1 topmargin">&nbsp;</div>
                            <div class="col-sm-6 topmargin cons clearfix">
                                <label class="cons-head"><b>Produced Products:</b></label>
                                <table class="table table-striped cons-table">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Name</td>
                                            <td>Qty</td>
                                            <td>UOM</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="product in workModel.outputProducts">
                                            <td>{{$index+1}}</td>
                                            <td>{{product.output_pdt_name}}</td>
                                            <td>{{product.output_pdt_qty}}</td>
                                            <td>{{product.output_pdt_uom}}</td>
                                        </tr>
                                    </tbody>
                                </table>                                   
                            </div>
                        </div>
                        <!--                        <div class="wrapper-md " data-ng-show="(orderListModel.invoiceDetail.customattribute | filter:{is_show_in_invoice:1}).length > 0">
                                                    <div class="row ">
                                                        <div class="col-sm-12 " >
                                                            <h4>Other Details</h4>
                                                        </div>
                                                        <div class="col-sm-3 " data-ng-repeat="attr in orderListModel.invoiceDetail.customattribute| filter:{is_show_in_invoice:1}">
                                                            <p data-ng-show="attr.is_show_in_invoice == 1">
                                                                {{attr.attribute_label}}:{{attr.value}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>-->
                        <!--                        <div class=" uppercase invoice-status "  >
                                                    {{orderListModel.invoiceDetail.status}}
                                                </div>
                                                <div class="wrapper-md " data-ng-show="orderListModel.invoiceDetail.notes != ''">
                                                    <div class="row ">
                                                        <div class="col-sm-12 " >
                                                            <h4>Notes</h4>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <p>
                                                                {{orderListModel.invoiceDetail.notes}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wrapper-md ">
                                                    {{appConfig.signature}}
                                                </div>-->
                    </div>
                </div>
                <!--                <div class="col-sm-4 invoice-info hide-print ">
                                    <div class="created-date sep clearfix  " >
                                        <h2>Timeline</h2>
                                        <strong>Created on:  </strong> {{orderListModel.billdate}}&nbsp;{{orderListModel.billdatehr |  date:"hh:mm:ss a" }}<br>-->
                <!--                    </div>
                                    <div class="send-invoice sep clearfix " >
                                        <h2>Send Invoice</h2>-->
                <!--                        <strong>Last Sent on: </strong> {{orderListModel.billdate}}&nbsp;{{orderListModel.billdatehr |  date:"hh:mm:ss a" }}-->
                <!--                    <a href="javascript:void(0)" data-ng-click="showSendInvPopup( )" class="btn " >Resend Invoice ...</a>-->
            </div>
            <!--                    <div class="pdf-invoice sep clearfix ">
                                 <a ng-href="{{APP_CONST.INVOICE_DOWNLOAD}}/{{orderListModel.invoiceDetail.id}}"
                                      target="_blank" ui-scroll-to="app" class="add_button add-dash" >Download PDF</a>
                                </div>       -->
            <!--                    <div class="payment-details sep clearfix " >
                                    <h2>Payment Status: </h2>
                                    <strong>Status: </strong>
                                    <div class=" " ng-if= "orderListModel.status" > Paid </div>
                                    <div class=" " ng-if= "!orderListModel.status" > Your invoice is awaiting payment. </div>
                                    <br/>
                                    <strong>Paid Amount: </strong> {{orderListModel.paid_amount}} <br/>
                                                        <a href="javascript:void(0)" >Send Remainder ...</a>
                                    <div class="rec-payment ">
                                        <a href="javascript:void(0)" data-ng-click="showPaymentPopup()" class="btn " >Make Payment</a>
                                    </div>
                                    <div class="payment-list clearfix ">
                                        <strong>Payable</strong>
                                        <ul data-ng-repeat="order in orderListModel.paymentList">
                                            <li>
                                                {{order.newdate}} - A payment for <strong>{{currencyFormat}}.{{order.amount}}</strong> was made by {{order.payment_mode}}.<br/>
                                                <a href="javascript:void(0)" data-ng-click="showPopup(order.id)">Send a Receipt</a>  - 
                                                                                  <a href="javascript:void(0)"data-ng-click="showPaymentPopup(order.id)">Edit</a> 
                                                <a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a> - 
                                                <a href="/admin/#/payment-print/{{order.id}}">Print</a>
            
                                            </li>
                                        </ul>
            
                                    </div>
                                </div>-->
            <!--                </div>-->
        </div>
    </div>
</div>

<div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
<div class="model_popup" ng-if="showpopup" >
    <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
    </div>
</div>

<div class="model_overlay" ng-if="showSendInvoicePopup" ng-click="closePopup()" ></div>
<div class="model_popup" ng-if="showSendInvoicePopup" >
    <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
    </div>
</div>

<div class="model_overlay" ng-if="paymentRemovePopup" ></div>


</div>