<div class="" >    
    <label>{{dataModel.label}}{{dataModel.isRequired ? '*':''}}</label>
    <select type ="text"
            name="{{name}}"
            class="autocomplete-input form-control"
            data-ng-model="dataModel.value"
            data-ng-change="initChangeHandler()"
            angular-validator-isolated-field
            validator="validateInput()"
            >
        <option value="">-Select-</option>
        <option value="{{d}}" data-ng-repeat="d in dataModel.list">{{d}}</option>    
    </select>
</div>
